<html layout:decorator="_layout/layout">
    <head>
        <title>Beca Estudio</title>
    </head>
    ​
    <body>
        <div layout:fragment="main">
            <div id="becaestudioVUE">
                <header class="header b-b padder-lg">

                    <div class="pull-right m-t-md">                 
                        <div class="btn-group">
                            <a type="button" class="btn btn-success" v-on:click="nuevo()">Nuevo</a>
                        </div>
                    </div> 
                    <h2>Beca Estudio</h2>
                </header>
                <section class="wrapper-lg">
                    <section class="panel">
                        <section class="panel-body">
                            <raptor-table v-bind:url="becaestudioURL" ref="raptorBecasEstudios" v-bind:timesleep="1000">
                                <template  scope="props" >
                                    <table class="table table-striped">
                                        <thead> 
                                            <tr> 
                                                <th class="col-md-5">Nombre</th>
                                                <th class="col-md-5">Institución Otorga</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in props.data">
                                                <td class="v-middle">
                                                    <span class="block text-primary">{{item.nombre}}</span>
                                                    <span class="block"></span>
                                                </td>
                                                <td class="v-middle">
                                                    <span class="block text-primary">{{item.institucion.razonSocial}}</span>
                                                    <span class="block"></span>
                                                </td>                                                                                       
                                                <td class="v-middle">
                                                    <div class="actions">
                                                        <a class="dropdown-toggle pointer" href="#" data-toggle="dropdown"> <i class="fa fa-ellipsis-v fa-lg"> </i></a>

                                                        <ul class="dropdown-menu pull-right" >
                                                            <li role="presentation"><a class="btn-link" v-on:click="editar(item)">Cambiar Institución</a></li>
                                                            <li role="presentation"><a class="btn-link" v-on:click="eliminar(item)">Eliminar Beca</a></li>
                                                        </ul>

                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </template>
                            </raptor-table>
                        </section>
                    </section>
                </section>

                <modal-vik ref="modalConfirmar"
                           v-bind="confirmarModal"
                           v-bind:okaction="guardar">
                    <div slot="body">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input class="form-control" type="text" v-model="becaestudioEdit.nombre"/>
                        </div>
                        <div class="form-group">
                            <label>Institución Otorga</label>
                            <div class="input-group">
                                <multiselect                                                   
                                    v-model='becaestudioEdit.institucion'
                                    v-bind:internal-search='true'
                                    v-bind:limit='15'
                                    v-bind:options='instituciones'
                                    placeholder="Seleccione una beca"
                                    label="razonSocial"
                                    v-bind:show-labels="false"
                                    v-bind:allow-empty="false"
                                    track-by="id">
                                </multiselect>
                                <div class="input-group-addon">
                                    <i class="fa fa-plus pointer" v-on:click.prevent="addInstitucion()" aria-hidden="true"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                </modal-vik>

                <modal-vik ref="modalInstitucion"
                           v-bind="modalInstitucion"
                           v-bind:okaction="saveInstitucion">
                    <div slot="body">
                        <div class="form-group">
                            <label>RUC</label>
                            <input class="form-control" type="text" v-model="institucion.numeroDocIdentidad" required="true"/>
                        </div>
                        <div class="form-group">
                            <label>Razon Social</label>
                            <input class="form-control" type="text" v-model="institucion.razonSocial" required="true"/>
                        </div>
                    </div>
                </modal-vik>
            </div>

        </div>
        ​
        <div layout:fragment="js">
            <div th:substituteby="_modules/vue-raptor-table"/>
            <div th:substituteby="_modules/vue-modal"/>
            <script th:src="@{/app/academico/becaestudio/becaestudio.js}" charset="utf-8"></script>
        </div>
    </body>
</html>