<!DOCTYPE html>
<html class="app">
    <head>
        <title>La Molina</title>
        <base th:substituteby="_layout/includes :: styles"/>
        <base th:substituteby="_layout/includes :: favicon"/>
    </head>

    <body class="login-bg">

        <div class="login-header">
            <span class="text-uppercase"> Universidad Nacional Agraria la Molina </span>
        </div>

        <div class="row">

            <div class="col-md-6 col-sm-6">
                <section class="login-wrapper">
                    <div class="left-box">
                        <h3 class="subtitle"> Sistema Integrado de Gestión Universitaria</h3>
                        <h1 class="title">AMAUTA</h1>
                        <p class="description m-t-lg">
                            La Universidad Nacional Agraria La Molina les presenta el nuevo portal del docente molinero con el objetivo de modernizar la gestión de los procesos académicos y administrativos. Bienvenidos.
                        </p>
                    </div>
                </section>
            </div>

            <div class="col-md-6  col-sm-6">
                <section class="login-wrapper text-center">
                    <div class="box">
                        <div class="m-b-md">
                            <a href="#"><img th:src="@{/phobos/images/logo.svg}" width="300px"/></a>
                        </div>

                         <a class="btn btn-danger login" th:href="@{/}">
                             Sus credenciales no tienen <br/>acceso al sistema.
                         </a>
                        
                    </div>
                </section>
            </div>     
        </div>

        <div class="login-copyright text-muted">
            © 2016 UNALM | Desarrollado por Albatross
        </div>

        <div class="login-footer"></div>

        <div th:substituteby="_layout/includes :: javascript"/>
    </body>
</html>
