<html layout:decorator="_layout/layout">
    <head>
        <title> Roles de Exámenes </title>
    </head>
    <body>
        <section layout:fragment="main">
            <div id="rolexamenesVUE">
                <div id="main" v-cloak="">

                    <header class="header b-b padder-lg">
                        <h2>Roles de Exámenes <span th:text="${cicloAcademico.descripcion}">2018-II</span></h2>
                        <!-- 
                        <span class="block"><strong >Departamento Académico:</strong> <span th:text="${dptoAcad.nombre}">Matematicas</span></span>
                        <span class="block"><strong>Docente:</strong> <span  th:text="${docente.persona.nombreCompleto}">Juan Perez</span></span>  
                        -->
                    </header>

                    <section class="wrapper-lg">
                        <section class="panel">
                            <section class="panel-body">
                                <raptor-table v-bind:url="rolexamenesURL" ref="raptorRolExamenes">

                                    <template  scope="props" >
                                        <table class="table table-striped">
                                            <thead> 
                                                <tr> 
                                                    <th class="col-md-6">Tipo</th>
                                                    <th class="col-md-2">Fecha Inicio</th>
                                                    <th class="col-md-2">Fecha Fin</th>
                                                    <th class="col-md-1">Fecha Publicación</th>
                                                    <th class="col-md-1">Estado</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in props.data">
                                                    <td class="v-middle">
                                                        {{item.anexoBoletin.nombre}}
                                                    </td>
                                                    <td class="v-middle"> 
                                                        {{item.grupoHoras.codigo}}
                                                    </td>
                                                    <td class="v-middle"> 
                                                        {{item.cuotas}}
                                                    </td>
                                                    <td class="v-middle"> 
                                                        {{item.asignadasSistema}}
                                                    </td>
                                                    <td class="v-middle"> 
                                                        {{item.totalUtilizadas}}
                                                    </td>   

                                                </tr>
                                            </tbody>
                                        </table>
                                    </template>
                                </raptor-table>
                            </section>
                        </section>
                    </section>
                    <modal-vik ref="modalConfirmar"
                               v-bind="confirmarModal"
                               v-bind:okaction="verGuardar">
                        <div slot="body">                                                
                            <div class="form-group">
                                <label>Anexos</label>                            
                                <multiselect v-model='anexoTempo'                                             
                                             label="nombre"
                                             placeholder="Seleccione un Anexo"
                                             track-by="id"
                                             v-bind:allow-empty="false"
                                             v-bind:options="anexos"
                                             deselect-label=""
                                             select-label="Seleccione este anexo"
                                             v-on:input="verCuotasByAnexo">
                                </multiselect>
                            </div>


                            <form method="post" id="formGruposCuotas"   data-parsley-validate="true">
                                <h5>Grupos y Cuotas</h5>
                                <table class="table table-striped">
                                    <thead> 
                                        <tr> 
                                            <th class="col-md-6 v-middle">Grupo</th>                                                                                                
                                            <th class="col-md-6 v-middle">Cuota</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="cuo in cuotas">                                           
                                            <td class="v-middle">
                                                {{cuo.grupoHoras.codigo}}
                                            </td>
                                            <td class="v-middle">
                                                <input required="" class="form-control" v-model="cuo.cuotas"/>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </form>

                        </div>
                    </modal-vik>

                </div>

            </div>
            <div th:substituteby="_modules/vue-modal"/>
        </section>

        <div layout:fragment="js">
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <script th:src="@{/app/rolexamen/rolexamenes/rolexamenes.js}" charset="utf-8"></script>
        </div>

    </body>
</html>
