<html layout:decorator="_layout/layout">
    <head>
        <title> Roles de Exámenes </title>
    </head>
    <body>
        <section layout:fragment="main">
            <div id="rolexamenesVUE">
                <div id="main" v-cloak="">

                    <header class="header b-b padder-lg">
                        <h2>Roles de Exámenes <span th:text="${cicloAcademico.descripcion}">2018-II</span></h2>
                        <!-- 
                        <span class="block"><strong >Departamento Académico:</strong> <span th:text="${dptoAcad.nombre}">Matematicas</span></span>
                        <span class="block"><strong>Docente:</strong> <span  th:text="${docente.persona.nombreCompleto}">Juan Perez</span></span>  
                        -->
                    </header>

                    <section class="wrapper-lg">
                        <section class="panel">
                            <section class="panel-body">
                                
                            </section>
                        </section>
                    </section>
              

                </div>

            </div>
            <div th:substituteby="_modules/vue-modal"/>
        </section>

        <div layout:fragment="js">
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <script th:src="@{/app/rolexamen/rolexamenes/rolexamenes.js}" charset="utf-8"></script>
        </div>

    </body>
</html>
