<tr rel="{{:index}}">
    <td class="text-left v-middle"> 
        <span class="block">{{:nombreCurso}}</span>
        <span class="block"><b>{{:codigo}}</b> &nbsp;&nbsp; <i class="fa fa-bookmark-o"></i> {{:estructura}}</span>
        <input type="hidden" value="{{:idGrupo}}"/>
    </td>

    <td class="text-center"> 


        {{:secciones}}
    </td>

    <td>
        <span class="block">{{:docenteNombre}}</span>
    </td>
    <td class="text-center v-middle">
        <span class="block">{{:version}}</span>
    </td>

    <td class="text-center v-middle">
        <span class=" label label-{{:colorEstadoPlan}}">{{:estadoPlanValue}}</span>
    </td>
    <td class="text-center v-middle">
        <span class=" label label-{{:colorEstadoGrupo}}">{{:estadoGrupoValue}}</span>
    </td>
    <td class="text-center v-middle">
        <span class=" label label-{{:colorEstado}}">{{:estadoValue}}</span>
    </td>
    <td>

        <div class="dropdown actions">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i></a>

            <ul class="dropdown-menu pull-right" >
                {{if secciones!=""}} 
                <li role="presentation">
                    <a class="reporteActa" rel="{{:seccion}}" href="#">Reporte de Actas</a>
                </li>
                {{/if}}
                {{if estadoGrupoCerrado==true}}     
                {{if estadoPlanAceptado==true}}  
                <li role="presentation">
                    <a class="reabrir" rel="{{:idGrupo}}" href="#">Reabrir</a>
                </li>
                {{/if}}
                {{/if}}  
            </ul>
        </div>

    </td>

</tr>