<modal-vik ref="colaboradoresModal"
           v-bind="cfgColaboradores">
    <div slot="body">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div v-for="item in colaboradores" class="col-md-6 m-b-xs">
                        <div class="block text-primary">{{item.persona.nombreCompleto}}</div>
                        <small class="block">{{item.cargo.nombre}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</modal-vik>



<modal-vik ref="modalAsignarEncargado"
           v-bind="configModalAsignarEncargado">
    <div slot="body">

        <form v-bind:id="configModalAsignarEncargado.form">
            <p class="m-b h5">
                Seleccione la persona que va estar encargada de la jefatura de esta 
                Unidad e indique su título profesional o grado académico:
            </p>

            <div class="form-group">
                <label>Unidad</label>
                <span class="form-control text-primary">{{oficina.nombre}}</span>
            </div>

            <div class="form-group">
                <label>Jefe(a)</label>
                <span class="form-control text-primary"
                       v-if="!oficina.esNuevo"
                       v-text="oficina.jefeEncargado.nombreCompleto" ></span>
                       
                <multiselect style="z-index: 1000"
                     v-if="oficina.esNuevo"
                     v-model="oficina.jefeEncargado" 
                     v-bind:options='personas'
                     v-on:search-change="allPersonas"
                     v-bind:internal-search="false"
                     label='nombreCompleto'
                     track-by='id'
                     required="true"
                     placeholder=""
                     v-bind:hide-selected="true" >
                 </multiselect>
                       
                <input type="text" required="true" v-model="oficina.jefeEncargado.id" class="hide"/>
            </div>

            <div class="form-group">   
                <label>Título / Grado Académico</label>
                <input type="text" class="form-control" required="true" style="z-index: 1"
                       v-model="oficina.jefeEncargado.tituloAcademico"
                       placeholder="Ing., Lic., Dr., Mg.Sc., Ph.D., etc" />
            </div>

            <div class="form-group">   
                <label>Fecha inicio de jefatura</label>
                <div class="input-group">
                    <date-picker v-bind:config="configDate" v-bind:wrap="false" v-model="oficina.fechaEncargatura"></date-picker>
                    <div class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </div>
                </div>
                <input type="text" required="true" v-model="oficina.fechaEncargatura" class="hide"/>
            </div>
        </form>
    </div>
</modal-vik>



<modal-vik ref="modalAsignarJefe"
           v-bind="configModalAsignarJefe">
    <div slot="body">

        <form v-bind:id="configModalAsignarJefe.form">
            <p class="m-b h5">
                Seleccione la persona que va ser asignada como jefe(a) de esta 
                Unidad e indique su título profesional o grado académico:
            </p>

            <div class="form-group">
                <label>Unidad</label>
                <span class="form-control text-primary">{{oficina.nombre}}</span>
            </div>

            <div class="form-group">
                <label>Jefe(a)</label>
                <span class="form-control text-primary"
                       v-if="!oficina.esNuevo"
                       v-text="oficina.personaJefe.nombreCompleto" ></span>
                       
                <multiselect style="z-index: 1000"
                     v-if="oficina.esNuevo"
                     v-model="oficina.personaJefe" 
                     v-bind:options='personas'
                     v-on:search-change="allPersonas"
                     v-bind:internal-search="false"
                     label='nombreCompleto'
                     track-by='id'
                     required="true"
                     placeholder=""
                     v-bind:hide-selected="true" >
                 </multiselect>
                       
                <input type="text" required="true" v-model="oficina.personaJefe.id" class="hide"/>
            </div>

            <div class="form-group">   
                <label>Título / Grado Académico</label>
                <input type="text" class="form-control" required="true" style="z-index: 1"
                       v-model="oficina.personaJefe.tituloAcademico"
                       placeholder="Ing., Lic., Dr., Mg.Sc., Ph.D., etc" />
            </div>

            <div class="form-group">   
                <label>Fecha inicio de jefatura</label>
                <div class="input-group">
                    <date-picker v-bind:config="configDate" v-bind:wrap="false" v-model="oficina.fechaInicioJefatura"></date-picker>
                    <div class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </div>
                </div>
                <input type="text" required="true" v-model="oficina.fechaInicioJefatura" class="hide"/>
            </div>
        </form>
    </div>
</modal-vik>

