<html layout:decorator="zlayout/layout">
    <head>
        <title> Usuario </title>
    </head>
    <body>
        <section layout:fragment="main">

            <header class="page-header">                
                <a th:href="@{/general/oficina}" class="btn btn-default btn-sm pull-right">Regresar</a>

                <h2  id="nombreDocente" th:text="${ oficina.id!=null ? oficina.nombre : 'Nueva Oficina' }" >Nuevo Oficina</h2> 

            </header>

            <section class="panel">

                <section class="panel-body bg-white b">


                    <form th:action="@{/general/oficina/save}" method="post"  class="form-horizontal m-t-lg" data-parsley-validate="true">

                        <input type="hidden" name="id" id="oficinaId" th:value="${oficina.id}"/>


                        <div class="col-sm-10">

                            <div class="form-group">

                                <label for="docIdentidad" class="col-sm-2 control-label">N° documento</label>

                                <div class="col-sm-5">
                                    <select name="tipoDocumento.id" 
                                            required="true" 
                                            class="form-control select2single buscar-" >
                                        <option></option>
                                        <option th:each="item : ${documentos}"  
                                                th:text="${item.nombre}"
                                                th:selected="${oficina..tipoDocumento!=null} ? ${oficina..tipoDocumento.id==item.id}"
                                                th:value="${item.id}" ></option>
                                    </select>
                                </div>

                                <div class="col-sm-4">

                                    <input  type="text" 
                                            class="inline numeric form-control sin-espacios" 
                                            required="true" 
                                            name="nombre" 
                                            th:value="${oficina.!=null} ? ${oficina..numeroDocIdentidad}"/>

                                </div>

                            </div>


                            <div class="form-group">

                                <label class="col-sm-2 control-label" >Departamento Académico</label>
                                <div class="col-sm-4">
                                    <input  type="text" 
                                            name="departamentoAcademico.id" 
                                            th:value="${oficina.departamentoAcademico!=null?oficina.departamentoAcademico.id:''}"
                                            th:rel="${oficina.departamentoAcademico!=null?oficina.departamentoAcademico.nombre:''}"
                                            th:rev="${oficina.departamentoAcademico!=null?oficina.departamentoAcademico.codigo:''}"
                                            required='true'
                                            data-trigger="change"
                                            class="form-control"/>
                                </div>
                            </div>


                            <div class="form-group">

                                <label for="" class="col-sm-2 control-label">Modalidad de Estudio</label>

                                <div class="col-sm-4">
                                    <select name="modalidadEstudio.id" 
                                            required="true" 
                                            class="form-control select2single buscar-" >
                                        <option></option>
                                        <option th:each="item : ${modalidades}"  
                                                th:text="${item.nombre}"
                                                th:selected="${oficina.modalidadEstudio!=null} ? ${oficina.modalidadEstudio.id==item.id}"
                                                th:value="${item.id}" ></option>
                                    </select>
                                </div>

                            </div>

                            <div class="form-group m-t-xxlg">
                                <label class="col-sm-2 control-label"></label>
                                <div id="footerUsuario" class="col-sm-10">
                                    <button class="btn btn-primary" 
                                            type="button"
                                            th:text="${oficina.id!=null?'Actualizar':'Guardar'}"
                                            id="btnSavePersona">Guardar</button>                                        
                                    <a th:href="@{/general/oficina}" class="btn btn-link" >Cancelar</a>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-2 text-center" >

                            <div class="col-xs-12">

                                <img id="imagenProfile" 
                                     th:src="@{|/general/oficina/view/${oficina..foto}|}"
                                     th:onerror="|this.src='@{/phobos/images/unalm/male.png}';|"
                                     class="img-thumbnail"/>

                                <input type="hidden" id="avatar" name=".foto" th:value="${oficina..foto}"/>

                            </div>

                            <div class="col-xs-12 text-center">

                                <input class="hidden" id="fileupload" type="file" name="file"/>

                                <button type="button" id="fileuploadtrigger" class="btn btn-link btn-sm" >Elegir Foto</button>

                            </div>

                        </div>

                    </form>

                    <script id="oficinaTemplate" type="text/x-jsrender" class="hide" >
                        <div th:substituteby="general/oficina/oficina/oficinaTemplate"/>
                    </script>


                </section>

            </section>

        </section>

        <div layout:fragment="js">
            <script th:src="@{/app/general/oficina/oficinaForm.js}" charset="utf-8"></script>
        </div>

    </body>
</html>
