<html layout:decorator="_layout/layout">
    <head>
        <title>Administración de Oficinas</title>
    </head>
    <body>
        <div layout:fragment="main">
            <div id="pageOficinasVUE" v-cloak="">

                <header class="header b-b padder-lg">

                    <div class="pull-right m-t-md">                 
                        <a class="btn btn-success btn-sm" type="button" v-bind:href="urlNuevaOficina()" >Nuevo</a>
                    </div>  

                    <h2>Oficinas de la Institución</h2>

                </header>

                <section class="wrapper-lg">
                    <section class="panel">
                        <section class="panel-body">

                            <raptor-table v-bind:url="oficinasURL" ref="raptorOficinas">
                                <div slot="header"></div>
                                <template scope="props" >

                                    <table class="table table-striped">
                                        <thead class="panel panel-heading">
                                            <tr>
                                                <th class="col-xs-4 v-middle">Unidad</th>                    
                                                <th class="col-xs-3 text-center">Contacto</th>                    
                                                <th class="col-xs-3 text-center"><span>Jefatura</span></th>
                                                <th class="col-xs-1 text-center"><i class="fa fa-users"></i></th>
                                                <th class="col-xs-1 text-center"><span>Estado</span></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in props.data">

                                                <td class="v-middle">
                                                    <div class="h5 text-primary m-t-xs m-b-xs">{{item.nombre}}</div>
                                                    <p class="text-sm"><strong>Código:</strong> {{item.codigo}}</p>
                                                    <p class="text-sm"><strong>Tipo:</strong> {{item.tipoOficina.codigoEnum.value}}</p>
                                                    
                                                    <small v-if="item.oficinaSuperior.id != '' ">
                                                        <br/>
                                                        <span class="block bold">Dependencia:</span>
                                                        <span class="block">{{item.oficinaSuperior.nombre}}</span>
                                                    </small>
                                                </td>

                                                <td class="v-middle">
                                                    <span v-if="item.anexos != '' " class="block">
                                                        <i class="fa fa-phone-square fa-lg text-primary"></i> {{item.compania.telefonos}} 
                                                        <i class="fa fa-volume-control-phone fa-lg text-primary"></i> {{item.anexos}}
                                                    </span>
                                                    <span v-if="item.telefonos != '' " class="block">
                                                        <i class="fa fa-phone-square fa-lg text-success"></i> {{item.telefonos}}
                                                    </span>
                                                    <span v-if="item.email != '' " class="block">
                                                        <i class="fa fa-envelope text-primary"></i> {{item.email}}
                                                    </span>
                                                    <span v-if="item.referenciaUbicacion != '' " class="block">
                                                        <i class="fa fa-map-marker text-dark fa-lg"></i> {{item.referenciaUbicacion}}
                                                    </span>
                                                    <span v-if="item.webSite != '' " class="block">
                                                        <i class="fa fa-globe text-dark fa-lg"></i> <a v-bind:href="item.webSite" target="_blank">{{item.webSite}}</a> 
                                                    </span>
                                                </td>

                                                <td class="v-middle text-center">
                                                    <span class="block">{{item.cargoJefe.nombre}}</span>
                                                    <template v-if="item.jefeEncargado.id != '' ">
                                                        <span class="text-primary block">{{item.jefeEncargado.nombreConTitulo}}</span>
                                                        <span v-if="item.fechaEncargatura != '' " class="text-sm block m-b">
                                                            (Encargado desde el {{item.fechaEncargatura}})
                                                        </span>
                                                        <span v-else="" class="text-sm block m-b">(Encargado)</span>
                                                    </template>

                                                    <span v-if="item.personaJefe.id != '' " class="text-primary block">
                                                        {{item.personaJefe.nombreConTitulo}}
                                                    </span>

                                                    <span v-if="item.fechaInicioJefatura != '' " class="text-sm block">
                                                        Desde el {{item.fechaInicioJefatura}}
                                                    </span>

                                                    <p v-if="item.motivoAusenciaJefe != '' " class="text-sm block text-danger">
                                                        ({{item.motivoAusenciaJefe}})
                                                    </p>
                                                </td>

                                                <td class="v-middle text-center">
                                                    <span class="badge pointer" v-on:click="verColaboradores(item)">{{item.colaboradores}}</span>
                                                </td>

                                                <td class="v-middle text-center">
                                                    <label class="label" v-bind:class="classEstado(item)" >{{item.estadoEnum.value}}</label>
                                                </td>

                                                <td class="v-middle">
                                                    <div class="actions">

                                                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i></a>

                                                        <ul class="dropdown-menu pull-right" >
                                                            <li role="presentation"><a class="btn-link modificar" v-bind:href="urlEditar(item)">Editar</a></li>

                                                            <li role="presentation">
                                                                <a v-if="item.estado == 'ACT' " class="btn-link" v-on:click="cambiarEstado(item,'desactivar')">Desactivar</a>
                                                                <a v-if="item.estado == 'INA' " class="btn-link" v-on:click="cambiarEstado(item,'activar')">Activar</a>
                                                            </li>

                                                            <li role="presentation" class="divider"></li>

                                                            <li v-if="item.personaJefe.id != '' "><a class="pointer" v-on:click="verAsignarEncargado(item)">Retirar Jefe</a></li>
                                                            <li v-if="item.personaJefe.id != '' " v-on:click="verRevisarJefe(item)"><a class="pointer" >Actualizar Jefe</a></li>
                                                            <li v-else=""><a class="pointer" v-on:click="verAsignarJefe(item)"> Asignar Jefe</a></li>

                                                            <li v-if="item.jefeEncargado.id != '' "><a class="pointer" v-on:click="previoRetirarEncargado(item)">Retirar Encargado</a></li>
                                                            <li v-if="item.jefeEncargado.id != '' "><a class="pointer" v-on:click="verRevisarEncargado(item)">Actualizar Encargado</a></li>
                                                            <li v-else=""><a class="pointer" v-on:click="verAsignarEncargado(item)">Asignar Encargado</a></li>

                                                            <li role="presentation" class="divider"></li>
                                                            <li><a class="btn-link" v-on:click="cambiarEstado(item,'eliminar')">Eliminar</a></li>
                                                            <li v-if="item.tipoOficina.nivelEnum.name == 'OFI' "><a class="btn-link" v-bind:href="urlColaboradores(item)">Colaboradores</a></li>
                                                        </ul>

                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </template>
                            </raptor-table>



                        </section>

                    </section>

                </section>

                <div th:substituteby="general/oficina/oficinaModals"/>
            </div>

            <div th:substituteby="_modules/vue-modal"/>



        </div>

        <div layout:fragment="js">
            <script  th:inline="javascript" >
                /*<![CDATA[*/
                var rutaModulo = 'general/oficina';
                /*]]>*/
            </script>
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <script type="text/javascript" th:src="@{/phobos/modules/vue-modal.js}"></script>
            <div th:substituteby="_layout/includes :: javascript-bootstrap-datetimepicker"></div>
            <div th:substituteby="_layout/includes :: javacsript-vue-bootstrap-datetimepicker"></div>
            <script th:src="@{/app/general/oficina/oficina.js}" charset="utf-8"></script>
        </div>

    </body>
</html>