<tr rel="{{:index}}">

    <td class="v-middle">
        <div class="h5 text-primary">{{:nombre}}</div>
        <p class="text-sm">Código {{:codigo}}</p>
        <p class="text-sm">Tipo {{:tipo}}</p>
    </td>

    <td class="v-middle">
        {{:dependencia}}
    </td>

    <td class="v-middle text-center">
        <span class="block">{{:cargoJefe}}</span>
        {{if encargado }}
            <span class="text-primary block">{{:encargado}}</span>
            {{if fechaEncargatura}}
                <span class="text-sm block m-b">(Encargado desde el {{:fechaEncargatura}})</span>
            {{else}}
                <span class="text-sm block m-b">(Encargado)</span>
                
            {{/if}}
        {{/if}}
        <span class="text-primary block">{{:jefe}}</span>
        
        {{if fechaInicioJefatura}}
            <span class="text-sm block">Desde el {{:fechaInicioJefatura}}</span>
        {{/if}}
        
        {{if motivoAusenciaJefe }}
            <p class="text-sm block text-danger">({{:motivoAusenciaJefe}})</p>
        {{/if}}
    </td>

    <td class="v-middle text-center">
        <span class="badge colaborador pointer"  rel="{{:id}}">{{:colaboradores}}</span>
    </td>

    <td class="v-middle text-center">
        <label class="label label-{{:colorEstado}}" >{{:estadoEnum}}</label>
    </td>

    <td class="v-middle">
        <div class="actions">

            <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i></a>

            <ul class="dropdown-menu pull-right" >


                <li role="presentation"><a class="btn-link modificar" th:href="@{/general/oficina/{{:id}}/update}">Editar</a></li>

                <li role="presentation">
                    {{if estado == 'ACT'}}
                    <a class="btn-link estado" rel="{{:id}}" rev="{{:estado}}" href="#">Desactivar</a>
                    {{/if}}
                    {{if estado == 'INA'}}
                    <a class="btn-link estado" rel="{{:id}}" rev="{{:estado}}" href="#">Activar</a>
                    {{/if}}
                </li>

                <li role="presentation" class="divider"></li>
                
                {{if jefe }}
                    <li><a class="btn-link retirar-jefe" rel="{{:id}}" href="#">Retirar Jefe</a></li>
                {{else}}
                    <li><a class="btn-link asignar-jefe" rel="{{:id}}" href="#"> Asignar Jefe</a></li>
                {{/if}}
                
                {{if encargado }}
                    <li><a class="btn-link retirar-encargado" rel="{{:id}}" href="#">Retirar Encargado</a></li>
                {{else}}
                    <li><a class="btn-link asignar-encargado" rel="{{:id}}" href="#">Asignar Encargado</a></li>
                {{/if}}
                
                <li role="presentation" class="divider"></li>
                <li><a class="btn-link delete" rel="{{:id}}" href="#">Eliminar</a></li>

            </ul>

        </div>
    </td>
</tr>