<modal-vik ref="colaboradoresModal"
           v-bind="cfgColaboradores">
    <div slot="body">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div v-for="item in colaboradores" class="col-md-6 m-b-xs">
                        <div class="block text-primary">{{item.persona.nombreCompleto}}</div>
                        <small class="block">{{item.cargo.nombre}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</modal-vik>

<modal-vik ref="modalAsignarJefe"
           v-bind="configModalAsignarJefe">
    <div slot="body">

        <form id="configModalAsignarJefe.form">
            <input type="hidden" name="id" value="{{:id}}"/>
            <p class="m-b h5">
                Seleccione la persona que va ser asignada como jefe(a) de esta 
                Unidad e indique su título profesional o grado académico:
            </p>

            <div class="form-group">
                <label>Unidad</label>
                <span class="form-control text-primary">{{oficina.nombre}}</span>
            </div>

            <div class="form-group">
                <label>Jefe(a)</label>
                <input type="text" class="form-control" required="true" 
                       v-text="oficina.personaJefe.nombreCompleto" />
            </div>

            <div class="form-group">   
                <label>Titulo / Grado Académico</label>
                <input type="text" class="form-control" required="true" 
                       v-text="oficina.personaJefe.tituloAcademico"
                       placeholder="Ing., Lic., Dr., Mg.Sc., Ph.D., etc" />
            </div>

            <div class="form-group">   
                <label>Fecha inicio de jefatura</label>
                <div class="input-group">
                    <date-picker v-bind:config="configDate" v-bind:wrap="false" v-model="oficina.fechaInicioJefatura"></date-picker>
                    <div class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</modal-vik>

