<modal-vik ref="colaboradoresModal"
           v-bind="cfgColaboradores">
    <div slot="body">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div v-for="item in colaboradores" class="col-md-6 m-b-xs">
                        <div class="block text-primary">{{item.persona.nombreCompleto}}</div>
                        <small class="block">{{item.cargo.nombre}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</modal-vik>

