<html layout:decorator="_layout/layout">
    <head>
        <title>Tramties Academicos</title>
    <div th:substituteby="_layout/includes :: styles-dynatable"></div>
    <style>
        .td-vacio {
            padding-right: 4px !important;
            padding-left: 4px !important;
        }
        .bg-row {
            background-color: #f9fafc;
        }
    </style>
</head>

<body>
    <div layout:fragment="main">
        <div id="tramitesAcademicos">
            <header class="header b-b padder-lg">

                <div class="pull-right m-t-md">  
                    <a class="btn btn-info" type="button"    v-on:click.prevent="agenda"   href="#" >Agenda</a>
                </div> 
                <h2 >Trámites Académicos</h2>
            </header>
            <section  class="wrapper-lg">

                <section class="panel">
                    <section class="panel-body">


                        <raptor-table ref="tblTramitesAcademicos"
                                      v-bind:url="URL_TRAMITES" >

                            <template scope="props">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="col-md-2">Trámite</th>
                                            <th class="col-md-col-md-3">Persona</th>
                                            <th class="c">Tipo Tramite</th>
                                            <th class="">Estado</th>
                                            <th class="col-md-3">Registro</th>
                                            <th class="text-center">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in props.data"> 
                                            <td> 
                                                <small class="block text-muted">Serie: {{item.serie}}</small>
                                                <small class="block text-muted">Número: {{item.numero}}</small>
                                            </td>
                                            <td class="v-middle text-left">
                                                {{ item.persona.apellidosNombres}}
                                            </td>
                                            <td class="v-middle text-left">
                                                {{ item.tipoTramite.nombre}}
                                            </td>
                                            <td class="v-middle text-left">
                                                <small class="block text-muted">Tramite:  {{ item.estadoEnum.value}}</small>
                                                <small class="block text-muted" 
                                                       v-if="item.tipoTramite.esTipoTramiteRei">
                                                    Reincorporación: {{item.estadoTramite.nombre}}
                                                </small>
                                                <small class="block text-muted" 
                                                       v-if="item.tipoTramite.esTipoTramiteCurDir">
                                                    Curso Dirigido: {{item.estadoTramite.nombre}}
                                                </small>
                                                <small class="block text-muted" 
                                                       v-if="item.tramiteReunionConsejo">
                                                    <span>Reunion Consejo <format-date v-bind:datetext="item.tramiteReunionConsejo.reunionConsejo.fecha"></format-date></span>
                                                </small>
                                            </td>
                                            <td class="v-middle text-left">
                                                {{item.userRegistro.persona.apellidosNombres}}
                                                <small class="block text-muted">
                                                    <format-date v-bind:datetext="item.fechaRegistro"></format-date>
                                                </small>
                                            </td>
                                            <td>
                                                <div class="dropdown actions" v-if="item.accionesTramite">
                                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                                        <i class="glyphicon glyphicon-cog"></i>
                                                    </a> 
                                                    <ul class="dropdown-menu pull-right"> 

                                                        <li v-if="item.formularioEstadoTramite.id">
                                                            <a class="btn-link pointer" 
                                                               v-on:click="procesarTramite(item,$event)">
                                                                Procesar</a>
                                                        </li>
                                                        <li v-for="accion in item.accionesTramite" v-if="item.formularioEstadoTramite.id==null">
                                                            <a class="btn-link pointer" 
                                                               v-on:click="cambiarEstadoReincorporacion(item,'REV_HIS',$event)">
                                                                {{accion.opcion}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </template>
                        </raptor-table>

                    </section>
                </section>
            </section>


            <modal-vik ref="modalAgendar"
                       modalsize="modal-md"
                       v-bind="agendarModal"
                       v-bind:okaction="saveAgendar">
                <div slot="body">


                    <raptor-table ref="tblReunionesConsejo"
                                  v-bind:url="URL_REUNIONES" 
                                  rowsperpage="5"
                                  v-bind:searcher="false">

                        <template scope="props">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Es Ordinario</th>
                                        <th>Oficina</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in props.data"> 
                                        <td>   
                                <format-date v-bind:datetext="item.fecha"></format-date>
                                </td>
                                <td>
                                    <label class="switch">
                                        <input  type="checkbox" 
                                                value="1"
                                                checked="{{item.esOrdinario}}"
                                                disabled="true"/>
                                        <span></span>
                                    </label>
                                </td> 
                                <td>
                                    <span v-if="item.oficina" 
                                          v-text="item.oficina.nombre"></span>
                                </td> 
                                <td>
                                    <a alt="selReunionConsejo"  
                                       class="btn" 
                                       v-bind:class="{'btn-default' : (reunionConsejoSel==null || reunionConsejoSel.id!=item.id), 'btn-success': (reunionConsejoSel!=null &amp;&amp; reunionConsejoSel.id==item.id)}"
                                       type="button"    
                                       v-on:click.prevent="seleccionarReunionConsejo(item,$event)"   
                                       href="#" >Seleccionar</a>
                                </td>
                                </tr>
                                </tbody>
                            </table>
                        </template>
                    </raptor-table>


                </div>
            </modal-vik>



        </div>

        <div th:substituteby="templates/modal"/>
        <div th:substituteby="_modules/vue-modal"/>

    </div>

    <div layout:fragment="js">
        <div th:substituteby="_modules/vue-raptor-table"/>
        <div th:substituteby="_layout/includes :: javascript-dynatable"/>
        <script type="text/javascript" th:src="@{/phobos/modules/vue-modal.js}"></script>
        <script th:src="@{/app/academico/tramitesacademicos/tramitesAcademicos.js}" charset="utf-8"></script>
        <script type="text/javascript" th:src="@{/phobos/modules/vue-generalComponents.js}"></script>
    </div>


</body>
</html>