<html layout:decorator="_layout/layout">
    <head>
        <title> Curso Dirigido </title>
    </head>
    <body>

        <div layout:fragment="main">
            <div id="main" v-cloak="">

                <header class="header b-b padder-lg">
                    <h1 v-text="'Curso Dirigido '"></h1>  <h1 th:text="${ciclo.descripcion}"></h1>
                    <div class="pull-right m-t-md">                
                        <button type="button" v-on:click="dowloadListFac" class="btn btn-success  pull-right "> Descargar Listado Fac. </button>
                        <button type="button" v-on:click="dowloadRepFac" class="btn btn-success  pull-right m-r-md"> Descargar Reportes x Fac. </button>
                    </div>  
                </header>

                <section class="wrapper-lg m-b-xs">
                    <section class="panel">
                        <section class="panel-body m-t-sm">
                            <div class="col-md-12 col-md-offset-0">
                                <div class="row">
                                    <div class="col-md-5" >
                                        <label>Facultad</label>
                                        <multiselect v-model="facultad" 
                                                     v-bind:options='listFacultad'
                                                     label='nombre'
                                                     track-by='id'
                                                     placeholder="Seleccione una facultad"
                                                     v-bind:preselect="false"
                                                     v-bind:show-labels="false"
                                                     v-bind:hide-selected="false"
                                                     v-bind:disabled="isDisabled"
                                                     v-on:input="changeFacultadSelected">
                                            <template slot="noOptions">La lista se encuentra vacía</template>
                                            <template slot="noResult">No se encontraron resultados</template>
                                        </multiselect>
                                    </div>
                                </div>
                                <raptor-table v-bind:url="cursoDirigidoURL" ref="load">
                                    <template  scope="props" >

                                        <table  class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="col-md-4 text-left" colspan="2">Alumno</th>
                                                    <th class="col-md-2 text-center">Curso</th>
                                                    <th class="col-md-4 text-center">Motivo</th>
                                                    <th class="col-md-2 text-left">Estado</th>
                                                    <th class=" text-center"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in props.data">
                                                    <td class="v-middle">
                                                        <div class="pull-left">
                                                            <div v-if="item.tramite.alumno.persona.tipoFoto=='POSTUL' "
                                                                 class="img-responsive img-thumbnail img-circle div-foto-list">
                                                                <img class="img-foto-list" v-bind:src="item.tramite.alumno.persona.rutaFoto" />
                                                            </div>

                                                            <img v-else-if="item.tramite.alumno.persona.tipoFoto=='COMUN' " 
                                                                 class="img-responsive img-thumbnail img-circle div-foto-alumno-list" 
                                                                 v-bind:src="item.tramite.alumno.persona.rutaFoto" />

                                                            <img v-else="" 
                                                                 class="img-foto-tempo img-responsive img-thumbnail img-circle" 
                                                                 v-bind:src="item.tramite.alumno.persona.rutaFoto" />
                                                        </div>
                                                    </td>
                                                    <td class="v-middle text-left">
                                                        <span class="block bold "> <a>{{item.tramite.alumno.persona.nombreCompleto}}</a> </span> 
                                                        <span class="block bold " v-if="item.tramite.alumno.carrera.nombre!=item.tramite.alumno.carrera.facultad.nombre"> {{item.tramite.alumno.carrera.nombre}} - {{item.tramite.alumno.carrera.facultad.nombre}} </span> 
                                                        <span class="block bold " v-else=""> {{item.tramite.alumno.carrera.facultad.nombre}} </span> 
                                                        <span class="block bold " v-if="item.tramite.alumno.persona.numeroDocIdentidad!=null"> {{item.tramite.alumno.persona.tipoDocumento.simbolo}} - {{item.tramite.alumno.persona.numeroDocIdentidad}} </span> 
                                                        <span class="block bold " > {{item.tramite.alumno.codigo}}</span> 
                                                        <span class="block bold " > {{item.tramite.alumno.situacionAcademica.descripcion}}</span> 
                                                    </td>
                                                    <td class="v-middle text-left">
                                                        <span class="block text-muted">
                                                            <span class="bold "> Curso : {{item.curso.nombre}}</span>
                                                        </span>
                                                        <span class=" block text-muted">
                                                            <span class="bold "> Código:  {{item.curso.codigo}}</span> 
                                                        </span>
                                                        <span class=" block text-muted">
                                                            <span class="bold "> tpc:  {{item.curso.tpc}}</span> 
                                                        </span>
                                                    </td>
                                                    <td class="v-middle motivo" id="accordion" >
                                                        <details>
                                                       <summary>
                                                        <span class="bold "> Motivo Solicitud: </span><span> {{item.motivoSolicitud}}</span>
                                                        
                                                            <span class="hidden" v-text="json(item)"></span>
                                                           
                                                                <span class="block bold"> Situación actual: </span>
                                                       </summary>  
                                                       
                                                         <div  class="form-group " >
                                                                <div  class=" col-md-12">
                                                                    <label class="bold"> Programación:  </label>
                                                                    <span v-text="item.situacionActual.programado"></span>
                                                                </div>
                                                                <div  class=" col-md-12">
                                                                    <label class="bold"> Vacancia en secciones: </label>
                                                                    <div class="form-group" v-for="vac in item.situacionActual.vacantes" >
                                                                        <span v-text="'Código sección: ' + vac.seccion"></span>
                                                                        <br/>
                                                                        <span >Disponibilidad:</span>
                                                                        <span v-text="item.situacionActual.disponibilidad ? 'Sí' : 'No'"></span>

                                                                    </div>
                                                                </div>
                                                                <div  class=" col-md-12">
                                                                    <label class="bold"> Cruce de horarios: </label>
                                                                    <div class="form-group" v-for="cruceHor in item.situacionActual.cruceHorario" >
                                                                        <span v-text="'Curso: ' + cruceHor.curso"></span>
                                                                        <br/>
                                                                        <span >Horario</span>
                                                                        <span v-text="cruceHor.horario"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </details>
                                                        
                                                    </td>
                                                    <td class="v-middle">
                                                        <span class="block " v-bind:class="classColor(item.estado.codigo)"> {{item.estado.nombre}}</span>
                                                    </td>
                                                    <td class="v-middle">
                                                        <div class="actions" v-if="item.estado.codigo == 'SOL_CUR_DIR'">
                                                            <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-option-vertical"></i></a>
                                                            <ul class="dropdown-menu pull-right" >
                                                                <li v-for="accion in item.accionTramite"><a  href="#" v-on:click="actualizar(item, accion)" v-text="accion.opcion">Ver Trámite</a></li>
                                                                <li><a v-bind:href="urlAcademico(item)">Información académica</a></li>
                                                                <li><a v-on:click="anular(item)">Anular</a></li>
                                                                <li ><a v-bind:href="urlReporteDirigido(item)">Reporte</a></li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </template>
                                </raptor-table>
                            </div>
                        </section>
                    </section>
                </section>
            </div>
        </div>

        <div layout:fragment="js">
            <script th:inline="javascript">
                /*<![CDATA[*/
                var facultadesJson = /*[[${facultades}]]*/ '';
                /*]]>*/
            </script>
            <div th:substituteby="_modules/vue-modal"/>
            <div th:substituteby="_layout/includes :: vuejs"/>
            <div th:substituteby="_modules/vue-raptor-table"/>
            <script th:src="@{/app/tramite/cursodirigido/cursodirigido.js}" charset="utf-8"></script>
        </div>
    </body>
</html>
