<html layout:decorator="_layout/layout"> 
    <head>
        <title> Cursos Masivos </title> 

    </head>
    <body>
        <section layout:fragment="main">
            <div id="main" v-cloak="">

                <header class="header b-b padder-lg">
                    <h2>Secciones Grupo Regular <span th:text="${cicloAcademico.descripcion}">2018-II</span></h2>
                    <div class="pull-right m-t-md">
                        <a class="btn btn-default"   th:href="@{/rolexamen/gruporegular}"  >Regresar</a>
                    </div>
                </header>

                <section class="wrapper-lg">
                    <section class="panel">
                        <section class="panel-body">

                            <div class="row">

                                <div class="row">
                                    <div class="form-group">
                                        <label class="m col-md-2 bold">Rol Examen</label>  
                                        <div class="m-t-md col-md-4" th:text="${letraGrupoRegular.rolExamenes.nombre}">

                                        </div>
                                    </div>
                                </div>                                   

                                <div class="row">
                                    <div class="form-group">
                                        <label class="m col-md-2 bold">Letra Grupo Regular</label>
                                        <div class="m-t-md col-md-4" v-text="letraGrupoRegular.letra">

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </section>
                    </section>

                    <section class="panel">
                        <section class="panel-body">

                            <raptor-table v-bind:url="`${URL}/listSeccionesLetraGrupoRegular`" v-bind:preload="false" ref="tblSeccionesGrupoRegular">
                                <template scope="props">

                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="col-md-3 text-center"></th>
                                                <th class="col-md-3 text-center">Alumnos</th>
                                                <th class="col-md-2">Docente</th>
                                                <th class="col-md-3 text-center">Aula</th>
                                                <th class="col-md-1 text-center">Estado</th>
                                                <th class="text-center" v-if="accionesDisponibles"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="sec in props.data">
                                                <td>
                                                    <input type="hidden" v-bind:value="sec.seccion.id"/>
                                                    <span class="bold text-info text-md" v-text="sec.seccion.codigo2"></span>
                                                    <span class="block text-muted">{{ sec.seccion.grupoSeccion.curso.nombre }}</span>
                                                    <span class="block text-muted"><b>{{ sec.seccion.grupoSeccion.curso.codigo  }}</b> &nbsp; <i class="fa fa-bookmark-o"></i> {{ sec.seccion.grupoSeccion.curso.tpc }}</span>
                                                </td>
                                                <td class="text-center v-middle">
                                                    <span class="badge pointer"
                                                          >{{ sec.alumnosCount }}</span>
                                                </td>
                                                <td class="v-middle">
                                                    <span v-text="sec.docente.persona.apellidosNombres"></span>
                                                </td>
                                                <td class="text-center v-middle">
                                                    <span v-text="sec.aula.codigo"></span>
                                                </td>

                                                <td class="text-center v-middle">
                                                    <div>
                                                        <v-estado v-bind:codigo="sec.estado" v-bind:valor="sec.estadoEnum.value"/> 
                                                    </div>
                                                </td>
                                                <td class="v-middle" v-if="accionesDisponibles">
                                                    <div class="dropdown actions pointer">
                                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                                            <i class="glyphicon glyphicon-option-vertical"></i>
                                                        </a> 
                                                        <ul class="dropdown-menu pull-right">
                                                            <li v-if="sec.isEstadoActivo"><a  v-on:click.prevent="cambiarAula(sec)">Cambiar Aula</a></li>
                                                            <li v-if="sec.isEstadoActivo"><a v-on:click.prevent="excluir(sec,tipoAccion.SECCION)">Excluir</a></li>
                                                            <li v-if="sec.isEstadoExcluido"><a v-on:click.prevent="incluir(sec,tipoAccion.SECCION)">Incluir</a></li>
                                                            <li v-if="sec.isEstadoActivo"><a  v-on:click.prevent="trasladar(sec)">Mover</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </template>
                            </raptor-table>

                        </section>
                    </section>
                </section>

                <modal-vik ref="moverSeccionModal"
                           id="modalMoverSeccion"
                           header="true"
                           modalsize="modal-lg"
                           title="Mover Seccion"
                           v-bind:showaccept="false">
                    <div slot="body">

                        <mover-seccion-examen ref="moverSeccionComp"
                                              > 
                        </mover-seccion-examen> 

                    </div>
                </modal-vik>
                <modal-vik ref="cambiarAulaModal"
                           id="modalCambiarAula"
                           header="true"
                           modalsize="modal-lg"
                           title="Cambiar Aula"
                           v-bind:showaccept="false">
                    <div slot="body">
                        <cambio-aula-examen ref="cambiarAulaExamenComp"></cambio-aula-examen>
                    </div>
                </modal-vik>

            </div>
        </section>

        <div layout:fragment="js">
            <script  th:inline="javascript" >
                /*<![CDATA[*/
                var jLetraGrupoRegular = /*[[${jLetraGrupoRegular}]]*/ '';
                /*]]>*/
            </script>
            <div th:substituteby="_modules/vue-modal"/>
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <script th:src="@{/phobos/modules/vue-generalComponents.js}" charset="utf-8"></script>
            <div th:substituteby="rolexamen/components/mover-seccion-examen"/>
            <div th:substituteby="rolexamen/components/cambio-aula"/>
            <script th:src="@{/app/rolexamen/gruporegular/grupoRegularSecciones.js}" charset="utf-8"></script>
        </div>

    </body>
</html>
