<html layout:decorator="_layout/layout">
    <head>
        <title>Aulas</title>
        <link th:substituteby="_layout/includes :: styles-dynatable" />
    </head>

    <body>
        <div layout:fragment="main">

            <div  id="main" v-cloak="">

                <header class="header b-b padder-lg">
                    <h2>Tipo Carpetas </h2>
                    <div class="pull-right m-t-md">                 
                        <div class="btn-group">
                            <a type="button" class="btn btn-success" v-on:click="nuevoTipocarpeta">Nuevo</a>
                        </div>
                    </div> 
                </header>

                <section class="wrapper-lg">
                    <section class="panel">
                        <section class="panel-body">

                            <table class="table table-condensed table-hover">
                                <thead> 
                                    <tr>
                                        <th class="col-md-4 text-center">Código</th>
                                        <th class="col-md-7 text-center v-middle">Nombre</th>
                                        <th class="col-md-1 text-center v-middle">Buscar Aula</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in tipocarpetas">
                                        <td v-bind:style="!item.tipoCarpetaPadre ? 'padding-left: 50px;' : ''">
                                            <span >{{item.codigo}}</span>
                                        </td>
                                        <td>
                                            <span >{{item.nombre}}</span>
                                        </td>
                                        <td>
                                            <span >{{item.buscarAula}}</span>
                                        </td>
                                        <td>
                                            <div class="actions">
                                                <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i></a>
                                                <ul class="dropdown-menu pull-right" >
                                                    <li v-if='item.tipoCarpetaPadre'><a class="btn-link modificar" v-on:click="agregarTipoCarpetaHija(item)">Agregar</a></li>
                                                    <li><a class="btn-link modificar" v-on:click="editar(item)">Editar</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </section>
                    </section>
                </section>
                <div th:substituteby="general/tipocarpeta/tipocarpetaModal"></div>

            </div>

        </div>

        <div layout:fragment="js">
            <div th:substituteby="_modules/vue-modal"/>
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <script th:src="@{/vendor/sweetalert/dist/sweetalert.min.js}" charset="utf-8"></script>
            <script th:src="@{/app/general/tipocarpeta/tipocarpeta.js}" charset="utf-8"></script>
        </div>

    </body>
</html>