<modal-vik ref="modalAlumnos"
           v-bind="modalAlumnos">
    <div slot="body">
        <div id="divDynatable">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Alumnos</th>
                        <th v-if="tipo == 'BACHI' ||'BACHIFAC' || tipo == 'TITUL' || tipo == 'TITULBAC' ">
                            <span  v-if="codigoOficina=='UNA'">Grado/Título</span>
                            <span  v-if="codigoOficina!=='UNA'">Nombres</span>
                        </th>

                        <th v-if="tipo == 'ALUMRENUNCIA'">
                            <span  v-if="codigoOficina=='UNA'">Código</span>
                            <span  v-if="codigoOficina!=='UNA'">Apellidos y Nombres</span>                            
                        </th>
                        <th v-if="tipo != 'CURDIR' &amp;&amp; tipo != 'TRAS_INT' " class="text-center">Ciclo Aplica</th>
                        <th v-if="tipo == 'CAM_NOTA' || tipo == 'CURDIR' ">Curso</th>
                        <th v-if="tipo == 'CAM_NOTA' ">Nota</th>
                        <th v-if="tipo == 'TRAS_INT' ">Carrera Origen</th>
                        <th v-if="tipo == 'TRAS_INT' ">Carrera Destino </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in alumnosReincorporacion" v-if="tipo == 'REIC'"
                        >
                        <td>
                            <a class="block" v-text="item.alumno.persona.nombreCompleto"></a>
                            <span class="block" v-text="item.alumno.codigo"></span>
                            <span > {{item.alumno.persona.tipoDocumento.simbolo}} - {{item.alumno.persona.numeroDocIdentidad}}</span>
                        </td>
                        <td>
                            <span v-text="item.cicloReincorporacion.descripcion"></span>
                        </td>

                    </tr>
                    <tr v-for="item in alumnoTramiteReadmision" v-if="tipo == 'READMISION'"
                        >
                        <td>
                            <a class="block" v-text="item.alumno.persona.nombreCompleto"></a>
                            <span class="block" v-text="item.alumno.codigo"></span>
                            <span > {{item.alumno.persona.tipoDocumento.simbolo}} - {{item.alumno.persona.numeroDocIdentidad}}</span>
                        </td>
                        <td>
                            <span v-text="item.cicloReadmitido.descripcion"></span>
                        </td>

                    </tr>
                    <tr v-for="item in alumnoTramiteCambioPlanCurricular" v-if="tipo == 'CAMBIO_PLAN_CURRICULAR'"
                        >
                        <td>
                            <a class="block" v-text="item.alumno.persona.nombreCompleto"></a>
                            <span class="block" v-text="item.alumno.codigo"></span>
                            <span > {{item.alumno.persona.tipoDocumento.simbolo}} - {{item.alumno.persona.numeroDocIdentidad}}</span>
                        </td>
                        <td>
                            <span v-text="item.cicloAcademico.descripcion"></span>
                        </td>

                    </tr>
                    <tr v-for="item in alumnosRetiroCiclo" v-if="tipo == 'RCI'"
                        >
                        <td>
                            <a class="block" v-text="item.alumno.persona.nombreCompleto"></a>
                            <span class="block" v-text="item.alumno.codigo"></span>
                            <span > {{item.alumno.persona.tipoDocumento.simbolo}} - {{item.alumno.persona.numeroDocIdentidad}}</span>
                        </td>
                        <td>
                            <span v-text="item.cicloAcademico.descripcion"></span>
                        </td>

                    </tr>
                    <tr v-for="item in alumnosCambioNota" v-if="tipo == 'CAM_NOTA'"
                        >
                        <td>
                            <a class="block" v-text="item.alumno.persona.nombreCompleto"></a>
                            <span class="block" v-text="item.alumno.codigo"></span>
                            <span > {{item.alumno.persona.tipoDocumento.simbolo}} - {{item.alumno.persona.numeroDocIdentidad}}</span>
                        </td>
                        <td>
                            <span v-text="item.cicloAcademico.descripcion"></span>
                        </td>
                        <td>
                            <span v-text="item.curso.nombre"></span>
                        </td>
                        <td>
                            <span v-text="item.nota"></span>
                        </td>
                    </tr>
                    <tr v-for="item in alumnosCursoDirigido" v-if="tipo == 'CURDIR'"
                        >
                        <td>
                            <a class="block" v-text="item.tramite.alumno.persona.nombreCompleto"></a>
                            <span class="block" v-text="item.tramite.alumno.codigo"></span>
                            <span > {{item.tramite.alumno.persona.tipoDocumento.simbolo}} - {{item.tramite.alumno.persona.numeroDocIdentidad}}</span>
                        </td>
                        <td>
                            <span v-text="item.curso.nombre"></span>
                        </td>
                    </tr>
                    <tr v-for="item in alumnoTramitePracticas" v-if="tipo == 'PRACTICAS'"
                        >
                        <td>
                            <a class="block" v-text="item.tramite.alumno.persona.nombreCompleto"></a>
                            <span class="block" v-text="item.tramite.alumno.codigo"></span>
                            <span > {{item.tramite.alumno.persona.tipoDocumento.simbolo}} - {{item.tramite.alumno.persona.numeroDocIdentidad}}</span>
                        </td>
                        <td>
                            <span v-text="item.curso.nombre"></span>
                        </td>
                    </tr>
                    <tr v-if="tipo == 'TRAS' || tipo == 'ING_HIS' || tipo == 'INTES' ">
                        <td>
                            <a class="block" v-text="alumnoTramiteTraslado.tramite.alumno.persona.nombreCompleto"></a>
                            <span class="block">Código: {{alumnoTramiteTraslado.tramite.alumno.codigo}}</span>

                            <span v-if="alumnoTramiteTraslado.tramite.alumno.persona.numeroDocIdentidad != null"> {{alumnoTramiteTraslado.tramite.alumno.persona.tipoDocumento.simbolo}} - {{alumnoTramiteTraslado.tramite.alumno.persona.numeroDocIdentidad}}</span>
                        </td>
                        <td>
                            <span class="block" v-text="alumnoTramiteTraslado.tramite.cicloAcademico.descripcion"></span>
                        </td>
                    </tr>
                    <tr v-if="tipo == 'TRAS_INT' "  v-for="item in alumnoTramiteTraslado">
                        <td>
                            <a class="block" v-text="item.tramite.alumno.persona.nombreCompleto"></a>
                            <span class="block">Código: {{item.tramite.alumno.codigo}}</span>

                            <span v-if="item.tramite.alumno.persona.numeroDocIdentidad != null"> {{item.tramite.alumno.persona.tipoDocumento.simbolo}} - {{item.tramite.alumno.persona.numeroDocIdentidad}}</span>
                        </td>
                        <td>
                            <span class="block" v-text="item.carreraOrigen.nombre"></span>
                        </td>
                        <td>
                            <span class="block" v-text="item.carrera.nombre"></span>
                        </td>
                    </tr>

                    <tr v-for="item in alumnoTramiteBachiller" v-if="(tipo == 'BACHI' || tipo == 'BACHIFAC' || tipo == 'TITUL' || tipo == 'TITULBAC') ">
                        <td v-if="codigoOficina=='UNA'" class="v-middle">
                            <span class="block text-primary h5 m-t-xxs m-b-xxs" v-text="item.alumno.persona.nombreCompleto"></span>
                            <span class="block">
                                {{item.alumno.codigo}} |
                                <span v-if="item.alumno.persona.numeroDocIdentidad != null"> 
                                    <strong>{{item.alumno.persona.tipoDocumento.simbolo}}</strong> 
                                    {{item.alumno.persona.numeroDocIdentidad}}
                                </span>
                            </span>
                        </td>
                        <td v-if="codigoOficina!=='UNA'" class="v-middle">   
                            <strong>{{item.tramite.alumno.codigo }}</strong> 
                        </td>
                        <td v-if="codigoOficina!=='UNA'" class="v-middle">
                            <strong>{{item.tramite.persona.paterno }} {{item.tramite.persona.materno }} {{item.tramite.persona.nombres }}</strong> 

                        </td>
                        <td v-if="codigoOficina=='UNA'" class="v-middle">
                            <span class="block" v-text="item.gradoAcademico.nombre"></span>
                        </td>
                        <td v-if="codigoOficina=='UNA'" class="v-middle text-center">
                            <span class="block" v-text="item.cicloAcademico.descripcion"></span>
                        </td>
                    </tr>
                    <tr v-if="tipo == 'ALUMRENUNCIA'"  v-for="item in alumnoTramiteRenuncia">
                        <td>
                            <span class="block">{{item.tramite.alumno.codigo}}</span>
                       </td>
                        <td>
                            <span class="block" >{{item.tramite.persona.paterno }} {{item.tramite.persona.materno }} {{item.tramite.persona.nombres }} </span>
                        </td>
                        <td>
                            <span class="block" >{{item.resolucion.descripcionFacultad }}  </span>
                        </td>
<!--                        <td>
                            <span class="block" v-text="item.carrera.nombre"></span>
                        </td>-->
                    </tr>                    

                </tbody>
            </table>
        </div>
    </div>
</modal-vik>
