/target/
/node_modules/
/src/main/resources/public/phobos/.sass-cache/
.DS_Store 
nohup.out
package-lock.json
yarn.lock
yarn-error.log
hs_err_pid[0-9].log
replay_pid[0-9].log
dump[a-z].log/
.idea/
*.iml
