<html layout:decorator="_layout/layout">
    <head>
        <title>Reserva de Ambiente</title>
        <style>
            .div-variable {
                border-radius: 5px;
                border: 1px solid #AEBDCD;
                zoom: 1;
            }
            .close-btn {
                position: absolute;
                top: -13px;
                right: -1px;
                z-index: 100;
                border-radius: 50px;
                padding: 5px 10px;
            }
        </style>
    </head>

    <body>

        <div layout:fragment="main">
            <div id="main" v-cloak="">

                <header class="header b-b padder-lg">

                    <div class="pull-right m-t-md">                 
                        <a class="btn btn-success" type="button" th:href="@{/tramite/aula/nuevo}" >Nuevo</a>
                    </div>  

                    <h2>Reserva de Ambiente</h2>

                </header>

                <section class="wrapper-lg">
                    <section class="panel">
                        <section class="panel-body">


                            <raptor-table 
                                v-bind:url="urlfilter" 
                                v-bind:paginate="true"
                                v-bind:preload="true" 
                                ref="raptor">

                                <div slot="header">

                                </div>

                                <template scope="props" >
                                    <table class="table table-striped table-hover">
                                        <thead> 
                                            <tr>
                                                <th class="col-xs-2 text-center">Solicitud</th>
                                                <th class="col-xs-3 text-center v-middle">Solicitante</th>
                                                <th class="col-xs-3 text-center v-middle">Motivo</th>
                                                <th class="col-xs-3 text-center v-middle">Comentario</th>
                                                <th></th>
                                                <th class="col-xs-1 text-center v-middle">Estado</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in props.data">

                                                <td class="v-middle">
                                                    <strong>{{item.tramite.serie}} - {{item.tramite.numero}}</strong>
                                                    <p class="text-xs">{{item.tramite.fechaRegistro}}</p>
                                                </td>

                                                <td class="v-middle">
                                                    <p v-if="item.tipoSolicitante='EMP'">{{item.tramite.empresa.razonSocial}}</p>
                                                    <p v-if="item.tipoSolicitante='ALU'">{{item.tramite.alumno.persona.nombreCompleto}}</p>
                                                    <p v-if="item.tipoSolicitante='DOC'">{{item.tramite.docente.persona.nombreCompleto}}</p>
                                                </td>

                                                <td class="v-middle text-center">
                                                    <p class="text-xs">{{item.motivo}}</p>
                                                </td>

                                                <td class="v-middle text-center">
                                                    <p class="text-xs">{{item.comentario}}</p>
                                                </td>

                                                <td class="v-middle text-center">

                                                    <button v-if="item.reservados.length>0" type="button" 
                                                            class="btn btn-link"
                                                            v-on:click="showMePop($event)"
                                                            data-container="body"
                                                            title="Aulas"
                                                            data-toggle="popover"
                                                            data-placement="left"
                                                            v-bind:data-content="giveMeAulas(item)">
                                                        <i class="fa fa-home" aria-hidden="true"></i>
                                                    </button>

                                                </td>

                                                <td class="v-middle text-center">
                                                    <span class="label label-primary" v-if="item.estado=='ACT'"> Activo </span>
                                                    <span class="label label-success" v-if="item.estado=='RES'"> Reservado </span>
                                                    <span class="label label-default" v-if="item.estado=='PEND'"> Pendiente </span>
                                                    <span class="label label-danger" v-if="item.estado=='ANU'"> Anulado </span>
                                                </td>

                                                <td class="v-middle">
                                                    <div v-if="item.estado == 'PEND'  || item.estado == 'RES'"  class="actions">
                                                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i></a>
                                                        <ul class="dropdown-menu pull-right">
                                                            <li  v-if="item.estado == 'PEND' " ><a  v-bind:href="editarTramite(item)">Editar Aula Reservada</a></li>
                                                            <li ><a  href="#" v-on:click="resumenTramite(item)"  >Resumen</a></li>
                                                            <li v-if="item.estado == 'PEND' || item.estado == 'RES'" class="divider"></li>
                                                            <li v-if="item.estado == 'PEND'  || item.estado == 'RES'">
                                                                <a v-on:click="aceptarTramite(item)" href="#">Aceptar</a>
                                                            </li>
                                                            <li v-if="item.estado == 'PEND' || item.estado == 'RES'">
                                                                <a v-on:click="rechazarTramite(item)" href="#">Rechazar</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </template>
                            </raptor-table>




                        </section>

                    </section>

                </section>


                <modal-vik ref="confirmModal"
                           v-bind="dataConfirmModal"
                           v-bind:okaction="saveConfirmModal">
                    <div slot="body">

                        <div class="panel-body">
                            <div class="row">

                                <form ref="formConfirmModal"  data-parsley-validate="true" >

                                    <div class="form-group">
                                        <label>Comentario</label>
                                        <textarea class="form-control"
                                                  v-model="tramiteactivo.comentario"
                                                  required="true" ></textarea>
                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>
                </modal-vik>


                <modal-vik ref="rechazarModal"
                           v-bind="dataRechazarModal"
                           v-bind:okaction="saveRechazarModal">
                    <div slot="body">

                        <div class="panel-body">
                            <div class="row">

                                <form ref="formRechazarModal"  data-parsley-validate="true" >

                                    <div class="form-group">
                                        <label>Comentario</label>
                                        <textarea class="form-control"
                                                  v-model="tramiteactivo.comentario"
                                                  required="true" ></textarea>
                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>
                </modal-vik>

                <div th:substituteby="programacion/tramiteaula/tramiteaularesumen"></div>

            </div>

            <div th:substituteby="_modules/vue-modal"></div>

        </div>

        <div layout:fragment="js">
            <div th:substituteby="_layout/includes :: sweetalert"/>
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <div th:substituteby="_layout/includes :: vue-loader"/>
            <script type="text/javascript" th:src="@{/phobos/modules/vue-modal.js}"></script>
            <script th:src="@{/app/programacion/tramiteaula/tramiteaulahorarioresumen.js}" charset="utf-8"></script>
            <script th:src="@{/app/programacion/tramiteaula/tramiteaula.js}" charset="utf-8"></script>
        </div>

    </body>
</html>