<html layout:decorator="_layout/layout">
    <head>
        <title>Reserva de Ambiente</title>
    </head>

    <body>

        <div layout:fragment="main">
            <div id="main" v-cloak="">

                <header class="header b-b padder-lg">

                    <div class="pull-right m-t-md">                 
                        <a class="btn btn-success" type="button" th:href="@{/tramite/aula/nuevo}" >Nuevo</a>
                    </div>  

                    <h2>Reserva de Ambiente</h2>

                </header>

                <section class="wrapper-lg">
                    <section class="panel">
                        <section class="panel-body">


                            <raptor-table 
                                v-bind:url="urlfilter" 
                                v-bind:paginate="true"
                                v-bind:preload="true" 
                                ref="raptor">

                                <div slot="header">

                                </div>

                                <template scope="props" >
                                    <table class="table table-striped table-hover">
                                        <thead> 
                                            <tr>
                                                <th class="col-xs-3 text-center">Solicitud</th>
                                                <th class="col-xs-4 text-center v-middle">Solicitante</th>
                                                <th class="col-xs-4 text-center v-middle">Motivo</th>
                                                <th class="col-xs-1 text-center v-middle">Comentario</th>
                                                <th class="col-xs-1 text-center v-middle">Estado</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in props.data">

                                                <td class="v-middle">
                                                    <strong>{{item.tramite.serie}} - {{item.tramite.numero}}</strong>
                                                    <p class="text-xs">{{item.tramite.fechaRegistro}}</p>
                                                </td>

                                                <td class="v-middle">
                                                    <p v-if="item.tipoSolicitante='EMP'">{{item.tramite.empresa.razonSocial}}</p>
                                                    <p v-if="item.tipoSolicitante='ALU'">{{item.tramite.alumno.persona.nombreCompleto}}</p>
                                                    <p v-if="item.tipoSolicitante='DOC'">{{item.tramite.docente.persona.nombreCompleto}}</p>
                                                </td>

                                                <td class="v-middle text-center">
                                                    <p>{{item.motivo}}</p>
                                                </td>

                                                <td class="v-middle text-center">
                                                    <p>{{item.comentario}}</p>
                                                </td>

                                                <td class="v-middle text-center">
                                                    <span class="label label-primary" v-if="item.estado=='ACT'"> Activo </span>
                                                    <span class="label label-default" v-if="item.estado=='PEND'"> Pendiente </span>
                                                    <span class="label label-danger" v-if="item.estado=='ANU'"> Anulado </span>
                                                </td>

                                                <td class="v-middle">
                                                    <div class="actions">
                                                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i></a>
                                                        <ul class="dropdown-menu pull-right">
                                                            <li><a href="#">Opción</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </template>
                            </raptor-table>




                        </section>

                    </section>

                </section>





            </div>
        </div>

        <div layout:fragment="js">
            <div th:substituteby="_layout/includes :: sweetalert"/>
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <div th:substituteby="_layout/includes :: vue-loader"/>
            <script type="text/javascript" th:src="@{/phobos/modules/vuelect2.js}"></script>
            <script type="text/javascript" th:src="@{/phobos/modules/vue-modal.js}"></script>
            <script th:src="@{/app/programacion/tramiteaula/tramiteaula.js}" charset="utf-8"></script>
        </div>

    </body>
</html>