<modal-vik ref="nuevoAnexoModal"
           v-bind="cfgNuevoAnexo"
           v-bind:okaction="verSaveAnexo">
    <div slot="body">
        <div class="panel-body">
            <div class="row">
                <form data-parsley-validate="true" id="formAnexo" >
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Grupo de Anexos</label>
                            <template v-if="anexoTempo.id == '' ">
                                <multiselect v-model='anexoTempo.anexoSuperior'
                                             v-bind:options='anexosSuper'
                                             v-bind:allow-empty="false"
                                             placeholder="Ingresa un caracter como mínimo"
                                             deselect-label=""
                                             label="nombre"
                                             track-by="id"
                                             select-label="Seleccione este anexo">
                                </multiselect>
                                <input type="text" required="" class="hide" v-model="anexoTempo.anexoSuperior.id" data-trigger="change"/>
                            </template>
                            <span v-else="" v-text="anexoTempo.anexoSuperior.nombre" class="form-control"></span>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input v-model="anexoTempo.nombre" class="form-control" required="true" data-trigger="change"/>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Código</label>
                            <input v-model="anexoTempo.codigo" v-on:keyup="upper($event)"
                                   class="form-control" maxlength="10" required="true" data-trigger="change"/>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Orden</label>
                            <input v-model="anexoTempo.orden" v-bind:readonly="anexoTempo.id != '' "
                                   class="form-control numerico" maxlength="2" required="true" data-trigger="change"/>
                        </div>
                    </div>

                    <div v-if="anexoTempo.anexoSuperior.id == 2 || anexoTempo.anexoSuperior.id == 3 "
                         class="col-md-12">
                        <div class="form-group">
                            <label>Departamento Académico</label>
                            <multiselect v-model='anexoTempo.departamentoAcademico'
                                         v-bind:options='departamentos'
                                         v-bind:allow-empty="false"
                                         placeholder="Ingresa un caracter como mínimo"
                                         deselect-label=""
                                         label="nombre"
                                         track-by="id"
                                         select-label="Seleccione este departamento">
                                <template slot="option" slot-scope="props">
                                    <span class="block bold" v-text="props.option.nombre"></span>
                                    <small v-if="props.option.facultad.id != '' " class="block" v-text="'Facultad de ' + props.option.facultad.nombre"></small>
                                </template>
                            </multiselect>
                            <input type="text" required="" class="hide" v-model="anexoTempo.departamentoAcademico.id" data-trigger="change"/>
                        </div>
                    </div>

                    <div v-if="anexoTempo.anexoSuperior.id == 4 "
                         class="col-md-12">
                        <div class="form-group">
                            <label>Especialidad Posgrado</label>
                            <multiselect v-model='anexoTempo.carrera'
                                         v-bind:options='carreras'
                                         v-bind:allow-empty="false"
                                         placeholder="Ingresa un caracter como mínimo"
                                         deselect-label=""
                                         label="nombre"
                                         track-by="id"
                                         select-label="Seleccione esta especialidad"
                                         v-bind:custom-label="labelCarrera">
                                <template slot="option" slot-scope="props">
                                    <span class="block bold" v-text="props.option.nombre"></span>
                                    <small class="block" v-text="props.option.tipoEnum.value"></small>
                                </template>
                            </multiselect>
                            <input type="text" required="" class="hide" v-model="anexoTempo.carrera.id" data-trigger="change"/>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</modal-vik>
