<html layout:decorator="zlayout/layout">
    <head>
        <title>Anexos</title>
    <div th:substituteby="zlayout/includes :: styles-dynatable"></div>
</head>

<body>
    <div layout:fragment="main">

         <header class="header b-b padder-lg">

            <div class="pull-right m-t-md">                 
                <div class="btn-group">
                    <a type="button" class="btn btn-success" th:href="@{/academico/anexo/nuevo}" >Nuevo</a>
                </div>
            </div> 
            <h2>Anexos</h2>
        </header>

        <section class="panel m-b-xs">
            <section class="panel-body">
                <!--<div class="col-md-6">-->
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <a href="#" class="view-count text-danger" rel="ingresantes">
                                <span class="h1 block bold" th:text="${resumen.ingresantes}">23</span>
                                <small class="block m-b-xs">Ingresantes</small>
                            </a>
                        </div>
                        <div class="col-md-3 text-center">
                            <a href="#" class="view-count text-black" rel="departamentos">
                                <span class="h1 block bold" th:text="${resumen.departamentos}">23</span>
                                <small class="block m-b-xs">Departamentos</small>
                            </a>
                        </div>
                        <div class="col-md-3 text-center">
                            <a href="#" class="view-count text-success" rel="postGrados">
                                <span class="h1 block bold" th:text="${resumen.postGrados}">23</span>
                                <small class="block m-b-xs">Posgrado</small>
                            </a>
                        </div>
                        <div class="col-md-3 text-center">
                            <a href="#" class="view-count text-warning" rel="actividades">
                                <span class="h1 block bold" th:text="${resumen.actividades}">23</span>
                                <small class="block m-b-xs">Actividades Deportivas</small>
                            </a>
                        </div>
                    </div>
                <!--</div>-->
            </section>
        </section>




        <section class="panel">
            <section class="panel-body">

                <table class="table table-striped" id="dynaTable">
                    <thead> 
                        <tr> 
                            <th class="col-md-5"></th>
                            <th class="col-md-3 text-left">Carrera</th>
                            <th class="col-md-3 text-left">Departamento</th>
                            <th class="col-md-1">Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </section>
        </section>

        <div th:substituteby="academico/anexoboletin/modalAnexo"/>
        <div th:substituteby="templates/modal"/>
        <script id="anexoTemplate" type="text/x-jsrender" class="hide"><div th:substituteby="academico/anexoboletin/anexoTemplate"/></script>
    </div>

    <div layout:fragment="js">
        <div th:substituteby="zlayout/includes :: javascript-dynatable"/>
        <script th:src="@{/app/academico/anexoboletin/anexo.js}" charset="utf-8"></script>
    </div>

</body>
</html>