<tr rel="{{:index}}">
    <td class="v-middle">
        <span class="block text-primary bold h5">{{:nombre}}</span>
        <span class="block">{{:anexoSuperior}}</span>
        <span class="block">Código {{:codigo}}</span>
        <span class="block bold">Orden {{:orden}}</span>
    </td>
    <td class="v-middle text-left">
        <span class="block">{{:carrera}}</span>
    </td>
    <td class="v-middle text-left">
        <span class="block">{{:departamento}}</span>
    </td>
    <td class=" v-middle">
        <span class="clear">
            {{if esActivo}}
            <span class="label label-{{:colorEstado}}">{{:estadoName}} </span>
            {{/if}}
            {{if esInactivo}}
            <label class="label label-{{:colorEstado}}" data-toggle="tooltip" title="{{:motivo}}">Desactivado</label>
            {{/if}}
        </span>
    </td> 

    <td class="v-middle"> 
        <div class="dropdown actions">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-cog"></i>
            </a> 
            <ul class="dropdown-menu pull-right">
                {{if estado == 'ACT'}}
                <li><a class="btn-link pointer change-estado" rel="{{:id}}" rev="{{:estado}}">Desactivar</a></li>
                {{/if}}
                {{if estado == 'INA' || estado == 'CRE'}}
                <li><a class="btn-link pointer change-estado" rel="{{:id}}" rev="{{:estado}}">Activar</a></li>
                {{/if}}
                <li><a class="btn-link pointer" th:href="@{'/academico/anexo/editar/{{:id}}'}" rev="{{:estado}}">Editar</a></li>
            </ul>
        </div>
    </td>
</tr>
