<modal-vik ref="anularAnexoModal"
           v-bind="cfgAnularAnexo"
           v-bind:okaction="saveCambioEstado">
    <div slot="body">

        <div class="form-group">
            <label class="bold text-danger">¿Está seguro que desea anular este anexo?</label>
            <span class="text-primary form-control">{{anexoTempo.nombre}}</span>
        </div>

        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="m-l">
                            <div class="col-sm-6">

                                <label class="radio inline">
                                    <input type="radio" v-model="anularAnexo" v-on:change="changeAnular()"
                                           required="true"
                                           name="anular"
                                           value="SI" /> Sí &nbsp;&nbsp;&nbsp;&nbsp;
                                </label>

                            </div>
                            <div class="col-sm-6">

                                <label class="radio inline">
                                    <input type="radio" v-model="anularAnexo" v-on:change="changeAnular()"
                                           required="true"
                                           name="anular"
                                           value="NO"  /> No &nbsp;&nbsp;&nbsp;&nbsp;
                                </label>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group"
                 v-if="anularAnexo == 'SI' ">
                <label class="">Indique el motivo de la anulación</label>
                <textarea class="form-control" v-model="anexoTempo.motivoAnulacion" rows="3"></textarea>
            </div>
        </form>
    </div>
</modal-vik>