<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" class="app">
    <head>
        <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">La Molina</title>
        <base th:substituteby="_layout/includes :: styles"/>
        <base th:substituteby="_layout/includes :: favicon"/>
    </head>

    <body>
        <section  layout:fragment="body"> </section>

        <div th:substituteby="_layout/includes :: javascript"/>

        <!--div th:substituteby="_layout/includes :: notificacion"/-->
        <section layout:fragment="js"> JAVASCRIPTS </section>
        <div th:substituteby="_modules/vue-modal-wait"/>
        <div th:substituteby="_layout/includes :: notify"/>
        <div th:substituteby="_layout/includes :: tawkto"/>
    </body>
</html>
