<html layout:decorator="_layout/base">


    <section class="vbox" layout:fragment="body">
        <section>
            <section class="hbox stretch">
                <section id="content">

                    <section class="vbox">
                        <section class="scrollable">

                            <section class="wrapper-lg" >
                                <div layout:fragment="main"> 
                                    <h2>Welcome to Albatross Hell!</h2>
                                </div>
                            </section>

                        </section>

                    </section>
                </section>
                <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
            </section>
        </section>
    </section>


</html>
