<html layout:decorator="_layout/base">

    <div class="hbox stretch"  layout:fragment="BODY">

        <div  class="dock">
            <section  layout:fragment="HEAD"/>

            <section class="panel-body">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 m-b-xl">
                        <div class="panel panel-success">
                            <div class="panel-body">
                                <section  layout:fragment="MAIN"/>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

    </div>
</html>


