<html layout:decorator="_layout/base">
    
    <div class="hbox stretch"  layout:fragment="BODY">
            <aside th:replace="_layout/menu :: sideBarFlat"> BARRA LATERAL </aside>

            <section id="content" class="vbox">
                <section class="scrollable" id="pjax-container">
                    <header th:replace="_layout/menu :: TOPBAR"></header>
                    <section  layout:fragment="main"> </section>
                </section>
            </section>
        </div>    
</html>
