<aside th:fragment="sideBarFlat" class="aside-md">
    <section class="vbox">
        <div class="sidebar-flat sidebar-blue fix-scroll">

            <div class="logo">
                <a href="#" class="nav-brand" data-toggle="fullscreen"></a>
            </div>

            <div class="current-user">
                <a href="#" class="name">
                    <div class="avatar-text" th:inline="text">
                        [[ ${session.SESSION_USUARIO.persona.avatar} ]]
                    </div>

                    <span  class="capitalize" th:inline="text">
                        <div class="elipsis-name inline">
                            [[ ${session.SESSION_USUARIO.persona.paternoNombre} ]]
                        </div>
                        <b class="fa fa-angle-down inline"></b>
                    </span>

                    <span class="role" th:inline="text">[[ ${session.SESSION_USUARIO.rolActivo.nombre} ]]</span>
                </a>

                <ul class="menu">
                    <li th:if="${session.SESSION_USUARIO.roles.size()>1}"><a th:href="@{/changerol}">Cambiar Rol</a></li>
                    <li><a th:href="@{/changeciclo}">Cambiar Ciclo</a></li>
                    <!--<li class="divider"> </li>-->
                    <li><a href="#" onclick="exitSession()">Salir</a></li>
                </ul>
            </div>

            <div class="current-user" th:if="${ambiente != 'prod'}">
                <button class="btn btn-warning" disabled="" 
                        style="font-weight: bold; color: black !important; cursor: default; opacity: 100;">
                    SERVIDOR DE PRUEBAS
                </button>
            </div>
            <div class="current-user" th:if="${session.SESSION_USUARIO.encuestaSunedu}">
                <a th:href="${session.SESSION_USUARIO.rutaEncuentaSunedu}" 
                   class="btn btn-sm btn-default  btn-block  " target="_blank">
                    <i class="fa fa-cubes  text-black"></i>
                    <span class="hidden-folded d-inline  text-black bold">Encuesta Psicológica</span>
                </a>
            </div>

            <div class="section-container">

                <div class="menu-section">
                    <h3>Académico</h3>
                    <ul>
                        <li class="option" 
                            th:each='menu : ${session.SESSION_USUARIO.menu}' >
                            <a href="#" data-toggle="sidebar">
                                <i class="fa fa-th-list"></i>
                                <!--<i th:class="${menu.getIconoClass('fa')}"></i>-->
                                <span th:text="${menu.nombre}">Call Center</span>
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul class="submenu">
                                <li th:each="opcion : ${menu.menus}">
                                    <a th:href="@{${opcion.ruta}}">
                                        <i th:class="${opcion.getIconoClass('fa')}"></i>
                                        <span th:text="${opcion.nombre}">Sedes</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </section>
</aside>

<div th:fragment="TOPBAR"  class="content-header white" id="content-header">

    <div id="chatVue"  v-cloak=""></div>

    <!--div class="navbar navbar-expand-lg">

        <div class="navbar-text-chat flex text-right" id="pageTitle">
            &nbsp;&nbsp;
        </div>

        <ul class="nav flex-row order-lg-2">
            <li class="nav-item dropdown item-chat">
                <a class="nav-link px-3 pointer" data-toggle="dropdown">
                    <i class="fa fa-bell text-muted"></i>
                    <span class="badge badge-pill up-chat danger">9</span>
                </a>
                <div class="dropdown-menu dropdown-menu-chat dropdown-menu-right w-md animate fadeIn mt-2 p-0">
                    <div class="scrollable hover" style="max-height: 250px">
                        <div class="list">
                            <div class="list-item " data-id="item-13">
                                <span class="w-24-chat avatar-chat circle-chat pink">
                                    <span class="fa fa-plus"></span>
                                </span>
                                <div class="list-body">
                                    <a href="" class="item-title _500">Angela Guerra</a>

                                    <div class="item-except text-sm text-muted h-1x">
                                        Cita consejería
                                    </div>

                                    <div class="item-tag tag hide">
                                    </div>
                                </div>
                                <div>
                                    <span class="item-date text-xs text-muted">09:30</span>
                                </div>
                            </div>
                            <div class="list-item " data-id="item-6">
                                <span class="w-24-chat avatar-chat circle-chat brown">
                                    <span class="fa fa-envelope"></span>
                                </span>
                                <div class="list-body">
                                    <a href="" class="item-title _500">Annie Ponce</a>

                                    <div class="item-except text-sm text-muted h-1x">
                                        Derivación AAEE
                                    </div>

                                    <div class="item-tag tag hide">
                                    </div>
                                </div>
                                <div>
                                    <span class="item-date text-xs text-muted">13:23</span>
                                </div>
                            </div>
                            <div class="list-item " data-id="item-1">
                                <span class="w-24-chat avatar-chat circle-chat grey">
                                    <span class="fa fa-comment"></span>
                                </span>
                                <div class="list-body">
                                    <a href="" class="item-title _500">Abdon Ayuque</a>

                                    <div class="item-except text-sm text-muted h-1x">
                                        Derivación Sicología
                                    </div>

                                    <div class="item-tag tag hide">
                                    </div>
                                </div>
                                <div>
                                    <span class="item-date text-xs text-muted">11 julio</span>
                                </div>
                            </div>
                            <div class="list-item " data-id="item-5">
                                <span class="w-24-chat avatar-chat circle-chat grey">
                                    <span class="fa fa-github"></span>
                                </span>
                                <div class="list-body">
                                    <a href="" class="item-title _500">Diego Espinosa</a>

                                    <div class="item-except text-sm text-muted h-1x">
                                        Seminario reforzamiento
                                    </div>

                                    <div class="item-tag tag hide">
                                    </div>
                                </div>
                                <div>
                                    <span class="item-date text-xs text-muted">14 julio</span>
                                </div>
                            </div>
                            <div class="list-item " data-id="item-11">
                                <span class="w-24-chat avatar-chat circle-chat blue">
                                    <span class="fa fa-code-fork"></span>
                                </span>
                                <div class="list-body">
                                    <a href="" class="item-title _500">César Díaz</a>

                                    <div class="item-except text-sm text-muted h-1x">
                                        Curso libre
                                    </div>

                                    <div class="item-tag tag hide">
                                    </div>
                                </div>
                                <div>
                                    <span class="item-date text-xs text-muted">12 julio</span>
                                </div>
                            </div>
                            <div class="list-item " data-id="item-3">
                                <span class="w-24-chat avatar-chat circle-chat green">
                                    <span class="fa fa-html5"></span>
                                </span>
                                <div class="list-body">
                                    <a href="" class="item-title _500">Adelita Lloja</a>

                                    <div class="item-except text-sm text-muted h-1x">
                                        Taller vivencial
                                    </div>

                                    <div class="item-tag tag hide">
                                    </div>
                                </div>
                                <div>
                                    <span class="item-date text-xs text-muted">12 julio</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex px-3 py-2 b-t">
                        <div class="flex">
                            <span>9 Notificaciones</span>
                        </div>
                        <a href="setting.html">Ver todo <i class="fa fa-angle-right text-muted"></i></a>
                    </div>
                </div>
            </li>

            <li class="dropdown d-flex align-items-center m-b-xxs">
                <a href="#" data-toggle="dropdown" class="d-flex align-items-center link-chat m-b-xxs m-r">
                    <span class="w-28-chat avatar-chat circle-chat green" th:inline="text">
                        [[ ${session.SESSION_USUARIO.persona.avatar} ]]
                    </span>
                    <span class="ml-2" th:inline="text">[[ ${session.SESSION_USUARIO.persona.nombreCompleto} ]]</span>
                </a>
            </li>
        </ul>       
    </div-->
</div>




