<aside th:fragment="sideBarFlat" class="aside-md">
    <section class="vbox">
        <div class="sidebar-flat sidebar-blue fix-scroll">

            <div class="logo">
                <a href="#" class="nav-brand" data-toggle="fullscreen"></a>
            </div>

            <div class="current-user">
                <a href="#" class="name">
                    <div class="avatar-text" th:inline="text">
                        [[ ${session.SESSION_USUARIO.persona.avatar} ]]
                    </div>

                    <span  class="capitalize" th:inline="text">
                        <div class="elipsis-name inline">
                            [[ ${session.SESSION_USUARIO.persona.paternoNombre} ]]
                        </div>
                        <b class="fa fa-angle-down inline"></b>
                    </span>

                    <span class="role" th:inline="text">[[ ${session.SESSION_USUARIO.rolActivo.nombre} ]]</span>
                </a>

                <ul class="menu">
                    <li th:if="${session.SESSION_USUARIO.roles.size()>1}"><a th:href="@{/changerol}">Cambiar de Rol</a></li>
                    <li><a th:href="@{/ciclo/changeciclo}">Cambiar de Ciclo</a></li>
                    <!--<li class="divider"> </li>-->
                    <li><a href="#" onclick="exitSession()">Salir</a></li>
                </ul>
            </div>

            <div class="section-container">
                <div class="menu-section">
                    <h3>Académico</h3>
                    <ul>

                        <li class="option"
                            th:if='${ T(java.util.Arrays).asList("IOREA","OREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                            <a href="#" data-toggle="sidebar">
                                <i class="fa fa-magic"></i>
                                <span>Programa de becas</span>
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul class="submenu">
                                <li th:if='${ T(java.util.Arrays).asList("IOREA","OREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                                    <a th:href="@{/academico/convenio}">
                                        <span>Convenio de becas</span>
                                    </a>
                                </li>
                                <li th:if='${ T(java.util.Arrays).asList("IOREA","OREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                                    <a th:href="@{/academico/visitante/alumno}">
                                        <span>Alumno Visitante</span>
                                    </a>
                                </li>
                                <li th:if='${ T(java.util.Arrays).asList("IOREA","OREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                                    <a th:href="@{/academico/becado/alumno}">
                                        <span>Alumno Becado</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="option"
                            th:if='${ T(java.util.Arrays).asList("IOREA","OREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                            <a href="#" data-toggle="sidebar">
                                <i class="fa fa-magic"></i>
                                <span>Procesos</span>
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul class="submenu">
                                <li th:if='${ T(java.util.Arrays).asList("IOREA","OREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                                    <a th:href="@{/academico/planCurricular}">
                                        <span>Plan Estudios</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="option"
                            th:if='${ T(java.util.Arrays).asList("IOREA","OREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                            <a href="#" data-toggle="sidebar">
                                <i class="fa fa-calendar"></i>
                                <span>Horario Ingresantes</span>
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul class="submenu">
                                <li th:if='${ T(java.util.Arrays).asList("IOREA","OREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                                    <a th:href="@{/academico/horariocachimbo/ingresante}">
                                        <span>Ingresantes</span>
                                    </a>
                                </li>
                                <li th:if='${ T(java.util.Arrays).asList("IOREA","OREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                                    <a th:href="@{/academico/horariocachimbo/curso}">
                                        <span>Cursos</span>
                                    </a>
                                </li>
                                <li th:if='${ T(java.util.Arrays).asList("IOREA","OREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                                    <a th:href="@{/academico/horariocachimbo/carrera}">
                                        <span>Carreras</span>
                                    </a>
                                </li>
                                <li th:if='${ T(java.util.Arrays).asList("IOREA","OREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                                    <a th:href="@{/academico/horariocachimbo/horario}">
                                        <span>Horarios</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="option"
                            th:if='${ T(java.util.Arrays).asList("IOREA","OREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                            <a href="#" data-toggle="sidebar">
                                <i class="fa fa-briefcase"></i>
                                <span>Configuración</span>
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul class="submenu">
                                <li th:if='${ T(java.util.Arrays).asList("IOREA","OREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                                    <a th:href="@{/academico/docente}">
                                        <span>Docentes</span>
                                    </a>
                                </li>
                                <li th:if='${ T(java.util.Arrays).asList("IOREA","OREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                                    <a th:href="@{/academico/alumno}">
                                        <span>Alumnos</span>
                                    </a>
                                </li>
                                <li th:if='${ T(java.util.Arrays).asList("IOREA","OREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                                    <a th:href="@{/academico/facultad}">
                                        <span>Facultades</span>
                                    </a>
                                </li>
                                <li th:if='${ T(java.util.Arrays).asList("IOREA","OREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                                    <a th:href="@{/academico/carrera}">
                                        <span>Carreras</span>
                                    </a>
                                </li>
                                <li th:if='${ T(java.util.Arrays).asList("IOREA","OREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                                    <a th:href="@{/academico/curso}">
                                        <span>Cursos</span>
                                    </a>
                                </li>
                                <li th:if='${ T(java.util.Arrays).asList("IOREA","OREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                                    <a th:href="@{/general/oficina}">
                                        <span>Oficinas</span>
                                    </a>
                                </li>
                                <li th:if='${ T(java.util.Arrays).asList("IOREA","OREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                                    <a th:href="@{/academico/matriculable}">
                                        <span>Matriculables</span>
                                    </a>
                                </li>
                                <li th:if='${ T(java.util.Arrays).asList("IOREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                                    <a th:href="@{/general/personaperfil}">
                                        <span>Colaboradores</span>
                                    </a>
                                </li>

                                <li th:if='${ T(java.util.Arrays).asList("IOREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                                    <a th:href="@{/general/persona}">
                                        <span>Personas</span>
                                    </a>
                                </li>

                                <li th:if='${ T(java.util.Arrays).asList("IOREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                                    <a th:href="@{/configuracion/editorcontenido}">
                                        <span>Editor de Contenidos</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="option"
                            th:if='${ T(java.util.Arrays).asList("IOREA","OREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                            <a href="#" data-toggle="sidebar">
                                <i class="fa fa-calendar"></i>
                                <span>Programación</span>
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul class="submenu">
                                <li th:if='${ T(java.util.Arrays).asList("IOREA","OREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                                    <a th:href="@{/academico/horario}">
                                        <span>Grupos</span>
                                    </a>
                                </li>
                                <li th:if='${ T(java.util.Arrays).asList("IOREA","OREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                                    <a th:href="@{/general/aula}">
                                        <span>Aulas</span>
                                    </a>
                                </li>
                                <li th:if='${ T(java.util.Arrays).asList("IOREA","OREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                                    <a th:href="@{/academico/anexo}">
                                        <span>Anexos</span>
                                    </a>
                                </li>
                                <li th:if='${ T(java.util.Arrays).asList("IOREA","OREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                                    <a th:href="@{/academico/gposeccion}">
                                        <span>Programación</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="option">
                            <a href="#" data-toggle="sidebar">
                                <i class="fa fa-bookmark"></i>
                                <span>Actas de Notas</span>
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul class="submenu">
                                <li th:if='${ T(java.util.Arrays).asList("DPTO").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                                    <a th:href="@{/academico/systemcalifica/sistema}">
                                        <span>Sist. Calificación</span>
                                    </a>
                                </li>
                                <li th:if='${ T(java.util.Arrays).asList("DOC").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                                    <a th:href="@{/academico/docente/cargaacademica}">
                                        <span>Carga Académica</span>
                                    </a>
                                </li>

                                <li class="hide">
                                    <a th:href="@{/academico/docente/evaluacion}">
                                        <span>Resumen de Evaluaciones</span>
                                    </a>
                                </li>
                                <li th:if='${ T(java.util.Arrays).asList("IOREA","OREA").contains(session.SESSION_USUARIO.rolActivo.codigo) }'>
                                    <a th:href="@{/academico/acta}">
                                        <span>Control de Actas</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </section>
</aside>




