<html layout:decorator="_layout/layout">
    <head>
        <title th:text="${tipoDocumentoNombre}">Título</title>
    </head>

    <body>
        <div layout:fragment="main">
            <div id="plantillaContenido">
                <header class="header b-b padder-lg">
                    <h2 th:text=" ${tipoDocumentoNombre}">Titulo</h2>
                    <p  class="block text-primary h4 m-t-n-xs" th:text="|Idioma ${idioma}|">Idioma</p>
                </header>

                <section class="wrapper-lg">

                    <section  class="panel">
                        <section class="panel-body">
                            <input id="idCont" type="hidden" th:value="${id}"/>

                            <textarea class="form-control vresize" id="contenido" name="contenido" placeholder="Escribe Aquí" th:text="${contenido}"></textarea>
                        </section>
                        <section class="panel-body text-center v-middle">
                            <a href="/tramite/plantillaconstancia" class="btn btn-link btn-lg">Regresar</a>
                            <button class="btn btn-primary btn-lg" id="updateContenido">Guardar</button>
                        </section>
                    </section>
                </section>
            </div>
        </div>

        <div layout:fragment="js" th:remove='tag'>

            <div th:substituteby="_layout/includes :: javascript-upload" th:remove='tag'></div>
            <div th:substituteby="_layout/includes :: javascript-ckeditor" th:remove="tag"></div>
            <script th:src="@{/app/tramite/editorContenido/contenido.js}" charset="utf-8"></script>
        </div>
    </body>
</html>
