<html layout:decorator="_layout/layout">
    <head>
        <title th:text="${tipoDocumentoNombre}">Título</title>
        <style>
            .div-variable {
                border-radius: 5px;
                border: 1px solid #AEBDCD;
                zoom: 1;
            }
            .close-btn {
                position: absolute;
                top: -13px;
                right: -1px;
                z-index: 100;
                border-radius: 50px;
                padding: 5px 10px;
            }
        </style>
    </head>

    <body>
        <div layout:fragment="main">
            <div id="main" v-cloak="">
                <header class="header b-b padder-lg">
                    <a v-if="tipoDocumentoNombre != ''" th:href="@{/tramite/plantillaconstancia}" class="btn btn-default btn-sm pull-right">Regresar</a>
                    <a v-else="" th:href="@{/tramite/plantillainscrustacion}" class="btn btn-default btn-sm pull-right">Regresar</a>
                    <h2 v-text=" tipoDocumentoNombre">Titulo</h2>
                    <p  class="block text-primary h4 m-t-n-xs" th:text="|Idioma ${idioma}|">Idioma</p>
                </header>

                <section class="wrapper-lg">

                    <section  class="panel">

                        <section class="panel-body">
                            <form id="form" method="POST" >

                                <input  type="hidden" name="idalumno" v-bind:value="alumno.id"/>

                                <input  type="hidden" name="id" th:value="${id}"/>
                                <textarea class="form-control vresize"  name="contenido" placeholder="Escribe Aquí" th:text="${contenido}"></textarea>

                            </form>
                        </section>

                        <section class="panel-body text-center v-middle">
                            <button v-on:click="updateContenido" class="btn btn-primary" id="updateContenido">Guardar</button>
                            <button type="button" v-on:click.prevent="previewHtml" class="btn btn-warning btn-sm ">Visualización</button>
                        </section>
                    </section>
                    <section class="panel">
                        <section class="panel-body">

                            <h3>Variables</h3>
                            <div class="qrow">
                                <div v-for="item in variablePlantilla" class="col-sm-3 panel">
                                    <button class="btn btn-danger btn-sm close-btn" v-on:click="deleteVariable(item)">
                                        <i class="fa fa-times"></i>
                                    </button>
                                    <div class="div-variable panel-body">
                                        <div class="form-group col-lg-12">
                                            <span v-text="item.variableGenerica.codigo" class="text-danger bold block"></span>
                                            <span v-text="item.variableGenerica.descripcion" class="text-primary bold block"></span>
                                            <input type="text" class="form-control " v-model="item.ejemplo" v-on:keyup.enter="updateVariable(item)"/>
                                        </div>
                                        <div class="col-lg-10 ">
                                            <div class="form-group">
                                                <label>¿Es parametro? </label>
                                                <label class="switch">
                                                    <input type="checkbox" name="esParametro" value="true" v-model="item.esParametro"  v-on:change="updateVariable(item)"/>
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 panel">
                                    <button class="btn btn-success btn-sm close-btn" v-on:click="addVariable()">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                    <div class="div-variable panel-body">
                                        <div class="form-group">
                                            <multiselect v-model="contVariable.variableGenerica" 
                                                         v-bind:options='variables'
                                                         label='codigo'
                                                         track-by='id'
                                                         deselect-label=""
                                                         select-label=""
                                                         v-bind:allow-empty="false"
                                                         v-bind:hide-selected="true"
                                                         v-on:input="">
                                            </multiselect>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Ingrese ejemplo" v-model="contVariable.ejemplo"/>
                                        </div>
                                        <div class="col-lg-10">
                                            <div class="form-group">
                                                <label>¿Es parametro? </label>
                                                <label class="switch">
                                                    <input type="checkbox" name="esParametro" value="true" v-model="contVariable.esParametro"/>
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>
                </section>

                <div th:substituteby="tramite/editarContenido/contenidopreview"></div>

            </div> 

        </div>

        <div layout:fragment="js" th:remove='tag'>
            <script th:inline="javascript">
                var variablePlantillaJson = /*[[${variablePlantilla}]]*/ {};
                var variablesJson = /*[[${variables}]]*/ {};
                var id = /*[[${id}]]*/ {};
                var tipoDocumento = /*[[${tipoDocumentoNombre}]]*/ {};
            </script>
            <div th:substituteby="_modules/vue-modal"></div>
            <div th:substituteby="_layout/includes :: javascript-upload" th:remove='tag'></div>
            <div th:substituteby="_layout/includes :: javascript-ckeditor" th:remove="tag"></div>
            <div th:substituteby="_layout/includes :: javascript-filedownload"/>
            <script th:src="@{/app/tramite/editorContenido/contenidoalumno.js}" charset="utf-8"></script>
            <script th:src="@{/app/tramite/editorContenido/contenido.js}" charset="utf-8"></script>

        </div>
    </body>
</html>
