<modal-vik ref="modalRetiroCiclo"
           v-bind="modalRetiroCiclo"
           v-bind:okaction="saveTramiteRetiroCiclo">
    <div slot="body">
        <div class="modal-body">
            <form id="form" data-parsley-validate="true"><!-- method="POST" th:action="@{/academico/matriculable/save}"-->
                <div class="row m-b-md">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Alumno</label>
                            <multiselect v-model="tramiteRetiroCiclo.alumno" 
                                         v-bind:options='alumnos'
                                         v-on:search-change="loadAlumno"
                                         v-bind:custom-label='customLabel'
                                         track-by='id'
                                         v-bind:show-labels="false"
                                         v-bind:allow-empty="false"
                                         v-bind:internal-search='false'
                                         placeholder="Ingresa un caracter como mínimo"
                                         required="true" >
                                <template slot="option" slot-scope="props">
                                    <div class="option__desc">
                                        <span class="option__title block bold">{{ props.option.persona.nombreCompleto }} </span>
                                        <span class="option__small">{{ props.option.persona.tipoDocumento.simbolo }} - {{ props.option.persona.numeroDocIdentidad }}</span>
                                    </div>
                                </template>
                            </multiselect>
                            <input v-model="tramiteRetiroCiclo.alumno" required="true" type="text" class="hide"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Ciclos</label>
                            <multiselect v-model="tramiteRetiroCiclo.cicloAcademico" 
                                         v-bind:options='ciclos'
                                         label="descripcion"
                                         track-by='id'
                                         v-bind:show-labels="false"
                                         v-bind:allow-empty="false"
                                         v-bind:internal-search='false'
                                         placeholder="Seleccione un ciclo"
                                         required="true" >
                            </multiselect>
                            <input v-model="tramiteRetiroCiclo.cicloAcademico" required="true" type="text" class="hide"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Motivo</label>
                            <textarea class="form-control textarea" v-model="tramiteRetiroCiclo.motivo" minlength="15" required=""></textarea>
                        </div>
                    </div>
                    <hr/>
                </div>
            </form>
        </div>
    </div>
</modal-vik>