<html layout:decorator="_layout/layout">
    <head>
        <title>Facultad</title>
    <div th:substituteby="_layout/includes :: styles-dynatable"></div>
</head>

<body>
    <div layout:fragment="main">

         <header class="header b-b padder-lg">
            
            <a class="btn btn-info pull-right" th:href="@{/academico/facultad/nuevo}" >Nueva Facultad</a>
            <h3>Facultad</h3>
            
        </header>

        <section class="panel">
            <section class="panel-body">


                <table  id="dynaTable" class="table table-striped">
                    <thead class="panel panel-heading">
                        <tr>
                            <th class="col-xs-1 text-center v-middle">Código</th>
                            <th class="col-xs-8 text-center v-middle">Nombre</th>
                            <th class="col-xs-1 text-center v-middle">Código Curso</th>
                            <th class="col-xs-1 text-center v-middle">Código Documento</th>
                            <th class="col-xs-1 text-center v-middle">Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </section>

        </section>

        <script id="facultadTemplate" type="text/x-jsrender" class="hide">
            <div th:substituteby="academico/facultad/facultadTemplate"></div>
        </script>

        <div id="motivoDesactivacionTemplate" type="text/x-jsrender" class="hide">
            <div class="panel-body" >
                <form data-parsley-validate="true" method="POST" >
                    <div class="row" >
                        <div class="form-group" >
                            <label  class="col-sm-3 control-label">¿Por qué motivo desea deshabilitar la facultad?</label>
                            <div class="col-sm-6">
                                <textarea class="form-control" maxlength="200" required="true" name="motivoDesactivacion" ></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div layout:fragment="js">
        <div th:substituteby="_layout/includes :: javascript-dynatable"/>
        <script th:src="@{/app/academico/facultad/facultad.js}" charset="utf-8"></script>
    </div>

</body>
</html>
