<html layout:decorator="_layout/layout">
    <head>
        <title>Carreras</title>
    </head>

    <body>
        <div layout:fragment="main">
            <div id="carreraFormVUE" v-cloak="">

                <header class="header b-b padder-lg">
                    <a href="/academico/carrera" class="btn btn-default btn-sm pull-right">Regresar</a>

                    <h2 v-if="carrera.id != '' " class="m-b-n">{{carrera.nombre}} ({{carrera.codigo}})</h2>
                    <h2 v-else="" class="m-b-n">Especialidad Nueva</h2>
                    <span v-if="carrera.modalidadEstudio.codigo == 'EPG' " class="block h4 text-primary m-t-xxs m-b"><span v-if="carrera.tipoEnum != null ">{{carrera.tipoEnum.value}}</span></span>
                    <span v-else-if="carrera.modalidadEstudio.codigo == 'PRE' " class="block m-b"><strong >Modalidad:</strong> <span v-text="carrera.modalidadEstudio.nombre">Matematicas</span></span>
                </header>

                <section class="wrapper-lg">
                    <section class="panel m-b-md">
                        <section class="panel-body">

                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item active ">
                                    <a class="nav-link active bold" data-toggle="tab" href="#carrera" role="tab">Carrera</a>
                                </li>
                                <li class="nav-item"  v-if="carrera.id != '' ">
                                    <a class="nav-link bold" data-toggle="tab" href="#orientacion" role="tab">Orientaciones</a>
                                </li>
                            </ul>


                            <div class="tab-content">
                                <div class="tab-pane active" id="carrera" role="tabpanel">

                                    <form data-parsley-validate="true" id="formCarrera">

                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>Nombre</label>
                                                <input class="form-control" v-on:blur="revisar('NOMBRE',carrera,'nombre')" required="true" v-model="carrera.nombre"  />
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group" >
                                                <label>Código</label>
                                                <input v-if="carrera.id == '' " v-model="carrera.codigo" v-on:blur="revisar('CODIGO',carrera,'codigo')" maxlength="10" class="form-control" required="true"/>
                                                <span v-else="" class="form-control text-primary" v-text="carrera.codigo"></span>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group" >
                                                <label>Modalidad</label>
                                                <span v-if="carrera.id == '' ">
                                                    <multiselect v-model="carrera.modalidadEstudio" 
                                                                 v-bind:options='modalidades'
                                                                 label='nombre'
                                                                 track-by='id'
                                                                 v-bind:allow-empty="false"
                                                                 placeholder="Seleccione una modalidad">

                                                    </multiselect>
                                                    <input type="text" v-model="carrera.modalidadEstudio.id" class="hide" required="true" />
                                                </span>
                                                <span v-else="" class="form-control text-primary" v-text="carrera.modalidadEstudio.nombre"></span>
                                            </div>
                                        </div>


                                        <div v-if="carrera.modalidadEstudio.codigo == 'EPG'">
                                            <div class="col-lg-6 form-group">
                                                <label>Tipo</label>
                                                <span v-if="carrera.id == '' ">
                                                    <multiselect v-model="carrera.tipoEnum" 
                                                                 v-bind:options='tipos'
                                                                 label='value'
                                                                 track-by='name'
                                                                 v-bind:allow-empty="false"
                                                                 placeholder="Seleccione el tipo de especialidad">

                                                    </multiselect>
                                                    <input type="text" v-if="carrera.tipoEnum != null" v-model="carrera.tipoEnum.name" class="hide" required="true" />
                                                </span>
                                                <span v-else="" class="form-control text-primary" v-text="carrera.tipoEnum.value"></span>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Facultad</label>
                                                <multiselect v-model="carrera.facultad" 
                                                             v-bind:options='facultades'
                                                             label='nombre'
                                                             track-by='id'
                                                             v-bind:allow-empty="false"
                                                             placeholder="Seleccione una facultad">

                                                </multiselect>
                                                <input type="text" v-model="carrera.facultad.id" class="hide" required="true" />
                                            </div>
                                        </div>


                                        <div v-if="carrera.modalidadEstudio.codigo == 'EPG'">
                                            <div class="col-lg-6 form-group">
                                                <label>Área Posgrado</label>
                                                <multiselect v-model="carrera.areaPosgrado" 
                                                             v-bind:options='areasPosgrado'
                                                             label='nombre'
                                                             track-by='id'
                                                             v-bind:allow-empty="false"
                                                             placeholder="Seleccione un área de posgrado">

                                                </multiselect>
                                                <input type="text" v-model="carrera.areaPosgrado.id" class="hide" required="true" />
                                            </div>
                                        </div>


                                    </form>

                                    <div class=" text-center col-lg-12">
                                        <a class="btn btn-link" th:href="@{'/academico/carrera'}">Regresar</a>
                                        <button class="btn btn-primary" v-on:click="verSaveCarrera" >
                                            <span v-if="carrera.id == '' ">Crear</span> 
                                            <span v-else="">Actualizar</span> 
                                            Especialidad
                                        </button>
                                    </div>

                                </div>


                                <div class="tab-pane" id="orientacion" role="tabpanel" >
                                    <header >
                                        <div class="btn-group pull-right">
                                        </div>
                                    </header>
                                    <br/>
                                    <section class="panel m-t-lg">
                                        <section class="panel-body">

                                            <div class="col-sm-3" v-if="orientaciones.length > 0 &amp;&amp; nuevasOris==0">
                                                <label class="col-sm-4 control-label text-right">Editar</label>
                                                <div class="col-sm-8">
                                                    <label class="switch">
                                                        <input type="checkbox" v-model="editarOrientaciones" value="1" v-on:change="prepararCambio"/>
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <form data-parsley-validate="true" id="formOrientacion">
                                                <table  class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th class="col-md-2 text-center">Código</th>
                                                            <th class="col-md-8">Nombre</th>
                                                            <th class="col-md-2 text-center">Estado</th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="(ori,index) in orientaciones ">
                                                            <td class="text-center v-middle" v-text="ori.codigo"></td>
                                                            <td class="v-middle">
                                                                <input v-if="ori.id == null "
                                                                       v-model='ori.nombre'
                                                                       v-on:blur="revisar('NOMBRE',ori,'nombre')" class="form-control" type="text" required=""/>

                                                                <input v-else-if="ori.estado=='ACT' &amp;&amp; editarOrientaciones" 
                                                                       v-model='ori.nombre2' 
                                                                       v-on:blur="revisar('NOMBRE',ori,'nombre2')" class="form-control" type="text" required=""/>

                                                                <div v-else="" v-text="ori.nombre"></div>
                                                            </td>
                                                            <td class="text-center v-middle">
                                                                <template v-if="ori.motivoAnulacion != '' ">
                                                                    <i class="fa fa-info-circle text-primary fa-lg"
                                                                       data-toggle="tooltip" v-bind:title="ori.motivoAnulacion"></i> &nbsp;
                                                                </template>
                                                                <div v-if="ori.estado=='ACT' " class="label label-success" v-text="ori.estadoEnum.value"></div>
                                                                <div v-if="ori.estado=='INA' " class="label label-danger" v-text="ori.estadoEnum.value"></div>
                                                                <div v-if="ori.estado=='PEND' " class="label label-warning" v-text="ori.estadoEnum.value"></div>


                                                            </td>
                                                            <td class="v-middle">
                                                                <span v-if="ori.id != null &amp;&amp; ori.nombre != ori.nombre2"
                                                                      v-on:click="updateOrientacion(ori,index)" class="fa-stack fa-lg text-warning pointer" >
                                                                    <i class="fa fa-circle fa-stack-2x"></i>
                                                                    <i class="fa fa-floppy-o fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </td>
                                                            <td class="v-middle">
                                                                <span v-if="ori.estado=='ACT' &amp;&amp; editarOrientaciones" 
                                                                      v-on:click="verEliminar(ori,index)" class="fa-stack fa-lg text-danger pointer">
                                                                    <i class="fa fa-circle fa-stack-2x"></i>
                                                                    <i class="fa fa-times fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                                <span v-if="ori.estado=='INA' &amp;&amp; editarOrientaciones" 
                                                                      v-on:click="incluir(ori,index)" class="fa-stack fa-lg text-success pointer">
                                                                    <i class="fa fa-circle fa-stack-2x"></i>
                                                                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                                <span v-if="ori.estado=='PEND' " 
                                                                      v-on:click="remover(ori,index)" class="fa-stack fa-lg text-danger pointer">
                                                                    <i class="fa fa-circle fa-stack-2x"></i>
                                                                    <i class="fa fa-times fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </form>
                                        </section>
                                        <div class="text-center">
                                            <button class="btn btn-primary btn-sm" v-on:click="addOrientacion" v-if="!editarOrientaciones">
                                                <i class="fa fa-plus" ></i> <strong> Agregar Orientación</strong>
                                            </button>
                                            <button class="btn btn-warning btn-sm" v-if="nuevasOris > 0" v-on:click="saveOrientaciones">
                                                Guardar Cambios
                                            </button>
                                        </div>

                                    </section>
                                </div>

                            </div>



                        </section>
                        <hr/>

                    </section>
                    <div th:substituteby="academico/carrera/modalOrientacion"></div>
                    <div th:substituteby="_modules/vue-modal-confirm"></div>

                </section>
            </div>
        </div>

        <div layout:fragment="js">
            <script th:inline="javascript" >
                /*<![CDATA[*/
                var carreraJson = /*[[${carrera.toString()}]]*/'';
                var facultadesJson = /*[[${facultades.toString()}]]*/'';
                var modalidadesJson = /*[[${modalidades.toString()}]]*/'';
                var areasPosgradoJson = /*[[${areasPosgrado.toString()}]]*/'';
                var tiposJson = /*[[${tipos.toString()}]]*/'';
                var orientacionesJson = /*[[${orientaciones.toString()}]]*/'';
                var rutaModulo = 'academico/carrera';
                /*]]>*/
            </script>
            <div th:substituteby="_modules/vue-modal"></div>
            <script th:src="@{/app/academico/carrera/carreraForm.js}" charset="utf-8"></script>
        </div>

    </body>
</html>