<html layout:decorator="zlayout/layout">
    <head>
        <title>Carreras</title>
    <div th:substituteby="zlayout/includes :: styles-dynatable"></div>
</head>

<body>
    <div layout:fragment="main">

        <header class="page-header">
            <h2 th:text="${carrera.id != null ? 'Editar Carrera' : 'Nueva Carrera'}">Nuevo Rol</h2>
        </header>

        <div class="col-lg-12">
            <section class="panel">
                <section class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item active ">
                            <a class="nav-link active bold" data-toggle="tab" href="#carrera" role="tab">Carrera</a>
                        </li>
                        <li class="nav-item"  th:if="${carrera.id != NULL AND carrera.modalidadEstudio.codigo == 'PRE'}">
                            <a class="nav-link bold" data-toggle="tab" href="#orientacion" role="tab">Orientación</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content active">
                        <div class="tab-pane active" id="carrera" role="tabpanel">
                            <div class="col-lg-6 active">
                                <form data-parsley-validate="true" id="formularioCarrera" method="POST" th:action="@{'/academico/carrera/save'}">
                                    <input type="hidden" th:value="${carrera.id}" name="id" class="idCarrera"/>

                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input name="nombre" class="form-control" required="true" th:value="${carrera} != null ? ${carrera.nombre} : ''" 
                                               th:if="${carrera.id == null or carrera.estado == 'CRE'}"/>
                                        <input name="nombre" class="form-control" required="true" th:value="${carrera} != null ? ${carrera.nombre} : ''" disabled='disabled'
                                               th:if="${carrera.id != null and carrera.estado == 'INA'}"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Código</label>
                                        <input name="codigo" class="form-control" th:disabled="${carrera.id} ? 'true':'false'" required="true" 
                                               th:value="${carrera} != null ? ${carrera.codigo} : ''" />
                                    </div>
                                    <div class="form-group">
                                        <label>Facultad</label>
                                        <select class="form-control" name="facultad.id" placeholder="Seleccione la facultad"  
                                                th:if="${carrera.id == null or carrera.estado == 'CRE'}">
                                            <option></option>
                                            <option th:each="item : ${facultades}"
                                                    th:value="${item.id}"
                                                    th:text="${item.nombre}"
                                                    th:selected="${carrera.facultad} ? ${item.id == carrera.facultad.id}">
                                            </option>
                                        </select>
                                        <input  class="form-control" th:value="${carrera.facultad != null ? carrera.facultad.nombre : ''}" disabled='disabled'
                                                th:if="${carrera.id != null and carrera.estado != 'CRE'}"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Modalidad</label>
                                        <select class="form-control modalidadEstudio" name="modalidadEstudio.id" placeholder="Seleccione la modalidad" 
                                                th:if="${carrera.id == null or carrera.estado == 'CRE'}">
                                            <option></option>
                                            <option th:each="item : ${modalidades}"
                                                    th:value="${item.id}"
                                                    th:rel="${item.codigo}"
                                                    th:text="${item.nombre}"
                                                    th:selected="${carrera.modalidadEstudio} ? ${item.id == carrera.modalidadEstudio.id}">
                                            </option>
                                        </select>
                                        <input  name="modalidadEstudio.id" class="form-control modalidadEstudio" th:value="${carrera != null ? carrera.modalidadEstudio.nombre : ''}" 
                                                th:rel="${carrera != null ? carrera.modalidadEstudio.codigo : ''}" 
                                                disabled='true' th:if="${carrera.id != null and carrera.estado != 'CRE'}"/>
                                    </div>
                                    <div class="form-group divTipoCarrera">
                                        <label>Tipo</label>
                                        <input type='text' name="tipo" class='form-control tipo' 
                                               th:value="${carrera.tipo != null ? T(pe.edu.lamolina.pivot.zelper.enums.TipoCarreraEnum).valueOf(carrera.tipo).name():''}"
                                               th:rel=" ${carrera.tipo != null ? T(pe.edu.lamolina.pivot.zelper.enums.TipoCarreraEnum).valueOf(carrera.tipo).value:''}"  required="true" 
                                               data-trigger="change"  th:if="${carrera.id == null or carrera.estado == 'CRE'}"/>
                                        <input type='text' name="tipo" class='form-control tipo' 
                                               th:value="${T(pe.edu.lamolina.pivot.zelper.enums.TipoCarreraEnum).valueOf(carrera.tipo).value}" 
                                               th:rel=" ${T(pe.edu.lamolina.pivot.zelper.enums.TipoCarreraEnum).valueOf(carrera.tipo).name()}" disabled="disabled"
                                               th:if="${carrera.id != null and carrera.estado != 'CRE'}"/>
                                    </div>
                                </form>
                                <div class=" text-center">
                                    <a class="btn btn-link" th:href="@{'/academico/carrera'}">Regresar</a>
                                    <a class="btn btn-success save-update-carrera"  th:text="${carrera.id != null ? 'Actualizar' : 'Crear Carrera'}">Crear Carrera</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="orientacion" role="tabpanel" >
                            <header >
                                <div class="btn-group pull-right">
                                </div>
                            </header>
                            <br/>
                            <section class="panel m-t-lg">
                                <section class="panel-body">
                                    <div class="form-group" th:if="${carrera.id}">
                                        <table  class="table table-striped" id="dynaTable">
                                            <thead>
                                                <tr>
                                                    <th class="col-md-2">Código</th>
                                                    <th class="col-md-4 text-left">Facultad</th>
                                                    <th class="col-md-6 text-left">Nombre</th>
                                                    <th class="col-md-1">Estado</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </section>
                                <div class="text-center">
                                    <a class="btn btn-info btn-sm add-orientacion"><i class="fa fa-plus" aria-hidden="true"><strong> Agregar Orientación</strong></i></a>
                                </div>

                            </section>
                        </div>
                    </div>

                </section>
                <hr/>

            </section>
        </div>
        <div th:substituteby="templates/modal"/>
        <div th:substituteby="academico/carrera/modalCarrera"/>
        <div th:if="${carrera.id}">
            <script id="orientacionTemplate" type="text/x-jsrender" class="hide"><div th:substituteby="academico/carrera/orientacionTemplate"/></script>
        </div>

    </div>

    <div layout:fragment="js">
        <div th:substituteby="zlayout/includes :: javascript-dynatable"/>
        <script th:src="@{/app/academico/carrera/carreraForm.js}" charset="utf-8"></script>
    </div>

</body>
</html>