<html layout:decorator="zlayout/layout">
    <head>
        <title>Carreras</title>
    <div th:substituteby="zlayout/includes :: styles-dynatable"></div>
</head>

<body>
    <div layout:fragment="main">

        <header class="page-header">
            <h2 th:text="${carrera.id != null ? 'Editar Carrera' : 'Nueva Carrera'}">Nuevo Rol</h2>
        </header>

        <div class="col-lg-12">
            <section class="panel">
                <section class="panel-body">

                    <div class="col-lg-6">
                        <form data-parsley-validate="true" id="formularioCarrera" method="POST" th:action="@{'/'}">
                            <input type="hidden" th:value="${carrera.id}" name="id"/>

                            <div class="form-group">
                                <label>Nombre</label>
                                <input name="nombre" class="form-control" required="true" th:value="${carrera} != null ? ${carrera.nombre} : ''"/>
                            </div>
                            <div class="form-group">
                                <label>Código</label>
                                <input name="codigo" class="form-control" maxlength="10" required="true" th:value="${carrera} != null ? ${carrera.codigo} : ''"/>
                            </div>
                            <div class="form-group">
                                <label>Modalidad</label>
                                <select class="form-control" name="modalidadEstudio.id">
                                    <option th:each="item : ${modalidades}"
                                            th:value="${item.id}"
                                            th:text="${item.nombre}"
                                            th:selected="${carrera.modalidadEstudio.id} != null ${item.id == carrera.modalidadEstudio.id} : ''">
                                    </option>
                                </select>
                            </div>

                        </form>
                    </div>

                    <div class="col-lg-6">

                        <div class="form-group"  th:unless="${carrera.id}">
                            <br/>
                            <div class="alert alert-warning">
                                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  </strong>
                                Debe crear el rol para agregar guias de instrucción.
                            </div>
                        </div>
                        <div class="form-group" th:if="${carrera.id}">
                            <label>Orientación Carrera</label>
                            <table  class="table table-striped">
                                <tbody>
                                    <tr th:each="item, iter : ${carrera.orientacionCarrera}">
                                        <td>
                                            <input type="hidden" th:name="|orientacionCarrera[${iter.index}].id|" th:value="${item.id}"/>
                                            <input type="text" class="form-control" th:name="|orientacionCarrera[${iter.index}].codigo|" th:value="${item.codigo}"/>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" th:name="|orientacionCarrera[${iter.index}].nombre|" th:value="${item.nombre}"/>
                                        </td>
                                        <td class="v-middle"> 
                                            <a class="btn btn-warning btn-sm delete-orientacion" th:attr="rel=${item.id},rev=${carrera.id}"><i class="fa fa-times pointer" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center add-orientacion" colspan="2"><a class="btn btn-info btn-sm"><i class="fa fa-plus" aria-hidden="true"><strong> Agregar Orientación</strong></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <hr/>
                <div class=" text-center">
                    <a class="btn btn-link" th:href="@{'/academico/carrera'}">Regresar</a>
                    <a class="btn btn-success save-update-rol"  th:text="${carrera.id != null ? 'Actualizar' : 'Crear Orientación'}">Crear Nuevo Rol</a>
                </div>
            </section>
        </div>
        <div th:substituteby="academico/carrera/modalOrientacion"/>

    </div>

    <div layout:fragment="js">
        <div th:substituteby="zlayout/includes :: javascript-dynatable"/>
        <script th:src="@{/app/academico/carrera/carrera.js}" charset="utf-8"></script>
    </div>

</body>
</html>