<tr rel="{{:index}}">

    <td class="v-middle">
        <span class="block"><strong>Carrera: </strong>{{:nombre}}</span>
        <span class="block"><strong>Facultad: </strong>{{:facultad}}</span>
        <span class="block"><strong>Código: </strong>{{:codigo}}</span>
    </td>
    <td class="v-middle text-left">
        <span class="block">{{:modalidad}}</span>
        <span class="block">{{:tipoEnum}}</span>
    </td>
    <td class=" text-left">
        {{for oriCarreras}}
        <a target="_blank">
            <span class="block"><i class="fa fa-check-square-o  fa-lg text-dark pointer" aria-hidden="true"></i>&nbsp;&nbsp;{{:nombre}} </span>
        </a>
        {{/for}}
    </td>
    <td class=" v-middle">
        <span class="clear">
            {{if esActivo}}
            <span class="label label-{{:colorEstado}}">{{:estadoEnum}} </span>
            {{/if}}
            {{if esInactivo}}
            <label class="label label-{{:colorEstado}}"  data-toggle="tooltip" title="{{:motivo}}">Desactivado</label>
            {{/if}}
        </span>
    </td> 
    <td class="v-middle"> 
        <div class="dropdown actions">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-cog"></i>
            </a> 

            <ul class="dropdown-menu pull-right">
                <li><a class="btn-link pointer" th:href="@{'/academico/carrera/editar/{{:id}}'}">Editar</a></li>
                {{if !esActivo}}
                <li><a class="btn-link pointer change-estado" rel="{{:id}}" rev="{{:estado}}">Activar</a></li>
                {{/if}}
                {{if esActivo}}
                <li><a class="btn-link pointer change-estado" rel="{{:id}}" rev="{{:estado}}">Desactivar</a></li>
                {{/if}}
            </ul>
        </div>
    </td>
</tr>
