<html layout:decorator="_layout/layout">
    <head>
        <title>Carreras</title>
    <div th:substituteby="_layout/includes :: styles-dynatable"></div>
</head>

<body>
    <div layout:fragment="main">

        <header class="header b-b padder-lg">

            <div class="pull-right m-t-md">                 
                <div class="btn-group">
                    <a type="button" class="btn btn-success" th:href="@{/academico/carrera/nuevo}" >Nuevo</a>
                </div>
            </div> 
            <h2>Carreras</h2>
        </header>
        <section class="wrapper-lg">
            <section class="panel m-b-md">
                <section class="panel-body">
                    <!--<div class="col-md-6">-->
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <a href="#" class="view-count text-danger" rel="pregrados">
                                <span class="h1 block bold" th:text="${resumen.pregrados}">23</span>
                                <small class="block m-b-xs">Pregrado</small>
                            </a>
                        </div>
                        <div class="col-md-3 text-center">
                            <a href="#" class="view-count text-black" rel="posgrados">
                                <span class="h1 block bold" th:text="${resumen.posgrados}">23</span>
                                <small class="block m-b-xs">Posgrado</small>
                            </a>
                        </div>
                        <div class="col-md-3 text-center">
                            <a href="#" class="view-count text-success" rel="especiales">
                                <span class="h1 block bold" th:text="${resumen.especiales}">23</span>
                                <small class="block m-b-xs">Especial</small>
                            </a>
                        </div>
                        <div class="col-md-3 text-center">
                            <a href="#" class="view-count text-warning" rel="visitantes">
                                <span class="h1 block bold" th:text="${resumen.visitantes}">23</span>
                                <small class="block m-b-xs">Visitante</small>
                            </a>
                        </div>
                    </div>
                    <!--</div>-->
                </section>
            </section>

            <section class="panel">
                <section class="panel-body">

                    <table class="table table-striped" id="dynaTable">
                        <thead> 
                            <tr class=""> 
                                <th class="col-md-4"></th>
                                <th class="col-md-4 text-center">Modalidad / Tipo</th>
                                <th class="col-md-2 text-left">Orientaciones</th>
                                <th class="col-md-1">Estado Admision</th>
                                <th class="col-md-1">Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </section>
            </section>

        </section>
        <div th:substituteby="academico/carrera/modalCarrera"/>
        <div th:substituteby="templates/modal"/>
        <script id="carreraTemplate" type="text/x-jsrender" class="hide"><div th:substituteby="academico/carrera/carreraTemplate"/></script>
    </div>

    <div layout:fragment="js">
        <div th:substituteby="_layout/includes :: javascript-dynatable"/>
        <script th:src="@{/app/academico/carrera/carrera.js}" charset="utf-8"></script>
    </div>

</body>
</html>