
<div id="divEvaluacion" type="text/x-jsrender" class="hide">
    <form id="{{:form}}">
        <input id="txtEvaluacionId" type="hidden" value="{{:evaluacionId}}"/>

        <div class="row m-b-xs">
            <div class="form-group">
                <label  class="col-sm-4  bold">Evaluacion: </label>
                <div class="col-sm-8">
                    <span>{{:tEvaluacionCodigo}} {{:numero}}</span>
                </div>

            </div>
        </div>
        <div class="row m-b-xs">
            <div class="form-group">
                <label  class="col-sm-4  bold">Nota Mínima: </label>
                <div class="col-sm-2">

                    <span >{{:notaminima}}</span>
                </div>

                <label  class="col-sm-4  bold">Nota Máxima:</label>
                <div class="col-sm-2">
                    <span >{{:notaMaxima}}</span>
                </div>
            </div>
        </div>
        <div class="row m-b-xs">
            <div class="form-group">
                <label  class="col-sm-4  bold">Cántidad NSP: </label>
                <div class="col-sm-2">

                    <span >{{:cantidadNsp}}</span>
                </div>

                <label  class="col-sm-4  bold">Cántidad Evaluados:</label>
                <div class="col-sm-2">
                    <span >{{:cantidadEvaluados}}</span>
                </div>
            </div>
        </div>
        <div class="row m-b-xs">
            <div class="form-group">
                <label  class="col-sm-4 bold">Promedio Nota: </label>
                <div class="col-sm-2">

                    <span >{{:promedioNotas}}</span>
                </div>

                <label  class="col-sm-4 bold">Desv Estandar:</label>
                <div class="col-sm-2">
                    <span >10</span>
                </div>
            </div>
        </div>

        {{if estaAbierto==true || estaReabierto==true}}  
        <div class="row m-b-xs">
            <div class="form-group">
                <label  class="col-sm-4 bold">Fecha de la evaluación: </label>

                <div class="col-sm-6">

                    <input id="calFechaEval"
                           type="text" 
                           required="true"
                           name="fechaInicio"
                           class="form-control datepicker" 
                           data-parsley-errors-container="#errorFechaInicio"/>

                    <span id="errorFechaInicio"></span>
                </div>

            </div>
        </div>
        {{/if}}

        {{if estaCerrado==true}}  


        <div class="row m-b-xs">
            <div class="form-group">
                <label  class="col-sm-4 bold">Fecha Evaluacion: </label>
                <div class="col-sm-2">

                    <span>{{:evaFechaRealizada}}</span>
                </div>

                <label  class="col-sm-4 bold">Fecha Ingreso Nota:</label>
                <div class="col-sm-2">
                    <span >{{:evaFechaIngresoNota}}</span>
                </div>
            </div>
        </div>
        {{/if}}

    </form>
</div>
