<div class="m-b">			
    <span class="block"><strong>Alumno:</strong> <span th:text="${alumnoPer.nombreCompleto}">Juan Perez</span></span>
    <span class="block"><strong>Código:</strong> <span th:text="${alumno.codigo}">20110338</span></span>
    <span class="block"><strong>Curso:</strong> <span th:text="${curso.nombre}">Matemáticas</span></span>
    <span class="block"><strong>Clave:</strong> <span th:text="${seccion.codigo2 +' ('+ seccion.tipoSeccionEnum.value +')'}">3221 (Práctica)</span></span>
    <span class="block"><strong>Evaluación:</strong> <span>Práctica Calificada - II</span></span>
</div>

<form id="frmCambioNota" class="form-horizontal">
    <div class="form-group">
        <div class="col-md-12">
            <label>Evaluación:</label>
            <input id="txtAlumnoCambiarNota" name="alumno.id" type="hidden"  th:value="${alumno.id}"/>
            <select id="cboTipoEvalForChange" class="select2single form-control" 
                    name="evaluacion.id" 
                    required="">
                <option value="">Seleccionar..</option> 
                <!--
                <option  th:each="item : ${evaluacionesDisp}" th:value="${item.id}" th:text="${item.tipoEvaluacion.codigo+' '+item.numero +' - '+ item.tipoEvaluacion.nombre}"></option>
                -->
                <option  th:each="item : ${evaluacionesDisp}" th:value="${item.id}" th:text="${item.codigoNumeroGen}"></option>
            </select>
        </div>
    </div>
    <div class="form-group" th:if="${curso.creditos==null}">
        curso <span th:text="${curso.id}"></span>
        <div class="col-md-6">
            <label>Letra anterior:</label>
            <input id="txtLetraAnterior"
                   class="form-control"
                   type="text"
                   disabled="true"/>

            <input name="letraInicial"
                   class="form-control"
                   type="hidden"/>
        </div>
        <div class="col-md-6">
            <label>Letra nueva:</label>
            <!-- 
            <input id="txtLetraNueva" 
                   class="form-control" 
                   name="letraFinal"
                   required="true"
                   type="text" />
            -->
            <select id="cboLetraFinal" name="letraFinal"
                    required="true" class="select2single form-control clsCboLetraCambioNota" 
                    style="width:25x; padding: 3px !important;">
                <option></option>
                <option th:each="notaLet : ${sistemaNotas.notaLetra}" 
                        th:text="|${notaLet.letra} - ${notaLet.descripcion} |"
                        th:value="${notaLet.letra}"></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6">
            <label>Nota anterior:</label>
            <input id="txtNotaAnterior"
                   class="form-control"
                   type="text"
                   disabled="true"/>

            <input name="notaInicial"
                   class="form-control"
                   type="hidden"/>
        </div>
        <div class="col-md-6">
            <label>Nota nueva:</label>
            <input id="txtNotaNueva" 
                   class="form-control" 
                   name="notaFinal"
                   required="true"
                   type="text" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <label for="comment">Motivo:</label>
            <textarea name="motivo" class="form-control"></textarea>
        </div>
    </div>
</form>



