<div id="divActivarEvaluacion" type="text/x-jsrender" class="hide" >
    <form data-parsley-validate="true">
        <h4 class="m-b">Ingrese información de la evaluación</h4>
        <div class="form-group">
            <label class="control-label">Fecha de la evaluación</label>
            <input type="text" class="form-control" required="yes" name="cicloAcademico.year" />
        </div>
        <div class="form-group">
            <label class="control-label">Tipo</label>
            <select class="form-control">
                <option value="EP">Evaluación Parcial</option>
                <option value="EP">Evaluación Final</option>
                <option value="PC1">Práctica Calificada 1</option>
                <option value="PC2">Práctica Calificada 2</option>
                <option value="PC3">Práctica Calificada 3</option>
                <option value="PC4">Práctica Calificada 4</option>
                <option value="TA1">Tarea 1</option>
                <option value="TA2">Tarea 2</option>
                <option value="TA3">Tarea 3</option>
            </select>
        </div>
    </form>
</div>
