<html layout:decorator="_layout/layout">
    <head>
        <title> Plantilla Horarios </title>
    </head>
    <body>
        <section layout:fragment="main">

            <div id="main" v-cloak="">

                <header class="header b-b padder-lg">
                    <h2>Plantilla Horarios <span th:text="${cicloAcademico.descripcion}">2016-II</span></h2>
                </header>

                <section class="wrapper-lg">
                    <section class="panel">
                        <section class="panel-body">

                            <div class="row">
                                <form id="frmPlantillaHorario">
                                    <div class="form-group">
                                        <label class="col-md-2 bold">Rol Examen</label>

                                        <div class="col-md-4">  

                                            <multiselect v-model='rolExamen' 
                                                         label="nombre"
                                                         v-on:input="changeRolExamen"
                                                         placeholder=""
                                                         track-by="id"
                                                         v-bind:allow-empty="false"
                                                         v-bind:options="rolesExamenes"
                                                         deselect-label=""
                                                         select-label="">
                                            </multiselect>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 bold">Semana</label>

                                        <div class="col-md-4">  

                                            <multiselect 
                                                v-model="semanaExamen"
                                                v-on:input="changeSemanaExamen"
                                                track-by="id"
                                                v-bind:options="rolExamen.semanasExamen"
                                                label="numeroSemana"
                                                internal-search="false"
                                                v-bind:allow-empty="false"
                                                deselect-label="" 
                                                select-label="" 
                                                >
                                            </multiselect>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                <a class="btn btn-success pull-right"
                                   v-on:click.prevent="calcularPlantillaHorario">
                                    Calcular
                                </a>
                            </div>
                        </section>
                    </section>

                    <section class="panel">
                        <section class="panel-body">
                            <div class="row">
                                GrupoHorasController


                            </div>
                        </section>
                    </section>
                </section>

            </div>

        </section>

        <div layout:fragment="js">
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <div th:substituteby="_modules/vue-modal2"></div>
            <script th:src="@{/phobos/modules/vue-generalComponents.js}" charset="utf-8"></script>

            <script th:inline="javascript">
                var jRolesExamenes = /*[[${jRolesExamenes}]]*/ {};
            </script>
            <script th:src="@{/app/rolexamen/plantillahorario/plantillahorario.js}" charset="utf-8"></script>


        </div>

    </body>
</html>
