<modal-vik ref="modalAgregarLetra"
           title="Agregar Letra">
    <div slot="body">
        adadadada
    </div>
</modal-vik>

<modal-vik v-bind="configAddHorario"
           ref="modalAddLetra"
           v-bind:okaction="saveAddHorario">
    <div slot="body">

        <form v-bind:id="configAddHorario.form" data-parsley-validate="true">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 bold">Letra</div>
                    <div class="col-md-8">
                        <multiselect 
                            v-model="grupoHorasExamen.grupoHoras"
                            track-by="id"
                            v-bind:options="gruposHoras"
                            label="codigo"
                            required="true">
                        </multiselect>
                    </div>
                </div>
            </div>

            <div class="row m-t">
                <div class="col-md-12">
                    <div class="col-md-4 bold">Semana</div>
                    <div class="col-md-8">
                        <multiselect 
                            v-model="grupoHorasExamen.semanaExamen"
                            track-by="id"
                            v-bind:options="semanas"
                            v-bind:custom-label="labelSemana"
                            label="nombre"
                            required="true">
                        </multiselect>
                    </div>
                </div>
            </div>

            <div class="row m-t">
                <div class="col-md-12">
                    <div class="col-md-4 bold">Dia</div>
                    <div class="col-md-8">
                        <multiselect 
                            v-model="grupoHorasExamen.dia"
                            track-by="id"
                            v-bind:options="dias"
                            label="nombre"
                            required="true">
                        </multiselect>
                    </div>
                </div>
            </div>

            <div class="row m-t">
                <div class="col-md-12">
                    <div class="col-md-4 bold">Hora inicio</div>
                    <div class="col-md-8">
                        <multiselect 
                            v-model="grupoHorasExamen.horaInicio"
                            track-by="id"
                            v-bind:options="horas"
                            label="descripcion"
                            required="true">
                        </multiselect>
                    </div>
                </div>
            </div>
        </form>

    </div>
</modal-vik>