<html layout:decorator="_layout/layout">
<head>
    <title> Becas Pronabec </title>

</head>

<body>
    <div layout:fragment="main">
        <div id="main" v-cloak="">
            <header class="header b-b padder-lg">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary dropdown-toggle pull-right" data-toggle="dropdown">
                        Acciones &nbsp; <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li> <a  type="button" v-bind:href="'becaspronabec/load'"> <i class="fa fa-upload"></i> Cargar Excel</a></li>
                        <li> <a  type="button" v-on:click="openModal"> <i class="fa fa-user-plus"></i>  Nuevo Becado</a></li>
                        <li><a type="button" v-on:click="openReporteModal"> <i class="fa fa-filter"></i>  Reportes con Filtro</a></li>
                        <li><a v-on:click.prevent="generarReporte()"> <i class="fa fa-file-excel-o"></i>  Reporte Becados Matriculados</a></li>
                    </ul>
                </div>
                <h2> Becados Pronabec </h2>
            </header>

            <section class="wrapper-lg">
                <section class="panel">

                    <section class="panel-body">

                        <becas-list></becas-list>

                    </section>
                </section>

            </section>

            <div th:substituteby="academico/pronabec/nuevoBecadoModal"></div>
            <div th:substituteby="academico/pronabec/reporteBecadoModal"></div>
        </div>

    </div>

    <div layout:fragment="js">
        <script th:inline="javascript">
            /*<![CDATA[*/
            var tipoBecaJson = /*[[${tipoBecas.toString()}]]*/ '';
            var ciclos = /*[[${ciclos.toString()}]]*/ 'json';
            /*]]>*/
        </script>
        <script th:src="@{/app/academico/pronabec/listaBecados.js}" charset="utf-8"></script>

    </div>

</body>
</html>