<modal-vik ref="modalGenerarHorario"
           v-bind="modalGenerarHorario"
           v-bind:okaction="saveHorario">
    <div slot="body">
        <div class="modal-body">
            <form id="formMatriculable" data-parsley-validate="true"><!-- method="POST" th:action="@{/academico/matriculable/save}"-->
                <div class="row m-b-md">
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <input type="text" class="form-control"/>
                        </div>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <label for="ciclos" class="col-md-12 control-label">Modalidad de Estudio</label>
                        <div class="col-md-12">
                            <multiselect v-model="disponibilidad.colaborador" 
                                         v-bind:options='asistentas'
                                         v-bind:custom-label='nombre'
                                         track-by='id'
                                         placeholder="Seleccione tipo de trámite"
                                         required="true" >
                                <template slot="option" slot-scope="props">
                                    <div class="option__desc">
                                        <span class="option__title block bold">{{ props.option.persona.nombreCompleto }} </span>
                                        <span class="option__small">{{ props.option.persona.tipoDocumento.simbolo }} - {{ props.option.persona.numeroDocIdentidad }}</span>
                                    </div>
                                </template>
                            </multiselect>
                            <select name="" required="true" class="form-control select2">
                                <option></option>
                                <option th:each="item : ${modalidades}"  
                                        th:text="${item.nombre}"
                                        th:value="${item.id}" ></option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</modal-vik>