<html layout:decorator="_layout/layout">
    <head>
        <title>Matriculables</title>
    </head>

    <body>
        <div layout:fragment="main" >
            <div id="matriculableVUE" v-cloak="">

                <header class="header b-b padder-lg">        
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-file-text-o"/> &nbsp; Acciones &nbsp; <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li v-if="ciclo.fechaVerificaNmat == null"><a  v-on:click="verificarAlumnosNmat" >Verificar alumnos NMAT</a></li>
                            <li v-if="ciclo.fechaVerificaNmat != null &amp;&amp; ciclo.fechaMatriculables == null" ><a  v-on:click="generarMatriculables" >Generar</a></li>
                            <li v-if="ciclo.fechaMatriculables != null &amp;&amp; ciclo.fechaCierreMatriculable == null"><a  v-on:click="limpiarMatriculables" >Limpiar matriculable</a></li>
                            <li v-if="ciclo.fechaMatriculables != null &amp;&amp; ciclo.fechaCierreMatriculable == null"><a  v-on:click="finalizarMatriculable" >Finalizar matriculable</a></li>
                            <!--<li ><a  v-on:click="modal">Agregar Matriculable</a></li>-->
                            <!--<li><a  id="agregarMatriculable">Modal Matriculable</a></li>-->
                            <li v-if="ciclo.fechaPrioridades == null &amp;&amp; ciclo.fechaCierrePrioridades==null &amp;&amp; ciclo.fechaCierreMatriculable != null" ><a v-on:click="generarPrioridad">Procesar Prioridad</a></li>
                            <li v-if="ciclo.fechaPrioridades != null &amp;&amp; ciclo.fechaCierrePrioridades==null" ><a v-on:click="eliminarPrioridad">Limpiar Prioridades</a></li>
                            <li v-if="ciclo.fechaPrioridades != null &amp;&amp; ciclo.fechaCierrePrioridades==null" ><a v-on:click="finalizarPrioridad">Finalizar Prioridades</a></li>
                            <li v-if="ciclo.fechaCierrePrioridades != null " ><a v-on:click="findConfiguraciones">Asignar Turnos</a></li>
                            <li><a id="subirEgresado">Subir Egresados</a></li>
                        </ul>
                    </div>
                    <h2>Alumnos Matriculables <span v-text="ciclo.descripcion">2016-II</span></h2>
                </header>
                <section class="wrapper-lg">
                    <section class="panel m-b-md">
                        <section class="panel-body">
                            <!--<pre>{{ciclo}}</pre>-->
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3 text-center">
                                        <a class="ver-modalidades text-danger pointer" rel="pregrado">
                                            <span class="h1 block bold" v-text="resumen.pregrado">23</span>
                                            <small class="block m-b-xs">Pregrado</small>
                                        </a>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <a class="ver-modalidades text-black pointer" rel="postgrado">
                                            <span class="h1 block bold" v-text="resumen.postgrado">23</span>
                                            <small class="block m-b-xs">Posgrado</small>
                                        </a>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <a class="ver-modalidades text-success pointer" rel="visitante">
                                            <span class="h1 block bold" v-text="resumen.visitante">23</span>
                                            <small class="block m-b-xs">Visitantes</small>
                                        </a>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <a class="ver-modalidades text-warning pointer" rel="especiales">
                                            <span class="h1 block bold" v-text="resumen.especiales">23</span>
                                            <small class="block m-b-xs">Especiales</small>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>

                    <section class="panel">
                        <section class="panel-body">
                            <raptor-table v-bind:url="matriculaURL"  ref="load">
                                <div slot="header"></div>
                                <template scope="props" >
                                    <table class="table table-striped table-hover">
                                        <thead >
                                            <tr>
                                                <th class="col-md-4" colspan="2"></th>
                                                <th class="col-md-2 text-center">Puntaje <br/> Situación</th>
                                                <th class="col-md-2 text-center v-middle">Prioridad <br/> Turno</th>
                                                <th class="col-md-2 text-center v-middle">Datos Puntaje</th>
                                                <th class="col-md-2 text-center v-middle">Matrícula</th>
                                                <th class="col-md-1 text-center v-middle">Estado</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in props.data">
                                                <td class="v-middle">
                                                    <div class="pull-left">
                                                        <div v-if="item.alumno.persona.tipoFoto == 'POSTUL'"
                                                             class="img-responsive img-thumbnail img-circle div-foto-list">
                                                            <img class="img-foto-list" v-bind:src="item.alumno.persona.rutaFoto" />
                                                        </div>

                                                        <img v-else-if="item.alumno.persona.tipoFoto == 'COMUN'"
                                                             class="img-responsive img-thumbnail img-circle div-foto-alumno-list" 
                                                             v-bind:src="item.alumno.persona.rutaFoto" />
                                                        <img v-else=""
                                                             class="img-foto-tempo img-responsive img-thumbnail img-circle" 
                                                             v-bind:src="item.alumno.persona.rutaFoto" />
                                                    </div>
                                                </td>
                                                <td class="v-middle">
                                                    <div class="v-middle clear">
                                                        <a href="#"><span class="block text-primary bold detallePostulante" v-text="item.alumno.persona.apellidosNombres"></span></a>
                                                        <span class="block" >
                                                            Matrícula: {{item.alumno.codigo}} 
                                                        </span>
                                                        <span class="block" v-if="item.alumno.carrera.codigo != item.alumno.carrera.facultad.codigo">
                                                            {{item.alumno.carrera.nombre}}
                                                        </span>
                                                        <span class="block">
                                                            {{item.alumno.carrera.facultad.nombre}}
                                                        </span>
                                                        <small class="block">
                                                            {{item.alumno.persona.emailCompania}}
                                                        </small>
                                                        <small class="block">
                                                            <smal>DNI: </smal>{{item.alumno.persona.numeroDocIdentidad}}
                                                        </small>
                                                        <small class="block" v-if="item.esBeneficiadoUltimoCiclo">
                                                            <smal class="label label-success">Beneficiado Ult. Ciclo </smal>
                                                        </small>

                                                        <a v-if="item.motivoMatriculable != '' " class="text-danger " data-toggle="tooltip" v-bind:title="item.motivoMatriculable" href="#">
                                                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </td>

                                                <td class="v-middle text-center">
                                                    <span class="block">{{item.puntajePrioridad}}</span>
                                                    <span class="block" v-if="item.situacionInicio.id != ''">I: {{item.situacionInicio.nombre}} </span>
                                                    <span class="block" v-if="item.situacionFinal.id != ''">F: {{item.situacionFinal.nombre}} </span>
                                                    <span class="block h5 text-primary m-t-xs m-b-xs">{{item.alumno.situacionAcademica.nombre}}</span>

                                                </td>

                                                <td class="v-middle text-center">
                                                    <span class="badge">{{item.prioridad}}</span>
                                                    <span class="block" v-if="item.prioridadAnterior != ''">Antes: {{item.prioridadAnterior}}</span>
                                                    <span class="block" v-if="item.turnoAtencion.fecha != ''">Turno: {{item.turnoAtencion.fechaHoraInicio}}</span>
                                                </td>

                                                <td class='v-middle '>
                                                    <div v-if="ciclo.fechaPrioridades != null ">
                                                        <span class="block" ><span class="bold">Ciclo:</span> {{item.cicloAcademicoInfo.descripcion}}</span>
                                                        <span class="block"><span class="bold">pps:</span> {{item.promedioSemestral}}</span>
                                                        <span class="block"><span class="bold">capa:</span> {{item.creditosAprobadosAcumulados}}</span>
                                                        <span class="block"><span class="bold">caps:</span> {{item.creditosAprobadosCiclo}}</span>
                                                        <span class="block"><span class="bold">cca:</span> {{item.creditosAcumulados}}</span>
                                                        <span class="block"><span class="bold">ccs:</span> {{item.creditosCursadosCiclo}}</span>
                                                    </div>
                                                </td>

                                                <td class='v-middle text-center'>
                                                    <span class="block">Cursos Mat: {{item.cursosMatriculados}}</span>
                                                    <span class="block">Cursos Ret: {{item.cursosRetirados}}</span>
                                                    <span class="block">Créditos Mat: {{item.creditosMatriculados}}</span>
                                                    <span class="block">Créditos Ret: {{item.creditosRetirados}}</span>
                                                </td>

                                                <td class="text-center v-middle">
                                                    <span class="clear">
                                                        <a  href="#" ><span v-bind:class="style(item.estado)">{{item.estadoEnum.value}} </span></a><!--class="label label-{{:colorEstado}}-->
                                                        <!--<span v-else="">{{item.estadoEnum.value}} </span>label-{{:colorEstado}}-->
                                                    </span>
                                                </td>
                                                <td class="v-middle">
                                                    <div class="actions">
                                                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i></a>
                                                        <ul class="dropdown-menu pull-right">
                                                            <li><a class="ver-cursos pointer" >Ver Cursos</a></li><!--rel="{{:id}}"-->
                                                            <li v-if="item.estado == 'NMAT'"><a v-on:click="inhabilitarModal(item)" href="#">Inhabilitar</a></li>
                                                            <li v-if="item.estado == 'INH'"><a v-on:click="inhabilitarModal(item)" href="#">Habilitar</a></li>
                                                            <li><a v-bind:href="urlAcademico(item)">Información académica</a></li>
                                                            <li><a class="modificar-datos" href="#">Modificar datos</a></li>
                                                            <li  v-if="!item.esBeneficiadoUltimoCiclo " ><a v-on:click="beneficiar(item)" href="#">Beneficiar Ult. Ciclo</a></li>
                                                            <li><a v-bind:href="urlMatricula(item)">Matricula</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </template>
                            </raptor-table>
                        </section>
                    </section>
                </section>

                <!--        <div th:substituteby="templates/modal"/>
                        <script id="matriculableTemplate" type="text/x-jsrender" class="hide"><div th:substituteby="academico/matriculable/matriculableTemplate"/></script>
                        <div id="matriculableModal"></div>
                        <div id="cursosModal"></div>-->
                <div th:substituteby="academico/matriculable/modalAsignarTurno">
                </div>

                <div th:substituteby="academico/matriculable/matriculableModal">
                </div>
                <div th:substituteby="academico/matriculable/inhabilitarMatriculable">
                </div>
            </div>
            <div th:substituteby="_modules/vue-modal">
            </div>
        </div>
        <div layout:fragment="js">
            <script th:inline="javascript">
                /*<![CDATA[*/
                var cicloJson = /*[[${ciclo.toString()}]]*/ 'json';
                var resumenJson = /*[[${resumen.toString()}]]*/ 'json';
                var tipoCondicionalJson = /*[[${tipoCondicional.toString()}]]*/ 'json';
                /*]]>*/
            </script>
            <div th:substituteby="_layout/includes :: javascript-upload"></div>
            <script type="text/javascript" th:src="@{/phobos/modules/vue-modal.js}"></script>
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <script th:src="@{/app/academico/matriculable/matriculable.js}" charset="utf-8"></script>
        </div>
    </body>

</html>
