<div class="modal fade" id="viewModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bold">Agregar Matriculable</h5>
            </div>
            <div class="modal-body">
                <form id="formMatriculable" method="POST" th:action="@{/academico/matriculable/save}">

                    <div class="row m-b-md">
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <input type="text" class="form-control"/>
                            </div>
                        </div>
                        <hr/>
                        <div class="form-group">
                            <label for="ciclos" class="col-md-12 control-label">Modalidad de Estudio</label>
                            <div class="col-md-12">
                                <select name="" required="true" class="form-control select2">
                                    <option></option>
                                    <option th:each="item : ${modalidades}"  
                                            th:text="${item.nombre}"
                                            th:value="${item.id}" ></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Aceptar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>