<modal-vik ref="modalSubirEgresado"
           v-bind="modalSubirEgresado"
           v-bind:okaction="loadEgresados">
    <div slot="body">
        <form id="frmSubirEgresados" enctype="multipart/form-data" method="POST" >
            <div class="row m-b-md">
                <div class="col-md-9"> 
                    <span class="block underline">Cargar Egresados (archivo .xlsx) </span>
                    <span class="block">Seleccionar el archivo y presione el botón <strong>Iniciar Carga</strong>.</span>

                    <div class="form-group">
                        <span class="btn bg-gradient">
                            <input type="file" name="file" accept=".xlsx" id="fileText" class="archivo" autocomplete="off" required="true" v-on:change="getFile" />
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</modal-vik>