<modal-vik ref="modalDataZoom"
           v-bind="modalDataZoom">

    <div slot="body" id="modalDataZoom">
        <div class="row">
            <div class="col-md-6 ">
                <div class="col-md-12">
                    <span class="bold" v-text="'Usuario: ' +aulaDataZoom.usuarioZoom"></span>
                </div>
                <div class="col-md-12">
                    <span class="bold" v-text="'Contraseña: ' +aulaDataZoom.passZoom"></span>
                </div>
            </div>
        </div>
    </div>
</modal-vik>
