<html layout:decorator="_layout/layout">
    <head>
        <title>Ticket</title>
    </head>

    <body>
        <div  id="main"  layout:fragment="main"  v-cloak="">

            <header class="header b-b padder-lg">

                <h1>Ticket</h1>

            </header>


            <section class="wrapper-lg">
                <section class="panel m-b-md">
                    <section class="panel-body">



                        <div class="col-md-12">
                            <div class="row">

                                <div class="col-md-3 text-center" >
                                    <a v-on:click="verEstado('ACTIVO')" class="text-danger pointer" >
                                        <span class="h1 block bold" th:text="${resumen.activo}">23</span>
                                        <small class="block m-b-xs">Activos</small>
                                    </a>
                                </div>

                                <div class="col-md-3 text-center"  >
                                    <a v-on:click="verEstado('RESPONDIDO')" class="text-black pointer" >
                                        <span class="h1 block bold" th:text="${resumen.respondido}">23</span>
                                        <small class="block m-b-xs">Respondidos</small>
                                    </a>
                                </div>

                                <div class="col-md-3 text-center" >
                                    <a v-on:click="verEstado('RESUELTO')" class="text-success pointer" >
                                        <span class="h1 block bold" th:text="${resumen.resuelto}">23</span>
                                        <small class="block m-b-xs">Resueltos</small>
                                    </a>
                                </div>

                            </div>
                        </div>


                    </section>
                </section>


                <section class="panel">
                    <section class="panel-body"  v-cloak="">



                        <raptor-table v-bind:url="`/atencion/ticket/list`" v-bind:searcher="false" ref="raptorMensajes" v-bind:paginate="false">
                            <template scope="props">



                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-3 v-middle">Nombre </th>
                                            <th class="col-sm-6 v-middle">Título </th>
                                            <th class="col-sm-2 v-middle">Fecha </th>
                                            <th class="col-sm-1 v-middle">Estado </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in props.data">

                                            <td class="v-middle">
                                                {{item.ticketAyuda.persona.nombreCompleto}}
                                            </td>

                                            <td class="v-middle">
                                                <a href="#"  v-on:click.prevent="responder(item)"  >{{item.titulo}}</a>
                                            </td>


                                            <td class="v-middle">
                                                <strong class="m-r-sm">{{item.fechaRegistro}}</strong>
                                            </td>

                                            <td class="v-middle">
                                                <span v-if="item.estado=='ACTIVO' "  class="label label-danger" v-text="item.estadoEnum.value">Activo</span>
                                                <span v-if="item.estado=='RESPONDIDO' " class="label label-primary" v-text="item.estadoEnum.value">Respondido</span>
                                                <span v-if="item.estado=='RESULETO' " class="label label-success" v-text="item.estadoEnum.value">Resuelto</span>
                                            </td>


                                            <td class=" v-middle">

                                                <div class="pull-right">
                                                    <div class="actions">
                                                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i></a>
                                                        <ul class="dropdown-menu pull-right">
                                                            <li><a  href="#" v-on:click.prevent="asignar(item)">Asignar</a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            </td>


                                        </tr>
                                    </tbody>
                                </table>



                            </template>
                        </raptor-table>








                    </section>

                </section>


            </section>

        </div>

        <div layout:fragment="js">

            <div th:substituteby="_modules/vue-modal2"></div>
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <script th:src="@{/app/atencion/atencion.js}" charset="utf-8"></script>

        </div>

    </body>
</html>


