<html layout:decorator="_layout/layout">
    <head>
        <title> Restricciones de Matrícula  </title>
    </head>

    <body>
        <section layout:fragment="main">
            <div id="restriccionMatriculaVUE">

                <header class="header b-b padder-md">
                        <button class="btn btn-success pull-right m-t-md">
                            Cargar Datos 
                        </button>
                    </div>
                    <h2> Restricciones de Matrícula </h2>
                </header>
                <section class="wrapper-md">
                    <section class="panel">
                        <section class="panel-body bg-white b">
                        <dynatable/>
                        </section>
                    </section>
                </section>


            </div>

        </section>
        <div layout:fragment="js" th:remove="tag">
              <script th:src="@{/vendor/vuejs/vue-multiselect.min.js}" charset="utf-8"></script>
            <script th:src="@{/app/}" charset="utf-8"></script>
        </div>

    </body>
</html>