<html layout:decorator="_layout/layout">
    <head>
        <title> Restricciones de Matrículas </title>
    <div th:substituteby="_layout/includes :: styles-dynatable"></div>
</head>

<body>
    <section layout:fragment="main">
        <div id="restriccionMatriculaCargarDatosVUE">

            <header class="header">
            </header>

            <section class="wrapper-md">
                <section class="panel padder-v m-b-n">
                    <section class="panel-body m-b-n">
                        <div class="row col-md-6 col-md-offset-3 m-b-n"  data-parsley-validate="true" method="POST" id="form">

                            <div class="panel panel-primary">

                                <div class="panel-heading" >
                                    <h3 class="panel-title"> Carga de restricciones de matrícula <span th:text="${cicloAcademico.descripcion}">2020-09</span></h3>
                                </div>

                                <div class="panel-body padder-lg">

                                    <div class="row m-b-md">
                                        <label> Tipo </label>
                                        <multiselect v-bind:options="tipos"
                                                     placeholder="Seleccione un tipo de restricción"
                                                     select-label=""
                                                     v-model="tipo"
                                                     label="nombre"
                                                     track-by="id"
                                                     v-bind:allow-empty="false"
                                                     required="">
                                        </multiselect>    
                                    </div>

                                    <div class="row m-b-md">
                                        <span class="block underline">Cargar Deudas (archivo .xls)</span>
                                        <span class="block">Seleccionar el archivo y presione el botón <strong>Iniciar Carga</strong></span>
                                        <a class="bold" href="https://lamolina-admision.s3.amazonaws.com/publico/formatos/Formato%20de%20Carga%20Ingresantes%20CEPRE.xls">
                                            <i class="fa fa-file-excel-o"></i> Formato de carga Deudas
                                        </a>
                                    </div>

                                    <div class="row m-b-md">
                                        <span>
                                            <file-upload
                                                extensions="xls,xlsx"
                                                accept="application/vnd.ms-excel"
                                                post-action="/oficinas/restriccionmatricula/uploadFile"
                                                v-model="files"
                                                class="btn btn-default btn-sm m-r-sm"
                                                v-on:input-filter="inputFilter"
                                                v-on:input-file="inputFile"
                                                v-bind:data="{idTipo tipo.id}"
                                                ref="upload">
                                                Seleccionar archivo
                                            </file-upload>
                                            {{ nombreArchivo }}
                                        </span>
                                    </div>
                                    <div class="text-center">
                                        <a v-show="!cargando" type="button" class="btn btn-link"  th:href="@{'/aporte/aportealumno'}" >Regresar</a>
                                        <button v-show="cargando" type="button" class="btn btn-link" v-on:click.prevent="stopCarga">Cancelar</button>
                                        <button v-show="!cargando" v-bind:class="{disabled: files.length === 0}" type="submit" class="btn btn-primary" v-on:click.prevent="subirArchivo">Iniciar Carga</button>
                                        <button v-show="cargando"  type="submit" class="btn btn-primary" disabled="">
                                            <i class="fa fa-spinner fa-pulse"></i> Cargando {{progreso}}%</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
            </section>
        </div>
    </section>

    <div layout:fragment="js" th:remove="tag">
        <script th:inline="javascript">
            /*<![CDATA[*/
            var tipos = /*[[${tipos.toString()}]]*/ 'json';
            /*]]>*/
        </script> 
        <div th:substituteby="_layout/includes :: javascript-dynatable"/>  
        <div th:substituteby="_layout/includes :: javascript-vue-upload"></div>
        <script th:src="@{/vendor/vuejs/vue-multiselect.min.js}" charset="utf-8"></script>
        <script th:src="@{/app/oficinas/restriccionmatricula/restriccionMatriculaCargarDatos.js}" charset="utf-8"></script>
    </div>

</body>
</html>