<html layout:decorator="_layout/layout">
    <head>
        <title>Lista de Ciclos</title>
    <div th:substituteby="_layout/includes :: styles-dynatable"></div>
</head>

<body>
    <div layout:fragment="main" id="divProgramacion">
        <header class="page-header">
            <div class="pull-right" >
                <a class="btn btn-success" v-on:click="nuevaProgramacion" href="#" >Nueva Programación</a>
            </div>
            <h2>Programación</h2>
            <span>Departamento Académico: <span >dfdf</span></span>
        </header>
        <section class="wrapper-lg">
            <section class="panel">
                <section class="panel-body">
                    <table class="table table-striped" id="dynaTable">
                        <thead> 
                            <tr class=""> 
                                <th class="col-md-3">Carrera </th>
                                <th class="col-md-3">Fecha Aprobación</th>
                                <th class="col-md-4 text-center">Ciclo Inicio Vigencia</th>
                                <th class="col-md-2 text-center">Estado</th>
                                <th class=""></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </section>
            </section>
        </section>

    </div>

    <div layout:fragment="js">

        <div th:substituteby="zlayout/includes :: javascript-dynatable"/>
        <script th:src="@{/app/academico/programacion/programacion.js}" charset="utf-8"></script>

    </div>
</body>
</html>
