<html layout:decorator="_layout/layout">
    <head>
        <title>Agenda Consejero</title>
    </head>

    <body>
        <section layout:fragment="main">

            <div id="main" v-cloak="">

                <header class="header b-b padder-lg">

                    <div class="pull-right m-t-md m-l-sm">
                        <a href="#"  v-on:click.prevent="reporte" class="btn btn-primary">Reporte</a>
                    </div>

                    <div class="pull-right m-t-md">
                        <a v-bind:href="origen" class="btn btn-default">Regresar</a>
                    </div>

                    <h2> Agenda Consejero <span th:text="${session.SESSION_USUARIO.cicloAcademico!=null?session.SESSION_USUARIO.cicloAcademico.descripcion:''}"></span></h2>

                </header>

                <section class="wrapper-lg">

                    <section class="panel">
                        <section class="panel-body">


                            <raptor-table v-bind:url="agendaConsejeroURL"   ref="raptorConsejero"   v-bind:preload="true"   >      
                                <div slot="header">
                                    <div class="col-md-8 preguntas-col">

                                        <div class="col-md-4">

                                            <multiselect
                                                v-model="filtro.carrera"
                                                v-bind:options="carreras"
                                                v-bind:allow-empty="true"
                                                v-on:search-change="searchCarrera"
                                                track-by="id"
                                                placeholder="Carrera"
                                                label='nombre'
                                                v-bind:internal-search="false"
                                                v-bind:hide-selected="false"
                                                v-bind:showNoOptions="true"
                                                v-on:input="changeFilter"
                                                v-bind:show-labels="false">

                                                <template slot="singleLabel" slot-scope="props">
                                                    <span class="option__title">
                                                        <b>{{props.option.codigo}}</b> {{ props.option.nombre }}
                                                    </span>
                                                </template>

                                                <template slot="option" slot-scope="props">
                                                    <span class="option_title">
                                                        <b>{{props.option.codigo}}</b> {{props.option.nombre}}
                                                    </span> 
                                                </template>

                                                <template slot="noOptions">&nbsp;</template>
                                                <template slot="noResult">&nbsp;</template>

                                            </multiselect>

                                        </div>

                                        <div class="col-md-4">

                                     
                                            <multiselect
                                                v-model="filtro.consejero"
                                                v-bind:options="consejeros"
                                                v-bind:allow-empty="true"
                                                v-on:search-change="searchConsejero"
                                                track-by="id"
                                                placeholder="Consejero"
                                                label='nombre'
                                                v-bind:internal-search="false"
                                                v-bind:hide-selected="false"
                                                v-bind:showNoOptions="true"
                                                v-on:input="changeFilter"
                                                v-bind:show-labels="false">

                                                <template slot="singleLabel" slot-scope="props">
                                                    <span class="option__title">
                                                         {{ props.option.colaborador.persona.nombreCompleto }}
                                                    </span>
                                                </template>

                                                <template slot="option" slot-scope="props">
                                                    <span class="option_title">
                                                         {{props.option.colaborador.persona.nombreCompleto}}
                                                    </span> 
                                                </template>

                                                <template slot="noOptions">&nbsp;</template>
                                                <template slot="noResult">&nbsp;</template>

                                            </multiselect>

                                        </div>


                                    </div>

                                </div>
                                <template scope="props" >
                                    <table id="dynaTable" class="table table-striped table-hover">
                                        <thead class="panel panel-heading">
                                            <tr>
                                                <th class="col-xs-5 v-middle text-center"  >Agenda</th>
                                                <th class="col-xs-6 v-middle text-center"  >Estudiante</th>
                                                <th class="col-xs-1">Estado</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <template v-for="item in props.data">
                                            <tr v-for="(reuniones,index) in item.reunionAlumnoConsejeros">
                                                <td class="v-middle" v-bind:rowspan="item.reunionAlumnoConsejeros.length" v-if="index==0">
                                                    <span class="block" >                                                            
                                                        <span class=" bold"> Titulo: </span>
                                                        {{item.asunto}}
                                                    </span>
                                                    <span class="block">                                                            
                                                        <span class=" bold"> Fecha: </span>
                                                        {{item.fecha}} - {{item.hora.descripcion}}
                                                    </span>
                                                    <span class="block">                                                            
                                                        <span class=" bold"> Consejero: </span>
                                                        {{item.consejero.colaborador.persona.nombreCompleto}}
                                                    </span>
                                                </td>


                                                <td class="v-middle">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <a class="block text-primary bold h5 m-b-xs m-t-xs" >
                                                                {{reuniones.alumnoConsejero.alumno.persona.apellidosNombres}} 
                                                            </a>

                                                        </div>
                                                        <div class="col-md-4">
                                                        </div>
                                                        <div class="col-md-2">
                                                
                                                            
                                                        </div>
                                                    </div>
                                                    <span class="block">
                                                        {{reuniones.alumnoConsejero.alumno.codigo}}
                                                    </span>
                                                    <small v-if="reuniones.alumnoConsejero.alumno.persona.emailCompania != '' " class="block text-primary">
                                                        <i class="fa fa-envelope-o"></i> {{reuniones.alumnoConsejero.alumno.persona.emailCompania}}
                                                    </small>
                                                    <span class="block">
                                                        {{reuniones.alumnoConsejero.alumno.carrera.nombre}}
                                                    </span>
                                                    <small class="block" v-if="reuniones.alumnoConsejero.alumno.carrera.nombre != reuniones.alumnoConsejero.alumno.carrera.facultad.nombre ">
                                                        Facultad de {{reuniones.alumnoConsejero.alumno.carrera.facultad.nombre}}
                                                    </small>
                                                </td>
                                                
                                                <td class="v-middle text-center" v-bind:rowspan="item.reunionAlumnoConsejeros.length" v-if="index==0">
                                                    <span class="block" >                                                            
                                                        <span class=" bold " v-bind:class="styleColor(item.estadoEnum)" v-text="item.estadoEnum.value">  </span>
                                                    </span>                                                   
                                                </td>
                                                
                                            </tr>
                                        </template>
                                        </tbody>
                                        
                                    </table>         
                                </template>
                            </raptor-table>

                        </section>
                    </section>
                </section>

            </div>

        </section>

        <div layout:fragment="js" th:remove="tag">
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <script th:src="@{/app/consejeria/administracion/agendaconsejeroadmin.js}" charset="utf-8"></script>
        </div>

    </body>
</html>