<template id="dynatableTemplate">
    <transition >
        <div class="panel padder-v col-md-8 col-md-offset-2">
            <table id="dynaTable" class="table table-striped table-hover ">
                <thead> 
                    <tr>
                        <th class="v-middle col-xs-9">Tipo Documento</th>
                        <th class="v-middlecol-xs-3">Idioma</th>
                        <th class="v-middle"></th>
                    </tr> 
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </transition>
</template>

<template id="dynatableRowTemplate">

    <tr>
        <td class="v-middle ">
            <span >{{:tipoDocumentoAcademico.nombre}}</span> 
        </td>
        <td class="v-middle ">
            <span >{{:idioma.nombre}}</span> 
        </td>
        <td class="v-middle"> 

            <div class="dropdown actions">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-option-vertical"></i>
                </a> 
                <ul class="dropdown-menu pull-right" >                
                    <li><a href="#"  rel="{{:id}}" class="modalUpdate">Actualizar</a></li>
                    <li><a href="#"  rel="{{:id}}" class="contenido">Contenido</a></li>
                    <li><a href="#"  rel="{{:id}}" class="eliminar">Eliminar</a></li>
                </ul>
            </div>

        </td>
    </tr>
</template>


