<html layout:decorator="_layout/layout">
    <head>
        <title>Plantilla Constancia</title>
        <link h:substituteby="_layout/includes :: styles-dynatable"/>
    </head>
    <body>
        <div layout:fragment="main">
            <div id="plantillaVue" v-cloak="">

                <header class="header b-b padder-lg">

                    <div class="btn-group pull-right">
                        <a type="button" class="btn btn-success btn-sm dropdown-toggle" v-on:click="nuevo">
                            &nbsp; Nuevo &nbsp;
                        </a>
                    </div>

                    <h2>Plantilla Constancia</h2>

                </header>

                <section class="wrapper-lg m-b-xs">
                    <section class="panel  ">
                        <section class="panel-body ">

                            <raptor-table 
                                v-bind:url="raptorURL" 
                                ref="raptor"  >

                                <div slot="header">
                                </div>
                                <template scope="props" >
                                    <table class="table table-striped">
                                        <thead> 
                                            <tr>
                                                <th class="v-middle col-xs-8">Tipo Documento</th>
                                                <th class="v-middle col-xs-3">Idioma</th>
                                                <th class="v-middle col-xs-1">Plantilla</th>
                                                <th class="v-middle"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in props.data">
                                                <td class="v-middle ">
                                                    <span >{{item.tipoDocumentoAcademico.nombre}}</span> 
                                                </td>
                                                <td class="v-middle ">
                                                    <span >{{item.idioma.nombre}}</span> 
                                                </td>
                                                <td class="v-middle ">
                                                    <a v-if="item.archivo" class="btn btn-link text-success" target="_blank" v-bind:href="item.archivo.ruta">
                                                        <i class="fa fa-2x fa-cloud-download"></i>
                                                    </a>
                                                </td>
                                                <td class="v-middle"> 

                                                    <div class="dropdown actions">
                                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                                            <i class="fa fa-cog"></i>
                                                        </a> 
                                                        <ul class="dropdown-menu pull-right" >                
                                                            <li><a href="#" v-on:click.prevent="modalUpdate(item)" >Actualizar</a></li>

                                                            <li> <a href="#" v-on:click.prevent="loadPlantillaWord(item)">Subir Plantilla Word</a></li>
                                                            <li><a href="#" v-on:click.prevent="contenido(item)" >Contenido</a></li>
                                                            <li><a href="#" v-on:click.prevent="eliminar(item)" >Eliminar</a></li>
                                                        </ul>
                                                    </div>

                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </template>
                            </raptor-table>


                        </section>
                    </section>
                </section>


                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <form data-parsley-validate="true" id="formConfig"  method="post">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel" v-if="plantilla.id"> Nueva Plantilla </h4>
                                    <h4 class="modal-title" id="myModalLabel" v-else=""> Actualizar Plantilla </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="col-md-offset-1 ">
                                        <div class='form-group row'>
                                            <label class="col-sm-3 control-label">Tipo constancia</label>
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <multiselect v-model="plantilla.tipoDocumentoAcademico"
                                                                 v-bind:options='tipoConstancia'
                                                                 label='nombre'
                                                                 track-by='id'
                                                                 placeholder="Seleccione un tipo de constancia"
                                                                 >
                                                    </multiselect>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='form-group row'>
                                            <label class="col-sm-3 control-label">Idioma</label>
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <multiselect v-model="plantilla.idioma"
                                                                 v-bind:options='idiomas'
                                                                 label='nombre'
                                                                 track-by='id'
                                                                 placeholder="Seleccione un tipo de constancia"
                                                                 >
                                                    </multiselect>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-success " v-on:click.prevent="update" v-if="plantilla.id" >Actualizar</button>
                                            <button type="button" class="btn btn-success " v-on:click.prevent="save" v-else="" >Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <th:block  th:replace="tramite/plantillaConstancia/plantillaWord"/>

            </div>
        </div>
        <div layout:fragment="js">
            <script th:inline="javascript">
                /*<![CDATA[*/
                var tipoDocumentoJson = /*[[${tipoDocumento.toString()}]]*/ 'json';
                var idiomasJson = /*[[${idiomas.toString()}]]*/ 'json';
                /*]]>*/
            </script>
            <!--<div th:replace="_modules/vue-modal"></div>-->
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <script th:src="@{/app/tramite/plantillaConstancia/plantillaConstancia.js}" charset="utf-8"></script>
        </div>

    </body>
</html>