<html layout:decorator="_layout/layout">
    <head>
        <title th:text="${contenido.nombre}">Título</title>
    </head>

    <body>
        <div layout:fragment="main">

            <header class="header b-b padder-lg">
                <h2 th:text="${contenido.nombre}">Titulo</h2>
            </header>

            <input type="hidden" th:value='${contenido.tipo}' id='tipo'/>

            <section class="wrapper-lg">

                <section class="panel  m-b-n-lg">
                    <section class="panel-body">
                        <div class="form-group row">
                            <label for="" class="col-xs-12 control-label">Sistema</label>
                            <div class="col-xs-4">
                                <select name="sistema.id" id="sistema" required="true" class="form-control select2 buscar-sistema" >
                                    <option></option>
                                    <option th:each="item :${sistemas}"
                                            th:text="${item.nombre}"
                                            th:value="${item.id}"
                                            th:selected="${contenido.sistema!=null} ? ${contenido.sistema.id==item.id}" >
                                    </option>
                                </select>
                            </div>
                        </div>
                    </section>
                </section>


                <section th:if="${contenido.tipo == 'CONT'}" class="panel">
                    
                    <section class="panel-body">
                        <input id="idCont" type="hidden" th:value="${contenido.id}"/>
                        <textarea class="form-control vresize" id="contenido" name="contenido" placeholder="Escribe Aquí" th:text="${contenido.contenido}"></textarea>
                    </section>
                    <section class="panel-body text-center v-middle">
                        <a href="/configuracion/editorcontenido" class="btn btn-link btn-lg">Regresar</a>
                        <button class="btn btn-primary btn-lg" id="updateContenido">Guardar</button>
                    </section>
                </section>

                <section th:if="${contenido.tipo == 'IMG'}" class="panel">
                    <section class="panel-body">
                        <input id="idCont" type="hidden" th:value="${contenido.id}"/>
                        <input id="imgUrl" type="hidden" />
                        <div class="col-md-12">
                            <img th:src="${contenido.imgUrl}" class="img-thumbnail img-responsive" id="imagen" width="100%"/>
                        </div>
                        <div class="col-md-12">
                            <input type="file" class="form-control" name="file" id="fileupload" accept="image/*"/>
                        </div>
                    </section>
                    <section class="panel-body text-center v-middle">
                        <a href="/configuracion/editorcontenido" class="btn btn-link btn-lg">Regresar</a>
                        <button class="btn btn-primary btn-lg" id="updateImg">Guardar</button>
                    </section>
                </section>

            </section>

        </div>

        <div layout:fragment="js" th:remove='tag'>
            <div th:substituteby="_layout/includes :: javascript-upload" th:remove='tag'></div>
            <div th:substituteby="_layout/includes :: javascript-ckeditor" th:remove="tag"></div>
            <script th:src="@{/app/configuracion/editorcontenido/contenido.js}" charset="utf-8"></script>
        </div>
    </body>
</html>
