<tr rel="{{:id}}">
    <td class="v-middle">
        <a class="text-primary bold" href="/configuracion/editorcontenido/{{:id}}/update">{{:nombre}}</a>
    </td>
    {{if tipo == "CONT"}}
    <td class="text-center v-middle">
        <a href="#" data-toggle="tooltip"  title='{{:content}}' class="text-info-dk bold"><i class="fa fa-file-text-o fa-lg"></i></a>
    </td>
    {{else tipo == "IMG"}}
    <td class="text-center v-middle">
        <a href="#" data-toggle="popover" title="Imagen" data-html="true" data-content='{{:img}}'><i class="fa fa-file-image-o fa-lg"></i></a>
    </td>
    {{/if}}

    <td class="text-center v-middle">
        {{:codigo}}
    </td>

    <td class="text-center v-middle">
        {{:tipoEnum}}
    </td>

    <td class="text-center v-middle">
        {{:sistema}}
    </td>

    <td class="v-middle">

        <div class="actions">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                <i class="glyphicon glyphicon-option-vertical"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li><a class="editarContenido" href="/configuracion/editorcontenido/{{:id}}">Editar</a></li>
            </ul>
        </div>

    </td>
</tr>