<modal-vik ref="modalPreciocursociclo"
           v-bind="modalPreciocursociclo"
           v-bind:okaction="updateModal">

    <div slot="body">   
        <form  method="post" id="formEvento"  data-parsley-validate="true">
            <div class="row m-t-md">    

                <div class="col-md-12">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                        <label>Tipo de Carpeta Teórica</label>
                        <multiselect 
                            v-model="cursoCicloAcademico.tipoCarpetaTeoria"
                            v-bind:options='tipoCarpetas'
                            label='nombre'
                            track-by='id'
                            placeholder="Seleccione una carpeta teórica"
                            deselect-label=""
                            select-label=""
                            v-bind:allow-empty="false"
                            v-bind:preselect="false"
                            >
                        </multiselect>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>  
                <div class="col-md-12">
                    <br/>
                </div>  
                <div class="col-md-12">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                        <label>Tipo de Carpeta Práctica</label>
                        <multiselect 
                            v-model="cursoCicloAcademico.tipoCarpetaPractica"
                            v-bind:options='tipoCarpetas'
                            label='nombre'
                            track-by='id'
                            placeholder="Seleccione una carpeta práctica"
                            deselect-label=""
                            select-label=""
                            v-bind:allow-empty="false"
                            v-bind:preselect="false"
                            >
                        </multiselect>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>  


            </div>
        </form>
    </div>
</modal-vik>
