<modal-vik ref="modalPreciocursociclo"
           v-bind="modalPreciocursociclo"
           v-bind:okaction="saveModal">

    <div slot="body">   
        <form  method="post" id="formEvento"  data-parsley-validate="true">
            <div class="row m-t-md">    

                <div class="row col-md-12">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        <label>Carpeta Teoría</label>
                    </div>
                    <div class="col-md-8">
                        <br/>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>

                <div class="row col-md-12">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        <label>Carpeta Práctica</label>
                    </div>
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>

<!--                <div class="row col-md-12  thead-light">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                        <table class="table table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" colspan="3">Evaluación</th>
                                    <th scope="col">Peso Total</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr>
                                    <th scope="col" colspan="3">
                            <br/>
                            </th>
                            <td></td>
                            <td>
                            </td>
                            </tr>
                            <tr>
                                <th scope="col" ></th>
                                <th scope="col" colspan="2">
                                <br/>
                                </th>
                                <td></td>
                                <td>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>-->
            </div>
        </form>
    </div>
</modal-vik>
