<html layout:decorator="_layout/layout">
    <head>
        <title>Curso Ciclo Académico</title>
    </head>

    <body>
        <div layout:fragment="main">
            <div id="preciocursocicloVUE">
                <header class="header b-b padder-lg">
                    <h2 th:text="|Curso Ciclo Académico ${ciclo.descripcion}|">Curso Ciclo Académico</h2> 
                </header>


                <section class="wrapper-lg" >
                    <section class="panel">
                        <!--                        <section class="panel-body" th:unless="${ciclo.tipo == 'NIV' }">
                                                    No se configura precios en este ciclo
                                                </section>-->

                        <!--                        <section class="panel-body" th:if="${ciclo.tipo == 'NIV' }">-->
                        <section class="panel-body" >

                            <raptor-table v-bind:url="preciocursocicloURL" ref="raptorPrecioCursoCiclo">

                                <div slot="header">

                                    <div class="col-md-2">

                                        <div class="form-group" data-toggle="tooltip" data-placement="top">
                                            <label>Editar</label>
                                            <label class="switch">
                                                <input type="checkbox" 
                                                       v-model="verTabla"/>
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-2">

                                        <div class="btn-group" v-if="verTabla" >
                                            <a href="#" class="btn btn-success btn-sm" v-on:click.prevent="verGuardar()" v-if="!guardaPrecio">Guardar</a>                            
                                        </div>                                                              
                                    </div>

                                    <div class="col-md-2">
                                        <a href="#" class="btn btn-success btn-sm" v-on:click.prevent="configurarCantidadAlumno()" >Configurar Cantidad Alumno</a>                            
                                    </div>

                                </div>

                                <template scope="props">
                                    <table class="table table-striped">
                                        <thead> 
                                            <tr> 
                                                <th class="col-md-4 v-middle text-center">Curso</th>
                                                <th class="col-md-1 v-middle text-center">Tipo Curricula</th>
                                                <th class="col-md-2 v-middle text-center">Grupos</th>
                                                <th class="v-middle text-center">Personalizado</th>
                                                <th class="col-md-1 v-middle text-center">Precio</th>
                                                <th class="col-md-2 v-middle text-center">Precio Adicional</th>
                                                <th class="col-md-2 v-middle text-center">Mínimo Requerido Alumnos por Curso</th>
                                                <th class="col-md-1 v-middle"></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in props.data"> 
                                                <td class="v-middle">
                                                    <span class="block text-primary bold h5 m-b-xs m-t-xs"
                                                          v-text="item.curso.nombre"></span>                                                    
                                                    <span class="block">
                                                        {{item.curso.codigo}}&nbsp;
                                                        <i class="fa fa-bookmark text-primary"></i>
                                                        {{item.curso.tpc}}</span>
                                                </td>
                                                <td class="v-middle">
                                                    {{item.tipoCursoCurricula.nombre}}
                                                </td>
                                                <td class="v-middle text-center"> 
                                                    {{item.cantidadGpoSecc}}
                                                </td>
                                                <td class="v-middle text-center">
                                                    <i v-if="item.precioPersonalizado!=0 " class="fa fa-check-square-o fa-lg text-success"></i>
                                                    <i v-else-if="item.precioAdicional>0" class="fa fa-check-square-o fa-lg text-success"></i>
                                                    <i v-if="item.precioPersonalizado=='' "></i>
                                                </td>
                                                <td class="v-middle text-center"> 
                                                    <input v-if="verTabla" type="text"
                                                           class="form-control" v-model="item.precio"/>
                                                    <span  v-else="" v-text="'S/.'+ item.precioFormato"></span>
                                                </td>
                                                <td class="v-middle text-center">
                                                    <input v-if="verTabla" type="text"
                                                           class="form-control" v-model="item.precioAdicional"/>
                                                    <span v-else-if="item.precioAdicional>0" v-text="'S/.'+ item.precioAdicionalFormato"></span>
                                                </td>
                                                <td class="v-middle text-center">
                                                    <input v-if="verTabla" type="text"
                                                           class="form-control" v-model="item.minimoAlumnos"/>
                                                    <span v-else="" v-text="item.minimoAlumnos"></span>
                                                </td> 
                                                <td class="v-middle col-md-1">
                                                    <div class="actions">
                                                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i></a>
                                                        <ul class="dropdown-menu pull-right">
                                                            <li><a v-on:click="editarmodal(item)">Configuración curso</a></li>
                                                        </ul>
                                                    </div>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </template>
                            </raptor-table>

                        </section>
                    </section>
                </section>

                <th:block th:substituteby="academico/preciocursociclo/precioCursoCicloModal" />

                <modal-vik ref="cfgCantidadAlumnoModal"
                           v-bind="cfgCantidadAlumno"
                           v-bind:okaction="saveCantidadAlumno">
                    <div slot="body">
                        <form  id="formcfgCantidadAlumno"   data-parsley-validate="true">

                            <div class="panel-body">

                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <span class="label-control">Alumnos Curso General</span>
                                        <input type="text" class="form-control numerico" required="true" v-model="cantidadalumno.general" name="alumnoCursoGeneral"/>
                                    </div>

                                </div>
                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <span class="label-control">Alumnos Curso Carrera</span>
                                        <input type="text" class="form-control numerico" required="true"  v-model="cantidadalumno.carrera"  name="alumnoCursoCarrera"/>
                                    </div>

                                </div>
                            </div>

                        </form>

                    </div>
                </modal-vik>

            </div>

        </div>

        <div layout:fragment="js">
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <script th:inline="javascript">
                /*<![CDATA[*/
                var tipoCarpetasJson = /*[[${tipoCarpetas}]]*/ 'json';
                /*]]>*/
            </script>
            <div th:substituteby="_modules/vue-modal"/>
            <div th:substituteby="_layout/includes :: sweetalert"/>
            <script th:src="@{/app/academico/preciocursociclo/precioCursoCiclo.js}" charset="utf-8"></script>
        </div>

    </body>
</html>