<html layout:decorator="zlayout/layout">
    <head>
        <title>Curso</title>
    <div th:substituteby="zlayout/includes :: styles-dynatable"></div>
</head>

<body>
    <div layout:fragment="main">

         <header class="header b-b padder-lg">
            <h2 th:unless="${curso.id}">Nuevo Curso</h2>
            <h2 th:if="${curso.id}" th:text="|${curso.codigo} - ${curso.nombre}|">Nuevo Curso</h2>
        </header>

        <div class="col-lg-12">
            <section class="panel">
                <section class="panel-body">
                    <form data-parsley-validate="true" id="formularioCurso" method="POST" th:action="@{'/academico/curso/save'}">

                        <input type="hidden" th:value="${curso.id}" name="id" id="idCurso"/>
                        <input type="hidden" th:value="${curso.requiereEspecialidad()}" id="requiereEspecialidad"/>
                        <input type="hidden" th:value="${curso.modalidadEstudio==null}? '':${curso.modalidadEstudio.codigo}" id="codigoModalidad"/>

                        <div th:if="${curso.id}">
                            <input type='hidden' name="modalidadEstudio.id" th:value="${curso.modalidadEstudio.id}" />
                            <input type='hidden' name="nivel" th:value="${curso.nivel}"/>
                            <input type='hidden' name="departamentoAcademico.id" th:value="${curso.departamentoAcademico != null} ? ${curso.departamentoAcademico.id}:''" />
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input name="nombre" class="form-control" required="true" th:value="${curso} != null ? ${curso.nombre} : ''"  data-trigger="change"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Modalidad Estudio</label>
                                    <select th:unless="${curso.id}" class="form-control" name="modalidadEstudio.id" 
                                            required="true"  data-trigger="change">
                                        <option></option>
                                        <option th:each="item : ${modalidadesEstudio}"
                                                th:value="${item.id}" 
                                                th:attr="data-codigo=${item.codigo}"
                                                th:text="${item.nombre}"/>
                                    </select>
                                    <span th:if="${curso.id}" class='form-control' th:text="${curso.modalidadEstudio.nombre}" ></span>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Nivel</label>
                                    <input th:unless="${curso.id}" name="nivel" class="form-control" required="true" data-trigger="change"
                                           th:value="${curso} != null ? ${curso.nivel} : ''"  />
                                    <span th:if="${curso.id}" class="form-control" th:text="${curso.nivel}"></span>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group  ">
                                    <label>Tipo Curricula</label>
                                    <select class="form-control" name="tipoCurricula" placeholder="Seleccione el tipo curricula" data-trigger="change">
                                        <option></option>
                                        <option th:each="item : ${tiposCurricula}"
                                                th:value="${item.name()}" 
                                                th:text="${item.value}"
                                                th:selected="${curso} ? ${item.name() == curso.tipoCurricula} : ''"/>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Departamento Académico</label>
                                    <input th:unless="${curso.id}" type='text' name="departamentoAcademico.id" 
                                           class='form-control' required="true" data-trigger="change" />	

                                    <span th:if="${curso.id}" class='form-control'
                                          th:text="${curso.departamentoAcademico != null} ? ${curso.departamentoAcademico.nombre}:''" ></span>	
                                </div>
                            </div>

                            <div class="col-lg-6 divEspecialidad hide"
                                 th:if="${curso.requiereEspecialidad()=='INDEFINIDO'}">
                                <div class="form-group  ">
                                    <label>Especialidad Posgrado</label>
                                    <input type='text' name="carrera.id" class='form-control' value="" rel="" data-trigger="change" />	
                                </div>
                            </div>

                            <div class="col-lg-6 divEspecialidad"
                                 th:if="${curso.requiereEspecialidad()=='SI'}">
                                <div class="form-group  ">
                                    <label>Especialidad Posgrado</label>
                                    <input type='text' name="carrera.id" class='form-control' 
                                           th:value="${curso.carrera != null} ? ${curso.carrera.id}:''" 
                                           th:rel="${curso.carrera != null} ? ${curso.carrera.nombre}:''" data-trigger="change" />	
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Tipo Dictado</label>
                                    <select class="form-control" name="tipoCurso" placeholder="Seleccione el tipo curso" data-trigger="change"
                                            th:unless="${curso.id}">
                                        <option></option>
                                        <option th:each="item : ${tiposCurso}"
                                                th:value="${item.name()}" 
                                                th:text="${item.value}"
                                                th:selected="${curso.tipoCurso} ? ${item.name() == curso.tipoCurso}"/>
                                    </select>
                                    <select class="form-control"  name="tipoCurso" th:if="${curso.id}" disabled="disabled">
                                        <option></option>
                                        <option th:each="item : ${tiposCurso}"
                                                th:value="${item.name()}" 
                                                th:text="${item.value}"
                                                th:selected="${curso.tipoCurso} ? ${item.name() == curso.tipoCurso}"/>
                                    </select>

                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Horas Teoría</label>
                                    <input name="horasTeoria" class="form-control text-right numerico" required="true" th:value="${curso} != null ? ${curso.horasTeoria} : ''"  data-trigger="change"/>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Horas Práctica</label>
                                    <input name="horasPractica" class="form-control text-right numerico" required="true" th:value="${curso} != null ? ${curso.horasPractica} : ''"  data-trigger="change"/>
                                </div>
                            </div>
                        </div>  

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Creditos</label>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="col-sm-3">
                                                <label class="radio inline">
                                                    <input  type="radio" required="true" name="tipoCredito" id="credito" value="FIJO" th:checked="${curso.tipoCredito == 'FIJO'}"/> Fijos
                                                </label>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="radio inline">
                                                    <input  type="radio" required="true" name="tipoCredito" id="credito" value="VAR" th:checked="${curso.tipoCredito == 'VAR'}"/> Variables
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label></label>
                                    <input name="creditos" class="form-control text-right numerico" required="true"  th:value="${curso} != null ? ${curso.creditos} : ''"  data-trigger="change"/>
                                </div>
                            </div>  
                        </div>  
                        <hr/>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Horas Teoría Verano</label>
                                    <input name="horasTeoriaVerano" class="form-control text-right numerico" th:value="${curso} != null ? ${curso.horasTeoriaVerano} : ''"  data-trigger="change"/>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Horas Práctica Verano</label>
                                    <input name="horasPracticaVerano" class="form-control text-right numerico" th:value="${curso} != null ? ${curso.horasPracticaVerano} : ''"  data-trigger="change"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Coordinador</label>
                                    <input type='text' name="coordinador.id" class='form-control' required="true" data-trigger="change"
                                           th:value="${curso.coordinador != null} ? ${curso.coordinador.id}:''"
                                           th:rel="${curso.id != null and curso.coordinador != null} ? ${curso.coordinador.persona.nombreCompleto}:''"  />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Nombre en otros idiomas</label>
                                    <table  class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Idioma</th>
                                                <th>Nombre</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody class="bodyTabla">


                                            <tr th:if="${curso.nombreCurso.size() &gt; 0}"
                                                th:each="itemPadre,iter : ${curso.nombreCurso}">
                                                <td>
                                                    <select class="form-control"  name="idIdioma" required="true" placeholder="Seleccione el idiomas" data-trigger="change">
                                                        <option></option>
                                                        <option th:each="item, iter : ${idiomas}"
                                                                th:value="${item.id}" 
                                                                th:text="${item.nombre}"
                                                                th:selected="${itemPadre.id != null} ? ${item.id == itemPadre.idioma.id} : '' "/>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" name="nombreIdioma" th:value='${itemPadre.nombre}' />
                                                </td>
                                                <td class="v-middle">
                                                    <a class="btn btn-warning btn-sm delete-idioma" ><i class="fa fa-times pointer" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>
                                            <tr th:unless="${curso.nombreCurso.size() &gt; 0}" id="-999">
                                                <td>
                                                    <select class="form-control" name="idIdioma"  required="true" placeholder="Seleccione el idiomas" data-trigger="change">
                                                        <option></option>
                                                        <option th:each="item,iter : ${idiomas}"
                                                                th:value="${item.id}" 
                                                                th:text="${item.nombre}"/>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" name="nombreIdioma"/>
                                                </td>
                                                <td class="v-middle">
                                                    <a class="btn btn-warning btn-sm delete-idioma" ><i class="fa fa-times pointer" aria-hidden="true"></i></a>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td class="text-center add-idioma" colspan="3"><a class="btn btn-info btn-sm"><i class="fa fa-plus" aria-hidden="true"><strong> Agregar Idioma</strong></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>     
                        </div>


                        <div class=" text-center">
                            <a class="btn btn-link" th:href="@{'/academico/curso'}">Regresar</a>
                            <a class="btn btn-success save-update-curso"  th:text="${curso.id != null ? 'Actualizar' : 'Crear Curso'}">Crear Curso</a>
                        </div>
                    </form>
                </section>

                <script id="divNombreCurso" type="text/x-jsrender" class="hide" >
                    <tr>
                    <td>
                    <select class="form-control" name="idIdioma" required="true" placeholder="Seleccione el idiomas" data-trigger="change">
                    <option></option>
                    <option th:each="item : ${idiomas}"
                    th:value="${item.id}" 
                    th:text="${item.nombre}"/>
                    </select>
                    </td>
                    <td>
                    <input type="text" class="form-control" name="nombreIdioma"/>
                    </td>
                    <td class="v-middle"> 
                    <a class="btn btn-warning btn-sm delete-idioma" ><i class="fa fa-times pointer" aria-hidden="true"></i></a>
                    </td>
                    </tr>
                </script>
            </section>


        </div>


    </div>

    <div layout:fragment="js">
        <div th:substituteby="zlayout/includes :: javascript-dynatable"/>
        <script th:src="@{/app/academico/curso/cursoForm.js}" charset="utf-8"></script>
    </div>

</body>
</html>