<html layout:decorator="_layout/layout">
    <head>
        <title>Curso</title>
    </head>

    <body>
        <div layout:fragment="main"
             id="pageCursoVUE" v-cloak="">

            <header class="header b-b padder-lg">
                <div class="pull-right m-t-xs">
                    <a class="btn btn-default" th:href="${origen}">Regresar</a>
                </div>

                <h2 v-if="curso.id=='' ">Nuevo Curso</h2>
                <h2 v-else="" v-text="curso.codigo + ' - ' + curso.nombre" class="m-b-xs"></h2>
                <div v-if="curso.id != '' &amp;&amp; tipoCurriculaEnum.name == 'REG' " v-text="'Estructura: ' + curso.tpc" class="block m-b text-primary bold"></div>
            </header>

            <section class="wrapper-lg">
                <section class="panel m-b-xs">
                    <section class="panel-body">
                        <form data-parsley-validate="true" id="formCurso" method="POST" >

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input class="form-control" required="true" v-model="curso.nombre"  data-trigger="change"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group  ">
                                        <label>Tipo Curricula</label>
                                        <template v-if="curso.id == '' || curso.tipoCurricula == '' ">
                                            <multiselect v-model='tipoCurriculaEnum'
                                                         v-bind:options='tiposCurricula'
                                                         v-bind:allow-empty="false"
                                                         label='value'
                                                         placeholder="Seleccione un tipo"
                                                         deselect-label=""
                                                         select-label="Seleccione este tipo"
                                                         track-by='name'
                                                         v-on:input="setTipoCurricula">
                                            </multiselect>
                                            <input name="tipoCurricula" class="hide" v-model="tipoCurriculaEnum.name"  required=""/>
                                        </template>
                                        <span v-else="" class='form-control' v-text="curso.tipoCurriculaEnum.value"></span>

                                    </div>
                                </div>

                                <div class="col-lg-4" v-if="!isComodinAdicionalExterno(tipoCurriculaEnum.name)">
                                    <div class="form-group">
                                        <label>Modalidad Estudio</label>
                                        <template v-if="curso.id == '' || curso.modalidadEstudio.id == '' ">
                                            <multiselect v-model='modalidadCurso'
                                                         v-bind:options='modalidades'
                                                         v-bind:allow-empty="false"
                                                         label='nombre'
                                                         placeholder="Seleccione una modalidad"
                                                         deselect-label=""
                                                         select-label="Seleccione esta modalidad"
                                                         track-by='id'
                                                         v-on:input="changeModalidad">
                                            </multiselect>
                                            <input name="modalidadCurso.id" class="hide" v-model="modalidadCurso.id" required=""/>
                                        </template>
                                        <span v-else="" class='form-control' v-text="curso.modalidadEstudio.nombre"></span>

                                    </div>
                                </div>

                                <div class="col-lg-2" v-if="!isComodinAdicionalExterno(tipoCurriculaEnum.name)">
                                    <div class="form-group">
                                        <label>Nivel</label>
                                        <template v-if="curso.id == '' || curso.nivel == '' || curso.nivel == undefined ">
                                            <multiselect v-model='nivelCurso'
                                                         v-bind:options='nivelesCurso'
                                                         v-bind:allow-empty="false"
                                                         label='id'
                                                         placeholder="Seleccione un nivel"
                                                         deselect-label=""
                                                         select-label="Seleccione este nivel"
                                                         track-by='id'>
                                            </multiselect>
                                            <input name="nivel" class="hide" v-model="nivelCurso.id" required=""/>
                                        </template>
                                        <span v-else="" class='form-control' v-text="curso.nivel"></span>

                                    </div>
                                </div>

                            </div>

                            <div class="row" v-if="!isComodinAdicionalExterno(tipoCurriculaEnum.name)">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Departamento Académico</label>
                                        <template v-if="curso.id == '' || curso.departamentoAcademico.id == '' ">
                                            <multiselect v-model='dptoCurso'
                                                         v-bind:options='departamentos'
                                                         v-bind:allow-empty="false"
                                                         label='nombre'
                                                         placeholder="Seleccione un departamento"
                                                         deselect-label=""
                                                         select-label="Seleccione este departamento"
                                                         track-by='id'>
                                            </multiselect>
                                            <input name="departamentoAcademico.id" class="hide" v-model="dptoCurso.id" required=""/>
                                        </template>
                                        <span v-else="" class='form-control' v-text="curso.departamentoAcademico.nombre"></span>
                                    </div>
                                </div>

                                <div class="col-lg-6"
                                     v-if="modalidadCurso.id == 2">
                                    <div class="form-group  ">
                                        <label>Especialidad Posgrado</label>
                                        <template v-if="curso.id == '' || curso.carrera.id == '' ">
                                            <multiselect v-model='carreraCurso'
                                                         v-bind:options='carreras'
                                                         v-bind:allow-empty="false"
                                                         v-bind:custom-label="verCarrera"
                                                         label='nombre'
                                                         placeholder="Seleccione una especialidad"
                                                         deselect-label=""
                                                         select-label="Seleccione esta especialidad"
                                                         track-by='id'>
                                                <template slot="option" slot-scope="props">
                                                    <div class="block" v-text="props.option.nombre"></div>
                                                    <small class="block" v-text="props.option.tipoEnum.value"></small>
                                                </template>
                                            </multiselect>
                                            <input name="carrera.id" class="hide" v-model="carreraCurso.id" required=""/>
                                        </template>
                                        <span v-else="" class='form-control' v-text="curso.carrera.tipoEnum.value + ' - ' + curso.carrera.nombre"></span>

                                    </div>
                                </div>
                            </div>

                            <div class="row" v-if="!isComodinAdicionalExterno(tipoCurriculaEnum.name)">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Tipo Dictado</label>
                                        <template v-if="curso.id == '' || curso.tipoCursoEnum.name == 'NINGUNO' ">
                                            <multiselect v-model='tipoCursoEnum'
                                                         v-bind:options='tiposCurso'
                                                         v-bind:allow-empty="false"
                                                         label='value'
                                                         placeholder="Seleccione un tipo"
                                                         deselect-label=""
                                                         select-label="Seleccione este tipo"
                                                         track-by='name'
                                                         v-on:input="setTipoCurso">
                                            </multiselect>
                                            <input name="tipoCurso" class="hide" v-model="curso.tipoCursoEnum.name" required=""/>
                                        </template>
                                        <span v-else="" class='form-control' v-text="curso.tipoCursoEnum.value"></span>


                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Horas semanales de teoría</label>
                                        <input name="horasTeoria" class="form-control text-right numerico" maxlength="2" data-trigger="change"
                                               v-on:change="setHorasTeoria()" v-bind:readonly="!isTeoria()" v-model="curso.horasTeoria" />
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Horas semanales de práctica</label>
                                        <input name="horasPractica" class="form-control text-right numerico" maxlength="2"  data-trigger="change"
                                               v-on:change="setHorasPractica()" v-bind:readonly="!isPractica()" v-model="curso.horasPractica" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6" v-if="isTeoria() == true">
                                    <div class="form-group">
                                        <label>Tipo carpeta Teórica</label>
                                        <template>
                                            <multiselect v-model='tipoCarpetaTeoria'
                                                         v-bind:options='tiposCarpeta'
                                                         v-bind:allow-empty="false"
                                                         label='nombre'
                                                         placeholder="Seleccione una carpeta"
                                                         deselect-label=""
                                                         select-label="Seleccionar"
                                                         track-by='id'
                                                         >
                                            </multiselect>
                                            <input name="tipoCarpetaTeoria" class="hide" v-model="tipoCarpetaTeoria" required=""/>
                                        </template>
                                    </div>
                                </div>
                                <div class="col-lg-6" v-if="isPractica() == true">
                                    <div class="form-group">
                                        <label>Tipo carpeta Práctica</label>
                                        <template>
                                            <multiselect v-model='tipoCarpetaPractica'
                                                         v-bind:options='tiposCarpeta'
                                                         v-bind:allow-empty="false"
                                                         label='nombre'
                                                         placeholder="Seleccione una carpeta"
                                                         deselect-label=""
                                                         select-label="Seleccionar"
                                                         track-by='id'>
                                            </multiselect>
                                            <input name="tipoCarpetaPractica" class="hide" v-model="tipoCarpetaPractica" required=""/>
                                        </template>
                                    </div>
                                </div>
                            </div> 

                            <div class="row" v-if="tipoCurriculaEnum.name == 'REG' ">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Tipo Creditaje</label>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="col-sm-6">
                                                    <label class="radio inline">
                                                        <input  type="radio" required="true" name="tipoCredito" id="credito" value="FIJO" 
                                                                v-bind:checked="curso.tipoCredito == 'FIJO' " v-model="curso.tipoCredito" v-on:change="setTipoCredito()"/> Fijos
                                                    </label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="radio inline">
                                                        <input  type="radio" required="true" name="tipoCredito" id="credito" value="VAR" 
                                                                v-bind:checked="curso.tipoCredito == 'VAR' " v-model="curso.tipoCredito" v-on:change="setTipoCredito()"/> Variables
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <label v-if="curso.tipoCredito == 'FIJO' ">Créditos</label>
                                    <label v-if="curso.tipoCredito == 'VAR' ">Créditos Máximo</label>
                                    <div class="form-group">
                                        <input name="creditos" v-model="curso.creditos" class="form-control text-right numerico" required="true" maxlength="2" data-trigger="change"
                                               v-if="curso.tipoCredito == 'FIJO' " v-bind:readonly="curso.tipoCredito == 'FIJO' || tipoCurriculaEnum.name != 'REG' " v-bind:value="curso.creditos" />
                                        <input name="creditosVariables" v-model="curso.creditosVariables" class="form-control text-right numerico" required="true" maxlength="2" data-trigger="change"
                                               v-if="curso.tipoCredito == 'VAR' " v-bind:readonly="tipoCurriculaEnum.name != 'REG' " v-bind:value="curso.creditosVariables" />
                                    </div>
                                </div>

                                <template v-if="curso.tipoCredito == 'FIJO' ">
                                    <div class="col-lg-3" id="credTeoria">
                                        <label>Créditos Teoría</label>
                                        <div class="form-group">
                                            <input name="creditosTeoria" class="form-control text-right numerico" required="true" maxlength="2" data-trigger="change"
                                                   v-on:change="setCreditos()" v-bind:readonly="!isCreditosTeoria()" v-model="curso.creditosTeoria" />
                                        </div>
                                    </div>

                                    <div class="col-lg-3" id="credPract">
                                        <label>Créditos Práctica</label>
                                        <div class="form-group">
                                            <input name="creditosPractica" class="form-control text-right numerico" required="true" maxlength="2" data-trigger="change"
                                                   v-on:change="setCreditos()" v-bind:readonly="!isCreditosPractica()" v-model="curso.creditosPractica" />
                                        </div>
                                    </div>  
                                </template>
                            </div>

                            <div class="row" v-if="!isComodinAdicionalExterno(tipoCurriculaEnum.name)">
                                <div class="col-lg-3">
                                    <label>Encuestable</label>
                                    <div class="form-group">
                                        <label class="switch">
                                            <input type="checkbox" name="siEncuestar" value="true" v-model="siEncuestar"/>
                                            <span></span>
                                        </label>
                                    </div>
                                </div>  
                                <div class="col-lg-3">
                                    <label>Considerado para carga adicional</label>
                                    <div class="form-group">
                                        <label class="switch">
                                            <input type="checkbox" name="siCargaAdicional" value="true" v-model="siCargaAdicional"/>
                                            <span></span>
                                        </label>
                                    </div>
                                </div>  

                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Horas semanales de teoría en verano</label>
                                        <input name="horasTeoriaVerano" class="form-control text-right numerico" maxlength="3" data-trigger="change"
                                               v-bind:readonly="!isTeoria()" v-model="curso.horasTeoriaVerano" />
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Horas semanales de práctica en verano</label>
                                        <input name="horasPracticaVerano" class="form-control text-right numerico" maxlength="3" data-trigger="change"
                                               v-bind:readonly="!isPractica()" v-model="curso.horasPracticaVerano" />
                                    </div>
                                </div>

                            </div>

                            <hr v-if="!isComodinAdicionalExterno(tipoCurriculaEnum.name)"/>

                            <div class="row" v-if="!isComodinAdicionalExterno(tipoCurriculaEnum.name)">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Coordinador</label>
                                        <template v-if="dptoCurso.id !== '' ">
                                            <multiselect v-model='curso.coordinador'
                                                         v-bind:internal-search='false'
                                                         v-bind:limit='15'
                                                         v-on:search-change="searchDocentes"
                                                         v-bind:options='docentes'
                                                         v-bind:allow-empty="true"
                                                         placeholder="Ingresa un caracter como mínimo"
                                                         deselect-label=""
                                                         track-by="id"
                                                         select-label="Seleccione este docente"
                                                         v-bind:loading="isLoadingDocentes"
                                                         v-bind:custom-label='verDocente'>
                                                <template slot="option" slot-scope="props">
                                                    <div class="block bold h5 m-t-xs m-b-xs" v-text="props.option.persona.apellidosNombres"></div>
                                                    <small class="block" v-text="props.option.departamentoAcademico.nombre"></small>
                                                    <div class="block" v-text="'Código ' + props.option.codigo"></div>
                                                </template>
                                            </multiselect>
                                        </template>
                                        <div v-else="" class="block text-danger bold form-control">Debe seleccionar un departamento académico</div>
                                    </div>
                                </div>
                            </div>

                            <div class=" text-center">
                                <a v-if="curso.id == '' " class="btn btn-primary " v-on:click="save()">Crear Curso</a>
                                <a v-else="" class="btn btn-primary save-update-curso" v-on:click="save()" >Actualizar Curso</a>
                            </div>

                            <!--<pre>{{idiomaCurso}}</pre>-->

                            <div class="row" v-if="curso.id != '' &amp;&amp; !isComodinAdicionalExterno(tipoCurriculaEnum.name) ">
                                <div class="col-lg-8 col-lg-offset-2 m-t-lg">
                                    <div class="form-group">
                                        <h3>Nombre en otros idiomas</h3>
                                        <table class="table table-striped table-hover">
                                            <thead> 
                                                <tr>
                                                    <th></th>
                                                    <th class="col-md-5">Idioma</th>
                                                    <th class="col-md-7">Nombre</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(nm,index) in idiomaCurso">
                                            <template v-if="nm.id != '' ">
                                                <td class="v-middle">
                                                    <a v-if="nm.locked" class="btn btn-warning btn-sm" v-on:click="desbloquearIdioma(index)"><i class="fa fa-lock pointer"></i></a>
                                                    <a v-else="" class="btn btn-primary btn-sm" v-on:click="bloquearIdioma(index)"><i class="fa fa-unlock pointer"></i></a>
                                                </td>

                                                <td v-text="nm.idioma.nombre"  class="v-middle"></td>

                                                <td class="v-middle">
                                                    <span v-if="nm.locked" v-text="nm.nombre"></span>
                                                    <input v-else="" type="text" class="form-control" v-model="nm.nombre"/>
                                                </td>

                                                <td class="v-middle" >
                                                    <a v-if="!nm.locked" class="btn btn-success btn-sm" v-on:click="saveIdioma(nm,index)"><i class="fa fa-cloud-upload pointer"></i></a>
                                                </td>
                                                <td class="v-middle">
                                                    <a v-if="!nm.locked" class="btn btn-danger btn-sm" v-on:click="deleteIdioma(nm,index)"><i class="fa fa-times pointer"></i></a>
                                                </td>
                                            </template>

                                            <template v-if="nm.id == '' ">
                                                <td></td>
                                                <td>
                                                <multiselect v-model='nm.idioma'
                                                             v-bind:options='idiomas'
                                                             v-bind:allow-empty="false"
                                                             label='nombre'
                                                             placeholder="Seleccione un idioma"
                                                             deselect-label=""
                                                             select-label="Seleccione este idioma"
                                                             track-by='id'>
                                                </multiselect>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" v-model="nm.nombre"/>
                                                </td>

                                                <td class="v-middle" >
                                                    <a class="btn btn-success btn-sm" v-on:click="saveIdioma(nm,index)"><i class="fa fa-cloud-upload pointer"></i></a>
                                                </td>

                                                <td class="v-middle" >
                                                    <a class="btn btn-danger btn-sm" v-on:click="removeIdioma(index)"><i class="fa fa-times pointer"></i></a>
                                                </td>
                                            </template>
                                            </tr>
                                            <tr>
                                                <td colspan="4" class="text-right">
                                                    <a class="btn btn-default btn-sm" v-on:click="addIdioma()">Agregar idioma</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>  
                            </div>
                        </form>
                    </section>
                </section>
            </section>
        </div>



        <div layout:fragment="js">
            <script th:inline="javascript">
                var cursoJson = /*[[${cursoJson}]]*/ {};
                var modalidadesJson = /*[[${modalidadesJson}]]*/ {};
                var tiposCursoJson = /*[[${tiposCursoJson}]]*/ {};
                var tiposCurriculaJson = /*[[${tiposCurriculaJson}]]*/ {};
                var idiomasJson = /*[[${idiomasJson}]]*/ {};
                var departamentosJson = /*[[${departamentosJson}]]*/ {};
                var carrerasJson = /*[[${carrerasJson}]]*/ {};
                var tiposCarpetaJson = /*[[${tiposCarpetaJson}]]*/ {};
            </script>
            <script th:src="@{/app/academico/curso/cursoForm.js}" charset="utf-8"></script>
        </div>

    </body>
</html>
