
<div class="modal fade" id="modalCambioEstado">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title bold tituloCambioEstado">¿Por qué motivo desea cambiar el estado?</h5>
            </div>
            <div class="modal-body">
                <form id="formCambioEstado" method="POST">

                    <div class="row m-b-md">
                        <input class='hide' name="id"/>
                        <div class="form-group">
                            <div class="col-md-12 campoMotivo">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary cambio-estado-curso">Aceptar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>