<tr rel="{{:index}}">
    <td class="v-middle">
        <div class="pull-left">
            <img class="img-responsive img-thumbnail img-circle" src="{{:rutaFoto}}" />
        </div>
    </td>
    <td class="v-middle">
        <a href="#" class="block text-primary bold detallePostulante h5 m-b-xs m-t-xs" >{{:nombre}}</a>
        <span class="block">
            Matrícula: {{:codigo}} 
        </span>
        {{if nroDocumento}}
            <small class="block bold">{{:tipoDoc}} {{:nroDocumento}}</small>
        {{/if}}
    </td>

    <td class="v-middle text-center">
        {{if verTipoCarrera}}
            <span class="block text-info bold">{{:tipoCarreraValue}} en</span>
        {{/if}}
        <span class="block text-success">
            {{:carrera}}
        </span>
        {{if verFacultad}}
            <span class="block">Facultad de {{:facultad}}</span>
        {{/if}}
        <small class="block bold">{{:modalidad}}</small>
    </td>

    <td class="v-middle text-center">
        <span class="block h5 text-primary m-t-xs m-b-xs">{{:situacion}}</span>
        <span class="block"><b>Ingresó:</b> {{:cicloIngreso}}</span>
        <span class="block"><b>Último ciclo:</b> {{:cicloActivo}}</span>
    </td>

    <td>
        <span class="block">PPA: {{:ppa}}</span>
        <span class="block">CCA: {{:cca}}</span>
        <span class="block">CAPA: {{:capa}}</span>
    </td>

    <td class="text-center v-middle">
        <span class="clear">
            {{if estado == "ANU"}}
            <a href="#" data-toggle="tooltip" data-html="true" data-placement="left" title='{{:motivo}}'><span class="label label-{{:colorEstado}}">{{:estadoEnum}} </span></a>
            {{else}}
            <span class="label label-{{:colorEstado}}">{{:estadoEnum}} </span>
            {{/if}}
        </span>
    </td>


    <td class="v-middle">
        <div class="actions">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i></a>
            <ul class="dropdown-menu pull-right">
                <li><a class="modificar-datos" href="#">Modificar datos</a></li>
                <li><a class="" th:href="@{/academico/alumno/{{:id}}/infoacademico}">Información académica</a></li>
             </ul>
        </div>
    </td>
</tr>
