<html layout:decorator="_layout/layout">
    <head>
        <title>Listado de Aconsejados</title>
        <style>
            span#departs {
                /*                margin-left: 1px;*/
                font-size: x-small;
            }
            .circle-recorrido {
                display: block;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                overflow: hidden;
                margin: 0 auto;
                line-height: 50px;  
                /*                text-align: center;*/
                font-size: 16px;
                /*                margin-left: 49px;*/
                text-indent: 0;
                vertical-align: middle;
                margin-top: 2px;
                margin-bottom: 2px;
            }

            .circle-recorrido.bgr-success {
                background-color: #2ECC71;
                color: #fff;
            }

            .circle-recorrido.bgr-default {
                background-color: #3C4043;
                color: #fff;
            }

        </style>
    </head>

    <body>
        <section layout:fragment="main">

            <div id="consejeriaVUE">
                <div v-cloak="">

                    <header class="header b-b padder-lg">

                        <h2>Listado de Aconsejados <span v-text='ciclo.descripcion'></span></h2>
                    </header>
                    <section class="wrapper-lg">
                        <section class="panel">
                            <section class="panel-body">
                                <raptor-table v-bind:url="aconsejadosURL" v-bind:preload="false" ref="load">      
                                    <div slot="header">
                                        <div class="col-md-8 preguntas-col">
                                            <div class="row">
                                                <div class="col-md-8" >
                                                    <multiselect v-model="carreraSelect" 
                                                                 v-bind:options='carreras'
                                                                 label='nombre'
                                                                 track-by='id'
                                                                 placeholder="Seleccione una carrera"
                                                                 v-bind:allow-empty="false"                                                                 
                                                                 v-on:select="cargaAconsejados">
                                                    </multiselect>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <template scope="props" >
                                        <table id="dynaTable" class="table table-striped">
                                            <thead class="panel panel-heading">
                                                <tr>
                                                    <th class="col-md-4 text-center v-middle"  colspan="2"></th>
                                                    <th class="col-md-4 v-middle"></th>
                                                    <th class="col-md-4 v-middle"><span>Consejero</span></th>
                                                    <th class="col-md-1 v-middle"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in props.data">
                                                    <td class="v-middle">
                                                        <div class="pull-left">
                                                            <div v-if="item.alumno.persona.tipoFoto=='POSTUL' "
                                                                 class="img-responsive img-thumbnail img-circle div-foto-list">
                                                                <img class="img-foto-list" v-bind:src="item.alumno.persona.rutaFoto" />
                                                            </div>

                                                            <img v-else-if="item.alumno.persona.tipoFoto=='COMUN' " 
                                                                 class="img-responsive img-thumbnail img-circle div-foto-alumno-list" 
                                                                 v-bind:src="item.alumno.persona.rutaFoto" />

                                                            <img v-else="" 
                                                                 class="img-foto-tempo img-responsive img-thumbnail img-circle" 
                                                                 v-bind:src="item.alumno.persona.rutaFoto" />
                                                        </div>
                                                    </td>
                                                    <td class="v-middle">
                                                        <a  class="block text-primary bold h5 m-b-xs m-t-xs" >
                                                            {{item.alumno.persona.apellidosNombres}}
                                                        </a>
                                                        <span class="block">
                                                            Matrícula: {{item.alumno.codigo}}
                                                        </span>
                                                        <small v-if="item.alumno.persona.numeroDocIdentidad != '' " class="block bold">
                                                            {{item.alumno.persona.tipoDocumento.simbolo}} {{item.alumno.persona.numeroDocIdentidad}}
                                                        </small>

                                                    </td>
                                                    <td class="v-middle">
                                                        <span class="block">                                                            
                                                            <span class=" bold"> Situación Academica: </span>
                                                            {{item.alumno.situacionAcademica.nombre}}
                                                        </span>
                                                        <span class="block">                                                            
                                                            <span class=" bold"> CCA: </span>
                                                            {{item.alumno.creditosCursados}}
                                                        </span>
                                                        <span class="block">                                                            
                                                            <span class=" bold"> CAPA: </span>
                                                            {{item.alumno.creditosAprobados}}
                                                        </span>
                                                        <!--                                                     PONER LUEGO   <span class="block">                                                            
                                                                                                                    <span class=" bold"> PA </span>
                                                                                                                    {{item.alumno.situacionAcademica.nombre}}
                                                                                                                </span>-->
                                                        <span class="block">                                                            
                                                            <span class=" bold"> PPA: </span>
                                                            {{item.alumno.promedioAcumulado}}
                                                        </span>
                                                        <span class="block" v-if="item.alumno.cicloIngreso != null">                                                            
                                                            <span class=" bold"> Ciclo Ingreso: </span>
                                                            {{item.alumno.cicloIngreso.descripcion}}
                                                        </span>
                                                    </td>
                                                    <td class="v-middle">
                                                        <a class="block text-primary bold ">{{item.consejero.colaborador.persona.apellidosNombres}}</a> 
                                                        <small class="block bold">DNI: {{item.consejero.colaborador.persona.numeroDocIdentidad}}</small>                                                    
                                                        <span class=" bold"> Fecha Asignación: </span>
                                                        <span  v-text="item.fechaAsigna"></span>
                                                    </td>
                                                    <td class="v-middle">
                                                        <div class="dropdown actions">
                                                            <a class="dropdown-toggle" data-toggle="dropdown">
                                                                <i class="glyphicon glyphicon-cog"></i>
                                                            </a>
                                                            <ul class="dropdown-menu pull-right">
                                                                <li  ><a v-on:click="model(item)">Cambiar Consejero</a></li>
                                                                <li><a v-bind:href="urlAcademico(item.alumno)">Información académica</a></li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>         
                                    </template>
                                </raptor-table>

                            </section>
                        </section>
                    </section>
                </div>
                <div th:substituteby="consejeria/aconsejado/consejeroModal"></div>
            </div>
            <div th:substituteby="_modules/vue-modal"/>
        </section>

        <div layout:fragment="js" th:remove="tag">
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <script th:inline="javascript">
                /*<![CDATA[*/
                var cicloJson = /*[[${ciclo.toString()}]]*/ 'json';
                var carrerasJson = /*[[${carreras}]]*/ 'json';
                /*]]>*/
            </script>
            <script type="text/javascript" th:src="@{/phobos/modules/vue-modal.js}"></script>
            <script th:src="@{/app/consejeria/aconsejado/aconsejado.js}" charset="utf-8"></script>
        </div>

    </body>
</html>