<html layout:decorator="_layout/layout">
    <head>
        <title>Alumnos</title>
        <link th:substituteby="_layout/includes :: styles-dynatable"/>
    </head>

    <body>
        <section  layout:fragment="main">

            <div id="main" >
                <header class="header b-b padder-lg">
                    <div class="pull-right m-t-md">
                        <a th:href="@{/tramite/solicitudconstancia/updatehistorial}" class="btn btn-link btn-sm">Regresar</a>
                        <button class="btn btn-info btn-sm" type="button"
                                v-on:click.prevent="guardarInformacion"  v-bind:disabled="guardando">
                            <i class="fa fa-spinner fa-spin" aria-hidden="true" v-if="guardando"></i>  &nbsp;   Guardar Informacion
                        </button>
                    </div>
                    <h2>Información Académica</h2>
                </header>

                <section class="wrapper-lg">

                    <section class="panel">

                        <header-info-component v-bind:alumno="alumno"></header-info-component>

                    </section>


                    <form  method="POST" id="form"   data-parsley-validate="true">

                        <input type="hidden" name="id" v-bind:value="alumno.id" />

                        <ciclo-component
                            v-for="( alumnociclo , inx )  in alumnociclos"
                            v-bind:alumnociclo="alumnociclo"
                            v-bind:inx="inx"
                            ></ciclo-component>

                    </form>

                    <section class="panel">

                        <div class="text-center">
                            <button class="btn btn-link btn-sm text-primary" type="button" v-on:click.prevent="agregarAlumnoCiclo" >Agregar Ciclo</button>
                        </div>

                        <section class="panel-footer">
                            <div class="text-right">

                                <button class="btn btn-info btn-sm" type="button"
                                        v-on:click.prevent="guardarInformacion"  v-bind:disabled="guardando">
                                    <i class="fa fa-spinner fa-spin" aria-hidden="true" v-if="guardando"></i>&nbsp;  Guardar Informacion
                                </button>

                            </div>
                        </section>

                    </section>

                </section>
            </div>

            <div th:substituteby="tramite/updatehistorialacademico/updateHistorialAcademicoTmp"/>

        </section>
        <div layout:fragment="js">

            <script th:inline="javascript">
                /*<![CDATA[*/
                var alumnoJson = /*[[${datoAlumno.toString()}]]*/ '';
                /*]]>*/
            </script>
            <script th:src="@{/app/tramite/updatehistorialacademico/updateHistorialAcademicoHeader.js}" charset="utf-8"></script>
            <script th:src="@{/app/tramite/updatehistorialacademico/updateHistorialAcademicoCiclo.js}" charset="utf-8"></script>
            <script th:src="@{/app/tramite/updatehistorialacademico/updateHistorialAcademicoCurso.js}" charset="utf-8"></script>
            <script th:src="@{/app/tramite/updatehistorialacademico/updateHistorialAcademico.js}" charset="utf-8"></script>

        </div>
    </body>
</html>