<template id="dynatableTemplate">
    <transition name="fade">

        <div class="panel padder-v">
            <table id="dynaTable" class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th class="col-xs-6"></th>
                        <th class="col-xs-3">Trámite</th>
                        <th class="col-xs-2">Documento</th>
                        <th class="col-xs-1">Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="dynaTbody"><tr></tr></tbody>
            </table>
        </div>

    </transition>
</template>

<template  type="text/x-template" id="dynatableRowTemplate">
    <tr  v-bind:class="{ 'rowactive' :   solicitud.id == rowActive}" >

        <td class="v-middle">
            <img class="img-circle" v-bind:src="solicitud.rutaFoto" ></img>
        </td>

        <td  class="v-middle"  >
            <p  class="h5 bold text-primary" v-text="solicitud.nombre"></p>
            <span v-if="solicitud.codigoMatricula"  class="block"> Especialida de {{solicitud.carrera}}</span>
            <span v-if="solicitud.showfacultad" class="block">Facultad de {{solicitud.facultad}}</span>
            <small class="block bold">{{solicitud.tipo}} {{solicitud.dni}}</small>
            <small v-if="solicitud.showfacultad" class="block bold"> Matrícula: {{solicitud.codigoMatricula}}</small>
        </td>

        <td class="v-middle">
            <p  class="" > {{ solicitud.numero}} </p>
        </td>

        <td class="v-middle">
            <p class=""> {{ solicitud.documento}} </p>
            <p class="text-xs"> {{ solicitud.documentoName}} </p>
        </td>

        <td class="v-middle">
            <span   v-if="solicitud.estado=='ACEP' " class="label label-default ">{{solicitud.estadoEnum}}</span>
            <span   v-if="solicitud.estado=='PEND' " class="label label-default ">{{solicitud.estadoEnum}}</span>
            <span   v-if="solicitud.estado=='DEV' " class="label label-default ">{{solicitud.estadoEnum}}</span>
            <span   v-if="solicitud.estado=='ENV' " class="label label-default ">{{solicitud.estadoEnum}}</span>
            <span   v-if="solicitud.estado=='ANU' " class="label label-default ">{{solicitud.estadoEnum}}</span>
            <span   v-if="solicitud.estado=='ACT' " class="label label-primary ">{{solicitud.estadoEnum}}</span>
            <span   v-if="solicitud.estado=='CRE' " class="label label-default ">{{solicitud.estadoEnum}}</span>
        </td>

        <td class="v-middle">
            <div class="dropdown actions">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-option-vertical"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li v-if="solicitud.showUpdateHistorial"><a  v-bind:href="urll('tramite/solicitudconstancia/updatehistorial/'+solicitud.idalumno+'/updatehistorial')">Actualizar historial academico</a></li>
                    <li><a  v-bind:href="urll('tramite/solicitudconstancia/updatehistorial/'+solicitud.id+'/update')">Editar Solicitud Documento</a></li>
                    <li> <a v-on:click.prevent="enviarrevision(solicitud)"  href="#">Enviar a Revisión</a></li>
                    <li> <a v-on:click.prevent="cancelar(solicitud.id)"  href="#">Cancelar Solicitud Documento</a></li>
                    <li class="divider"></li>
                    <li><a v-on:click.prevent="eliminar(solicitud.id)"  href="#">Eliminar Solicitud Documento</a></li>
                </ul>
            </div>
        </td>
    </tr>

</template>

<template id="colaboradorTemplate"  >
    <div class="row">
        <div class="pull-left m-l-sm m-r-sm" >
            <img class="img-responsive img-thumbnail img-circle" v-bind:src="colaborador.rutaFoto" ></img>
        </div>
        <span class="block bold m-t-sm" v-text='colaborador.nombre' ></span>
        <span class="block" v-text="colaborador.tipo+'  '+colaborador.numero" ></span>
        <span class="block text-xs" v-text="'Cod:'+colaborador.codigo"></span>
    </div>
</template>