<template id="headerInfoComponent">
    <section class="panel-body m-t-n-md">
        <div class="col-sm-2 col-xs-12" align="center">
            <img style="min-width: 90px"  class="img-responsive img-circle m-t-lg" v-bind:src="alumno.rutaFoto"> </img>
        </div>
        <div class=" col-sm-10 col-xs-12">
            <h3 class="block" v-text='alumno.persona.apellidosNombres'> </h3>
            <span class="block" v-text="alumno.codigo+'  '+alumno.situacionAcademica.nombre"></span>
            <span v-if="ident" class="block" v-text="alumno.persona.tipoDocumento.simbolo+'  '+alumno.persona.numeroDocIdentidad" ></span>
            <span v-if="flag" class="block" v-text="getCarreraName(alumno)" ></span>
            <small class="block" v-text="alumno.modalidadEstudio.nombre"> </small>
        </div>
    </section>
</template>