<html layout:decorator="_layout/layout">
    <head>
        <title> Tramites documentarios </title>
        <link th:substituteby="_layout/includes :: styles-dynatable"/>
    </head>
    <body>
        <div layout:fragment="main">
            <div id="main">

                <header class="header b-b padder-lg">
                    <a class="pull-right btn btn-success btn-sm" type="button"    th:href="@{/tramite/solicitudconstancia/updatehistorial/nuevo}" >
                        Agregar Tramite
                    </a>
                    <h1>Tramites documentarios</h1>
                </header>

                <section class="wrapper-lg m-b-xs">
                    <section class="panel">
                        <section class="panel-body m-t-sm">
                            <dynatable />
                        </section>
                    </section>
                </section>

            </div>

            <th:block th:replace="tramite/updatehistorialacademico/updateHistorialAcademicoDynatable"/>

        </div>
        <div layout:fragment="js">
            <div th:substituteby="_layout/includes :: javascript-dynatable"/>
            <div th:substituteby="_layout/includes :: javascript-filedownload"/>
            <div th:substituteby="_layout/includes :: vuejs"/>
            <div th:substituteby="_layout/includes :: vuemodal"/>
            <script th:src="@{/app/tramite/updatehistorialacademico/updateHistorialAcademicoDynatable.js}" charset="utf-8"></script>
            <script th:src="@{/app/tramite/updatehistorialacademico/updateHistorialAcademicoList.js}" charset="utf-8"></script>
        </div>
    </body>
</html>