<modal-vik ref="enviarRevision"
           v-bind="dataEnviarRevision"
           v-bind:okaction="createEnviarRevision">

    <div slot="body">

        <form id="formEnviarRevision"  data-parsley-validate="true">

            <input type="hidden"  name="id" v-bind:value="solicitudActiva.id"/>

            <div class="form-group">
                <label>Colaborador</label>
                <input type="text"
                       class="form-control"
                       name="colaborador.id"
                       v-model="colaborador.id"
                       required="true"/>
            </div>
        </form>

    </div>
</modal-vik>