<template id="cicloTemplate">

    <section class="panel">

        <section class="panel-body">

            <div class="row m-b-sm">

                <input type="hidden"  v-bind:name=" 'alumnoCiclo['+inx+'].id'  "  v-bind:value="alumnociclo.id" />

                <div class="col-lg-3 col-sm-6 col-xs-11">
                    <label class="text-sm col-xs-12">Ciclo Acádemico</label>
                    <div class="col-xs-12">
                        <select
                            v-model="alumnociclo.cicloAcademico.id"
                            required="true"
                            v-bind:name=" 'alumnoCiclo['+inx+'].cicloAcademico.id'  "
                            class="cicloSelect form-control input-sm">
                            <option value=""></option>
                            <option th:value="${ciclo.id}" th:each="ciclo:${ciclosAcademico}"  th:text="${ciclo.descripcion}"></option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-9 col-sm-6 col-xs-1 pull-right">
                    <div class="pull-right m-t-md">
                        <div class="dropdown actions">

                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-option-vertical pointer"></i>
                            </a>

                            <ul class="dropdown-menu pull-right" >
                                <li><a href="#"  class="" v-on:click.prevent="deleteAlumnoCiclo(alumnociclo)">Eliminar</a></li>
                            </ul>

                        </div>
                    </div>
                </div>

            </div>

            <table class="table unborder table-condensed col-md-12"  >

                <tbody>

                    <tr>
                        <th scope="col" class="col-md-8">
                            Nombre del curso
                        </th>
                        <th scope="col" class="col-md-2 text-center">
                            Créditos
                        </th>
                        <th scope="col" class="col-md-2 text-center">
                            Nota
                        </th>
                        <th scope="col" class="col-md-2 text-center">
                        </th>
                    </tr>

                    <tr is="curso-component"
                        v-bind:alumnociclo="alumnociclo"
                        v-for="( alumnociclocurso, index ) in alumnociclo.alumnociclocursos"
                        v-bind:alumnociclocurso="alumnociclocurso"
                        v-bind:inx="inx"
                        v-bind:index="index"
                        ></tr>

                    <tr>
                        <td colspan="4">
                            <a href="#"  class="text-sm text-info" v-on:click.prevent="agregarAlumnoCicloCurso(alumnociclo)">Agregar curso</a>
                        </td>
                    </tr>

                </tbody>

            </table>

        </section>
    </section>
</template>


<template id="cursoTemplate"  >
    <tr>

        <td class="col-xs-8">

            <input type="hidden"   v-bind:value="alumnociclocurso.id"  v-bind:name=" 'alumnoCiclo['+inx+'].alumnoCicloCurso['+index+'].id'  "   />

            <input
                class="selectCurso form-control input-sm"
                type="text"  required="true"
                v-bind:model="alumnociclocurso.curso.id"
                v-bind:value="alumnociclocurso.curso.id"
                v-bind:name=" 'alumnoCiclo['+inx+'].alumnoCicloCurso['+index+'].curso.id'  "
                />

        </td>

        <td class="col-xs-2" >
            <input
                class="form-control input-sm text-right numeric"
                type="text"
                required="true"
                v-bind:model="alumnociclocurso.creditos"
                v-bind:name=" 'alumnoCiclo['+inx+'].alumnoCicloCurso['+index+'].creditos'  "
                v-bind:value="alumnociclocurso.creditos" />
        </td>

        <td class="col-xs-2">
            <input
                class="form-control input-sm  text-right upperCase"
                type="text"
                maxlength="2"
                required="true"
                data-parsley-pattern="/(AP|DE|TE|20|[0-1][0-9])$/i"
                v-bind:model="alumnociclocurso.nota"
                v-bind:name=" 'alumnoCiclo['+inx+'].alumnoCicloCurso['+index+'].nota'  "
                v-bind:value="alumnociclocurso.nota"
                />
        </td>

        <td class="v-middle ">
            <a href="#" v-on:click="deleteAlumnoCicloCurso( alumnociclocurso, alumnociclo)"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </td>

    </tr>
</template>


<template id="headerInfoComponent">
    <section class="panel-body m-t-n-md">
        <div class="col-sm-2 col-xs-12" align="center">
            <img style="min-width: 90px"  class="img-responsive img-circle m-t-lg" v-bind:src="alumno.rutaFoto"> </img>
        </div>
        <div class=" col-sm-10 col-xs-12">
            <h3 class="block" v-text='alumno.persona.apellidosNombres'> </h3>
            <span class="block" v-text="alumno.codigo+'  '+alumno.situacionAcademica.nombre"></span>
            <span v-if="ident" class="block" v-text="alumno.persona.tipoDocumento.simbolo+'  '+alumno.persona.numeroDocIdentidad" ></span>
            <span v-if="flag" class="block" v-text="getCarreraName(alumno)" ></span>
            <small class="block" v-text="alumno.modalidadEstudio.nombre"> </small>
        </div>
    </section>
</template>

<template id="itemCursoTemplate"  >
    <td class="v-middle">
        <span class="block bold" v-text="curso.nombre"></span>
        <span class="block"><b v-text="curso.codigo"></b> &nbsp;&nbsp; <i class="fa fa-bookmark-o"></i> <span v-text="curso.tpc"></span></span>
        <small v-if="curso.codigoAnterior1" class="block bold" v-text="curso.codigoAnterior1"></small>
    </td>
</template>
