<html layout:decorator="_layout/layout">
    <head>
        <title> Solicitud Constancia </title>
    </head>
    <body>

        <div layout:fragment="main">
            <div id="main">

                <header class="header b-b padder-lg">

                    <a class="pull-right btn btn-default  btn-sm"
                       th:href="@{/tramite/solicitudconstancia/updatehistorial}" >
                        Regresar
                    </a>

                    <h1 th:text="${solicitud.id!=null?'Edicion de Solicitud de Constancia':'Nueva Solicitud de Constancia'}">Nueva Solicitud de Constancia</h1>

                </header>

                <section class="wrapper-lg m-b-xs">
                    <section class="panel">
                        <section class="panel-body m-t-sm">

                            <transition name="fade">
                                <div v-if="alumno.id!=null" class="row m-b-lg">
                                    <div class="col-xs-12">
                                        <div class="text-center pull-left m-l-sm m-r-md " >
                                            <img class="img-responsive img-thumbnail img-circle" v-bind:src="alumno.rutaFoto" ></img>
                                        </div>
                                        <span class="block bold" v-text="alumno.nombre"></span>
                                        <span class="block"  v-text=" 'Especialida de  '+alumno.carrera  " > </span>
                                        <span class="block"  v-text=" 'Facultad de  '+alumno.facultad  " > </span>
                                        <span class="text-sm block" v-text=" alumno.tipo+'      '+alumno.numero+'       Nro Matrícula    '+alumno.codigoMatricula"></span>
                                    </div>
                                </div>
                            </transition>

                            <form  method="post" id="formSolicitudConstancia"   data-parsley-validate="true">

                                <input type="hidden" name="id" th:value="${solicitud.id}" />

                                <div class="col-xs-12" >
                                    <div class="form-group">
                                        <label>Alumno</label>
                                        <input
                                            v-bind:value="alumno.id"
                                            name="tramite.alumno.id"
                                            type="text"  class="form-control" />
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>¿Que documento necesita?</label>
                                        <select name="tipoDocumentoAcademico.id" class="form-control" required="true">
                                            <option></option>
                                            <option
                                                th:each="tipo : ${tiposDocumentoAcademico}"
                                                th:text="${tipo.nombre}"
                                                th:selected="${solicitud.tipoDocumentoAcademico!=null?solicitud.tipoDocumentoAcademico.id==tipo.id:0}"
                                                th:value="${tipo.id}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Idioma</label>
                                        <select name="idioma.id" class="form-control" required="true">
                                            <option
                                                th:each="item : ${idiomas}"
                                                th:value="${item.id}"
                                                th:selected="${solicitud.idioma!=null?solicitud.idioma.id==item.id:0}"
                                                th:text="${item.nombre}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div v-if="showCostoDocumento" class="col-xs-12">
                                    <div class="form-group">
                                        <label>Importe a pagar</label>
                                        <p  class="form-control-static" >  S./  {{costoDocumento}}</p>
                                    </div>
                                </div>


                                <div class="col-xs-12 col-sm-12">
                                    <div class="form-group">
                                        <label>Fotografia para el documento</label>
                                        <vueupload></vueupload>
                                    </div>
                                </div>



                                <div class="col-xs-12">
                                    <h4  class="m-b-md m-t-md">Información de Contacto</h4>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>Nombre del contacto</label>
                                        <input type="text"
                                               class="form-control"
                                               name="personaContacto"
                                               v-model="solicitud.personaContacto"
                                               required="true"
                                               th:value="${solicitud.personaContacto}"/>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Celular</label>
                                        <input type="text"
                                               class="form-control"
                                               name="celular"
                                               v-model="solicitud.celular"
                                               required="true"
                                               th:value="${solicitud.celular}"/>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Teléfono</label>
                                        <input type="text"
                                               class="form-control"
                                               name="telefono"
                                               v-model="solicitud.telefono"
                                               required="true"
                                               th:value="${solicitud.telefono}"/>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Correo electrónico</label>
                                        <input type="email"
                                               class="form-control"
                                               name="email"
                                               v-model="solicitud.email"
                                               required="true"
                                               th:value="${solicitud.email}"/>
                                    </div>
                                </div>



                                <div class="panel-footer col-xs-12 text-center">

                                    <button  type="button"
                                             class="btn btn-success"
                                             v-on:click.prevent="submitForm"
                                             v-bind:disabled="guardando">
                                        <i class="fa fa-spinner fa-spin" aria-hidden="true" v-if="guardando"></i>&nbsp;
                                        {{guardar}}
                                    </button>

                                </div>

                            </form>

                        </section>
                    </section>
                </section>

            </div>

            <template   type="text/x-template" id="alumnoSearchTemplate">
                <div class="row">
                    <div class="pull-left m-l-sm m-r-xs" >
                        <img class="img-responsive img-thumbnail img-circle" v-bind:src="alumno.rutaFoto" ></img>
                    </div>
                    <span class="block bold m-t-sm">{{alumno.nombre}}</span>
                    <span class="block">Especialida de {{alumno.carrera}}    Facultad de {{alumno.facultad}} </span>
                    <span class="text-sm block"> {{alumno.tipo}}   {{alumno.numero}}   Nro Matrícula  {{alumno.codigoMatricula}} </span>
                </div>
            </template>

            <template id="fileuploadTemplate"  >
                <div>
                    <input type="file" id="fileupload" class="hidden" name="file"  placeholder="seleccionar archivo" />
                    <div>
                        <div id="dragarea" class="bg-info img-rounded text-center v-bottom text-muted" style="width: 140px; height: 140px;">
                            <img alt=""  id="imgDocument"  class="img-rounded" style="width: 140px; height: 140px;"
                                 data-holder-rendered="true" />
                        </div>
                        <a class="btn m-l-md btn-sm btn-link" v-on:click.prevent="open" href="#">Subir imagen</a>
                    </div>
                </div>
            </template>

            <div th:substituteby="_modules/vue-modal"/>

        </div>

        <div layout:fragment="js">
            <div th:substituteby="_layout/includes :: vuejs"/>
            <div th:substituteby="_layout/includes :: javascript-upload"/>
            <div th:substituteby="_layout/includes :: vuemodal"/>
            <script th:src="@{/app/tramite/updatehistorialacademico/updateHistorialAcademicoFileUpload.js}" charset="utf-8"></script>
            <script th:src="@{/app/tramite/updatehistorialacademico/updateHistorialAcademicoForm.js}" charset="utf-8"></script>
        </div>
    </body>
</html>