<html layout:decorator="_layout/layout">
    <head>
        <title> Usuario </title>
        <style>
            .btn-group-xs>.btn, .btn-xs {
                padding: 1px 5px;
                font-size: 12px;
                line-height: 1.5;
                border-radius: 3px;
            }
            .btn-group-sm>.btn, .btn-sm {
                padding: 5px 10px;
                font-size: 12px;
                line-height: 1.5;
                border-radius: 3px;
            }
        </style>
    </head>
    <body>
        <section layout:fragment="main">

            <header class="header b-b padder-lg">                
                <a th:href="${origen}" class="btn btn-default btn-sm pull-right">Regresar</a>
                <h2 th:text="${ persona.id!=null ? persona.apellidosNombres : 'Nueva Persona' }" id="nombreCompleto">Nuevo Persona</h2> 

            </header>

            <section class="panel">

                <section class="panel-body bg-white b">

                    <div>
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="#inicio" role="tab" data-toggle="tab">Datos principales</a></li>
                            <li role="presentation" th:if="${esOperadorGastoPosgrado}"><a href="#ctasbanco" role="tab" data-toggle="tab">Cuenta Bancaria</a></li>
                            <li role="presentation"><a href="#firmapersona" role="tab" data-toggle="tab">Firma</a></li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="inicio">
                                <div th:replace="general/persona/personaFormMain"/>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="ctasbanco">
                                <div th:replace="general/persona/personaFormCtaBanco"/>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="firmapersona">
                                <div th:replace="general/persona/personaFirma"/>
                            </div>
                        </div>
                    </div>

                </section>

                <div th:replace="templates/modal"/>

            </section>

        </section>



        <div layout:fragment="js">
            <script  th:inline="javascript" >
                /*<![CDATA[*/
                var cuentasBancarias = /*[[${cuentasBancarias.toString()}]]*/'';
                var bancos = /*[[${bancos.toString()}]]*/'';
                var personaJson = /*[[${personaJson.toString()}]]*/'';
                var rutaModulo = /*[[${rutaModulo}]]*/'';
                /*]]>*/
            </script>
            <div th:replace="_modules/vue-modal"></div>
            <!--div th:replace="_layout/includes :: javascript-vue-upload"/-->
            <script th:src="@{/app/general/persona/personaForm.js}" charset="utf-8"></script>
            <script th:src="@{/app/general/persona/personaFormVue.js}" charset="utf-8"></script>
            <script th:src="@{/app/general/persona/personaFirmaVue.js}" charset="utf-8"></script>
        </div>

    </body>
</html>
