<html layout:decorator="_layout/layout">
    <head>
        <title>Tipo Grupos</title>
    <div th:substituteby="_layout/includes :: styles-dynatable"></div>
</head>

<body>
    <div layout:fragment="main">

        <div  id="main">

            <header class="header b-b padder-lg">
                <div class="pull-right m-t-md">
                    <a class="btn btn-info" type="button"    v-on:click.prevent="nuevo"          href="#" >Agregar Ciclo Académico</a>
                </div>
                <h2 th:inline="text">Ciclo Académico </h2>
            </header>

            <section class="wrapper-lg">
                <section class="panel">
                    <section class="panel-body">

                        <div class="col-sm-3">
                            <label>Modalidad</label>
                            <select class="form-control input-sm"  id="modalidad">
                                <option
                                    th:each="modalidad:${modalidades}"
                                    th:value="${modalidad.id}"
                                    required="true"
                                    th:selected="${modalidadActiva.id==modalidad.id}"
                                    th:text="${modalidad.nombre}"></option>
                            </select>
                        </div>

                        <dynatable />

                    </section>
                </section>
            </section>

            <div th:substituteby="academico/cicloacademico/cicloAcademicoModal"></div>

        </div>

        <div th:substituteby="_modules/vue-modal"/>

        <th:block th:replace="academico/cicloacademico/cicloAcademicoDynatable"/>

    </div>

    <div layout:fragment="js">
        <div th:substituteby="_layout/includes :: javascript-dynatable"></div>
        <script th:src="@{/vendor/sweetalert/dist/sweetalert.min.js}" charset="utf-8"></script>
        <script th:src="@{/vendor/vuejs/vue.js}" charset="utf-8"></script>
        <script type="text/javascript" th:src="@{/phobos/modules/vue-modal.js}"></script>
        <script th:src="@{/app/academico/cicloacademico/cicloAcademico.js}" charset="utf-8"></script>
    </div>

</body>
</html>
