<html layout:decorator="_layout/layout">
    <head>
        <title> Soporte </title> 

    </head>
    <body>

        <div layout:fragment="main" id="soporteVue" v-cloak="">

            <header class="header">

                <button v-bind:disabled="generandoReporte" v-on:click="generarReporte" class="btn btn-primary pull-right">
                    <span v-if="generandoReporte"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
                    Generar Reporte
                </button>

                <h2> Soporte </h2>

            </header>

            <section  class="wrapper-lg">
                <section class="panel">
                    <section class="panel-body">

                        <raptor-table ref="listSoporte"
                                      v-bind:url="URL_SOPORTE" >
                            <template scope="props">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-3"></th>                                            
                                            <th class="col-xs-4">Consulta</th>
                                            <th class="col-xs-4">Respuesta</th>
                                            <th class="col-xs-1">Estado</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in props.data"> 
                                            <td class="v-middle">

                                                <div class="text-center">
                                                    <div v-if="item.alumno.persona.tipoFoto=='POSTUL' "
                                                         class="img-responsive img-thumbnail img-circle div-foto-list">
                                                        <img class="img-foto-list" v-bind:src="item.alumno.persona.rutaFoto" />
                                                    </div>

                                                    <img v-else-if="item.alumno.persona.tipoFoto=='COMUN' " 
                                                         class="img-responsive img-thumbnail img-circle div-foto-alumno-list" 
                                                         v-bind:src="item.alumno.persona.rutaFoto" />

                                                    <img v-else="" 
                                                         class="img-foto-tempo img-responsive img-thumbnail img-circle" 
                                                         v-bind:src="item.alumno.persona.rutaFoto" />
                                                </div>

                                                <div class="text-center">

                                                    <a  class="block text-primary bold h5 m-b-xs m-t-xs" >
                                                        {{item.alumno.persona.apellidosNombres}}
                                                    </a>
                                                    <span class="block">
                                                        Matrícula: {{item.alumno.codigo}}
                                                    </span>
                                                    <small v-if="item.alumno.persona.numeroDocIdentidad != '' " class="block bold">
                                                        {{item.alumno.persona.tipoDocumento.simbolo}} {{item.alumno.persona.numeroDocIdentidad}}
                                                    </small>

                                                </div>

                                            </td>

                                            <td class="v-middle ">

                                                <span class="block ">Fecha: <span class=" bold">{{ item.fechaRegistro}}</span></span>
                                                <span class="block ">Título: <span class=" bold">{{ item.titulo}}</span></span>
                                                <span class="block"> {{ item.comentario}}</span>

                                            </td>

                                            <td class="v-middle">

                                                <p v-if="item.fechaAtencion" class="block">Fecha: <span class=" bold">{{ item.fechaAtencion}}</span></p>

                                                <p v-if="item.userAtencion" class="block">Respondio: <span class=" bold">{{ item.userAtencion.persona.nombreCompleto}}</span></p>
                                                
                                                <p v-if="item.userAtencion" class="block">{{ item.respuesta}}</p>

                                            </td>

                                            <td class="v-middle">

                                                <span v-if="item.estado=='ATEN'" class="label label-primary">  {{ item.estadoEnum.value}}</span>
                                                <span v-if="item.estado=='PEN'" class="label label-danger">  {{ item.estadoEnum.value}}</span>

                                            </td>

                                            <td class="v-middle">
                                                <div class="dropdown actions" v-if="item.estado=='PEN'">
                                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                                        <i class="fa fa-cog"></i>
                                                    </a> 
                                                    <ul class="dropdown-menu pull-right" > 
                                                        <li >
                                                            <a class="btn-link pointer" 
                                                               v-on:click="modal(item)" > Responder
                                                            </a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </template>
                        </raptor-table>

                    </section>
                </section>
            </section>

            <div th:replace="soporte/soporteModal"></div>

        </div>

        <div layout:fragment="js">

            <script th:src="@{/app/soporte/soporte.js}" charset="utf-8"></script>

        </div>
    </body>
</html>
