<html layout:decorator="_layout/layout">
    <head>
        <title>Asignación Automatica Aulas</title>
    </head>

    <body>

        <div layout:fragment="main">
            <div id="main" v-cloak="">

                <header class="header b-b padder-lg">

                    <div class="pull-right m-t-md">                 
                        <a class="btn btn-success" type="button" v-on:click="procesarAsignacionAulas">Procesar</a>
                    </div>  
                    <h2>Asignación Aulas</h2>
                </header>

                <section class="wrapper-lg">
                    <section class="panel">
                        <section class="panel-body" v-if="asignacionAula">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-3 bold">Fecha Asignacion</label>

                                    <div class="col-md-3">
                                        <format-date v-bind:datetext="asignacionAula.fechaAsignacion"></format-date>
                                    </div>

                                    <div class="col-md-3">
                                        Secciones Asignadas
                                    </div>
                                    <span class="col-md-3 pointer" 
                                          v-on:click="editarGpoSecciones(asignacionAula)"
                                          v-text="asignacionAula.seccionesAsignadas">

                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-3 bold">
                                        Secciones Tipo Laboratorio
                                    </label>

                                    <div class="col-md-3" 
                                         v-text="asignacionAula.seccionesTipoLab">

                                    </div>

                                    <div class="col-md-3">
                                        Secciones Tipo Aula
                                    </div>
                                    <span class="col-md-3" 
                                          v-text="asignacionAula.seccionesTipoAula">

                                    </span>
                                </div>
                            </div>
                        </section>
                        <section class="panel-body" v-if="asignacionAula==null">
                            <span>
                                Aún no se asignan las aulas.
                            </span>
                        </section>

                    </section>

                </section>


                <!-- 
                modals
                 <div th:substituteby="programacion/tramiteaula/tramiteaularesumen"></div>
                -->
            </div>

        </div>

        <div layout:fragment="js">
            <script  th:inline="javascript" >
                /*<![CDATA[*/
                var jAsignacionAula = /*[[${jAsignacionAula}]]*/ '';
                /*]]>*/
            </script>
            <div th:substituteby="_modules/vue-modal"></div>
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <div th:substituteby="_layout/includes :: vue-loader"/>
            <script type="text/javascript" th:src="@{/phobos/modules/vue-generalComponents.js}"></script>
            <script th:src="@{/app/programacion/asignacionaula/asignacionaula.js}" charset="utf-8"></script>
        </div>

    </body>
</html>