<modal-vik v-bind="progresoAsignacionModal"
           ref="progresoAsignacion" >
    <div slot="body">
        <div class="modal-body">
            <div class="progress"> 
                <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>                
            </div>
            <div class="text-center">
                Secciones asignadas <p><strong class="progess_seccion"> 0 / 0 </strong></p><br/>
                <p class="font-weight-bold">No cerrar la pestañana o el navegador mientras se ejecuta la asignación</p>
             </div>
        </div>        
    </div>
</modal-vik>
