<html layout:decorator="_layout/layout">
    <head>
        <title>Registro de alumno visitante</title>
    </head>

    <body>

        <div layout:fragment="main">

            <div  id="main">

                <header class="header b-b padder-lg">

                    <div class="pull-right m-t-md">
                        <a class="btn btn-default" type="button"   th:href="@{/academico/visitante/alumno}"  >Regresar</a>
                    </div>

                    <h2 v-text="persona.nombreCompleto!=null?persona.nombreCompleto:'Registro de Alumno Visitante'" >Registro de Alumno Visitante</h2>

                </header>

                <section class="wrapper-lg">
                    <section class="panel">
                        <section class="panel-body">

                            <form data-parsley-validate="true" method="POST" id="formAlumnoVisitante" >

                                <input type="hidden"  name="id"  th:value="${alumnoVisitante.id}"/>

                                <input type="hidden"  name="persona.id" v-bind:value="persona.id"/>

                                <div class="panel-body">
                                    <div class="col-xs-12">
                                        <h4 class="m-b-md m-t-md">Datos Generales</h4>
                                    </div>


                                    <div class="col-sm-6">
                                        <div class="form-group">

                                            <label>Tipo de documento de identidad</label>

                                            <select name="persona.tipoDocumento.id"
                                                    v-model="persona.tipoDocumento.id"
                                                    class="form-control" required="true">
                                                <option></option>
                                                <option th:each="tipo : ${tiposDocIdentidad}"
                                                        th:value="${tipo.id}"
                                                        th:text="${tipo.nombre}"></option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">

                                            <label>Número de documento de identidad</label>

                                            <input type="text"
                                                   v-on:blur="cambiarNumDoc"
                                                   v-model="persona.numeroDocIdentidad"

                                                   name="persona.numeroDocIdentidad"
                                                   class="form-control" required="true"/>

                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">

                                            <label>Apellido Paterno</label>

                                            <input type="text"
                                                   name="persona.paterno"
                                                   v-model="persona.paterno"
                                                   v-on:change="nombrePersona"
                                                   class="form-control"/>

                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">

                                            <label>Apellido Materno</label>

                                            <input type="text"
                                                   name="persona.materno"
                                                   v-model="persona.materno"
                                                   v-on:change="nombrePersona"
                                                   class="form-control"/>

                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Nombres</label>

                                            <input type="text"
                                                   name="persona.nombres"
                                                   required="true"
                                                   v-model="persona.nombres"
                                                   v-on:change="nombrePersona"
                                                   class="form-control"/>

                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Sexo</label>

                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    <div class="col-sm-5">

                                                        <label class="radio inline">

                                                            <input  type="radio"
                                                                    required="true"
                                                                    name="persona.sexo"
                                                                    id="inlineCheckbox1"
                                                                    value="M"
                                                                    v-model="persona.sexo"
                                                                    /> Masculino
                                                        </label>

                                                    </div>
                                                    <div class="col-sm-5">

                                                        <label class="radio inline">
                                                            <input  type="radio"
                                                                    required="true"
                                                                    name="persona.sexo"
                                                                    id="inlineCheckbox2"
                                                                    value="F"
                                                                    v-model="persona.sexo"
                                                                    /> Femenino
                                                        </label>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-xs-12">
                                        <h4  class="m-b-md m-t-md"> Lugar y fecha de nacimiento </h4>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>País</label>

                                            <paissearh 
                                                v-bind:pais="persona.paisNacer"
                                                v-bind:nombre="'persona.paisNacer.id'"/>

                                        </div>
                                    </div>

                                    <div class="col-sm-6">


                                        <div v-if="persona.paisNacer.codigo=='PE'"  class="form-group" >
                                            <label>Distrito de nacimiento (en Perú)</label>

                                            <ubicacionsearch 
                                                v-bind:ubicacion="persona.ubicacionNacer"
                                                v-bind:nombre="'persona.ubicacionNacer.id'"/>

                                        </div>


                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">

                                            <label>Fecha ( día / mes / año )</label>
                                            <div class="input-group date">

                                                <input type="text"
                                                       data-parsley-errors-container="#errorfechaNacer"
                                                       class="form-control"
                                                       v-model="persona.fechaNacer"
                                                       name="persona.fechaNacer" required="true" />

                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>

                                            </div>
                                            <span id="errorfechaNacer"></span>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">

                                            <label>Nacionalidad (Ingresa el país de tu nacionalidad)</label>

                                            <paissearh 
                                                v-bind:pais="persona.nacionalidad"
                                                v-bind:nombre="'persona.nacionalidad.id'"/>

                                        </div>
                                    </div>

                                    <div class="col-xs-12">
                                        <h4  class="m-b-md m-t-md">Contacto</h4>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">

                                            <label>Teléfono</label>

                                            <input type="text"
                                                   name="persona.telefono"
                                                   v-model="persona.telefono"
                                                   class="form-control sin-espacios numerico"/>

                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">

                                            <label>Celular</label>

                                            <input type="text"
                                                   name="persona.celular"
                                                   v-model="persona.celular"
                                                   class="form-control sin-espacios numerico"/>

                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">

                                            <label>Correo Electrónico</label>

                                            <input type="text"
                                                   name="persona.email"
                                                   v-model="persona.email"
                                                   class="form-control verificar-email"/>

                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <h4  class="m-b-md m-t-md">Domicilio</h4>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">

                                            <label>País Domicilio</label>

                                            <paissearh 
                                                v-bind:pais="persona.paisDomicilio"
                                                v-bind:nombre="'persona.paisDomicilio.id'"/>


                                        </div>
                                    </div>

                                    <div v-if="persona.paisDomicilio.codigo=='PE'"    class="col-sm-6">
                                        <div class="form-group">

                                            <label>Ubicación Domicilio</label>

                                            <ubicacionsearch 
                                                v-bind:ubicacion="persona.ubicacionDomicilio"
                                                v-bind:nombre="'persona.ubicacionDomicilio.id'"/>


                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">

                                            <label class="bold">Dirección</label>

                                            <input type="text"
                                                   class="form-control"
                                                   name="persona.direccion"
                                                   v-model="persona.direccion"
                                                   data-trigger="change" required="true" />

                                        </div>
                                    </div>

                                    <div class="col-xs-12">
                                        <h4>Datos de la universidad de procedencia</h4>
                                    </div>


                                    <div class="col-sm-6">
                                        <div class="form-group">



                                            <label>País de la universidad</label>

                                            <paissearh 
                                                v-bind:pais="alumnoVisitante.paisUniversidad"
                                                v-bind:nombre="'paisUniversidad.id'"/>

                                        </div>
                                    </div>



                                    <div    class="col-sm-6">

                                        <pre style="display: none">{{alumnoVisitante}}</pre>

                                        <div v-if="alumnoVisitante.paisUniversidad.codigo=='PE'"  class="form-group">

                                            <label>Universidad Peruana</label>

                                            <universidadsearch 
                                                v-bind:universidad="alumnoVisitante.universidad"
                                                v-bind:nombre="'universidad.id'" />

                                        </div>

                                        <div v-if="alumnoVisitante.paisUniversidad.codigo!='PE'"  class="form-group">

                                            <label>Nombre de la Universidad</label>

                                            <input class="form-control"
                                                   type="text" required="true"
                                                   v-model="alumnoVisitante.universidadExtranjera"
                                                   name="universidadExtranjera"    />

                                        </div>

                                    </div>


                                    <div class="col-sm-6">
                                        <div class="form-group">

                                            <label>Ciclo Académico </label>
                                         
                                            <select name="cicloEstudia.id"
                                                    v-model="alumnoVisitante.cicloEstudia.id"
                                                    class="form-control" 
                                                    required="true">
                                                <option></option>

                                                <option th:each="ciclo : ${ciclos}"
                                                        th:value="${ciclo.id}"
                                                        th:text="${ciclo.descripcion}"></option>

                                            </select>

</div>
</div>




</div>

<hr/>

<div class="col-md-12 text-center">
    <button type="button" class="btn btn-success" v-text="actualizar==true?'Actualizar':'Guardar'"  v-on:click.prevent="submitForm">Guardar</button>
</div>

</form>

</section>
</section>
</section>

</div>

<th:block th:replace="academico/visitante/alumnovisitanteformtemp"/>

<div th:substituteby="_modules/vue-modal"/>

</div>

<div layout:fragment="js">
    <div th:substituteby="_layout/includes :: vuemodal"/>
    <script th:src="@{/app/academico/visitante/alumnoVisitantePais.js}" charset="utf-8"></script>
    <script th:src="@{/app/academico/visitante/alumnoVisitanteUbicacion.js}" charset="utf-8"></script>
    <script th:src="@{/app/academico/visitante/alumnoVisitanteUniversidad.js}" charset="utf-8"></script>
    <script th:src="@{/app/academico/visitante/alumnoVisitanteForm.js}" charset="utf-8"></script>
</div>

</body>
</html>
