<tr>
    <td class="v-middle text-center">
        <input name="cursos[{{:index}}].id" value="{{:id}}" type="hidden"/>
        <span name="codigoObli_{{:index}}">{{:codigo}}</span>
        {{if codigo2}}
            <small class="block bold text-primary">{{:codigo2}}</small>
        {{/if}}
    </td>
    <td class="v-middle">
        <span>{{:curso}}</span>
    </td>
    <td class="v-middle text-center">
        <a rel="{{:index}}" class="cbo-delete-requisito-obli pointer"><i class="fa fa-times-circle fa-lg text-danger"></i></a>
    </td>
</tr>