<div class="wrapper scrollable">
    <form id="frmAgregarCursosEquivalentes" >

        <input id="txtPlanCurricular" name="planCurricular.id" type="hidden" th:value="${cursoCurricula.planCurricular.id}"/>
        <input id="txtCursoCurricula" name="id" type="hidden" th:value="${cursoCurricula.id}"
               th:if="${cursoCurricula.id}"/>

        <input id="txtNumeroCiclo" type="hidden" name="numeroCiclo" />
        <input id="txtTipoCurCur" type="hidden" th:value="${cursoCurricula.tipoCursoCurricula.id}" 
               th:if="${cursoCurricula.id}"/>

        <fieldset>
            <div class="row">
                 <input type="hidden" name="tipoCursoCurricula.id" th:value="${cursoCurricula.tipoCursoCurricula.id}"
                           th:if="${cursoCurricula.id}" />
                <div class="form-group col-md-9">
                    <label for="cboCursosEquiObli">Buscar aquí los cursos que forman parte del grupo</label>
                    <input id="cboCursosEquiObli" class="form-control" type="text" />
                </div>

                <div class="form-group col-md-3">
                    <label class="text-white"> . &nbsp;&nbsp;&nbsp; </label>
                    <a class="btn btn-default btn-sm input-s-full" id="btnAddEquivalente">Agregar</a>
                </div>
            </div>

            <table id="tableEquivalentesObli" class="table table-striped">
                <tbody id="tableBodyEquivalentesObli"></tbody>
            </table>
            
            <div class="row">
                <div class="form-group col-md-3">
                    <a class="btn btn-default btn-sm input-s-full" id="btnAddRequisitoCursoObli">Guardar grupo</a>
                </div>
            </div>
            <table class="table"> 
                <thead>
                    <tr>
                        <th class="col-md-1 text-center v-middle">Grupo</th>
                        <th class="col-md-2 v-middle">Código</th>
                        <th class="col-md-9 text-center v-middle" colspan="2">Curso Equivalente</th>
                    </tr>
                </thead>
                <tbody th:each="grupo, i : ${gruposEquivalentes}">
                    <tr th:each="curso, j : ${grupo.cursoEquivalente}">
                        <td th:if="${j.index == 0}" th:rowspan="${#lists.size(grupo.cursoEquivalente)}" class="v-middle text-center"> <span th:text="${grupo.numeroGrupo}"/></td>
                        <td> <span th:text="${curso.cursoEquivalente.codigo}"/></td>
                        <td> <span th:text="${curso.cursoEquivalente.nombre}"/></td>
                        <td> <span th:text="${curso.cursoEquivalente.tpc}"/></td>
                    </tr>
                </tbody>
            </table>
        </fieldset>

    </form>
</div>

<script id="templateRequisitoCursoObligatorio" 
type="text/x-jsrender" class="hide"><div th:substituteby="academico/plancurricular/agregarCursoEquiObliTemplate"/></script>
