<modal-vik ref="modalAlumnoBolsa"
           v-bind="modalAlumnoBolsa"
           v-bind:okaction="saveAlumnoBolsa">
    <div slot="body">
        <div class="form-group">
            <label> Alumno </label>
            <multiselect 
                v-if="!alumnoBolsa.id"
                label="persona[nombreCompleto]"
                placeholder=""
                v-model="alumnoBolsa.alumno"
                v-bind:options="alumnos"
                v-bind:show-labels="false"
                v-bind:limit="15"
                v-bind:internal-search="false"
                v-on:input="checkAlumno"
                v-on:search-change="searchAlumno"
                v-bind:custom-label="getNombreAlumno">
                <template slot="option" slot-scope="props">
                    <span class="block bold">{{ props.option.persona.nombreCompleto }}</span>
                    <small class="block">Facultad: {{ props.option.carrera.facultad.nombre }}</small>
                    <small class="block"
                           v-if="props.option.carrera.codigo != props.option.carrera.codigo">
                        Especialidad: {{ props.option.carrera.nombre }}
                    </small>
                    <span class="block">
                        <small v-if="props.option.persona.numeroDocIdentidad != '' ">
                            <span v-if="props.option.persona.tipoDocumento.simbolo != '' ">
                                {{props.option.persona.tipoDocumento.simbolo}}:
                            </span>
                            <span v-else="">DNI:</span>
                            {{props.option.persona.numeroDocIdentidad}} &nbsp; | &nbsp;
                        </small>

                        <small>Matrícula: {{props.option.codigo}} &nbsp; | &nbsp; </small>
                        <span class="label label-primary" 
                              v-if="props.option.matriculaResumen[0].estadoEnum.name === 'MAT' ">
                            {{props.option.matriculaResumen[0].estadoEnum.value}}
                        </span>
                        <span class="label label-danger" 
                              v-if="props.option.matriculaResumen[0].estadoEnum.name !== 'MAT' ">
                            {{props.option.matriculaResumen[0].estadoEnum.value}}
                        </span>
                        <small> &nbsp;&nbsp; | &nbsp; {{props.option.matriculaResumen[0].creditosMatriculados}} créditos</small>
                    </span>
                </template>
            </multiselect>
            <input class="form-control" v-else="" readonly="" v-model="alumnoBolsa.alumno.persona.nombreCompleto"/>
        </div>
        <div class="form-group">
            <label> Investigación </label>
            <textarea rows="3" class="form-control" v-model="alumnoBolsa.nombreInvestigacion" required=""/>
        </div>
        <div class="form-group">
            <label> Supervisor </label>
            <multiselect
                label="nombre"
                placeholder=""
                v-model="alumnoBolsa.supervisor"
                v-bind:options="supervisores"
                v-bind:show-labels="false"
                v-bind:limit="15"
                v-bind:internal-search="false"
                v-bind:loading="isLoading"
                v-on:search-change="searchSupervisor"
                v-bind:custom-label="getNombreSupervisor">
                <template slot="option" slot-scope="props">
                    <span class="block bold">{{ props.option.persona.nombreCompleto }}</span>
                    <small class="block">Unidad: {{ props.option.oficina.nombre }}</small>
                    <small class="block">Cargo: {{ props.option.cargo.nombre }}</small>
                </template>
            </multiselect>
        </div>
    </div>
</modal-vik>

<modal-vik ref="modalError"
           v-bind="modalError"
           v-bind:okaction="saveAlumnoBolsa">
    <div slot="body">
        <span class="block m-b-sm"> <b> {{ alumnoError.nombre }} </b> no puede ser elegido ya que no cumple con los siguientes requisitos: </span>
        <div class="block">
            <ul type="circle">
                <li v-for="error in errores"> {{ error }} </li>
            </ul>
        </div>
    </div>
</modal-vik>