<html layout:decorator="_layout/layout">
    <head>
        <title>Orden de Mérito</title>
    <div th:substituteby="_layout/includes :: styles-dynatable"></div>
</head>
<body>
    <div layout:fragment="main">
        <div id="ordenmeritocontrolVUE" v-cloak="">

            <header class="header b-b padder-lg">
                <a class="btn btn-sm btn-default pull-right" href="/academico/ordenmerito"> Regresar </a>
                <p class="h2 m-b-n" th:inline="text"> Orden de Mérito [[${control.cicloAcademico.descripcion}]] </p>

                <div class="block m-b-sm m-t-n">
                    <p class="h4" th:if="${control.escala=='CICLO'}" th:inline="text"> Nivel: [[${control.escalaEnum.value}]] </p>
                    <p class="h4" th:if="${control.escala=='FAC'}" th:inline="text"> Nivel: [[${control.escalaEnum.value}]]  de [[${control.facultad?.nombre}]]</p>
                    <p class="h4" th:if="${control.escala=='ESPE'}" th:inline="text"> Nivel: [[${control.escalaEnum.value}]]  de [[${control.carrera?.nombre}]]</p>
                </div>
                <div class="block m-b-sm m-t-sm row">


                </div>
            </header>
            <section class="wrapper-lg m-b-xs">
                <section class="panel">           
                    <section class="panel-body">
                        <raptor-table v-bind:url="`${URL}/${control.id}/control/${nivelEscogido.val}/alumnos`" ref="raptor">
                            <div slot="header">
                                <div class="col-md-6">
                                    <multiselect 
                                        label="label"
                                        track-by="val"
                                        :allow-empty="false"
                                        v-model="nivelEscogido"
                                        v-bind:options="niveles"
                                        v-bind:show-labels="false">
                                    </multiselect>
                                </div>
                            </div>

                            <template scope="props">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" class="col-md-3 v-middle">Alumno</th>
                                            <th rowspan="2" class="col-md-2 v-middle text-center">Facultad / Especialidad</th>

                                            <th rowspan="2" class=" text-center v-middle">Promedio Acumulado</th>
                                            <th colspan="3" class=" text-center v-middle b-l">Créd. Acumul.</th>

                                            <th rowspan="2" class=" text-center v-middle b-l">Orden de Mérito</th>
                                            <th rowspan="2" class=" text-center v-middle">Cuadro de Honor</th>
                                            <th rowspan="2" class=" text-center v-middle">Quinto Superior</th>
                                            <th rowspan="2" class=" text-center v-middle">Tercio Superior</th>
                                        </tr>
                                        <tr>
                                            <th class=" text-center v-middle b-l">Aprob.</th>
                                            <th class=" text-center v-middle">Conval.</th>
                                            <th class=" text-center v-middle">Nivel</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in props.data"> 
                                            <td class="v-middle">
                                                <span class="block text-primary">  {{ item.alumno.persona.apellidosNombres }} </span>
                                                <span class="block text-muted small">  {{ item.alumno.codigo }} </span>
                                            </td>
                                            <td class="v-middle text-center">

                                                <span v-if="item.carrera.codigo != item.carrera.facultad.codigo"
                                                      class="block text-success"> {{item.carrera.nombre}}</span>
                                                <span v-if="item.carrera.codigo == item.carrera.facultad.codigo"
                                                      class="block text-primary"> {{item.carrera.facultad.nombre}}</span>
                                                <small v-if="item.carrera.codigo != item.carrera.facultad.codigo"
                                                       class="block bold"> {{item.carrera.facultad.nombre}}</small>
                                            </td>
                                            <td class="v-middle text-center">
                                                <span> {{ item.promedioAcumulado.toFixed(2) }} </span>
                                            </td>

                                            <td class="v-middle text-center b-l"><span v-if="item.creditosAcumulados>0" v-text="item.creditosAcumulados">100</span></td>
                                            <td class="v-middle text-center b-l"><span v-if="item.creditosConvalidados>0" v-text="item.creditosConvalidados">100</span></td>
                                            <td class="v-middle text-center b-l b-r">{{item.nivel}}</td>

                                            <td class="v-middle text-center">
                                                <div v-if="nivelEscogido.val === 0">
                                                    <span v-if="control.escalaEnum.name === 'ESPE'"> {{ item.ordenMeritoCarrera }} </span>
                                                    <span v-if="control.escalaEnum.name === 'FAC'"> {{ item.ordenMeritoFacultad }} </span>
                                                    <span v-if="control.escalaEnum.name === 'CICLO'"> {{ item.ordenMeritoCiclo }} </span>
                                                </div>
                                                <div v-else="">
                                                    <span v-if="control.escalaEnum.name === 'ESPE'"> {{ item.ordenMeritoCarreraNivel }} </span>
                                                    <span v-if="control.escalaEnum.name === 'FAC'"> {{ item.ordenMeritoFacultadNivel }} </span>
                                                    <span v-if="control.escalaEnum.name === 'CICLO'"> {{ item.ordenMeritoCicloNivel }} </span>
                                                </div>

                                            </td>
                                            <td class="v-middle text-center">
                                                <div v-if="nivelEscogido.val === 0">
                                                    <span v-if="control.escalaEnum.name === 'ESPE' &amp;&amp; item.cuadroHonorCarrera"> <i class="fa fa-check-square text-primary"></i> </span>
                                                    <span v-if="control.escalaEnum.name === 'FAC' &amp;&amp; item.cuadroHonorFacultad"> <i class="fa fa-check-square text-primary"></i> </span>
                                                    <span v-if="control.escalaEnum.name === 'CICLO' &amp;&amp; item.cuadroHonorCiclo"> <i class="fa fa-check-square text-primary"></i> </span>

                                                </div>
                                                <div v-else="">
                                                    <span v-if="control.escalaEnum.name === 'ESPE' &amp;&amp; item.cuadroHonorCarreraNivel"> <i class="fa fa-check-square text-primary"></i> </span>
                                                    <span v-if="control.escalaEnum.name === 'FAC' &amp;&amp; item.cuadroHonorFacultadNivel"> <i class="fa fa-check-square text-primary"></i> </span>
                                                    <span v-if="control.escalaEnum.name === 'CICLO' &amp;&amp; item.cuadroHonorCicloNivel"> <i class="fa fa-check-square text-primary"></i> </span>
                                                </div>

                                            </td>
                                            <td class="v-middle text-center">
                                                <div v-if="nivelEscogido.val === 0">
                                                    <span v-if="control.escalaEnum.name === 'ESPE' &amp;&amp; item.quintoSuperiorCarrera"> <i class="fa fa-check-square text-primary"></i> </span>
                                                    <span v-if="control.escalaEnum.name === 'FAC' &amp;&amp; item.quintoSuperiorFacultad"> <i class="fa fa-check-square text-primary"></i> </span>
                                                    <span v-if="control.escalaEnum.name === 'CICLO' &amp;&amp; item.quintoSuperiorCiclo"> <i class="fa fa-check-square text-primary"></i> </span>
                                                </div>
                                                <div v-else="">
                                                    <span v-if="control.escalaEnum.name === 'ESPE' &amp;&amp; item.quintoSuperiorCarreraNivel"> <i class="fa fa-check-square text-primary"></i> </span>
                                                    <span v-if="control.escalaEnum.name === 'FAC' &amp;&amp; item.quintoSuperiorFacultadNivel"> <i class="fa fa-check-square text-primary"></i> </span>
                                                    <span v-if="control.escalaEnum.name === 'CICLO' &amp;&amp; item.quintoSuperiorCicloNivel"> <i class="fa fa-check-square text-primary"></i> </span>
                                                </div>

                                            </td>
                                            <td class="v-middle text-center">
                                                <div v-if="nivelEscogido.val === 0">
                                                    <span v-if="control.escalaEnum.name === 'ESPE' &amp;&amp; item.tercioSuperiorCarrera"> <i class="fa fa-check-square text-primary"></i> </span>
                                                    <span v-if="control.escalaEnum.name === 'FAC' &amp;&amp; item.tercioSuperiorFacultad"> <i class="fa fa-check-square text-primary"></i> </span>
                                                    <span v-if="control.escalaEnum.name === 'CICLO' &amp;&amp; item.tercioSuperiorCiclo"> <i class="fa fa-check-square text-primary"></i> </span>
                                                </div>
                                                <div v-else="">
                                                    <span v-if="control.escalaEnum.name === 'ESPE' &amp;&amp; item.tercioSuperiorCarreraNivel"> <i class="fa fa-check-square text-primary"></i> </span>
                                                    <span v-if="control.escalaEnum.name === 'FAC' &amp;&amp; item.tercioSuperiorFacultadNivel"> <i class="fa fa-check-square text-primary"></i> </span>
                                                    <span v-if="control.escalaEnum.name === 'CICLO' &amp;&amp; item.tercioSuperiorCicloNivel"> <i class="fa fa-check-square text-primary"></i> </span>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </template>
                        </raptor-table>
                    </section>
                </section>
            </section>
        </div>
    </div>

    <div layout:fragment="js">
        <script type="text/javascript" th:src="@{/phobos/modules/vue-modal.js}"></script>
        <div th:substituteby="_modules/vue-modal"/>
        <div th:substituteby="_modules/vue-raptor-table"/>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var control = /*[[${controlJson.toString()}]]*/ 'json';
            /*]]>*/
        </script>
        <div th:substituteby="_layout/includes :: javascript-dynatable"/>
        <script th:src="@{/app/academico/ordenmerito/ordenmeritoControl.js}" charset="utf-8"></script>
    </div>

</body>
</html>