<html layout:decorator="_layout/layout">
    <head>
        <title> Cursos Especiales </title>
    </head>
    <body>
        <section layout:fragment="main">

            <div id="main" v-cloak="">

                <header class="header b-b padder-lg">
                    <h2>Grupos Especiales <span th:text="${cicloAcademico.descripcion}">2016-II</span></h2>
                </header>

                <section class="wrapper-lg">
                    <section class="panel">
                        <section class="panel-body">
                            <div class="row">
                                <form id="frmCalcular">
                                    <div class="form-group">
                                        <label class="col-md-2 bold">Rol Examen</label>

                                        <div class="col-md-4">  

                                            <multiselect 
                                                v-model="rolExamen"
                                                v-on:input="changeRolExamen"
                                                track-by="id"
                                                v-bind:options="rolesExamenes"
                                                v-bind:custom-label="rolExamenCustomLabel" 
                                                required="true"
                                                >
                                            </multiselect>
                                        </div>
                                        <div class="col-md-4">
                                            <a class="btn btn-success"
                                               v-on:click.prevent="calcularGrupoRegular">
                                                Calcular
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </section>

                    <section class="panel">
                        <section class="panel-body">
                            <div class="row">

                                <raptor-table v-bind:url="`${URL}/listGruposEspeciales`" v-bind:preload="false" ref="raptor">
                                    <template scope="props">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="col-md-1 text-center">Seccion</th>
                                                    <th class="col-md-4 text-center">Docente</th>
                                                    <th class="col-md-1 text-center">Aula</th>
                                                    <th class="col-md-1 text-center">Alumnos</th>
                                                    <th class="col-md-3 text-center">Registro</th>
                                                    <th class="col-md-1 text-center">Estado</th>
                                                    <th  class="col-md-1 text-center"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in props.data">
                                                    <td>
                                                        <span v-text="item.seccion.codigo2"></span>
                                                    </td>
                                                    <td>
                                                        <span v-text="item.docente.persona.apellidosNombres"></span>
                                                    </td>
                                                    <td>
                                                        <span v-text="item.aula"></span>
                                                    </td>
                                                    <td>
                                                        <span v-text="item.alumnosEspecialesActivosCount"></span>
                                                    </td>
                                                    <td>    
                                                        <span class="block" v-text="item.userRegistro.persona.apellidosNombres"></span>
                                                        <small class="block" v-text="item.fechaRegistro"></small>
                                                    </td>
                                                    <td class="text-center">
                                            <v-estado v-bind:codigo="item.estado" v-bind:valor="item.estadoEnum.value"/> 
                                            </td>
                                            <td class="v-middle">
                                                <div class="dropdown actions" >
                                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                                        <i class="glyphicon glyphicon-option-vertical"></i>
                                                    </a> 
                                                    <ul class="dropdown-menu pull-right">
                                                        <li><a >Editar</a></li>
                                                        <li><a >Clonar</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </template>
                                </raptor-table>

                            </div>

                        </section>
                    </section>
                </section>


            </div>

        </section>

        <div layout:fragment="js">
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <script th:src="@{/phobos/modules/vue-generalComponents.js}" charset="utf-8"></script>
            <script th:inline="javascript">
                var jRolesExamenes = /*[[${jRolesExamenes}]]*/ {};
            </script>
            <script th:src="@{/app/rolexamen/grupoespecial/grupoEspecial.js}" charset="utf-8"></script>
        </div>

    </body>
</html>
