<html layout:decorator="_layout/layout">
    <head>
        <title> Cursos Especiales </title>
    </head>
    <body>
        <section layout:fragment="main">

            <div id="main" v-cloak="">

                <header class="header b-b padder-lg">
                    <a href="/rolexamen/rolexamenes" class="btn btn-default btn-sm pull-right">Regresar</a>
                    <h2>Grupos Especiales <span th:text="${cicloAcademico.descripcion}">2016-II</span></h2>
                </header>

                <section class="wrapper-lg">
                    <section class="panel">
                        <section class="panel-body">
                            <div class="row">
                                <form id="frmCalcular">
                                    <div class="form-group">
                                        <label class="col-md-2 bold">Rol Examen</label>

                                        <div class="col-md-4">  

                                            <multiselect 
                                                v-model="rolExamen"
                                                v-on:input="changeRolExamen"
                                                track-by="id"
                                                v-bind:options="rolesExamenes"
                                                label="nombre"
                                                required="true"
                                                >
                                            </multiselect>
                                        </div>
                                        <div class="col-md-4" v-if="calcularDisponible">
                                            <a class="btn btn-success"
                                               v-on:click.prevent="calcularGrupoEspecial">
                                                Calcular
                                            </a>
                                            <a class="btn btn-warning"
                                               v-on:click.prevent="limpiarGrupoEspecial">
                                                Limpiar
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </section>

                    <section class="panel">
                        <section class="panel-body">

                            <raptor-table v-bind:url="`${URL}/listGruposEspeciales`" v-bind:preload="false" ref="raptor">
                                <template scope="props">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="col-md-5">Sección</th>
                                                <th class="col-md-2 v-middle text-center">Fecha / Hora</th>
                                                <th class="col-md-2">Docente</th>
                                                <th class="col-md-1 text-center">Aula</th>
                                                <th class="col-md-1 text-center">Alumnos</th>
                                                <th class="col-md-1 text-center">Estado</th>
                                                <th class="text-center" v-if="accionesSeccionDisponibles"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in props.data">
                                                <td class="v-middle">
                                                    <span class="text-md bold text-primary" v-text="item.seccion.grupoSeccion.curso.nombre"></span>
                                                    <span class="block">{{item.seccion.grupoSeccion.curso.codigo}} {{item.seccion.grupoSeccion.curso.tpc}} </span>
                                                    <span  class="block h4 m-t-xs m-b-xs">
                                                        {{item.seccion.codigo2}}
                                                        ({{item.seccion.grupoHoras.codigo}})
                                                    </span>
                                                </td>
                                                <td class="v-middle text-center"> 
                                                    <div v-if="item.grupoHorasExamen.fecha">
                                                        {{item.grupoHorasExamen.fecha }}
                                                        (Grupo {{item.grupoHorasExamen.grupoHoras.codigo}})
                                                        <small class="block">Hora Inicio: {{item.grupoHorasExamen.horaInicio.descripcion}}</small>
                                                        <small class="block">Hora Fin: {{item.grupoHorasExamen.horaFin.descripcion}}</small>
                                                    </div>
                                                    <div v-else="" >
                                                        <label class="alert alert-info">
                                                            Sin Asignar Horario
                                                        </label>
                                                    </div>
                                                </td>
                                                <td class="v-middle">
                                                    <span v-text="item.docente.persona.apellidosNombres"></span>
                                                </td>
                                                <td class="v-middle text-center">
                                                    <span v-text="item.aula.codigo"></span>

                                                </td>
                                                <td class="v-middle text-center">
                                                    <span class="badge pointer" 
                                                          v-on:click.prevent="loadModalAlumnos(item)"
                                                          v-text="item.alumnosEspecialesActivosCount"></span>
                                                </td>
                                                <td class="v-middle text-center">
                                        <v-estado v-bind:codigo="item.estado" v-bind:valor="item.estadoEnum.value"/> 
                                        </td>
                                        <td class="v-middle" v-if="accionesSeccionDisponibles">
                                            <div class="dropdown actions" >
                                                <a class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="glyphicon glyphicon-option-vertical"></i>
                                                </a> 
                                                <ul class="dropdown-menu pull-right">
                                                    <li><a class="pointer" v-if="item.isEstadoActivo" v-on:click.prevent="excluir(item,tipoAccion.SECCION)">Excluir</a></li>
                                                    <li><a class="pointer" v-if="item.isEstadoExcluido" v-on:click.prevent="incluir(item,tipoAccion.SECCION)">Incluir</a></li>
                                                    <li><a class="pointer" v-if="item.isEstadoActivo"  v-on:click.prevent="trasladar(item)">Mover</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </template>
                            </raptor-table>


                        </section>
                    </section>
                </section>


                <modal-vik ref="alumnosModal"
                           id="modalAlumnos"
                           header="true"
                           modalsize="modal-lg"
                           v-bind:showaccept="false">
                    <div slot="body">

                        <raptor-table v-bind:url="`${URL}/listAlumnosGrupoEspecial`" v-bind:preload="false" ref="tblAlumnosGrupoEspecial">
                            <template scope="props">

                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="col-md-3 text-center">Codigo</th>
                                            <th class="col-md-5 text-center">Alumno</th>
                                            <th class="col-md-3 text-center">Estado</th>
                                            <th class="col-md-1 text-center"></th>
                                        </tr>
                                    </thead>
                                    <tbody style="height:200px;overflow-y:auto;">
                                        <tr v-for="alu in props.data">
                                            <td>
                                                <span v-text="alu.alumno.codigo"></span>
                                            </td>
                                            <td v-text="alu.alumno.persona.apellidosNombres">

                                            </td>
                                            <td class="text-center">
                                    <v-estado v-bind:codigo="alu.estado" v-bind:valor="alu.estadoEnum.value"/> 
                                    </td>
                                    <td>
                                        <!-- 
                                        <div class="dropdown actions pointer">
                                            <a class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="glyphicon glyphicon-option-vertical"></i>
                                            </a> 
                                            <ul class="dropdown-menu pull-right">
                                                <li><a v-if="alu.isEstadoActivo" v-on:click.prevent="excluir(alu,tipoAccion.ALUMNO)">Excluir</a></li>
                                                <li><a >Mover</a></li>
                                            </ul>
                                        </div>
                                        -->
                                    </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </template>
                        </raptor-table>
                    </div>
                </modal-vik>

                <modal-vik ref="moverSeccionModal"
                           id="modalMoverSeccion"
                           header="true"
                           modalsize="modal-lg"
                           title="Mover Seccion"
                           v-bind:showaccept="false">
                    <div slot="body">

                        <mover-seccion-examen ref="moverSeccionComp"
                                              > 
                        </mover-seccion-examen> 

                    </div>
                </modal-vik>
            </div>

        </section>

        <div layout:fragment="js">
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <div th:substituteby="_modules/vue-modal"/>
            <script th:src="@{/phobos/modules/vue-generalComponents.js}" charset="utf-8"></script>
            <div th:substituteby="rolexamen/components/mover-seccion-examen"/>
            <script th:inline="javascript">
                var jRolesExamenes = /*[[${jRolesExamenes}]]*/ {};
                var jRolExamenes = /*[[${jRolExamenes}]]*/ {};
            </script>
            <script th:src="@{/app/rolexamen/grupoespecial/grupoEspecial.js}" charset="utf-8"></script>
        </div>

    </body>
</html>
