<html>
    <head>
        <meta charset="UTF8" />
        <title>Reporte</title>
        <style>
            body{
                font-size:8px !important;	
            }
            table{
                border-collapse: collapse;
                font-size:10px !important;
            }
            table td{
                padding: 3px;
            }
        </style>
    </head>
    <body>

        <div>
            <table width="100%">
                <tr>
                    <td width="70">
                        <img 
                            width="60px" 
                            height= "58px" 
                            src="logo-min.jpg" />
                    </td>
                    <td width="100%">
                        <div  style="text-align: center;font-size: 10px;font-weight: bold;width: 100%;">UNIVERSIDAD NACIONAL AGRARIA LA MOLINA</div>
                        <div style="text-align: center;font-size: 8px;width: 100%;">Oficina  de Estudios y Registros Academicos</div>
                    </td>

                </tr>
            </table>
        </div>

        <p style="text-align: center;"><b><span >Relación de Profesor-Curso con Monto a Pagar</span></b></p>
        <p style="text-align: center;"><b><span th:inline="text" >Matrícula [[${cicloAcademico.descripcion2}]] </span></b></p>

        <p style="text-align: right;font-size: 10px" th:inline="text" >La Molina , [[${fecha}]]</p>

        <div th:each="depa:${departamentoAcademicos}">

            <p style="text-align: left;margin-top: 35px;" th:text="${depa.nombreLargo}"></p>

            <div  style="margin-top: 125px">
                
                <table  style="margin-top: 25px" width="100%">

                    <tr>
                        <td  width="10%">
                            <p  style="font-weight: bold;">Código</p> 
                        </td>
                        <td   width="70%">
                            <p  style="font-weight: bold;"> Nombre del Curso</p> 

                        </td>
                        <td   width="10%">
                            <p  style="font-weight: bold;">Matriculados</p> 

                        </td>
                        <td   width="10%">
                            <p  style="font-weight: bold;">Monto</p> 

                        </td>
                    </tr>


                    <tr  th:each="cur:${depa.curso}">
                        <td width="10%">
                            <p th:text="${cur.codigo}"></p>
                        </td>
                        <td width="70%">
                            <p th:text="${cur.nombre}"></p>
                        </td>
                        <td width="10%">
                            <p style="text-align: center;" th:text="${cur.matriculados}"></p>
                        </td>
                        <td width="10%">
                            <p th:text="${'S/.'+cur.montoVeranoFormato}"></p>
                        </td>
                    </tr>

                    <tr>

                        <td width="10%">
                        </td>
                        
                        <td width="70%">
                            <p style="font-weight: bold;">Total</p>
                        </td>
                        
                        <td width="10%">
                            <p style="font-weight: bold;text-align: center;" th:text="${depa.matriculados}"></p>
                        </td>
                        
                        <td width="10%">
                            <p style="font-weight: bold;" th:text="${'S/.'+depa.montoTotalVeranoFormato}"></p>
                        </td>

                    </tr>

                </table>
            </div>

        </div>

    </body>
</html>
