<html>
    <head>
        <title> Resultado de las encuestas  </title>
    </head>
    <style>
        body{
            font-size: 10px !important;	
        }

        .fecha {
            font-size: 10px;
            font-style: italic;
        }

        table{
            border-collapse: collapse;
            font-size:10px !important;
        }

        .table-datos-encuesta {
            width: 100%;
            margin-top: 20px;
        }

        .table-datos-encuesta > tbody {
            margin-top: 10px;
            padding-top: 10px;
        }
        .table-datos-encuesta > tr {
            background-color: red;
        }

        .table-datos-cursos {
            width: 100%;
            margin-top: 20px;
        }


        .table-puntajes{
            margin-top: 20px;
            /*width: 75%;*/
        }

        .table-desempeno{
            width: 15%;
            font-weight: bold;
        }
        
        .table-no-encuestados{
            width: 100%;
        }
   
        .gray-bg{
            background-color: #f9fafc;
        }
        .text-center {
            text-align: center;
        }

        table td {
            padding: 5px !important;
        }
        
        .info-adicional{
            font-size: 10px;
            font-style: italic;
        }
    </style>
    <body>
        <div class="header text-center">
            <b> UNIVERSIDAD AGRARIA LA MOLINA </b>
            <p style="font-family: serif"> OFICINA ACADÉMICA DE ESTUDIOS </p>
            <p class="info-adicional"> Email: estudios@lamolina.edu.pe</p>
            <p class="info-adicional"> Teléfono: 349 - 5669 / 349 - 5647 anexo 135 </p>
            
        </div>
        <div style="text-align: center">
            <b class="block">RESULTADOS DE LAS ENCUESTAS ESTUDIANTILES 2018 - 1</b><br/>
            <b class="block">CURSOS DE POSGRADO</b>
        </div>

        <div style="text-align: right; margin-top: 20px;">
            <span class="fecha">La Molina, 8 de agosto de 2018</span>
        </div>
        <table class="table-datos-encuesta">
            <tbody>
                <tr>
                    <td style="width: 50px">
                        <b> FACULTAD - DEPARTAMENTO </b>  
                    </td>
                    <td>
                        <span> ZOOTECNIA - NUTRICIÓN </span>  
                    </td>
                </tr>
                <tr>
                    <td style="width: 50px">
                        <b> PROFESOR </b>  
                    </td>
                    <td>
                        <span> CARRIÓN CARRERA, GLADYS JUANA </span>  
                    </td>

                </tr>
            </tbody>
        </table>
        <table class="table-datos-cursos">
            <thead>
                <tr>
                    <td class="gray-bg text-center">
                        CLAVE
                    </td>
                    <td class="gray-bg text-center">
                        CÓDIGO
                    </td>
                    <td class="gray-bg text-center">
                        NOMBRE DEL CURSO
                    </td>
                    <td class="gray-bg text-center">
                        T
                    </td>
                    <td class="gray-bg text-center">
                        P
                    </td>
                    <td class="gray-bg text-center">
                        C
                    </td>
                    <td class="gray-bg text-center">
                        Horas <br/> Teoría
                    </td>
                    <td class="gray-bg text-center">
                        Horas <br/> Práctica
                    </td>
                    <td class="gray-bg text-center">
                        MAT
                    </td>
                    <td class="gray-bg text-center">
                        ENC
                    </td>
                    <td class="gray-bg text-center">    
                        %
                    </td>
                    <td class="gray-bg text-center">
                        MODO
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">
                        <span> E380 </span>
                    </td>
                    <td class="text-center">
                        <span> ZT7045 </span>
                    </td>
                    <td class="text-center">
                        <span> VALOR NUTRITIVO DE PASTOS Y FORRAJES </span>
                    </td>
                    <td class="text-center">
                        <span> 2 </span>
                    </td>
                    <td class="text-center">
                        <span> 2 </span>
                    </td>
                    <td class="text-center">
                        <span> 3 </span>
                    </td>
                    <td class="text-center">
                        <span> 0.20 </span>
                    </td>
                    <td class="text-center">
                        <span> 0.20 </span>
                    </td>
                    <td class="text-center">
                        <span> 11 </span>
                    </td>
                    <td class="text-center">
                        <span> 1 </span>
                    </td>
                    <td class="text-center">
                        <span> 9.09 </span>
                    </td>
                    <td class="text-center">
                        <span> WEB </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table-puntajes">
            <col width="5"/>
            <col width="80"/>
            <col width="80"/>
            <col width="2"/>
            <tbody>
                <tr>
                    <td colspan="4"  class="gray-bg text-center">
                        <b>PUNTAJE ALCANZADO POR CATEGORÍA - ESCALA DEL 1 AL 10</b>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" class="text-center" style="width: 40px">
                        Clave
                    </td>
                    <td colspan="2" class="gray-bg text-center">
                        Conducción del aprendizaje
                    </td>
                    <td rowspan="2" class="text-center" style="width: 60px">
                        Indicador del desempeño por clave
                    </td>
                </tr>
                <tr>
                    <td class="gray-bg text-center"  style="width: 35px">
                        Prom.  
                    </td>
                    <td class="gray-bg text-center"  style="width: 35px">
                        Dsv.St.
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        H360  
                    </td>
                    <td class="text-center">
                        10.00
                    </td>
                    <td class="text-center">
                        0.00
                    </td>
                    <td class="text-center">
                        10.00
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table-desempeno" style="float: right">
            <thead>
                <tr>
                    <td colspan="2" class="gray-bg text-center" >
                        Indicador del desempeño general
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        Escala
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="gray-bg text-center">
                        1 - 10
                    </td>
                    <td class="gray-bg text-center">
                        1 - 5
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        7.91
                    </td>
                    <td class="text-center">
                        3.95
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table-no-encuestados">
            <thead>
                <tr>
                    <td colspan="4" class="gray-bg text-center" >
                        Claves no encuestadas
                    </td>
                </tr>
                <tr>
                    <td>
                        Clave
                    </td>
                    <td>
                        Código
                    </td>
                    <td>
                        Nombre del curso
                    </td>
                    <td>
                        Comentario
                    </td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div>

        </div>
    </body>
</html>