<modal-vik ref="verTramiteModal"
           v-bind="verTramiteModal"
           v-bind:okaction="saveRespuesta">

    <div slot="body">

        <div v-if="tramiteSubvencion.tramite">
            <div class="">
                <span class="text-primary h4 block m-t-xxs m-b-xs" v-text="persona.apellidosNombres"></span>

                <span class="block">
                    <strong>Especialidad:</strong> {{tramiteSubvencion.tramite.alumno.carrera.nombre}}
                </span>

                <span class="block" v-if="tramiteSubvencion.tramite.alumno.carrera.nombre != tramiteSubvencion.tramite.alumno.carrera.facultad.nombre"> 
                    <strong>Facultad:</strong> {{tramiteSubvencion.tramite.alumno.carrera.facultad.nombre}}
                </span>

                <span class="h5 block m-t-xs">
                    <strong>Matrícula:</strong> {{tramiteSubvencion.tramite.alumno.codigo}}
                </span>
            </div>

            <div class="row m-t-lg">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="">Horas a laborar</label>
                        <div class="block text-primary">{{tramiteSubvencion.horas}}</div>
                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="form-group">
                        <label class="">Motivo</label>
                        <div class="block text-primary">{{tramiteSubvencion.motivo}}</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="">Lugar de labores</label>
                        <textarea v-if="tramiteSubvencion.tramite.estado == 'SUPERV_ASIGN' " 
                                  v-model="tramiteSubvencion.lugarLabores" 
                                  class="form-control" rows="2" required="yes"></textarea>
                        <div v-else="" v-text="tramiteSubvencion.lugarLabores" class="item-form-control text-primary"></div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="">Labor a realizar</label>
                        <textarea v-if="tramiteSubvencion.tramite.estado == 'SUPERV_ASIGN' " 
                                  v-model="tramiteSubvencion.laborRealizar" 
                                  class="form-control" rows="2" required="yes"></textarea>
                        <div v-else="" v-text="tramiteSubvencion.laborRealizar" class="item-form-control text-primary"></div>
                    </div>
                </div>
            </div>

            <div class="form-group"
                 v-if="tramiteSubvencion.tramite.estado == 'SUPERV_ASIGN' ">
                <label class="block" >Aceptar</label>
                <label class="switch">
                    <input type="checkbox" v-model="rechazado" />
                    <span></span>
                </label>
            </div>

            <div class="form-group" v-if="tramiteSubvencion.tramite.estado == 'SUPERV_ASIGN' ">
                <template v-if="!rechazado">
                    <label class="">Motivo de rechazo</label>
                    <textarea v-model="tramiteSubvencion.comentario" class="form-control" rows="2" required="yes"></textarea>
                </template>
            </div>
            <div class="form-group" v-else-if="tramiteSubvencion.comentario">
                <label class="">Motivo de rechazo</label>
                <div v-text="tramiteSubvencion.comentario" class="item-form-control text-primary"></div>
            </div>
        </div>

    </div>
</modal-vik>



