

*:focus {
    outline: none;
}
a:focus,
button:focus,
input[type="submit"]:focus {
    outline: none !important;
}
.main-sidebar {
    bottom: 0px;
}

.aside-lg {
    width: 230px;
}

@media screen and (min-height: 901px) {
    .main-sidebar {
        position: fixed !important;
    }
}
#sidebar-flat {
    background: #d8dfe6;
    border-right: 1px solid #b2c1d0;
    left: 0;
    top: 0;
    position: absolute;
    width: 230px;
    z-index: 999;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat {
        width: 80px;
    }
    .logo span {
        display: none;
    }
}

#sidebar-flat .current-user {
    position: relative;
    padding: 0 20px;
    margin-bottom: 20px;
    height: 63px;
}
#sidebar-flat .current-user .name {
    color: #444;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 0;
    display: block;
    position: relative;
}
#sidebar-flat .current-user .name .avatar {
    max-width: 41px;
    border-radius: 50%;
    position: relative;
    top: 2px;
    margin-right: 12px;
}
#sidebar-flat .current-user .name span {
    position: relative;
    top: 5px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat .current-user .name span {
        display: none;
    }
}
#sidebar-flat .current-user .name span .fa-chevron-down {
    font-size: 10px;
    margin-left: 7px;
    position: relative;
    top: -1px;
    color: #738597;
}
#sidebar-flat .current-user .menu {
    position: absolute;
    left: 35px;
    top: 60px;
    background: #fff;
    width: 165px;
    z-index: 999;
    border-radius: 3px;
    padding: 8px 0;
    list-style-type: none;
    box-shadow: 0 6px 13px rgba(0,0,0,0.26), 0 0 0 1px rgba(0,0,0,0.06);
    opacity: 0;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -moz-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -ms-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -o-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat .current-user .menu {
        left: 80px;
        top: 10px;
        -webkit-transform-origin: 0 15px;
        -moz-transform-origin: 0 15px;
        -o-transform-origin: 0 15px;
        -ms-transform-origin: 0 15px;
        transform-origin: 0 15px;
    }
}
#sidebar-flat .current-user .menu.active {
    opacity: 1;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
#sidebar-flat .current-user .menu:before {
    content: "";
    position: absolute;
    display: block;
    width: 37px;
    height: 12px;
    top: -12px;
    left: 49%;
    margin-left: -18.5px;
    background-image: url("popover-arrow.png");
    background-size: 100% 100%;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat .current-user .menu:before {
        top: 16px;
        left: -5px;
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}
#sidebar-flat .current-user .menu li {
    padding: 8px 15px;
    border-bottom: 1px solid #E6E6E6;
}
#sidebar-flat .current-user .menu li:last-child {
    border-bottom: 0;
}
#sidebar-flat .current-user .menu li a {
    text-decoration: none;
    display: block;
    color: #4C5661;
    font-size: 15px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#sidebar-flat .current-user .menu li a:hover {
    color: #000;
}
#sidebar-flat .menu-section {
    margin-bottom: 40px;
}
#sidebar-flat .menu-section h3 {
    color: #7E8C9E;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 25px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat .menu-section h3 {
        display: none;
    }
}
#sidebar-flat .menu-section ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 15px;
}
#sidebar-flat .menu-section ul li {
    margin: 3px 0;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat .menu-section ul li {
        margin-bottom: 7px;
        position: relative;
    }
}
#sidebar-flat .menu-section ul li a {
    color: #4B5F72;
    font-weight: 400;
    font-size: 14px;
    padding: 6px 10px;
    padding-left: 25px;
    background: transparent;
    text-decoration: none;
    display: inline-block;
    width: 99%;
    -webkit-transition: all 0.13s linear;
    -moz-transition: all 0.13s linear;
    -ms-transition: all 0.13s linear;
    -o-transition: all 0.13s linear;
    transition: all 0.13s linear;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat .menu-section ul li a {
        position: relative;
        padding-left: 10px;
        text-align: center;
    }
    #sidebar-flat .menu-section ul li a:hover+.submenu {
        visibility: visible;
        opacity: 1;
        -moz-transform: translateX(0px);
        -o-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}
#sidebar-flat .menu-section ul li a.active,
#sidebar-flat .menu-section ul li a:hover {
    color: #181C20;
}
#sidebar-flat .menu-section ul li a.active {
    font-weight: 600;
}
#sidebar-flat .menu-section ul li a.toggled {
    color: #181C20;
    background: #CBD4DD;
}
#sidebar-flat .menu-section ul li a i {
    font-size: 18px;
    margin-right: 9px;
    min-width: 17px;
    text-align: center;
    position: relative;
    top: 1px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat .menu-section ul li a i {
        font-size: 23px;
        margin: 0;
    }
    #sidebar-flat .menu-section ul li a i.fa-chevron-down {
        display: none;
    }
}
#sidebar-flat .menu-section ul li a i.ion-card,
#sidebar-flat .menu-section ul li a i.ion-android-inbox {
    font-size: 18px;
}
#sidebar-flat .menu-section ul li a i.ion-code-working {
    font-size: 23px;
    top: 4px;
}
#sidebar-flat .menu-section ul li a i.ion-usb {
    font-size: 22px;
}
#sidebar-flat .menu-section ul li a i.fa-chevron-down {
    float: right;
    font-size: 10px;
    top: 7px;
    right: 4px;
    color: #738597;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat .menu-section ul li a span {
        display: none;
    }
}
#sidebar-flat .menu-section ul li a .counter {
    display: inline-block;
    background: #99aaba;
    color: #fff;
    font-family: "Helvetica Neue", Arial;
    height: 20px;
    min-width: 25px;
    line-height: 19px;
    text-align: center;
    border-radius: 15px;
    font-size: 11px;
    font-weight: 600;
    float: right;
    position: relative;
    top: 2px;
    right: 9px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat .menu-section ul li a .counter {
        display: none;
    }
}
#sidebar-flat .menu-section ul li>.submenu {
    display: none;
    position: relative;
    top: 10px;
    margin-top: 0;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #D4DBE0;
    box-shadow: 0 1px 0px rgba(255,255,255,0.09);
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    animation-duration: 0.4s;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat .menu-section ul li>.submenu {
        background: #d8dfe6;
        position: absolute;
        display: block;
        visibility: hidden;
        opacity: 0;
        -moz-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
        border-radius: 0 4px 4px 0;
        min-width: 170px;
        top: 0px;
        left: 79px;
        padding-bottom: 0px;
        box-shadow: 0 1px 0px rgba(255,255,255,0.09);
        -webkit-transition: all 0.15s ease-in;
        -moz-transition: all 0.15s ease-in;
        -ms-transition: all 0.15s ease-in;
        -o-transition: all 0.15s ease-in;
        transition: all 0.15s ease-in;
    }
    #sidebar-flat .menu-section ul li>.submenu:hover {
        opacity: 1;
        -moz-transform: translateX(0px);
        -o-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        visibility: visible;
    }
}
#sidebar-flat .menu-section ul li>.submenu.active {
    display: block;
}
#sidebar-flat .menu-section ul li>.submenu li a {
    padding-left: 54px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat .menu-section ul li>.submenu li a {
        padding-left: 10px;
        text-align: left;
        color: #3C4C5C;
    }
    #sidebar-flat .menu-section ul li>.submenu li a:hover {
        color: #000;
    }
}
#sidebar-flat .menu-section ul li>.submenu li a.active {
    background: #CBD4DD;
    box-shadow: none;
}
#sidebar-flat .menu-section ul li>.submenu li>.submenu {
    display: none;
    position: relative;
    top: 10px;
    border-bottom: 0px;
    box-shadow: none;
    margin-bottom: 10px;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    animation-duration: 0.4s;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat .menu-section ul li>.submenu li>.submenu {
        display: block;
        position: absolute;
        top: 0px;
        left: 170px;
    }
}
#sidebar-flat .menu-section ul li>.submenu li>.submenu.active {
    display: block;
}
#sidebar-flat .menu-section ul li>.submenu li>.submenu li a {
    padding-left: 75px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat .menu-section ul li>.submenu li>.submenu li a {
        padding-left: 10px;
    }
}
#sidebar-flat .bottom-menu {
    position: fixed;
    bottom: 0;
    width: 230px;
    z-index: 999;
}
#sidebar-flat .bottom-menu>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#sidebar-flat .bottom-menu>ul>li {
    float: left;
    display: block;
    width: 33.333%;
    border-right: 1px solid #C1CFDD;
    border-top: 1px solid #C1CFDD;
}
#sidebar-flat .bottom-menu>ul>li>a {
    display: block;
    position: relative;
    text-align: center;
    padding: 6px 0;
    background: #E5EBF1;
}
#sidebar-flat .bottom-menu>ul>li>a:hover i {
    color: #333;
}
#sidebar-flat .bottom-menu>ul>li>a:hover+.menu {
    opacity: 1;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
#sidebar-flat .bottom-menu>ul>li>a i {
    color: #677786;
    font-size: 19px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
#sidebar-flat .bottom-menu>ul>li>a .flag {
    width: 7px;
    height: 7px;
    display: block;
    position: absolute;
    background: #9ed166;
    border-radius: 25px;
    top: 4px;
    right: 25px;
}
#sidebar-flat .bottom-menu>ul>li .menu {
    position: absolute;
    left: 39px;
    bottom: 34px;
    background: #fff;
    width: 155px;
    z-index: 999;
    border-radius: 3px;
    padding: 7px 0;
    list-style-type: none;
    box-shadow: 1px 2px 8px rgba(0,0,0,0.25);
    opacity: 0;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -moz-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -ms-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -o-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
#sidebar-flat .bottom-menu>ul>li .menu:hover {
    opacity: 1;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
#sidebar-flat .bottom-menu>ul>li .menu:after {
    content: "";
    position: absolute;
    display: block;
    width: 37px;
    height: 12px;
    bottom: -12px;
    left: 49%;
    margin-left: -18.5px;
    background-image: url("popover-arrow.png");
    background-size: 100% 100%;
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
#sidebar-flat .bottom-menu>ul>li .menu li {
    padding: 8px 0;
    border-bottom: 1px solid #E6E6E6;
    text-align: center;
}
#sidebar-flat .bottom-menu>ul>li .menu li:last-child {
    border-bottom: 0;
}
#sidebar-flat .bottom-menu>ul>li .menu li a {
    text-decoration: none;
    display: block;
    color: #54A0E2;
    font-weight: 600;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#sidebar-flat .bottom-menu>ul>li .menu li a:hover {
    color: #000;
}

#sidebar-flat-dark {
    background: #363e45; 
    left: 0;
    top: 0;
    position: absolute;
    width: 230px;
    z-index: 999;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-dark {
        width: 80px;
    }
    .aside-lg {
        width: 80px;
    }
}
#sidebar-flat-dark .current-user {
    position: relative;
    padding: 0 20px;
    margin-bottom: 20px;
    height: 63px;
}
#sidebar-flat-dark .current-user .name {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 0;
    display: block;
    position: relative;
}
#sidebar-flat-dark .current-user .name .avatar {
    max-width: 41px;
    border-radius: 50%;
    position: relative;
    top: 2px;
    margin-right: 12px;
}
#sidebar-flat-dark .current-user .name span {
    position: relative;
    top: 5px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-dark .current-user .name span {
        display: none;
    }
}
#sidebar-flat-dark .current-user .name span .fa-chevron-down {
    font-size: 10px;
    margin-left: 7px;
    position: relative;
    top: -1px;
    color: #9BABBB;
}
#sidebar-flat-dark .current-user .menu {
    position: absolute;
    left: 35px;
    top: 60px;
    background: #fff;
    width: 165px;
    z-index: 999;
    border-radius: 3px;
    padding: 8px 0;
    list-style-type: none;
    box-shadow: 0 6px 13px rgba(0,0,0,0.26), 0 0 0 1px rgba(0,0,0,0.06);
    opacity: 0;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -moz-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -ms-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -o-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-dark .current-user .menu {
        left: 80px;
        top: 10px;
        -webkit-transform-origin: 0 15px;
        -moz-transform-origin: 0 15px;
        -o-transform-origin: 0 15px;
        -ms-transform-origin: 0 15px;
        transform-origin: 0 15px;
    }
}
#sidebar-flat-dark .current-user .menu.active {
    opacity: 1;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
#sidebar-flat-dark .current-user .menu:before {
    content: "";
    position: absolute;
    display: block;
    width: 37px;
    height: 12px;
    top: -12px;
    left: 49%;
    margin-left: -18.5px;
    background-image: url("popover-arrow.png");
    background-size: 100% 100%;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-dark .current-user .menu:before {
        top: 16px;
        left: -5px;
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}
#sidebar-flat-dark .current-user .menu li {
    padding: 8px 15px;
    border-bottom: 1px solid #E6E6E6;
}
#sidebar-flat-dark .current-user .menu li:last-child {
    border-bottom: 0;
}
#sidebar-flat-dark .current-user .menu li a {
    text-decoration: none;
    display: block;
    color: #4C5661;
    font-size: 15px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#sidebar-flat-dark .current-user .menu li a:hover {
    color: #000;
}
#sidebar-flat-dark .menu-section {
    margin-bottom: 40px;
}
#sidebar-flat-dark .menu-section h3 {
    color: #A6AFBB;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 500;
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 25px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-dark .menu-section h3 {
        display: none;
    }
}
#sidebar-flat-dark .menu-section ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 15px;
}
#sidebar-flat-dark .menu-section ul li {
    margin: 3px 0;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-dark .menu-section ul li {
        margin-bottom: 7px;
        position: relative;
    }
}
#sidebar-flat-dark .menu-section ul li a {
    color: #C1D0DF;
    font-weight: 300;
    font-size: 12px;
    padding: 6px 10px;
    padding-left: 25px;
    background: transparent;
    text-decoration: none;
    display: inline-block;
    width: 99%;
    -webkit-transition: all 0.13s linear;
    -moz-transition: all 0.13s linear;
    -ms-transition: all 0.13s linear;
    -o-transition: all 0.13s linear;
    transition: all 0.13s linear;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-dark .menu-section ul li a {
        position: relative;
        padding-left: 10px;
        text-align: center;
    }
    #sidebar-flat-dark .menu-section ul li a:hover+.submenu {
        visibility: visible;
        opacity: 1;
        -moz-transform: translateX(0px);
        -o-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}
#sidebar-flat-dark .menu-section ul li a.active,
#sidebar-flat-dark .menu-section ul li a:hover {
    color: #fff;
}
#sidebar-flat-dark .menu-section ul li a.active {
    font-weight: 600;
}
#sidebar-flat-dark .menu-section ul li a.toggled {
    background: #3F4852;
}
#sidebar-flat-dark .menu-section ul li a i {
    font-size: 18px;
    margin-right: 9px;
    min-width: 17px;
    text-align: center;
    position: relative;
    top: 1px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-dark .menu-section ul li a i {
        font-size: 23px;
        margin: 0;
    }
    #sidebar-flat-dark .menu-section ul li a i.fa-chevron-down {
        display: none;
    }
    #sidebar-flat-dark .menu-section ul li a i.icon-chevron-down {
        display: none;
    }
}
#sidebar-flat-dark .menu-section ul li a i.ion-card,
#sidebar-flat-dark .menu-section ul li a i.ion-android-inbox {
    font-size: 18px;
}
#sidebar-flat-dark .menu-section ul li a i.ion-code-working {
    font-size: 23px;
    top: 4px;
}
#sidebar-flat-dark .menu-section ul li a i.ion-usb {
    font-size: 22px;
}
#sidebar-flat-dark .menu-section ul li a i.fa-chevron-down {
    float: right;
    font-size: 8px;
    top: 7px;
    right: 4px;
    color: #9BABBB;
}
#sidebar-flat-dark .menu-section ul li a i.icon-chevron-down {
    float: right;
    font-size: 8px;
    top: 7px;
    right: 4px;
    color: #9BABBB;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-dark .menu-section ul li a span {
        display: none;
    }
}
#sidebar-flat-dark .menu-section ul li a .counter {
    display: inline-block;
    background: #8796A5;
    color: #fff;
    font-family: "Helvetica Neue", Arial;
    height: 20px;
    min-width: 25px;
    line-height: 19px;
    text-align: center;
    border-radius: 15px;
    font-size: 11px;
    font-weight: 600;
    float: right;
    position: relative;
    top: 2px;
    right: 9px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-dark .menu-section ul li a .counter {
        display: none;
    }
}
#sidebar-flat-dark .menu-section ul li>.submenu {
    display: none;
    position: relative;
    top: 10px;
    margin-top: 0;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #454F57;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    animation-duration: 0.4s;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-dark .menu-section ul li>.submenu {
        background: #363e45;
        position: absolute;
        display: block;
        visibility: hidden;
        opacity: 0;
        -moz-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
        border-radius: 0 4px 4px 0;
        min-width: 170px;
        top: 0px;
        left: 79px;
        padding-bottom: 0px;
        box-shadow: 0 1px 0px rgba(255,255,255,0.09);
        -webkit-transition: all 0.15s ease-in;
        -moz-transition: all 0.15s ease-in;
        -ms-transition: all 0.15s ease-in;
        -o-transition: all 0.15s ease-in;
        transition: all 0.15s ease-in;
    }
    #sidebar-flat-dark .menu-section ul li>.submenu:hover {
        opacity: 1;
        -moz-transform: translateX(0px);
        -o-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        visibility: visible;
    }
}
#sidebar-flat-dark .menu-section ul li>.submenu.active {
    display: block;
}
#sidebar-flat-dark .menu-section ul li>.submenu li a {
    padding-left: 54px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-dark .menu-section ul li>.submenu li a {
        padding-left: 10px;
        text-align: left;
    }
}
#sidebar-flat-dark .menu-section ul li>.submenu li a.active {
    background: #3F4852;
    box-shadow: none;
}
#sidebar-flat-dark .menu-section ul li>.submenu li>.submenu {
    display: none;
    position: relative;
    top: 10px;
    border-bottom: 0px;
    box-shadow: none;
    margin-bottom: 10px;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    animation-duration: 0.4s;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-dark .menu-section ul li>.submenu li>.submenu {
        display: block;
        position: absolute;
        top: 0px;
        left: 170px;
    }
}
#sidebar-flat-dark .menu-section ul li>.submenu li>.submenu.active {
    display: block;
}
#sidebar-flat-dark .menu-section ul li>.submenu li>.submenu li a {
    padding-left: 75px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-dark .menu-section ul li>.submenu li>.submenu li a {
        padding-left: 10px;
    }
}
#sidebar-flat-dark .bottom-menu {
    position: fixed;
    bottom: 0;
    width: 230px;
    z-index: 999;
}
#sidebar-flat-dark .bottom-menu>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#sidebar-flat-dark .bottom-menu>ul>li {
    float: left;
    display: block;
    width: 33.333%;
    border-right: 1px solid #68747E;
    border-top: 1px solid #68747E;
}
#sidebar-flat-dark .bottom-menu>ul>li:last-child {
    border-right: 0;
}
#sidebar-flat-dark .bottom-menu>ul>li>a {
    display: block;
    position: relative;
    text-align: center;
    padding: 6px 0;
    background: #4E5861;
}
#sidebar-flat-dark .bottom-menu>ul>li>a:hover+.menu {
    opacity: 1;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
#sidebar-flat-dark .bottom-menu>ul>li>a i {
    color: #C4D1DF;
    font-size: 19px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
#sidebar-flat-dark .bottom-menu>ul>li>a .flag {
    width: 7px;
    height: 7px;
    display: block;
    position: absolute;
    background: #9ed166;
    border-radius: 25px;
    top: 4px;
    right: 25px;
}
#sidebar-flat-dark .bottom-menu>ul>li .menu {
    position: absolute;
    left: 39px;
    bottom: 34px;
    background: #fff;
    width: 155px;
    z-index: 999;
    border-radius: 3px;
    padding: 7px 0;
    list-style-type: none;
    box-shadow: 1px 2px 8px rgba(0,0,0,0.25);
    opacity: 0;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -moz-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -ms-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -o-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
#sidebar-flat-dark .bottom-menu>ul>li .menu:hover {
    opacity: 1;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
#sidebar-flat-dark .bottom-menu>ul>li .menu:after {
    content: "";
    position: absolute;
    display: block;
    width: 37px;
    height: 12px;
    bottom: -12px;
    left: 49%;
    margin-left: -18.5px;
    background-image: url("popover-arrow.png");
    background-size: 100% 100%;
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
#sidebar-flat-dark .bottom-menu>ul>li .menu li {
    padding: 8px 0;
    border-bottom: 1px solid #E6E6E6;
    text-align: center;
}
#sidebar-flat-dark .bottom-menu>ul>li .menu li:last-child {
    border-bottom: 0;
}
#sidebar-flat-dark .bottom-menu>ul>li .menu li a {
    text-decoration: none;
    display: block;
    color: #54A0E2;
    font-weight: 600;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#sidebar-flat-dark .bottom-menu>ul>li .menu li a:hover {
    color: #000;
}



#sidebar-flat-green {
    background: #1abc9c;
    left: 0;
    top: 0;
    position: absolute;
    width: 230px;
    z-index: 999;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-green {
        width: 80px;
    }
    .aside-lg {
        width: 80px;
    }
}
#sidebar-flat-green .current-user {
    position: relative;
    padding: 0 20px;
    margin-bottom: 20px;
    height: 63px;
}
#sidebar-flat-green .current-user .name {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 0;
    display: block;
    position: relative;
}
#sidebar-flat-green .current-user .name .avatar {
    max-width: 41px;
    border-radius: 50%;
    position: relative;
    top: 2px;
    margin-right: 12px;
}
#sidebar-flat-green .current-user .name span {
    position: relative;
    top: 5px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-green .current-user .name span {
        display: none;
    }
}
#sidebar-flat-green .current-user .name span .fa-chevron-down {
    font-size: 10px;
    margin-left: 7px;
    position: relative;
    top: -1px;
    color: #9BABBB;
}
#sidebar-flat-green .current-user .menu {
    position: absolute;
    left: 35px;
    top: 60px;
    background: #fff;
    width: 165px;
    z-index: 999;
    border-radius: 3px;
    padding: 8px 0;
    list-style-type: none;
    box-shadow: 0 6px 13px rgba(0,0,0,0.26), 0 0 0 1px rgba(0,0,0,0.06);
    opacity: 0;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -moz-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -ms-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -o-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-green .current-user .menu {
        left: 80px;
        top: 10px;
        -webkit-transform-origin: 0 15px;
        -moz-transform-origin: 0 15px;
        -o-transform-origin: 0 15px;
        -ms-transform-origin: 0 15px;
        transform-origin: 0 15px;
    }
}
#sidebar-flat-green .current-user .menu.active {
    opacity: 1;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
#sidebar-flat-green .current-user .menu:before {
    content: "";
    position: absolute;
    display: block;
    width: 37px;
    height: 12px;
    top: -12px;
    left: 49%;
    margin-left: -18.5px;
    background-image: url("popover-arrow.png");
    background-size: 100% 100%;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-green .current-user .menu:before {
        top: 16px;
        left: -5px;
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}
#sidebar-flat-green .current-user .menu li {
    padding: 8px 15px;
    border-bottom: 1px solid #E6E6E6;
}
#sidebar-flat-green .current-user .menu li:last-child {
    border-bottom: 0;
}
#sidebar-flat-green .current-user .menu li a {
    text-decoration: none;
    display: block;
    color: #4C5661;
    font-size: 15px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#sidebar-flat-green .current-user .menu li a:hover {
    color: #000;
}
#sidebar-flat-green .menu-section {
    margin-bottom: 25px;
}
#sidebar-flat-green .menu-section h3 {
    color: #a8f3e4;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 25px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-green .menu-section h3 {
        display: none;
    }
}
#sidebar-flat-green .menu-section ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 15px;
}
#sidebar-flat-green .menu-section ul li {
    margin: 3px 0;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-green .menu-section ul li {
        margin-bottom: 7px;
        position: relative;
    }
}
#sidebar-flat-green .menu-section ul li a {
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    padding: 6px 10px;
    padding-left: 25px;
    background: transparent;
    text-decoration: none;
    display: inline-block;
    width: 99%;
    -webkit-transition: all 0.13s linear;
    -moz-transition: all 0.13s linear;
    -ms-transition: all 0.13s linear;
    -o-transition: all 0.13s linear;
    transition: all 0.13s linear;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-green .menu-section ul li a {
        position: relative;
        padding-left: 10px;
        text-align: center;
    }
    #sidebar-flat-green .menu-section ul li a:hover+.submenu {
        visibility: visible;
        opacity: 1;
        -moz-transform: translateX(0px);
        -o-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}
#sidebar-flat-green .menu-section ul li a.active,
#sidebar-flat-green .menu-section ul li a:hover {
    color: #fff;
}
#sidebar-flat-green .menu-section ul li a.active {
    font-weight: 600;
}
#sidebar-flat-green .menu-section ul li a.toggled {
    background: #16a085;
}
#sidebar-flat-green .menu-section ul li a i {
    font-size: 18px;
    margin-right: 9px;
    min-width: 17px;
    text-align: center;
    position: relative;
    top: 1px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-green .menu-section ul li a i {
        font-size: 23px;
        margin: 0;
    }
    #sidebar-flat-green .menu-section ul li a i.fa-chevron-down {
        display: none;
    }
    #sidebar-flat-green .menu-section ul li a i.icon-chevron-down {
        display: none;
    }
}
#sidebar-flat-green .menu-section ul li a i.ion-card,
#sidebar-flat-green .menu-section ul li a i.ion-android-inbox {
    font-size: 18px;
}
#sidebar-flat-green .menu-section ul li a i.ion-code-working {
    font-size: 23px;
    top: 4px;
}
#sidebar-flat-green .menu-section ul li a i.ion-usb {
    font-size: 22px;
}
#sidebar-flat-green .menu-section ul li a i.fa-chevron-down {
    float: right;
    font-size: 8px;
    top: 7px;
    right: 4px;
    color: #fff;
}
#sidebar-flat-green .menu-section ul li a i.icon-chevron-down {
    float: right;
    font-size: 8px;
    top: 7px;
    right: 4px;
    color: #fff;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-green .menu-section ul li a span {
        display: none;
    }
}
#sidebar-flat-green .menu-section ul li a .counter {
    display: inline-block;
    background: #8796A5;
    color: #fff;
    font-family: "Helvetica Neue", Arial;
    height: 20px;
    min-width: 25px;
    line-height: 19px;
    text-align: center;
    border-radius: 15px;
    font-size: 11px;
    font-weight: 600;
    float: right;
    position: relative;
    top: 2px;
    right: 9px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-green .menu-section ul li a .counter {
        display: none;
    }
}
#sidebar-flat-green .menu-section ul li>.submenu {
    display: none;
    position: relative;
    top: 10px;
    margin-top: 0;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #16a085;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    animation-duration: 0.4s;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-green .menu-section ul li>.submenu {
        background: #1abc9c;
        position: absolute;
        display: block;
        visibility: hidden;
        opacity: 0;
        -moz-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
        border-radius: 0 4px 4px 0;
        min-width: 170px;
        top: 0px;
        left: 79px;
        padding-bottom: 0px;
        box-shadow: 0 1px 0px rgba(255,255,255,0.09);
        -webkit-transition: all 0.15s ease-in;
        -moz-transition: all 0.15s ease-in;
        -ms-transition: all 0.15s ease-in;
        -o-transition: all 0.15s ease-in;
        transition: all 0.15s ease-in;
    }
    #sidebar-flat-green .menu-section ul li>.submenu:hover {
        opacity: 1;
        -moz-transform: translateX(0px);
        -o-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        visibility: visible;
    }
}
#sidebar-flat-green .menu-section ul li>.submenu.active {
    display: block;
}
#sidebar-flat-green .menu-section ul li>.submenu li a {
    padding-left: 54px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-green .menu-section ul li>.submenu li a {
        padding-left: 10px;
        text-align: left;
    }
}
#sidebar-flat-green .menu-section ul li>.submenu li a.active {
    background: #16a085;
    box-shadow: none;
}
#sidebar-flat-green .menu-section ul li>.submenu li>.submenu {
    display: none;
    position: relative;
    top: 10px;
    border-bottom: 0px;
    box-shadow: none;
    margin-bottom: 10px;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    animation-duration: 0.4s;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-green .menu-section ul li>.submenu li>.submenu {
        display: block;
        position: absolute;
        top: 0px;
        left: 170px;
    }
}
#sidebar-flat-green .menu-section ul li>.submenu li>.submenu.active {
    display: block;
}
#sidebar-flat-green .menu-section ul li>.submenu li>.submenu li a {
    padding-left: 75px;
}
@media (min-width: 768px) and (max-width: 991px) {
    #sidebar-flat-green .menu-section ul li>.submenu li>.submenu li a {
        padding-left: 10px;
    }
}
#sidebar-flat-green .bottom-menu {
    position: fixed;
    bottom: 0;
    width: 230px;
    z-index: 999;
}
#sidebar-flat-green .bottom-menu>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#sidebar-flat-green .bottom-menu>ul>li {
    float: left;
    display: block;
    width: 33.333%;
    border-right: 1px solid #68747E;
    border-top: 1px solid #68747E;
}
#sidebar-flat-green .bottom-menu>ul>li:last-child {
    border-right: 0;
}
#sidebar-flat-green .bottom-menu>ul>li>a {
    display: block;
    position: relative;
    text-align: center;
    padding: 6px 0;
    background: #4E5861;
}
#sidebar-flat-green .bottom-menu>ul>li>a:hover+.menu {
    opacity: 1;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
#sidebar-flat-green .bottom-menu>ul>li>a i {
    color: #C4D1DF;
    font-size: 19px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
#sidebar-flat-green .bottom-menu>ul>li>a .flag {
    width: 7px;
    height: 7px;
    display: block;
    position: absolute;
    background: #9ed166;
    border-radius: 25px;
    top: 4px;
    right: 25px;
}
#sidebar-flat-green .bottom-menu>ul>li .menu {
    position: absolute;
    left: 39px;
    bottom: 34px;
    background: #fff;
    width: 155px;
    z-index: 999;
    border-radius: 3px;
    padding: 7px 0;
    list-style-type: none;
    box-shadow: 1px 2px 8px rgba(0,0,0,0.25);
    opacity: 0;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -moz-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -ms-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -o-transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    transition: all 300ms cubic-bezier(0.34,1.61,0.7,1);
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
#sidebar-flat-green .bottom-menu>ul>li .menu:hover {
    opacity: 1;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
#sidebar-flat-green .bottom-menu>ul>li .menu:after {
    content: "";
    position: absolute;
    display: block;
    width: 37px;
    height: 12px;
    bottom: -12px;
    left: 49%;
    margin-left: -18.5px;
    background-image: url("popover-arrow.png");
    background-size: 100% 100%;
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
#sidebar-flat-green .bottom-menu>ul>li .menu li {
    padding: 8px 0;
    border-bottom: 1px solid #E6E6E6;
    text-align: center;
}
#sidebar-flat-green .bottom-menu>ul>li .menu li:last-child {
    border-bottom: 0;
}
#sidebar-flat-green .bottom-menu>ul>li .menu li a {
    text-decoration: none;
    display: block;
    color: #54A0E2;
    font-weight: 600;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#sidebar-flat-green .bottom-menu>ul>li .menu li a:hover {
    color: #000;
}



.logo{
    height: 50px;
    color: #fff;
    position: relative;
    padding: 5px 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 23px;

}
.logo span{
    line-height: 40px;
    font-weight: 100;
}



body.open-sidebar  #content {
    -webkit-perspective: 0px;
    -ms-perspective: 0px;
    -moz-perspective: 0px;
    -moz-transform: translate3d(230px, 0, 0);
    -o-transform: translate3d(230px, 0, 0);
    -ms-transform: translate3d(230px, 0, 0);
    -webkit-transform: translate3d(230px, 0, 0);
    transform: translate3d(230px, 0, 0);
}




#content {
    background: #f3f5f9;
    margin-left: 80px;
    position: relative;
    min-height: 900px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

@media (max-width: 991px) {
    #content {
        margin-left: 80px;
    }
}

@media (max-width: 767px) {
    #content {
        margin-left: 0px;
        z-index: 9999;
    }
}







#sidebar-flat-dark.compress .menu-section ul li a span {
    display: block;
}

#sidebar-flat-dark.compress .menu-section ul li a {
    position: relative;
    padding-left: 10px;
    text-align: center;
}
#sidebar-flat-dark.compress .menu-section ul li a:hover+.submenu {
    visibility: visible;
    opacity: 1;
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
#sidebar-flat-dark.compress .menu-section ul li {
    margin-bottom: 7px;
    position: relative;
}
#sidebar-flat-dark.compress .menu-section ul li a i {
    font-size: 23px;
    margin: 0;
}
#sidebar-flat-dark.compress .menu-section ul li a i.fa-chevron-down {
    display: none;
}


#sidebar-flat-dark.compress{
    width: 90px;
}

.aside-lg.compress {
    width: 90px;
}

#sidebar-flat-dark.compress .current-user .name span {
    display: none;
}


#sidebar-flat-dark.compress .menu-section h3 {
    display: none;
}

#sidebar-flat-dark.compress .logo{
 height: 50px;   
}