<html layout:decorator="_layout/layout">
    <head>
        <title>Permisos para programación de horarios</title>
    </head>

    <body>
        <div layout:fragment="main">
            <div id="permisoProgramacionVUE" v-cloak="">
                <header class="header b-b padder-lg">        
                    <h2>Permisos para programación de horarios -</h2>
                </header>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="lista">
                        <section class="panel">
                            <section class="panel-body">
                                <div class="col-md-12 col-md-offset-0">
                                    <raptor-table v-bind:url="colaboradorURL" ref="loadCitas">
                                        <template  scope="props" >
                                            <table  class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="col-md-2 text-left">Colaborador</th>
                                                        <th class="col-md-2 text-left">Anexo Boletin</th>
                                                        <th class="col-md-2 text-left">Cursos</th>
                                                        <th class="col-md-2 text-left">Grupo Seccion</th>
                                                        <th class="col-md-2 text-left">Seccion</th>
                                                        <th class="col-md-2 text-left">Docentes</th>
                                                        <th class="text-left"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="item in props.data"
                                                        v-on:mouseover="seleccionar(item)"
                                                        v-on:mouseleave="deseleccionar()">
                                                        <td class="v-middle text-left"
                                                            v-if="item.rows>0"
                                                            v-bind:rowspan="item.rows">
                                                            <div class="pull-left m-r">
                                                                <img class="img-responsive img-thumbnail img-circle" v-bind:src="item.colaborador.persona.rutaFoto" />
                                                            </div>
                                                            <span class="block bold "> <a>{{item.colaborador.persona.apellidosNombres}}</a> </span> 
                                                            <span class="block bold " > {{item.colaborador.cargo.nombre}} </span> 
                                                        </td>                                                       
                                                        <td class="v-middle text-left" 
                                                            v-bind:rowspan="item.row"
                                                            v-bind:class="classTable(item)">
                                                            <span class="block bold ">{{item.anexoBoletin.nombre}} </span> 
                                                        </td>                                                       
                                                        <td class="v-middle text-left" v-bind:class="classTable(item)">
                                                            <div class="col-sm-12" >
                                                                <div class="form-group">
                                                                    <multiselect 
                                                                        v-model="item.permisoCurso"
                                                                        v-bind:options='programaCurso'
                                                                        label="nombre"
                                                                        track-by='id'
                                                                        :multiple="true" 
                                                                        :taggable="true"
                                                                        :hide-selected="true"
                                                                        :show-labels="false"
                                                                        required="true"
                                                                        v-on:input="modifyPermiso(item.permisoCurso)">
                                                                    </multiselect>
                                                                </div>
                                                            </div>

                                                        </td>                                                       
                                                        <td class="v-middle text-left" v-bind:class="classTable(item)">
                                                            <div class="col-sm-12" >
                                                                <div class="form-group">
                                                                    <multiselect 
                                                                        v-model="item.permisoGpoSecc"
                                                                        v-bind:options='programaGpoSeccion'
                                                                        :custom-label='customLabel'
                                                                        track-by='id'
                                                                        :multiple="true" 
                                                                        :hide-selected="true"
                                                                        :show-labels="false"
                                                                        required="true"
                                                                        v-on:input="modifyPermiso(item.permisoGpoSecc)">
                                                                    </multiselect>
                                                                </div>
                                                            </div>
                                                        </td>                                                       
                                                        <td class="v-middle text-left" v-bind:class="classTable(item)">
                                                            <div class="col-sm-12" >
                                                                <div class="form-group">
                                                                    <multiselect 
                                                                        v-model="item.permisoSeccion"
                                                                        v-bind:options='programaSeccion'
                                                                        label="nombre"
                                                                        track-by='id'
                                                                        :multiple="true" 
                                                                        :hide-selected="true"
                                                                        :show-labels="false"
                                                                        required="true" 
                                                                        v-on:input="modifyPermiso(item.permisoSeccion)">
                                                                    </multiselect>
                                                                </div>
                                                            </div>

                                                        </td>                                                       
                                                        <td class="v-middle text-left" v-bind:class="classTable(item)">
                                                            <div class="col-sm-12" >
                                                                <div class="form-group">
                                                                    <multiselect 
                                                                        v-model="item.permisoDoc"
                                                                        v-bind:options='programaDocente'
                                                                        :custom-label='customLabel'
                                                                        track-by='id'
                                                                        :multiple="true" 
                                                                        :taggable="true"
                                                                        :hide-selected="true"
                                                                        :show-labels="false"
                                                                        required="true"
                                                                        v-on:input="modifyPermiso(item.permisoDoc)">
                                                                    </multiselect>
                                                                </div>
                                                            </div>
                                                        </td>                                                       
                                                        <td class="v-middle text-left" v-bind:class="classTable(item)">
                                                            <div class="dropdown actions">
                                                                <a class="dropdown-toggle" data-toggle="dropdown">
                                                                    <i class="glyphicon glyphicon-option-vertical"></i>
                                                                </a> 

                                                                <ul class="dropdown-menu pull-right">
                                                                    <li ><a >Agregar Permiso</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>                                                       
                                                    </tr>                                                   
                                                </tbody>
                                            </table>
                                        </template>
                                    </raptor-table>
                                </div>
                            </section>
                        </section>
                    </div>
                </div>
                <th:block  th:replace="permisoprograma/addPermisoModal"/>
            </div>
            <div th:substituteby="_modules/vue-modal"/>
        </div>
        <div layout:fragment="js">
            <script th:inline="javascript">
                /*<![CDATA[*/
                var cicloacademico = /*[[${cicloacademico.toString()}]]*/ 'json';
                var anexoBoletin = /*[[${anexoBoletin.toString()}]]*/ 'json';
                var programaCurso = /*[[${programaCurso.toString()}]]*/ 'json';
                var programaSeccion = /*[[${programaSeccion.toString()}]]*/ 'json';
                var programaGpoSeccion = /*[[${programaGpoSeccion.toString()}]]*/ 'json';
                var programaDocente = /*[[${programaDocente.toString()}]]*/ 'json';
                /*]]>*/
            </script>
            <script type="text/javascript" th:src="@{/phobos/modules/vue-modal.js}"></script>
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <script th:src="@{/app/permisoprograma/permisoprograma.js}" charset="utf-8"></script>
        </div>
    </body>
</html>