<html layout:decorator="_layout/layout">
    <head>
        <title> Solicitud Constancia </title>
    </head>
    <body>

        <div layout:fragment="main">
            <div id="main" v-cloak="">

                <header class="header b-b padder-lg">

                    <a class="pull-right btn btn-default  btn-sm"
                       th:href="@{/tramite/solicitudconstancia}" >
                        Regresar
                    </a>

                    <h1 >Solicitud de Constancia</h1>
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs" >
                            <li v-for="tab in tabs" v-bind:class="styleMenu(tab.id)">
                                <a href="#" data-toggle="tab" v-on:click="updateTabs(tab)" v-text="tab.name"></a>
                            </li>
                        </ul>
                    </div>
                </header>

                <section class="wrapper-lg m-b-xs">
                    <section class="panel">
                        <section class="panel-body m-t-sm">
                            <div class="wrapper-md" >
                                <section class="panel">
                                    <section class="panel-body">
                                        <div v-show="1 == tabId">
                                            <inicio-component  v-if="alumno.id" v-bind:alumno="alumno"  v-bind:showactions="false"></inicio-component>
                                        </div>
                                        <div v-show="2 == tabId">
                                            <inicio-tram-component v-bind:tramite="tramite" ref="loadTramite"></inicio-tram-component>
                                        </div>
                                        <div v-show="3 == tabId">
                                            <alumno-merito-component v-bind:alumno="alumno"  ></alumno-merito-component>
                                        </div>
                                    </section>
                                </section> 
                            </div>
                        </section>
                    </section>
                </section>
                <th:block th:replace="tramite/tramiteConstancia/solicitudConstanciaModals"/>
                <th:block th:replace="tramite/tramiteConstancia/ciclosModal"/>

            </div>
            <div th:substituteby="tramite/tramiteConstancia/inicioTramite"/>
            <div th:substituteby="academico/alumno/includes/inicio"/>
            <div th:substituteby="academico/alumno/includes/alumnoMeritos"/>
        </div>

        <div layout:fragment="js">
            <script th:inline="javascript">
                /*<![CDATA[*/
                var tiposDocumentoAcademicoJson = /*[[${tiposDocumentoAcademico.toString()}]]*/ 'json';
                var solicitudJson = /*[[${solicitud.toString()}]]*/ 'json';
                /*]]>*/
            </script>
            <div th:substituteby="_modules/vue-modal"/>
            <div th:substituteby="_layout/includes :: vuejs"/>
            <script th:src="@{/app/tramite/tramiteConstancia/inicioTramiteComponent.js}" charset="utf-8"></script>
            <script th:src="@{/app/academico/alumno/inicioComponent.js}" charset="utf-8"></script>
            <script th:src="@{/app/academico/alumno/alumnoMeritos.js}" charset="utf-8"></script>
            <script th:src="@{/app/tramite/tramiteConstancia/solicitud.js}" charset="utf-8"></script>
        </div>
    </body>
</html>
