<html layout:decorator="_layout/layout">
    <head>
        <title> Trámites documentarios </title>
        <link th:substituteby="_layout/includes :: styles-dynatable"/>
    </head>
    <body>
        <div layout:fragment="main">
            <div id="solicitudVue" v-cloak="">

                <header class="header b-b padder-lg">
                    <a class="pull-right btn btn-success btn-sm" type="button"    th:href="@{/tramite/solicitudconstancia/solicitud/0}" >
                        Agregar Trámite
                    </a>
                    <h1>Trámites documentarios</h1>
                </header>
                <section class="panel">
                    <section class="panel-body">
                        <div class="col-md-10 col-md-offset-1">
                            <raptor-table v-bind:url="solicitudURL" ref="load">
                                <template  scope="props" >
                                    <table  class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Alumno</th>
                                                <th class="col-xs-3">Trámite</th>
                                                <th class="col-xs-2">Documento</th>
                                                <th class="col-xs-1">Estado</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in props.data">
                                                <td class="v-middle">
                                                    <div class="pull-left">
                                                        <div v-if="item.tramite.alumno.persona.tipoFoto=='POSTUL' "
                                                             class="img-responsive img-thumbnail img-circle div-foto-list">
                                                            <img class="img-foto-list" v-bind:src="item.tramite.alumno.persona.rutaFoto" />
                                                        </div>

                                                        <img v-else-if="item.tramite.alumno.persona.tipoFoto=='COMUN' " 
                                                             class="img-responsive img-thumbnail img-circle div-foto-alumno-list" 
                                                             v-bind:src="item.tramite.alumno.persona.rutaFoto" />

                                                        <img v-else="" 
                                                             class="img-foto-tempo img-responsive img-thumbnail img-circle" 
                                                             v-bind:src="item.tramite.alumno.persona.rutaFoto" />
                                                    </div>
                                                </td>
                                                <td  class="v-middle"  >
                                                    <p  class="h5 bold text-primary" v-text="item.tramite.alumno.persona.apellidosNombres"></p>
                                                    <span class="block"> Especialida de {{item.tramite.alumno.carrera.nombre}}</span>
                                                    <span v-if="item.tramite.alumno.carrera.codigo != item.tramite.alumno.carrera.facultad.codigo" class="block">Facultad de {{item.tramite.alumno.carrera.facultad.nombre}}</span>
                                                    <small class="block bold">{{item.tramite.alumno.persona.tipoDocumento.simbolo}} {{item.tramite.alumno.persona.numeroDocIdentidad}}</small>
                                                    <small v-if="solicitud.showfacultad" class="block bold"> Matrícula: {{item.tramite.alumno.codigo}}</small>
                                                </td>

                                                <td class="v-middle">
                                                    <p  class="" > {{item.tramite.serie}} - {{item.tramite.numero}} </p>
                                                </td>

                                                <td class="v-middle">
                                                    <p class=""> {{ item.tipoDocumentoAcademico.tipoConstanciaEnum.value}}</p>
                                                    <p class="text-xs"> {{item.tipoDocumentoAcademico.nombre}}  </p>
                                                </td>

                                                <td class="v-middle">
                                                    <span   v-bind:class="classEstado(item.estadoTramite.codigo)">{{item.estadoTramite.nombre}}</span>
                                                </td>

                                                <td class="v-middle">
                                                    <div class="dropdown actions" v-if="item.estadoTramite.codigo!='ANU' ">
                                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                                            <i class="glyphicon glyphicon-option-vertical"></i>
                                                        </a>
                                                        <ul  class="dropdown-menu pull-right">
                                                            <li v-if="item.tipoDocumentoAcademico.tipoConstanciaEnum.name == 'CERT'"><a>Actualizar historial academico</a></li> <!--v-bind:href="urll('tramite/solicitudconstancia/updatehistorial/'+solicitud.idalumno+'/updatehistorial')"-->
                                                            <li><a v-bind:href="'/tramite/solicitudconstancia/solicitud/'+item.id">Editar Solicitud Documento</a></li><!-- -->
                                                            <li v-for="estado in item.estados">
                                                                <a v-if="estado.url !=null" v-bind:href="estado.url + item.id">{{estado.opcion}}</a>
                                                                <a v-else="" v-on:click="accion(estado,item)">{{estado.opcion}}</a>
                                                            </li>
                                                            <!--<li> <a v-on:click.prevent="cargarfoto(item)"  href="#">Cargar fotografía</a></li>-->
                                                            <!--                                                                <li> <a v-on:click.prevent="enviarrevision(solicitud)"  href="#">Enviar a Revisión</a></li>
                                                                                                                            <li class="divider"></li>
                                                                                                                            <li> <a v-on:click.prevent="cancelar(solicitud.id)"  href="#">Cancelar Solicitud Documento</a></li>-->
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </template>
                            </raptor-table>
                        </div>
                    </section>
                </section>
                <th:block th:replace="tramite/tramiteConstancia/solicitudConstanciaModals"/>

            </div>

            <div th:substituteby="_modules/vue-modal"/>

        </div>
        <div layout:fragment="js">
            <div th:substituteby="_layout/includes :: javascript-dynatable"/>
            <div th:substituteby="_layout/includes :: javascript-filedownload"/>
            <div th:substituteby="_layout/includes :: javascript-upload"/>
            <div th:substituteby="_layout/includes :: vuemodal"/>
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <script th:src="@{/app/tramite/updatehistorialacademico/updateHistorialAcademicoUploadFoto.js}" charset="utf-8"></script>
            <script th:src="@{/app/tramite/tramiteConstancia/solicitudConstancia.js}" charset="utf-8"></script>
        </div>
    </body>
</html>
