<html layout:decorator="_layout/layout">
    <head>
        <title>Silabus</title>
    </head>
    <body>

        <div layout:fragment="main">

            <div  id="main" v-cloak="">

                <header class="header b-b padder-lg">

                    <div class="btn-group pull-right" >
                        <button type="button" class="btn btn-primary dropdown-toggle pull-right" data-toggle="dropdown">
                            <i class="fa fa-random fa-lg"/> &nbsp; Acciones &nbsp; <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="pointer" v-on:click="openModalSilabo"> Agregar Silabus </a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a class="pointer" v-on:click="descargarSeleccionados"> Descargar Silabus </a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a class="pointer" v-on:click="descargarReporte">Reporte</a></li>
                        </ul>
                    </div>

                    <h2 th:inline="text" class="m-b-n">Silabus</h2>

                </header>

                <section class="wrapper-lg">

                    <section class="panel">
                        <section class="panel-body">

                            <raptor-table v-bind:url="silaboURL" ref="load">

                                <template slot="header">
                                    <div class="col-sm-3">

                                        <multiselect
                                            v-model="filtroDepartamento"
                                            v-bind:options="departamentos"
                                            v-bind:allow-empty="true"
                                            v-on:input="changeFilterDepartamento"
                                            track-by="id"
                                            placeholder="Departamento Académico"
                                            label='nombre'
                                            v-bind:internal-search="true"
                                            v-bind:hide-selected="false"
                                            v-bind:showNoOptions="true"
                                            v-bind:show-labels="false">

                                            <template slot="singleLabel" slot-scope="props">
                                                <span class="option__title">
                                                    {{props.option.nombre}}
                                                </span>
                                            </template>

                                            <template slot="option" slot-scope="props">
                                                <span class="option_title">
                                                    {{props.option.nombre}}
                                                </span> 
                                            </template>

                                            <template slot="noOptions">&nbsp;</template>
                                            <template slot="noResult">&nbsp;</template>

                                        </multiselect>

                                    </div>

                                </template>

                                <template scope="props">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center v-middle"></th>
                                                <th class="col-sm-4 v-middle">Curso</th>
                                                <th class="col-sm-3 text-center v-middle"></th>
                                                <th class="col-sm-1 text-center v-middle">Ciclo Dictado</th>
                                                <th class="col-sm-2 text-center v-middle">Departamento</th>
                                                <th class="col-sm-1 text-center v-middle">Silabus</th>
                                                <th class="col-sm-1 text-center v-middle">Estado</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in props.data">
                                                <td class="v-middle">
                                                    <div v-on:click="changeSelect(item.id)" >
                                                        <div  class="text-primary" v-if="estaSeleccionado(item.id)">
                                                            <i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>
                                                        </div>
                                                        <div v-else="">
                                                            <i class="fa fa-square-o fa-2x" aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="v-middle">
                                                    <span class="block">{{item.curso.nombre}}</span>
                                                    <span class="block">{{item.curso.codigo}}</span>
                                                </td>
                                                <td class="v-middle">
                                                    <span class="block">Departamento: {{item.curso.departamentoAcademico.nombre}}</span>
                                                    <span v-if="item.curso.departamentoAcademico.facultad" class="block">Facultad: {{item.curso.departamentoAcademico.facultad.nombre}}</span>
                                                    <span v-if="item.curso.modalidadEstudio" class="block">Modalidad: {{item.curso.modalidadEstudio.nombre}}</span>
                                                </td>
                                                <td class="v-middle text-center">
                                                    <span v-if="item.cicloVigenciaInicio" class="block">{{item.cicloVigenciaInicio.descripcion}}</span>
                                                </td>
                                                <td class="v-middle text-center">
                                                    <span class="block">{{item.departamentoAcademico.nombre}}</span>
                                                </td>


                                                <td class="v-middle text-center">
                                                    <a href="#" v-on:click.prevent="openFile(item)" class="pointer btn btn-link"><i class="fa fa-file-o fa-lg"></i></a>
                                                    <!--<a target="_blank" v-bind:href="item.rutaDocumento" class="pointer btn btn-link"><i class="fa fa-file-o fa-lg"></i></a>-->
                                                </td>

                                                <td class="v-middle text-center">

                                                    <span v-if="item.estado=='ACT'" class="label pointer label-success" v-bind:title="item.descripcion">{{item.estadoEnum.value}}</span>
                                                    <span v-if="item.estado=='PEND'" class="label pointer label-warning" v-bind:title="item.descripcion">{{item.estadoEnum.value}}</span>
                                                    <span v-if="item.estado=='VEN'" class="label pointer label-info" v-bind:title="item.descripcion">{{item.estadoEnum.value}}</span>
                                                    <span v-if="item.estado=='RCHZ'" class="label pointer label-danger" v-bind:title="item.descripcion">{{item.estadoEnum.value}}</span>
                                                    <span v-if="item.estado=='CRE'" class="label pointer label-default" v-bind:title="item.descripcion">{{item.estadoEnum.value}}</span>
                                                    <span v-if="item.estado=='REV'" class="label pointer label-warning" v-bind:title="item.descripcion">{{item.estadoEnum.value}}</span>
                                                    <span v-if="item.estado=='ERROREV'" class="label pointer label-danger" v-bind:title="item.descripcion">{{item.estadoEnum.value}}</span>

                                                </td>

                                                <td class="v-middle">
                                                    <div class="actions">
                                                        <a class="dropdown-toggle pointer" data-toggle="dropdown"><i class="fa fa-cog" aria-hidden="true"></i></a>
                                                        <ul class="dropdown-menu pull-right" v-if="item.estado != 'VEN'">
                                                            <li><a v-if="item.estado == 'RCHZ' || item.estado == 'ERROREV' || item.estado == 'CRE' || item.estado == 'ACT'" class="pointer" v-on:click.prevent="editar(item)">Editar</a></li>
                                                            <li><a v-if="item.estado == 'PEND'" class="pointer" v-on:click.prevent="revision(item, 'ACT')">Aprobar</a></li>
                                                            <li><a v-if="item.estado == 'REV'" class="pointer" v-on:click.prevent="revision(item, 'VEN')">Aprobar Cierre</a></li>
                                                            <li><a v-if="item.estado == 'REV'" class="pointer" v-on:click.prevent="revision(item, 'ERROREV')">Rechazar Cierre</a></li>
                                                            <li><a v-if="item.estado == 'PEND'" class="pointer" v-on:click.prevent="revision(item, 'RCHZ')">Rechazar</a></li>
                                                            <li><a v-if="item.estado == 'ACT' || item.estado == 'ERROREV'" class="pointer" v-on:click.prevent="revision(item, 'REV')">Solicitar Cierre</a></li>
                                                            <li><a v-if="item.estado == 'RCHZ' || item.estado == 'CRE'" class="pointer" v-on:click.prevent="revision(item, 'PEND')">Solicitar Aprobación</a></li>
                                                            <li><a v-if="item.estado == 'CRE' || item.estado == 'RCHZ' " class="pointer"  v-on:click.prevent="eliminar(item)">Eliminar</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </template>

                            </raptor-table>

                        </section>
                    </section>
                    <div th:substituteby="academico/silabo/silaboModal"></div>
                </section>

            </div>

        </div>

        <div layout:fragment="js">
            <div th:substituteby="_modules/vue-modal_v1"></div>
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <script th:src="@{/app/academico/silabo/silabo.js}" charset="utf-8"></script>
        </div>

    </body>
</html>

