<modal-simple ref="modalSilabo"
              v-bind:okaction="save" >

    <div slot="header" >
        <h4 class="modal-title text-center">Agregar nuevo Silabo</h4>
    </div>


    <div slot="body" vclass="panel">

        <form class="row" v-if="silaboCurso" data-parsley-validate="true" id="form">

            <div class="col-md-12">
                <label>Departamento Académico</label>
                <div class="form-group">
                    <multiselect v-model="silaboCurso.departamentoAcademico"
                                 track-by="id"   
                                 placeholder=" "
                                 v-bind:internal-search="false"
                                 v-bind:limit="15"
                                 v-on:search-change="findDepartamento"
                                 v-bind:allow-empty="false"
                                 v-bind:options="departamentos"
                                 label="nombre" >
                        <template slot="singleLabel" slot-scope="props">
                            <span class="option__title">
                                <b>{{props.option.codigo}}</b> {{props.option.nombre}}
                            </span>
                        </template>

                        <template slot="option" slot-scope="props">
                            <span class="option_title">
                                <b>{{props.option.codigo}}</b> {{props.option.nombre}}
                            </span> 
                        </template>

                        <template slot="noOptions">&nbsp;</template>
                        <template slot="noResult">&nbsp;</template>

                    </multiselect>   
                    <input class="hide" v-model="silaboCurso.departamentoAcademico" required="true" />
                </div>
            </div>

            <div class="col-md-12">
                <label>Curso</label>
                <div class="form-group">

                    <multiselect v-model="silaboCurso.curso"
                                 track-by="id"
                                 placeholder=" "
                                 v-bind:internal-search="false"
                                 v-bind:limit="15"
                                 v-on:search-change="findCurso"
                                 v-bind:allow-empty="false"
                                 v-bind:options="cursos"
                                 v-bind:disabled="silaboCurso.estado == 'ACT' || silaboCurso.estado == 'ERROREV'"
                                 label="nombre" >
                        <template slot="option" slot-scope="props">
                            <div class="block h5 m-t-xs m-b-xs bold" v-text="props.option.nombre"></div>
                            <small class="block">
                                {{props.option.codigo}} <i class="fa fa-bookmark text-primary"></i> {{props.option.tpc}}
                            </small>
                            <small class="block">
                                {{props.option.departamentoAcademico.nombre}}
                            </small>
                        </template>
                    </multiselect>   
                    <input class="hide" v-model="silaboCurso.curso" required="true" />
                </div>
            </div>

            <div class="col-md-12">
                <label>Ciclo Dictado</label>

                <div class="form-group">
                    <multiselect v-model="silaboCurso.cicloVigenciaInicio"
                                 track-by="id"
                                 placeholder=" "
                                 v-bind:allow-empty="true"
                                 v-bind:options="ciclos"
                                 label="nombre"  
                                 v-bind:internal-search="true"
                                 v-bind:hide-selected="true"
                                 v-bind:showNoOptions="true"
                                 v-bind:show-labels="false">
                        <template slot="singleLabel" slot-scope="props">
                            <span class="option__title">
                                {{props.option.descripcion}}
                            </span>
                        </template>

                        <template slot="option" slot-scope="props">
                            <span class="option_title">
                                {{props.option.descripcion}}
                            </span> 
                        </template>

                        <template slot="noOptions">&nbsp;</template>
                        <template slot="noResult">&nbsp;</template>

                    </multiselect>   

                </div>
            </div>
            
            <div class="col-md-12">
                <label>Archivo</label>
                <div class="form-group">
                    
                    <a v-if="silaboCurso.rutaDocumento"
                       href="#" class="btn btn-link"><i class="fa fa-file-pdf-o fa-lg"></i> Archivo Adjunto</a>

                    <vue-file-picker class="pull-right" v-bind:onpick="onFileUplad"></vue-file-picker>
                    
                    <input class="hide" v-model="silaboCurso.rutaDocumento" required="true" />

                </div>
            </div>

        </form>
    </div>

</modal-simple>
