<template id="modalAulaHorarioComp"> 
    <div> 
        <section class="panel-body">
            <div class="" >

                <div class="col-xs-12 text-center">

                    <form class="form-inline m-b-lg">
                        <button type="button" class="btn btn-default" v-on:click="backweek()"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                        <div class="form-group">
                            <label for="exampleInputName2">De</label>
                            <input readonly="true" type="text" v-bind:value="fechaInicio" class="form-control" id="exampleInputName2" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail2">al</label>
                            <input readonly="true" type="text" v-bind:value="fechaFin" class="form-control" id="exampleInputEmail2"  />
                        </div>
                        <button type="button" class="btn btn-default" v-on:click="nextweek()"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                    </form>

                </div>

                <table class="table table-bordered" v-if="aula!=null">

                    <thead>
                        <tr>
                            <th style="width: 12.5%" class="text-center">Hora</th>
                            <th style="width: 12.5%" class="text-center" 
                                v-for="dia in dias">
                                {{dia.nombre}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="hora in horas">
                            <td class="v-middle">
                                <span class="bold"
                                      >
                                    {{hora.descripcion}}
                                </span>

                            </td>
                            <td  v-for="dia in hora.dias" class="text-center"> 
                                
                                <div v-if="dia.mainHorarioAula.id"  class="dropdown notas-cepre">
                                    <a v-on:mouseover="onmousein($event)" v-on:mouseleave="onmouseout($event)" class="dropdown-toggle" v-bind:class="classByTipo(dia.mainHorarioAula.tipo)" href="#" data-toggle="dropdown" >
                                        <strong v-if="dia.mainHorarioAula.cursoMasivoExamen.curso.codigo">{{dia.mainHorarioAula.cursoMasivoExamen.curso.codigo}}</strong>  
                                        <strong v-else-if="dia.mainHorarioAula.seccion.codigo2">{{dia.mainHorarioAula.seccion.codigo2}}</strong>  
                                        <strong v-else-if="dia.mainHorarioAula.reservaAula.estado">  {{dia.mainHorarioAula.reservaAula.tramite.numero}}/{{dia.mainHorarioAula.reservaAula.tramite.serie}}</strong>  
                                        <b class="caret"></b> 
                                    </a>

                                    <div class="dropdown-menu dropdown-box">
                                        <div class="row m-l-xs m-r-xs">
                                            
                                            <span class="block bg-warning">
                                                <strong class="text-black m-t-lg m-l-xs m-b-lg " > {{dia.mainHorarioAula.tipoEnum.descripcion}}  </strong>
                                            </span>
                                            
                                            <span v-if="dia.mainHorarioAula.seccion.grupoSeccion.curso.codigo" class="disabled block docente-uno">
                                                <strong> {{dia.mainHorarioAula.seccion.grupoSeccion.curso.codigo}}</strong>
                                                {{dia.mainHorarioAula.seccion.grupoSeccion.curso.nombre}}
                                            </span>

                                            <span v-if="dia.mainHorarioAula.reservaAula.estado"  class="disabled block docente-uno">
                                                Reserva Ambiente
                                            </span>
 
                                            <span v-if="dia.mainHorarioAula.reservaAula" class="v-middle text-left">
                                                <span class="label label-primary" v-if="dia.mainHorarioAula.reservaAula.estado=='ACT'"> Activo </span>
                                                <span class="label label-success" v-if="dia.mainHorarioAula.reservaAula.estado=='RES'"> Reservado </span>
                                                <span class="label label-default" v-if="dia.mainHorarioAula.reservaAula.estado=='PEND'"> Pendiente </span>
                                                <span class="label label-danger" v-if="dia.mainHorarioAula.reservaAula.estado=='ANU'"> Anulado </span>
                                            </span>

                                            <span v-if="dia.mainHorarioAula.seccion" class="block" style="margin-top:5px;margin-bottom:5px;">

                                                <strong v-if="dia.mainHorarioAula.seccion.docenteSeccion.length" > Docentes </strong> 


                                                <ul class="otros-docente">
                                                    <li v-for="(item, index )  in dia.mainHorarioAula.seccion.docenteSeccion" class="prof">
                                                        <p>
                                                            <strong>
                                                                <i  v-if="index==0" class="fa fa-shield" aria-hidden="true"></i> 
                                                                <i  v-else="index==0" class="fa fa-user" aria-hidden="true"></i> 
                                                                {{item.docente.codigo}} 
                                                            </strong> 
                                                            <span v-if="item.docente.codigo!='N.N.'">{{item.docente.persona.nomPaternoMat}}</span>
                                                            <span v-else="item.docente.codigo!='N.N.'">Desconocido</span>
                                                        </p>
                                                    </li>
                                                    <li v-if="dia.mainHorarioAula.seccion.sizeDocente>2" class="prof"><span>Otros...</span></li>
                                                </ul>

                                            </span>

                                            <span v-if="dia.mainHorarioAula.seccion.codigo2" class="block">
                                                <strong> Sección </strong> {{dia.mainHorarioAula.seccion.codigo2}}
                                            </span>

                                            <span v-if="dia.mainHorarioAula.seccion.grupoHoras.codigo" class="block">
                                                <strong> Grupo </strong>  {{dia.mainHorarioAula.seccion.grupoHoras.codigo}}
                                            </span>

                                            <span v-if="dia.mainHorarioAula.reservaAula.tramite.tipoSolicitante" class="v-middle">
                                                <p v-if="dia.mainHorarioAula.reservaAula.tramite.tipoSolicitante=='OFI'"><strong> Oficina: </strong> {{dia.mainHorarioAula.reservaAula.tramite.oficina.nombre}}</p>
                                                <p v-if="dia.mainHorarioAula.reservaAula.tramite.tipoSolicitante=='EMP'">{{dia.mainHorarioAula.reservaAula.tramite.empresa.razonSocial}}</p>
                                                <p v-if="dia.mainHorarioAula.reservaAula.tramite.tipoSolicitante=='ALU'">{{dia.mainHorarioAula.reservaAula.tramite.alumno.persona.nombreCompleto}}</p>
                                                <p v-if="dia.mainHorarioAula.reservaAula.tramite.tipoSolicitante=='DOC'">{{dia.mainHorarioAula.reservaAula.tramite.docente.persona.nombreCompleto}}</p>
                                            </span>

                                            <span v-if="dia.mainHorarioAula.reservaAula.motivo" class="block">
                                                <strong> Motivo: </strong>  {{dia.mainHorarioAula.reservaAula.motivo}}
                                            </span>

                                            <span v-if="dia.mainHorarioAula.tipo=='DICT'" class="block">
                                                <strong> Periodo  </strong> De  {{dia.mainHorarioAula.seccion.grupoSeccion.fechaInicioPeriodo}} al {{dia.mainHorarioAula.seccion.grupoSeccion.fechaFinPeriodo}}
                                            </span>
                                            
                                            <span v-if="dia.mainHorarioAula.cursoMasivoExamen" class="disabled block docente-uno">
                                                <strong> {{dia.mainHorarioAula.cursoMasivoExamen.curso.codigo}}</strong>
                                                {{dia.mainHorarioAula.cursoMasivoExamen.curso.nombre}}
                                            </span>

                                        </div>
                                    </div>

                                </div>

                                <span v-if="dia.mainHorarioAula"
                                      class="text-muted block">
                                    {{dia.mainHorarioAula.seccion.grupoHoras.codigo}}
                                </span>

                            </td>
                        </tr>
                        <tr v-if="horas.length == 0">
                            <td v-bind:colspan="1+dias.length" class="text-left">
                                Sin horario.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div> 
</template>
