<html layout:decorator="zlayout/layout">
    <head>
        <title>Aulas</title>
    <div th:substituteby="zlayout/includes :: styles-dynatable"></div>
</head>

<body>
    <div layout:fragment="main">

         <header class="header b-b padder-lg">

            <div class="pull-right m-t-md">                 
                <div class="btn-group">
                    <a type="button" class="btn btn-success" th:href="@{'/general/aula/nuevo'}">Nuevo</a>
                </div>
            </div> 
            <h2>Lista de ambientes</h2>
        </header>
        <section class="panel">
            <section class="panel-body">

                <table class="table table-striped" id="dynaTable">
                    <thead> 
                        <tr class=""> 
                            <th class="col-md-3">Nombre</th>
                            <th class="col-md-2 text-left">Aforo / Capacidad</th>
                            <th class="col-md-3 text-left">Ubicación</th>
                            <th class="col-md-1">Tipo Aula</th>
                            <th class="col-md-1">Materiales</th>
                            <th class="col-md-2">Gestor</th>
                            <th class="col-md-1">Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </section>
        </section>
        <div th:substituteby="templates/modal"/>
        <div th:substituteby="general/aula/modalAula"/>
        <script id="aulaTemplate" type="text/x-jsrender" class="hide"><div th:substituteby="general/aula/aulaTemplate"/></script>

    </div>

    <div layout:fragment="js">
        <div th:substituteby="zlayout/includes :: javascript-dynatable"/>
        <script th:src="@{/app/general/aula/aula.js}" charset="utf-8"></script>
    </div>

</body>
</html>