<html layout:decorator="_layout/layout">
    <head>
        <title>Aulas</title>
    </head>

    <body>
        <div layout:fragment="main">
            <div id="aulaVUE" v-cloak="">
                <header class="header b-b padder-lg">

                    <div class="btn-group pull-right" v-if="!isSoporteDera &amp;&amp; !isPersonalDera">
                        <button type="button" class="btn btn-primary dropdown-toggle pull-right" data-toggle="dropdown" >
                            Acciones &nbsp; <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a type="button" th:href="@{'/general/aula/nuevo'}">Nuevo</a></li>
                            <li><a type="button" th:href="@{'/general/aula/horarios'}">Pantalla Completa</a></li>
                            <li><a type="button" th:href="@{'/general/aula/reporteAulasLibres'}">Reporte Aulas Libres</a></li>
                            <li><a type="button" v-on:click.prevent="reporteProgramacion({id:0})" th:href="@{'/general/aula/horarios'}">Reporte Aulas Programadas</a></li>
                            <li><a type="button" v-on:click.prevent="reporteLaboratorios({id:0})" th:href="@{'/general/aula/horarios'}">Reporte Laboratorios</a></li>
                        </ul>
                    </div>

                    <h2 th:text="${'Lista de ambientes '+ ciclo.descripcion}"></h2>
                </header>

                <section class="wrapper-lg">
                    <section class="panel">
                        <section class="panel-body">

                            <raptor-table v-bind:url="aulasURL" v-bind:preload="false" ref="raptorAulas">
                                <div slot="header">
                                    <div class="col-md-8" v-if="!isSoporteDera &amp;&amp; !isPersonalDera">

                                        <multiselect v-model='tipoAula'
                                                     track-by='codigo'
                                                     v-bind:internal-search='true'
                                                     v-bind:options='tipoAulas'
                                                     v-bind:allow-empty="true"
                                                     placeholder="Seleccione el tipo de Aula"
                                                     label="nombre"
                                                     select-label="Seleccione este tipo de aula"
                                                     deselect-label="Remover selección"
                                                     v-on:input="changeTipoAula"
                                        >
                                        </multiselect>
                                    </div>
                                </div>



                                <template scope="props" >
                                    <table class="table table-striped">
                                        <thead>
                                            <tr class=""> 
                                                <th class="col-md-3">Nombre</th>
                                                <th class="col-md-1 text-center">Aforo Capacidad</th>
                                                <th class="col-md-3 text-center">Ubicación</th>
                                                <th class="col-md-1">Tipo Aula</th>
                                                <th class="col-md-1">Contenido</th>
                                                <th class="col-md-2">Gestor</th>
                                                <th class="col-md-1">Estado</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in props.data">

                                                <td class="v-middle">
                                                    <span v-if="item.nombre != '' " class="block text-primary h4 m-b-xs m-t-xs">{{item.nombre}}</span>
                                                    <span v-if="item.codigo != '' " class="block bold">{{item.codigo}}</span>

                                                    <span class="block">{{item.tipoAmbienteEnum.value}} 
                                                        <i class="pointer fa fa-calendar text-success ver-aula-horario" v-on:click="verHorarioAula(item)"></i>
                                                    </span>
                                                    <span class="block" v-if="item.oficinaSupervisora.oficinaOera">
                                                        <span v-text="'Secciones programdas '+item.secciones"></span>
                                                    </span>
                                                    <span v-if="item.usuarioZoom" class="block bold">Usuario Zoom: {{item.usuarioZoom}}</span>
                                                    <span v-if="item.passZoom" class="block bold">Contraseña Zoom: {{item.passZoom}}</span>
                                                </td>

                                                <td class="v-middle text-center">
                                                    <span v-if="item.aforo != '' " class="block"><b>Aforo</b> {{item.aforo}}</span>
                                                    <span v-if="item.capacidadAula != '' " class="block"><b>Cap.</b> {{item.capacidadAula}}</span>
                                                    <span v-if="item.capacidadExtra != '' " class="block"><b>Ext.</b> {{item.capacidadExtra}}</span>
                                                </td>

                                                <td class="v-middle">
                                                    <span v-if="item.aulaSuperior.nombre != '' ">{{item.aulaSuperior.nombre}}</span>
                                                    <span v-if="item.piso != '' " class="block">Planta {{item.piso}}</span>
                                                    <span v-if="item.pisos != '' " class="block">Plantas {{item.pisos}}</span>
                                                    <small v-if="item.sede.id != '' " class="block bold">{{item.sede.nombre}}</small>
                                                </td>

                                                <td class="v-middle">
                                                    <span class="block">{{item.tipoAula.nombre}}</span>
                                                </td>

                                                <td class="v-middle text-center">
                                                    <span v-if="item.tipoAmbiente == 'EDI' ">
                                                        <a v-if="item.aulasContenido > 0" v-on:click="verAulas(item)" class="ver-aulas-contenido pointer">
                                                            <span class="estado-blue">{{item.aulasContenido}}</span>
                                                        </a>
                                                        <span v-else="" class="estado-gray">{{item.aulasContenido}}</span>
                                                    </span>
                                                    <span v-if="item.tipoAmbiente != 'EDI'">
                                                        <a v-if="item.cantidadinventarios > 0" v-on:click="verInventario(item)" class="pointer">
                                                            <i class="fa fa-tasks" aria-hidden="true"></i>
                                                        </a>
                                                    </span>
                                                </td>

                                                <td class="v-middle">
                                                    <span class="block">{{item.oficinaSupervisora.nombre}}</span>
                                                </td>

                                                <td class=" v-middle">
                                                    <span class="clear">
                                                        <span v-if="item.estado == 'ACT' " class="label label-primary"> {{item.estadoEnum.value}} </span>
                                                        <label v-else="" class="label label-warning" data-toggle="tooltip" v-bind:title="item.motivoAnulacion"> {{item.estadoEnum.value}} </label>
                                                    </span>
                                                </td> 

                                                <td class="v-middle"> 
                                                    <div class="dropdown actions">
                                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                                            <i class="fa fa-cog"></i>
                                                        </a> 

                                                        <ul class="dropdown-menu pull-right">
                                                            <li v-if="item.estado == 'ACT' &amp;&amp; !isSoporteDera &amp;&amp; !isPersonalDera"><a v-on:click="editar(item)">Editar</a></li>
                                                            <li v-if="item.estado == 'ACT' &amp;&amp; !isSoporteDera &amp;&amp; !isPersonalDera"><a v-on:click="cambiarEstado(item, 'INA')">Desactivar</a></li>
                                                            <li v-if="item.estado == 'CRE' &amp;&amp; !isSoporteDera &amp;&amp; !isPersonalDera"><a v-on:click="cambiarEstado(item, 'ACT')">Activar</a></li>
                                                            <li v-if="item.estado == 'ACT' "><a href="#" v-on:click.prevent="verHorarioAula(item)">Ver horario</a></li>
                                                            <li v-if="item.estado == 'ACT' &amp;&amp; !isSoporteDera &amp;&amp; !isPersonalDera"><a href="#" v-on:click.prevent="dataZoom(item)">Data Zoom</a></li>
                                                            <li v-if="!isSoporteDera &amp;&amp; !isPersonalDera" ><a v-on:click='eliminarAula(item)'>Eliminar</a></li>

                                                            <template v-if="item.tipoAmbiente != 'EDI' ">
                                                                <li class="divider"></li>
                                                                <li><a v-on:click="verInventarioPage(item)" >Inventario</a></li>
                                                                <li><a v-on:click="verInventarioResumen(item)" >Resumen Inventario</a></li>
                                                                <li v-if="!isSoporteDera &amp;&amp; !isPersonalDera"><a v-on:click="horarioSemanalPDF(item)" class="descarga-pdf">Reporte Semanal PDF</a></li>
                                                                <li v-if="!isSoporteDera &amp;&amp; !isPersonalDera"><a v-on:click="reporteProgramacion(item)" class="descarga-pdf">Reporte Aulas Programadas</a></li>
                                                            </template>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </template>
                            </raptor-table>

                            
                        </section>
                    </section>
                </section>

                <div th:replace="general/aula/modalAula"/>
            </div>
            <div th:replace="general/aula/aulaHorarioComponent"/>

            <div th:replace="templates/modal"/>
            
        </div>

        <div layout:fragment="js" th:remove="tag">
            <script  th:inline="javascript" >
                /*<![CDATA[*/
                var rutaModulo = 'general/aula';
                var tipoAulasJson = /*[[${tipoAulasJson}]]*/ {};
                var validarSoporteDera = /*[[${validarSoporteDera}]]*/ {};
                var validarPersonalDera =  /*[[${validarPersonalDera}]]*/ {};
                /*]]>*/
            </script>


            <div th:replace="_modules/vue-raptor-table"></div>
            <script th:src="@{/app/general/aula/aulaHorarioComponent.js}" charset="utf-8"></script>
            <script th:src="@{/app/general/aula/aula.js}" charset="utf-8"></script>
        </div>

    </body>
</html>