<html layout:decorator="_layout/layout">
    <head>
        <title>Aula</title>
    <div th:substituteby="_layout/includes :: styles-dynatable"></div>
</head>

<body>
    <div layout:fragment="main">

        <header class="header b-b padder-lg">
            <h2 th:unless="${aula.id}">Nuevo aula</h2>
            <h2 th:if="${aula.id}" th:inline="text" class="m-b-xs">
                <span th:if="${aula.nombre}" th:text="|${aula.codigo} - ${aula.nombre}|" class="block">QQW- Sala XYZ</span>
                <span th:unless="${aula.nombre}" th:text="|Código ${aula.codigo}|" class="block">QQW</span>
            </h2>
            <div th:if="${aula.id}" class="m-b">
                <span th:if="${aula.estado=='ACT'}" th:inline="text" class="label label-success"> &nbsp;&nbsp; [[${aula.estadoEnum.value}]] &nbsp;&nbsp; </span>
                <span th:unless="${aula.estado=='ACT'}" th:inline="text" class="label label-warning"> &nbsp;&nbsp; [[${aula.estadoEnum.value}]] &nbsp;&nbsp; </span>
            </div>
        </header>

        <div class="col-lg-12">
            <section class="panel">
                <section class="panel-body">
                    <form data-parsley-validate="true" id="formularioAula" method="POST" th:action="@{'/general/aula/save'}">

                        <input type="hidden" th:value="${aula.id} != null ? ${aula.id} : ''" name="id"/>

                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Tipo Ambiente</label>
                                    <select class="form-control" name="tipoAmbiente" id="tipoAmbiente" required="true" placeholder="Seleccione el tipo ambiente" data-trigger="change">
                                        <option></option>
                                        <option th:each="item : ${tiposAmbiente}"
                                                th:value="${item.name()}" 
                                                th:text="${item.value}"
                                                th:selected="${aula.tipoAmbiente} ? ${item.name() == aula.tipoAmbiente}"/>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Código</label>
                                    <input name="codigo" id="codigo" class="form-control" required="true" th:value="${aula} != null ? ${aula.codigo} : ''"  data-trigger="change"/>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input name="nombre" class="form-control" th:value="${aula} != null ? ${aula.nombre} : ''"  data-trigger="change"/>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Tipo Carpeta</label>
                                    <select class="form-control" name="tipoCarpeta.id" 
                                            id="tipoCarpeta"
                                            placeholder="Seleccione el tipo carpeta" 
                                            data-trigger="change">
                                        <option></option>
                                        <option th:each="item : ${tiposCarpeta}"
                                                th:value="${item.id}" 
                                                th:text="${item.nombre}"
                                                th:selected="${aula.tipoCarpeta} ? ${item.id == aula.tipoCarpeta.id}"/>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="addBody">

                        </div>


                        <div class=" text-center">
                            <a class="btn btn-link" th:href="@{'/general/aula'}">Regresar</a>
                            <a class="btn btn-success save-update-aula"  th:text="${aula.id != null ? 'Actualizar' : 'Crear Aula'}">Crear aula</a>
                        </div>
                    </form>
                </section>

            </section>


            <div th:substituteby="general/aula/divTipoAmbiente"/>
        </div>

    </div>

    <div layout:fragment="js">
        <script th:inline="javascript">
            /*<![CDATA[*/
            var tiposAula = /*[[${tiposAula}]]*/ tiposAulax;
            /*]]>*/
        </script>
        <div th:substituteby="_layout/includes :: javascript-dynatable"/>
        <script th:src="@{/app/general/aula/aulaForm.js}" charset="utf-8"></script>
    </div>

</body>
</html>