<modal-vik ref="modalCambioEstado" v-bind="modalCambioEstado" v-bind:okaction="saveCambioEstado">
    <div slot="body" id="modalCambioEstado" data-parsley-validate="true">
        <div class="row m-b-md">
            <form v-bind:id="modalCambioEstado.form">
                <div class="col-md-12">
                    <div v-if="aula.estado == 'INA'">
                        <div class="form-group m-b-xs">
                            <label class="bold">Indique el motivo por el cual está desactivando el ambiente {{aula.codigo}}</label>
                            <textarea class='form-control' name='motivoAnulacion' v-model="aula.motivoAnulacion" required='true' rows="3"></textarea>
                        </div>
                    </div>
                    <div v-else="">
                        ¿Desea realmente activar el ambiente {{aula.codigo}}?
                    </div>
                </div>
            </form>
        </div>
    </div>
</modal-vik>

<modal-vik ref="modalAulaContenido" v-bind="modalAulaContenido">
    <div slot="body" id="modalAulaContenido" data-parsley-validate="true">
        <p>
            En <b>{{aula.codigo}}</b> existen los siguientes ambientes:
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-3">Código</th>
                    <th class="col-md-9">Nombre</th>
                </tr>
            </thead>           
            <tbody>
                <tr v-for="item in aula.aulasHijas">
                    <td>{{item.codigo}}</td>
                    <td>{{item.nombre}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</modal-vik>


<modal-vik ref="modalInventario" v-bind="modalInventario">
    <div slot="body" id="modalInventario" data-parsley-validate="true">
        <p>
            Inventario de <b>{{aula.codigo}}</b>
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-9">Nombre</th>
                    <th class="col-md-3">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in aula.inventarios">
                    <td>{{item.producto.nombre}}</td>
                    <td>{{item.cantidad}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</modal-vik>

<!--
<script id="divAulasContenido" type="text/x-jsrender" class="hide">
    <span>
    </span>
    <p>
    En <b>{{:codigo}}
    {{if nombre}}
    - {{:nombre}}
    {{/if}}
    </b>
    existen los siguientes ambientes:
    </p>
    <table class="table table-striped">
    <thead>
    <tr>
    <th class="col-md-3">Código</th>
    <th class="col-md-9">Nombre</th>
    </tr>
    </thead>
    <tbody>
    {{for aulasHijas}}
    <tr>
    <td>{{:codigo}}</td>
    <td>{{:nombre}}</td>
    </tr>
    {{/for}}
    </tbody>
    </table>

</script>

<script id="divAulasInventario" type="text/x-jsrender" class="hide"><span>
    </span>
    <p>
    Inventario de <b>{{:codigo}}
    {{if nombre}}
    - {{:nombre}}
    {{/if}}
    </b>
    </p>
    <table class="table table-striped">
    <thead>
    <tr>
    <th class="col-md-9">Nombre</th>
    <th class="col-md-3">Cantidad</th>
    </tr>
    </thead>
    <tbody>
    {{for inventarios}}
    <tr>
    <td>{{:producto.nombre}}</td>
    <td>{{:cantidad}}</td>
    </tr>
    {{/for}}
    </tbody>
    </table>

</script>
-->
