<html layout:decorator="_layout/layout"> 
    <head> 
        <title> Cursos Masivos </title>  
    </head>
    <body>
        <section layout:fragment="main">
            <div id="main" v-cloak="">

                <header class="header b-b padder-lg">
                    <h2>Cursos Masivos <span th:text="${cicloAcademico.descripcion}">2018-II</span></h2>
                </header>

                <section class="wrapper-lg">
                    <section class="panel">
                        <section class="panel-body">

                            <div class="row">

                                <div class="row">
                                    <div class="form-group">
                                        <label class="m col-md-2 bold">Rol Examen</label>  
                                        <div class="m-t-md col-md-4">
                                            <multiselect 
                                                label="nombre"
                                                v-model="rolExamenes"
                                                placeholder=""
                                                track-by="id"
                                                v-bind:allow-empty="false"
                                                v-bind:options="rolesExamenes"
                                                deselect-label=""
                                                select-label="Seleccione este rol examen"
                                                v-on:input="loadCursosMasivosByRoleExamen">
                                            </multiselect>
                                        </div>
                                    </div>
                                </div>                                   

                                <div class="row">
                                    <div class="form-group">
                                        <label class="m col-md-2 bold">Cursos</label>
                                        <div class="m-t-md col-md-4">
                                            <multiselect 
                                                label="nombre"
                                                v-model="curso"
                                                v-on:search-change="loadCurso"
                                                placeholder=""
                                                track-by="id"
                                                v-bind:allow-empty="false"
                                                v-bind:internal-search="false"
                                                v-bind:options="cursos"
                                                v-bind:limit="15">
                                                <template slot="option" slot-scope="props">
                                                    <div class="option__desc">
                                                        <div >
                                                            <span class="bold option__title">
                                                                {{ props.option.codigo }}
                                                            </span>
                                                            <span class="bold  option__small">
                                                                {{ props.option.nombre }}
                                                            </span>
                                                        </div>
                                                        <div >
                                                            <span  class="block">
                                                                <span class="bold" style="color: blue;">Dpto. Acad.:</span> : {{ props.option.departamentoAcademico.nombre }}
                                                            </span>    
                                                        </div>
                                                    </div>
                                                </template>
                                            </multiselect>
                                        </div>
                                        <div class="m-t-md col-md-4">
                                            <a type="button" class="btn btn-success pull-right  m-l" v-on:click.prevent="agregarCursoMasivo">Agregar Curso</a>  
                                            <!-- 
                                            <a type="button" class="btn btn-success pull-right" v-on:click.prevent="agregarCursoMasivo">Configurar Grupo Regular</a>  
                                            -->
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </section>
                    </section>

                    <section class="panel">
                        <section class="panel-body">
                            <table class="table table-striped">
                                <thead> 
                                    <tr> 
                                        <th class="col-md-4 v-middle text-center">Curso</th>
                                        <th class="col-md-2 v-middle text-center">Fecha / Hora</th>
                                        <th class="col-md-1 v-middle text-center">Secciones</th>
                                        <th class="col-md-1 v-middle text-center">Docentes</th>
                                        <th class="col-md-1 v-middle text-center">Alumnos</th>
                                        <th class="col-md-1 v-middle text-center">Aulas</th>
                                        <th class="col-md-1 v-middle text-center">Capacidad de Aulas</th>
                                        <th class="col-md-1 v-middle text-center">Estado</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in cursosMasivosByRolExamenes" v-if="cursosMasivosByRolExamenes">
                                        <td class="v-middle text-left">
                                            <span class="block text-primary bold h5 m-b-xs m-t-xs"
                                                  v-text="item.curso.nombre"></span>
                                            <span class="block">
                                                {{item.curso.codigo}}&nbsp;
                                                <i class="fa fa-bookmark text-primary"></i>
                                                {{item.curso.tpc}}</span>
                                        </td>
                                        <td class="v-middle text-center"> 
                                            <div v-if="item.grupoHorasExamen.fecha">
                                                {{item.grupoHorasExamen.fecha }}
                                                (Grupo {{item.grupoHorasExamen.grupoHoras.codigo}})
                                                <small class="block">Hora Inicio: {{item.grupoHorasExamen.horaInicio.descripcion}}</small>
                                                <small class="block">Hora Fin: {{item.grupoHorasExamen.horaFin.descripcion}}</small>
                                            </div>
                                            <div v-else="" >
                                                <label class="alert alert-info">
                                                    Sin Asignar Horario
                                                </label>
                                            </div>
                                        </td>
                                        <td class="v-middle text-center"> 
                                            <span class="badge pointer"
                                                  >{{ item.seccionesCount }}</span>
                                        </td>
                                        <td class="v-middle text-center">
                                            <span class="badge pointer" 
                                                  v-on:click="verDocentes(item)">
                                                {{item.docentesCount}}
                                            </span>
                                        </td>
                                        <td class="v-middle text-center"> 
                                            <span class="badge pointer"
                                                  v-on:click="verAlumnos(item)">
                                                {{ item.alumnosCount }}
                                            </span>
                                        </td>
                                        <td class="v-middle text-center"> 
                                            <span class="badge pointer"
                                                  v-on:click="verAulasAsignadas(item)">{{ item.aulas }}</span>
                                        </td>
                                        <td class="v-middle text-center"> 
                                            {{ item.capacidadAulas }}
                                        </td>
                                        <td class="v-middle text-center">
                                <v-estado v-bind:codigo="item.estado" v-bind:valor="item.estadoEnum.value"/>
                                </td>
                                <td class="v-middle">
                                    <div class="actions">
                                        <a class="dropdown-toggle pointer" href="#" data-toggle="dropdown"> <i class="glyphicon glyphicon-cog"> </i></a>

                                        <ul class="dropdown-menu pull-right" >
                                            <li><a class=" pointer btn-link bold" v-on:click="verAsignarAulas(item)">Asignar Aulas</a></li>     
                                            <li><a class=" pointer btn-link bold" v-on:click="verAsignarHorario(item)">Asignar Horario</a></li>  
                                            <li><a class=" pointer btn-link bold" v-on:click="cursoMasivoSecciones(item)"  >Secciones</a></li>   
                                            <li class="divider"></li>     
                                            <li><a class=" pointer bold" v-on:click="excluir(item,tipoAccion.CURSO)"  >Excluir</a></li>
                                            <li><a class=" pointer bold" v-on:click="incluir(item,tipoAccion.CURSO)"  >Incluir</a></li>
                                            <li><a class=" pointer bold" v-on:click="eliminar(item)">Eliminar</a></li>
                                        </ul>
                                    </div>
                                </td>
                                </tr>
                                </tbody>
                            </table>

                        </section>
                    </section>
                </section>

                <div th:substituteby="rolexamen/cursomasivos/cursoMasivoModals"/>

            </div>
            <div th:substituteby="_modules/vue-modal"/>
        </section>
        <div layout:fragment="js">
            <script  th:inline="javascript" >
                /*<![CDATA[*/
                var jRolexamenes = /*[[${jRolexamenes}]]*/ '';
                /*]]>*/
            </script>
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <script th:src="@{/phobos/modules/vue-generalComponents.js}" charset="utf-8"></script>
            <script th:src="@{/phobos/modules/vue-modal.js}" charset="utf-8"></script>
            <script th:src="@{/app/rolexamen/cursomasivos/cursomasivos.js}" charset="utf-8"></script>
        </div>

    </body>
</html>
