<html layout:decorator="_layout/layout"> 
    <head>
        <title> Cursos Masivos </title> 
    </head>
    <body>
        <section layout:fragment="main">
            <div id="main" v-cloak="">

                <header class="header b-b padder-lg">
                    <h2>Curso Masivo <span th:text="${cicloAcademico.descripcion}">2018-II</span></h2>
                </header>

                <section class="wrapper-lg">
                    <section class="panel">
                        <section class="panel-body">

                            <div class="row">

                                <div class="row">
                                    <div class="form-group">
                                        <label class="m col-md-2 bold">Rol Examen</label>  
                                        <div class="m-t-md col-md-4" v-text="cursoMasivoExamen.rolExamenes.nombre">

                                        </div>
                                    </div>
                                </div>                                   

                                <div class="row">
                                    <div class="form-group">
                                        <label class="m col-md-2 bold">Cursos</label>
                                        <div class="m-t-md col-md-4" v-text="cursoMasivoExamen.curso.nombre">

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </section>
                    </section>

                    <section class="panel">
                        <section class="panel-body">

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="col-md-3 text-center">Codigo</th>
                                        <th class="col-md-3 text-center">Registro</th>
                                        <th class="col-md-3 text-center">Exclusión</th>
                                        <th class="col-md-2 text-center">Estado</th>
                                        <th class="col-md-1 text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="sec in cursoMasivoExamen.seccionesCursosMasivos">
                                        <td>
                                            <span v-text="sec.seccion.codigo2"></span>
                                        </td>
                                        <td>
                                            <span class="block" v-text="sec.userRegistro.persona.apellidosNombres"></span>
                                            <small v-text="sec.fechaRegistro"></small>
                                        </td>
                                        <td>
                                            <span class="block" v-text="sec.usuarioExclusion.persona.apellidosNombres"></span>
                                            <small v-text="sec.fechaExclusion"></small>
                                        </td>
                                        <td>
                                <v-estado v-bind:codigo="sec.estado" v-bind:valor="sec.estadoEnum.value"/> 
                                </td>
                                <td>
                                    <div class="dropdown actions pointer">
                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="glyphicon glyphicon-option-vertical"></i>
                                        </a> 
                                        <ul class="dropdown-menu pull-right">
                                            <li><a v-if="sec.isEstadoActivo"  v-on:click.prevent="excluir(sec,'SECCION')">Excluir</a></li>
                                            <li><a >Mover</a></li>
                                        </ul>
                                    </div>
                                </td>
                                </tr>
                                </tbody>
                            </table>      

                        </section>
                    </section>
                </section>

            </div>
            <div th:substituteby="_modules/vue-modal"/>
        </section>

        <div layout:fragment="js">
            <script  th:inline="javascript" >
                /*<![CDATA[*/
                var jCursoMasivoExamen = /*[[${jCursoMasivoExamen}]]*/ '';
                /*]]>*/
            </script>
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <script th:src="@{/phobos/modules/vue-generalComponents.js}" charset="utf-8"></script>
            <script th:src="@{/phobos/modules/vue-modal.js}" charset="utf-8"></script>
            <script th:src="@{/app/rolexamen/cursomasivos/cursoMasivoSecciones.js}" charset="utf-8"></script>
        </div>

    </body>
</html>
