<html layout:decorator="_layout/layout">
    <head>
        <title>Carga Académica</title>
        <style>
            .avatar-gposecc {
                display: block;
                position: relative;
                border-radius: 50%;
                width: 54px;
                height: 54px;
                overflow: hidden;
                line-height: 54px;
                background-color: #F5B041;
                color: #fff;
                text-align: center;
                font-size: 24px;
                text-indent: 0;
                margin: auto;
                margin-top: 10px;
            }
            .thumbnail>p{
                margin-top: 10px;
                margin-left:  10px;
            }
        </style>
    </head>

    <body>
        <div layout:fragment="main">
            <div id="main" v-cloak="">

                <header class="header b-b padder-lg">        
                    <h2>Ampliación de Vacante    <span th:text="${cicloAcademico.descripcion}">2016-II</span></h2>
                    <span class="block"><strong>Docente:</strong> <span  th:text="${docente.persona.nombreCompleto}">Juan Perez</span></span>
                    <span class="block"><strong >Departamento Académico:</strong> <span th:text="${dptoAcad.nombre}">Matematicas</span></span>
                </header>

                <section class="wrapper-lg">
                    <section class="panel">
                        <section class="panel-body">

                            <raptor-table 
                                v-bind:paginate="false" 
                                v-bind:searcher="false" 
                                v-bind:url="raptorurl" 
                                ref="raptor">

                                <div slot="header">

                                </div>

                                <template scope="props" >
                                    <table class="table table-striped table-hover">
                                        <thead> 
                                            <tr class=""> 
                                                <th class="col-md-3"></th>
                                                <th class="col-md-1 text-center">Grupo</th>
                                                <th class="col-md-1 text-center">Sección</th>
                                                <th class="col-md-1 text-center">Grupo</th>
                                                <th class="col-md-1 text-center">Aula</th>
                                                <th class="col-md-1 text-center">Vac</th>
                                                <th class="col-md-1 text-center">Mat</th>
                                                <th class="col-md-2 text-center">Ampliación de Vacante</th>
                                                <th class="col-md-2 text-center">Docente</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="gposeccion in props.data">

                                                <td class="v-middle padder-v" >

                                                    <p class="h4 text-info">{{gposeccion.curso.nombre}}</p>
                                                    <div class="row m-b-xs">
                                                        <div class="col-md-11">
                                                            <span class="block bold">
                                                                <span v-text="gposeccion.curso.codigo"></span>
                                                                <i class="fa fa-bookmark text-primary"></i>
                                                                <span v-text="gposeccion.curso.tpc"></span> &nbsp;
                                                            </span>
                                                            <small class="block text-muted">Departamento Académico: {{gposeccion.curso.departamentoAcademico.nombre}}</small>
                                                            <div v-if="gposeccion.responsable != null" class="block"><strong>Responsable:</strong>{{gposeccion.responsable}}</div>
                                                            <div v-else="" class="text-danger block">Sin responsable</div>
                                                        </div>
                                                    </div>

                                                </td>

                                                <td class="v-middle text-center">

                                                    <div class="col-md-1 text-center">
                                                        <div class="avatar-gposecc" v-text='gposeccion.codigo2'>999</div>
                                                    </div>

                                                </td>

                                                <td class="v-middle text-center">

                                                    <small v-for="seccion in gposeccion.secciones " class="block text-muted"> {{seccion.codigo2}}</small>

                                                </td>

                                                <td class="text-center v-middle">

                                                    <small v-for="seccion in gposeccion.secciones " class="block text-muted"> {{seccion.grupoHoras.codigo}}</small>

                                                </td>

                                                <td class="text-center v-middle">

                                                    <small v-for="seccion in gposeccion.secciones " class="block text-muted"> {{seccion.aula.codigo}}  ({{seccion.aula.aforo}}) </small>

                                                </td>

                                                <td class="text-center v-middle">

                                                    <small v-for="seccion in gposeccion.secciones " class="block text-muted"> {{seccion.vacantes}}  </small>

                                                </td>

                                                <td class="text-center v-middle">

                                                    <small v-for="seccion in gposeccion.secciones " class="block text-muted"> {{seccion.matriculados}}  </small>

                                                </td>

                                                <td class="text-center v-middle">

                                                    <small v-for="seccion in gposeccion.secciones " class="block text-muted"> {{seccion.ampliacionVacante}} <span v-on:click.prevent="changeVacante(seccion)" class="label label-success pointer">Agregar</span>  </small>

                                                </td>

                                                <td class="text-center v-middle">
                                                    {{gposeccion.id}}
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </template>
                            </raptor-table>


                        </section>
                    </section>
                </section>

                <modal-vik ref="modalAmpliacionVacante"
                           v-bind="dataModalAmpliacionVacante"
                           v-bind:okaction="saveModalAmpliacionVacante"  >
                    <div slot="body">

                        <div class="thumbnail">

                            <p  v-if="seccion.tipoSeccion=='TCUR' " ><b class=" text-primary">Teoría</b> Sección {{seccion.codigo2}} Grupo {{seccion.grupoHoras.codigo}} Aula  {{seccion.aula.codigo}} Capacidad {{seccion.aula.capacidadAula}}</p>

                            <p  v-if="seccion.tipoSeccion=='PCUR' " ><b class=" text-primary">Teoría</b> Sección {{seccion.seccionSuperior.codigo2}} Grupo {{seccion.seccionSuperior.grupoHoras.codigo}} Aula  {{seccion.seccionSuperior.aula.codigo}} Capacidad {{seccion.seccionSuperior.aula.capacidadAula}}</p>
                            <p  v-if="seccion.tipoSeccion=='PCUR' " ><b class=" text-primary">Práctica</b> Sección {{seccion.codigo2}} Grupo {{seccion.grupoHoras.codigo}} Aula  {{seccion.aula.codigo}} Capacidad {{seccion.aula.capacidadAula}}</p>

                            <p  v-if="seccion.tipoSeccion=='TEO' " ><b class=" text-primary">Teoría</b> Sección {{seccion.codigo2}} Grupo {{seccion.grupoHoras.codigo}} Aula  {{seccion.aula.codigo}} Capacidad {{seccion.aula.capacidadAula}}</p>
                            <p  v-if="seccion.tipoSeccion=='PRA' " ><b class=" text-primary">Práctica</b> Sección {{seccion.codigo2}} Grupo {{seccion.grupoHoras.codigo}} Aula  {{seccion.aula.codigo}} Capacidad {{seccion.aula.capacidadAula}}</p>

                        </div>

                        <div class="row">

                            <div class="form-group col-sm-10">
                                <multiselect v-model='alumnoeleccionado'
                                             label='nombre'
                                             placeholder="Seleccione un alumno"
                                             deselect-label=""
                                             select-label=""
                                             track-by='id'
                                             v-bind:allow-empty="false"
                                             v-bind:options='alumnos'
                                             v-bind:custom-label="labelAlumno"
                                             v-bind:loading="isLoadingAlumnos"
                                             v-on:search-change="searchAlumnos">

                                    <template slot="option" slot-scope="props">

                                        <span class="block row">

                                            <div class="col-sm-2 v-middle">
                                                <img style="min-height:  40px;max-height: 40px;min-width: 40px;max-width: 40px;"
                                                     onerror="this.src=APP.url('phobos/images/avatar.png');"
                                                     v-bind:src="props.option.persona.rutaFotoPostulante" 
                                                     class="img-circle" />
                                            </div>

                                            <div class="col-sm-5 v-middle">
                                                <p class="text-primary block">{{props.option.persona.nombreCompleto}}</p> 
                                                {{props.option.codigo}}
                                                <span v-if="props.option.situacion=='0' " class="text-xs bold text-danger block">No Matriculable</span>
                                                <span v-if="props.option.situacion=='1' " class="text-xs bold text-primary block">Apto Para Matricular</span>
                                            </div>

                                            <div  class="col-sm-5  v-middle">
                                                <p class="block">{{props.option.carrera.nombre}}</p>
                                                <p class="block">{{props.option.carrera.facultad.nombre}}</p>
                                            </div>

                                        </span>

                                    </template>

                                </multiselect>
                                <input type="text" class="hide" required="" v-model="alumnoeleccionado.id"/>

                            </div>

                            <div class="form-group  col-sm-2">  
                                <button v-on:click="agregarAlumno" class="btn btn-primary btn-sm">Agregar</button>
                            </div>

                        </div>

                        <table class="table table-condensed m-t-md">
                            <tbody>
                                <tr v-for="item in alumnoeleccionados">
                                    <td class="v-middle">
                                        <img style="min-height:  40px;max-height: 40px;min-width: 40px;max-width: 40px;"
                                             onerror="this.src=APP.url('phobos/images/avatar.png');"
                                             v-bind:src="item.persona.rutaFotoPostulante" 
                                             class="img-circle" />
                                    </td>
                                    <td class="col-sm-8 v-middle">
                                        <p class="text-primary block">{{item.persona.nombreCompleto}}</p> 
                                        {{item.codigo}}
                                        <span v-if="item.situacion=='0' " class="text-xs bold block text-danger">No Matriculable</span>
                                        <span v-if="item.situacion=='1' " class="text-xs bold block text-primary">Apto Para Matricular</span>
                                    </td>
                                    <td  class="col-sm-4  v-middle">
                                        <p class="block">{{item.carrera.nombre}}</p>
                                        <p class="block">{{item.carrera.facultad.nombre}}</p>
                                    </td>
                                    <td  class="v-middle">
                                        <div class="dropdown actions">
                                            <a class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="glyphicon glyphicon-option-vertical"></i>
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                                <li><a v-on:click.prevent="eliminarAlumno(item)"  href="#">Remover Alumno</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>                            
                        </table>

                    </div>
                </modal-vik>

            </div>

            <div th:substituteby="_modules/vue-modal"/>

        </div>
        <div layout:fragment="js">
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <div th:substituteby="_layout/includes :: vuemodal"/>
            <div th:substituteby="_layout/includes :: vue-loader"/>
            <script th:src="@{/app/docente/ampliacionvacante/ampliacionvacante.js}" charset="utf-8"></script>
        </div>
    </body>
</html>
