<html layout:decorator="_layout/layout">
    <head>
        <title>Carga Académica</title>
        <style>
            .avatar-gposecc {
                display: block;
                position: relative;
                border-radius: 50%;
                width: 54px;
                height: 54px;
                overflow: hidden;
                line-height: 54px;
                background-color: #F5B041;
                color: #fff;
                text-align: center;
                font-size: 24px;
                text-indent: 0;
                margin: auto;
                margin-top: 10px;
            }
            .thumbnail>p{
                margin-top: 10px;
                margin-left:  10px;
            }
            .btn-sm-plus {
                padding: 2px 5px;
                font-size: 8px;
            }
        </style>
    </head>

    <body>
        <div layout:fragment="main">
            <div id="main" v-cloak="">

                <header class="header b-b padder-lg" style="padding-bottom:3rem;">        
                    <h2>Ampliación de Vacante    <span th:text="${cicloAcademico.descripcion}">2016-II</span></h2>
                    <span class="block"><strong>Docente:</strong> <span  th:text="${docente.persona.nombreCompleto}">Juan Perez</span></span>
                    <span class="block"><strong >Departamento Académico:</strong> <span th:text="${dptoAcad.nombre}">Matematicas</span></span>
                </header>

                <section class="wrapper-lg">
                    <section class="panel">
                        <section class="panel-body">

                            <raptor-table 
                                v-bind:paginate="false" 
                                v-bind:searcher="false" 
                                v-bind:url="raptorurl" 
                                ref="raptor">

                                <div slot="header">

                                </div>

                                <template scope="props" >
                                    <table class="table table-striped table-hover">
                                        <thead> 
                                            <tr class=""> 
                                                <th class="col-md-3"></th>
                                                <th class="col-md-1 text-center">Grupo Sección</th>
                                                <th class="col-md-1 text-center">Sección</th>
                                                <th class="col-md-1 text-center">Grupo Horas</th>
                                                <th class="col-md-1 text-center">Aula</th>
                                                <th class="col-md-1 text-center">Vac</th>
                                                <th class="col-md-1 text-center">Mat</th>
                                                <th class="col-md-1 text-center">Solicitudes <br/> Pendientes</th>
                                                <th class="col-md-1 text-center">Ampliación de Vacante</th>
                                                <th class="col-md-3 text-center">Docentes</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="gposeccion in props.data">

                                                <td class="v-middle padder-v" >
                                                    <span class="hidden">{{gposeccion.curso.id}}</span>
                                                    <p class="h4 text-info">{{gposeccion.curso.nombre}}</p>

                                                    <div class="row m-b-xs">
                                                        <div class="col-md-11">
                                                            <span class="block bold">
                                                                <span v-text="gposeccion.curso.codigo"></span>
                                                                <i class="fa fa-bookmark text-primary"></i>
                                                                <span v-text="gposeccion.curso.tpc"></span> &nbsp;
                                                            </span>
                                                            <small class="block text-muted">Departamento Académico: {{gposeccion.curso.departamentoAcademico.nombre}}</small>
                                                            <div v-if="gposeccion.docenteResponsable.persona.nombreCompleto != null" class="block text-primary">
                                                                <strong>Responsable:</strong>
                                                                {{gposeccion.docenteResponsable.persona.nombreCompleto}}
                                                            </div>
                                                            <div v-else="" class="text-danger block">Sin responsable</div>
                                                        </div>
                                                    </div>

                                                </td>

                                                <td class="v-middle text-center">

                                                    <div class="col-md-1 text-center">
                                                        <div class="avatar-gposecc" v-text='gposeccion.codigo2'>999</div>
                                                    </div>

                                                </td>

                                                <td class="text-center v-middle">

                                                    <small style="min-height: 20px;" v-for="seccion in gposeccion.secciones " class="block text-muted">
                                                        {{seccion.codigo2}}
                                                    </small>

                                                </td>

                                                <td class="text-center v-middle">

                                                    <small style="min-height: 20px;" v-for="seccion in gposeccion.secciones " class="block text-muted">
                                                        {{seccion.grupoHoras.codigo}}
                                                    </small>

                                                </td>

                                                <td class="text-center v-middle">

                                                    <small style="min-height: 20px;" v-for="seccion in gposeccion.secciones " class="block text-muted"> 
                                                        <strong>{{seccion.aula.codigo}} {{seccion.aula.aforo?'('+seccion.aula.aforo+')':''}}</strong>
                                                    </small>

                                                </td>

                                                <td class="text-center v-middle">

                                                    <small style="min-height: 20px;" v-for="seccion in gposeccion.secciones " class="block text-muted">
                                                        {{seccion.vacantes}} 
                                                    </small>

                                                </td>

                                                <td class="text-center v-middle">

                                                    <small style="min-height: 20px;" v-for="seccion in gposeccion.secciones " class="block text-muted"> 
                                                        <strong>{{seccion.matriculados}} </strong>
                                                    </small>

                                                </td>
                                                <td class="text-center v-middle">
                                                    <div style="min-height: 20px;" 
                                                         v-for="seccion in gposeccion.secciones " 
                                                         class="block text-muted">
                                                        <template v-if="seccion.solicitudesMatricula">
                                                            <span class="badge pointer" 
                                                                  v-if="!gposeccion.curso.tipoCursoTEOPRA || (gposeccion.curso.tipoCursoTEOPRA &amp;&amp; !seccion.docentePrincipalLogeado)">
                                                                {{seccion.solicitudesMatricula}}
                                                            </span>
                                                            <span class="badge pointer" v-if="gposeccion.curso.tipoCursoTEOPRA &amp;&amp; seccion.docentePrincipalLogeado"
                                                                  v-on:click="showModalSolicitudes(seccion)">
                                                                {{seccion.solicitudesMatricula}}
                                                            </span>
                                                        </template>

                                                    </div>
                                                </td>                                   
                                                <td class="text-center  v-middle">

                                                    <small style="min-height: 20px;" v-for="seccion in gposeccion.secciones "  class="block text-muted"> 
                                                        <!-- v-if="docenteSession.id==gposeccion.docenteResponsable.id" -->
                                                        <span v-if="seccion.tipoSeccion!='TCUR' " class="block">
                                                            {{seccion.tipoSeccion}}
                                                            <a v-if="seccion.docentePrincipalLogeado || seccion.docentePrincipaTcurLogeado" 
                                                               v-on:click.prevent="changeVacante(seccion)" href="#" 
                                                               class="btn btn-primary btn-sm-plus">
                                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                            </a>  
                                                        </span>
                                                        <span v-else="" class="block">&nbsp;</span>
                                                    </small>

                                                </td>

                                                <td class=" v-middle">

                                                    <small style="min-height: 20px;" v-for="seccion in gposeccion.secciones " class="block text-muted"> 
                                                        <p v-if="seccion.docentePrincipal.codigo != 'N.N.' " >{{seccion.docentePrincipal.persona.letraNomPaterno}}</p>
                                                        <p v-else="">Desconocido</p>
                                                    </small>

                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </template>
                            </raptor-table>


                        </section>
                    </section>
                </section>

                <div th:substituteby="docente/ampliacionvacante/ampliacionvacantemodals"/>



            </div>

        </div>
        <div layout:fragment="js">


            <script  th:inline="javascript" >
                /*<![CDATA[*/
                var sessiondocente = /*[[${docente.id}]]*/ '';
                /*]]>*/
            </script>
            <div th:substituteby="_modules/vue-modal"/>
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <div th:substituteby="_layout/includes :: vue-loader"/>
            <script th:src="@{/app/docente/ampliacionvacante/ampliacionvacante.js}" charset="utf-8"></script>
        </div>
    </body>
</html>
