<html layout:decorator="_layout/layout">
    <head>
        <title>Roles de Sistema</title>
    </head>

    <body>
        <div id="pageRolSistemaVUE" layout:fragment="main">

            <header class="header b-b padder-lg">

                <div class="btn-group pull-right pointer new-rol">
                    <a class="btn btn-primary btn-sm">
                        <i class="fa fa-plus"></i> Nuevo Rol
                    </a>
                </div>

                <h2>Roles del Sistema</h2>
            </header>

            <section class="panel">
                <section class="panel-body">

                    <raptor-table v-bind:url="rolesUrl">
                        <template scope="props" >

                            <table class="table table-striped" style="z-index: 1">
                                <thead>
                                    <tr>
                                        <th class="col-md-2 text-center">Código</th>
                                        <th class="col-md-10">Nombre</th>
                                        <th class=""></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in props.data">
                                        <td class="v-middle text-center">
                                            <a class="text-lg bold text-primary pointer" v-text="item.codigo"></a>
                                        </td>
                                        <td class="v-middle">
                                            <span v-text="item.nombre"></span>
                                        </td>
                                        <td class="v-middle text-left"></td>
                                    </tr>
                                </tbody>
                            </table>

                        </template>
                        <div slot="header">
                            
                        </div>
                    </raptor-table>

                </section>
            </section>

            <template id="modalAulaComp"> 
                <div> 
                </div>
            </template>

            <modal-vik ref="modalMenu"
                       v-bind="aulaModal">
                <div slot="body">
                    <aula-component></aula-component>
                </div>
            </modal-vik>
        </div>

        <div th:substituteby="_modules/vue-modal"/>

        <div layout:fragment="js" th:remove="tag">
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <script type="text/javascript" th:src="@{/phobos/modules/vue-modal.js}"></script>
            <script th:src="@{/app/seguridad/rol/rolSistema.js}" charset="utf-8"></script>
        </div>

    </body>
</html>
