<html layout:decorator="_layout/layout">
    <head>
        <title>Roles de Sistema</title>
    </head>

    <body>
        <div layout:fragment="main">
            <div id="main" v-cloak="">

                <header class="header b-b padder-lg">

                    <a class="btn btn-primary btn-sm pull-right" v-on:click.prevent="nuevoRol()">
                        Nuevo Rol
                    </a>

                    <h2>Roles del Sistema</h2>
                </header>

                <section class="wrapper-lg">
                    <section class="panel">
                        <section class="panel-body">
                            
                            <raptor-table v-bind:url="rolesUrl" ref="tblroles">
                                <template scope="props" >

                                    <table class="table table-striped" style="z-index: 1">
                                        <thead>
                                            <tr>
                                                <th class="col-xs-2 text-center">Código</th>
                                                <th class="col-xs-4">Nombre</th>
                                                <th class="col-xs-3">Cargos</th>
                                                <th class="col-xs-3">Funciones</th>
                                                <th class=""></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in props.data">
                                                <td class="v-middle text-center">
                                                    <a class="text-lg bold text-primary pointer" v-text="item.codigo"></a>
                                                </td>
                                                <td class="v-middle">
                                                    <span v-text="item.nombre"></span>
                                                    <span class="subtext-xs" v-text="item.rolSuperior"></span>
                                                </td>

                                                <td class="v-middle">
                                                    <p  v-for="cargo in item.cargos">{{cargo.nombre}}</p>
                                                </td>

                                                <td class="v-middle">
                                                    <p  v-for="funcion in item.funciones">{{funcion.nombre}}</p>
                                                </td>

                                                <td class="v-middle text-left">

                                                    <div class="dropdown actions">
                                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                                            <i class="glyphicon glyphicon-cog"></i>
                                                        </a>
                                                        <ul class="dropdown-menu pull-right">
                                                            <li><a class="btn-link" href="#" v-on:click.prevent="{{editarRol(item)}}">Editar</a></li>
                                                            <li><a class="btn-link" href="#" v-on:click.prevent="{{eliminarRol(item)}}">Eliminar</a></li>
                                                             <li role="presentation" class="divider"></li>
                                                            <li><a class="btn-link" href="#" v-on:click.prevent="{{relacionarCargo(item)}}">Relacionar Cargo</a></li>
                                                            <li><a class="btn-link" href="#" v-on:click.prevent="{{relacionarFuncion(item)}}">Relacionar Función</a></li>
                                                        </ul>
                                                    </div>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </template>

                                <div slot="header">

                                </div>

                            </raptor-table>

                        </section>
                    </section>
                </section>

                <div th:substituteby="seguridad/rol/rolSistemaCargoTemplate"/>

            </div>

            <template id="funcionsearhtemp">
                <input type="text"
                       class="form-control"
                       data-trigger="change"
                       required="true"
                       v-bind:name="nombre"
                       v-model="funcion.id"
                       />
            </template>

            <template id="cargosearhtemp">
                <input type="text"
                       class="form-control"
                       data-trigger="change"
                       required="true"
                       v-bind:name="nombre"
                       v-model="cargo.id"
                       />
            </template>

            <template id="rolsearhtemp">
                <input type="text"
                       class="form-control"
                       data-trigger="change"
                       v-bind:name="nombre"
                       v-model="rolsuperior.id"
                       />
            </template>

        </div>

        <div layout:fragment="js" th:remove="tag">
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <div th:substituteby="_modules/vue-modal2"></div>
            <div th:substituteby="_layout/includes :: sweetalert"/>
            <div th:substituteby="_layout/includes :: vue-loader"/>
            <script th:src="@{/app/seguridad/rol/rolbuscarcargo.js}" charset="utf-8"></script>
            <script th:src="@{/app/seguridad/rol/rolbuscarfuncion.js}" charset="utf-8"></script>
            <script th:src="@{/app/seguridad/rol/superrolbuscar.js}" charset="utf-8"></script>
            <script th:src="@{/app/seguridad/rol/rolSistema.js}" charset="utf-8"></script>
        </div>

    </body>
</html>
