<html layout:decorator="_layout/layout">
    <head>
        <title>Administración de Personas</title>
    </head>

    <body>
        <div layout:fragment="main">

            <div id="main" v-cloak="">

                <header class="header b-b padder-lg" >

                    <h2>Docentes | Ciclo <span th:text='${session["SESSION_USUARIO"].cicloAcademico.descripcion}'>2016-II</span></h2>

                    <div class="btn-group pull-right" th:if="${!isRevisorDocente}">
                        <button type="button" class="btn btn-primary dropdown-toggle pull-right" data-toggle="dropdown">
                            Acciones &nbsp; <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a type="button" th:href="@{/academico/profesor/nuevo}">Nuevo</a></li>
                            <li><a type="button" href="#" v-on:click.prevent="openModalReporte" >Reporte Entrega de Materiales</a></li>
                            <li><a type="button" href="#" v-on:click.prevent="openModalReporteCargaAcademica" >Reporte Carga Académica</a></li>
                            <li><a type="button" href="#" v-on:click.prevent="openModalReporteCicloAcademica" >Reporte Docente/Ciclo Académica</a></li>
                            <li><a type="button" href="#" v-on:click.prevent="openModalReporteContratoLaboral" >Reporte Contrato Laboral</a></li>
                            <li><a type="button" href="#" v-on:click.prevent="openModalCopiarContratoDocente" >Copiar Contrato Docente</a></li>
                            <li><a type="button" href="#" v-on:click.prevent="openModalEliminarContratoDocente" >Eliminar Contrato Docente</a></li>
                        </ul>
                    </div>

                    <reporte-materiales ref='reportemateriales'></reporte-materiales>

                    <reporte-carga-academica ref='reportecargaacademica'></reporte-carga-academica>

                    <reporte-ciclo-academica ref='reportecicloacademica'></reporte-ciclo-academica>

                    <reporte-contrato-laboral ref='reportecontrato'></reporte-contrato-laboral>

                    <copiar-contrato-docente ref='copiar'></copiar-contrato-docente>

                    <eliminar-contrato-docente ref='eliminar'></eliminar-contrato-docente>

                </header>

                <section class="wrapper-lg">
                    <section class="panel">

                        <section class="panel-body">

                            <profesor-list></profesor-list>

                        </section>
                    </section>

                </section>
            </div>

        </div>

        <div layout:fragment="js">
            <script th:inline="javascript">
                var jFacultades = /*[[${jFacultades}]]*/ {};
                var jDepartamentos = /*[[${jDepartamentos}]]*/ {};
                var jCicloAcademicos = /*[[${jCicloAcademicos}]]*/ {};
                var jCicloAcademicosNivelacion = /*[[${jCicloAcademicosNivelacion}]]*/ {};
                var PUEDE_ACTIVAR = /*[[${puedeActivar}]]*/ {};
                var LOGIN_DOCENTE = /*[[${loginDocente}]]*/ {};
                var CICLO_ACADEMICO_DESCRIPCION = /*[[${session["SESSION_USUARIO"].cicloAcademico.descripcion}]]*/ {};
            </script>

            <script>
                Vue.component("multiselect", window.VueMultiselect.default);
                const ProfesorList = httpVueLoader('/app/academico/profesor/ProfesorList.vue');
                const ReporteMateriales = httpVueLoader('/app/academico/profesor/ReporteMateriales.vue');
                const ReporteCargaAcademica = httpVueLoader('/app/academico/profesor/ReporteCargaAcademica.vue');
                const ReporteCicloAcademica = httpVueLoader('/app/academico/profesor/ReporteCicloAcademica.vue');
                const CopiarContratoDocente = httpVueLoader('/app/academico/profesor/CopiarContratoDocente.vue');
                const EliminarContratoDocente = httpVueLoader('/app/academico/profesor/EliminarContratoDocente.vue');
                const ReporteContratoLaboral = httpVueLoader('/app/academico/profesor/ReporteContratoLaboral.vue');

                var root = new Vue({
                    el: '#main',
                    components: {
                        profesorList: ProfesorList,
                        reporteMateriales: ReporteMateriales,
                        reporteCargaAcademica: ReporteCargaAcademica,
                        reporteCicloAcademica: ReporteCicloAcademica,
                        copiarContratoDocente: CopiarContratoDocente,
                        eliminarContratoDocente: EliminarContratoDocente,
                        reporteContratoLaboral: ReporteContratoLaboral,
                    },
                    methods: {
                        openModalReporte() {
                            this.$refs.reportemateriales.open();
                        },
                        openModalReporteCargaAcademica() {
                            this.$refs.reportecargaacademica.open();
                        },
                        openModalReporteCicloAcademica() {
                            this.$refs.reportecicloacademica.open();
                        },
                        openModalCopiarContratoDocente() {
                            this.$refs.copiar.open();
                        },
                        openModalEliminarContratoDocente() {
                            this.$refs.eliminar.open();
                        },
                        openModalReporteContratoLaboral() {
                            this.$refs.reportecontrato.open();
                        },
                    }
                });
            </script>
        </div>

    </body>
</html>