<html layout:decorator="_layout/layout">
    <head>
        <title>Administración de Personas</title>
    <div th:substituteby="_layout/includes :: styles-dynatable"></div>
</head>

<body>
    <div layout:fragment="main">

        <header class="header b-b padder-lg" id="mainvue">



            <h2>Docentes | Ciclo <span th:text='${session["SESSION_USUARIO"].cicloAcademico.descripcion}'>2016-II</span></h2>

            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary dropdown-toggle pull-right" data-toggle="dropdown">
                    Acciones &nbsp; <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a type="button" th:href="@{/academico/profesor/nuevo}">Nuevo</a></li>
                    <li><a type="button" v-on:click.prevent="openModalReporte" >Reporte Entrega de Materiales</a></li>
                    <!-- -->
                </ul>
            </div>

            <modal-vik ref="modalReporte"
                       v-bind="reporteModal"
                       v-bind:okaction="downloadReporte">
                <div slot="body">
                    <div class="form-group m-b-xs">
                        <label class="bold">Facultad</label>

                        <multiselect v-model='facultad'
                                     label='nombre'
                                     placeholder="Seleccione un facultad"
                                     deselect-label=""
                                     select-label=""
                                     track-by='id'
                                     v-bind:allow-empty="true"
                                     v-bind:options='facultades'>
                        </multiselect>
                        <!-- 
                                     v-on:input="verAnexoSuperior" -->
                    </div>
                </div>
            </modal-vik>

        </header>
        <section class="wrapper-lg">
            <section class="panel">

                <section class="panel-body">

                    <div class="hide m-t-lg col-lg-6" id="headDynatable">
                        <div class="">
                            <select class="form-control select2" id="departamento">
                                <option th:each="dpto : ${departamentos}"
                                        th:value="${dpto.id}"
                                        th:text="${dpto.nombre}"></option>
                            </select>
                        </div>
                    </div>

                    <table id="dynaTable" class="table table-striped">
                        <thead class="panel panel-heading">
                            <tr>
                                <th class="col-md-3 v-middle" colspan="2"></th>                    
                                <th class="col-md-2 v-middle">Información de contacto</th>
                                <th class="col-md-2 text-center v-middle"><span>Departamento Académico</span></th>
                                <th class="col-md-2 text-center v-middle"><span>Situación laboral</span></th>
                                <th class="col-md-1 text-center v-middle">Secciones Pre.</th>   
                                <th class="col-md-1 text-center v-middle">Secciones Pos.</th>   
                                <th class="col-md-1 text-center v-middle">Estado</th>                    
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </section>
            </section>





        </section>

        <script id="profesorTemplate" type="text/x-jsrender" class="hide" > 
            <div th:substituteby="academico/profesor/profesorTemplate"/>
        </script>


    </div>
    <div layout:fragment="js">
        <script th:inline="javascript">
            var jFacultades = /*[[${jFacultades}]]*/ {};
        </script>
        <div th:substituteby="_layout/includes :: javascript-filedownload"/>
        <div th:substituteby="_layout/includes :: javascript-dynatable"></div>
        <div th:substituteby="_modules/vue-modal"/>
        <script th:src="@{/app/academico/profesor/profesor.js}" charset="utf-8"></script>
    </div>

</body>
</html>