<html layout:decorator="_layout/layout">
    <head>
        <title> Fotos Carne</title>
    </head>
    <body>

        <div layout:fragment="main">
            <div id="main" v-cloak="">

                <header class="header b-b padder-lg">
                    <h1 v-text="'Fotos Carne'"></h1>  <h1 th:text="${ciclo.descripcion}"></h1>

                </header>

                <section class="wrapper-lg m-b-xs">
                    <section class="panel">

                        <section class="panel-body m-t-sm">
                            <div class="col-md-4">

                                <div class="form-group">
                                    <label>Modalidades</label>
                                    <multiselect v-model='modalidad'
                                                 v-bind:options='modalidades'
                                                 v-bind:allow-empty="false"
                                                 label='nombre'
                                                 placeholder="Seleccione una modalidad"
                                                 select-label="Seleccione esta modalidad"
                                                 track-by='id'
                                                 v-on:input="carrerasByCarrera(modalidad.codigo)">
                                    </multiselect>
                                    <input class="hide" required=""/>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Carreras</label>
                                    <multiselect v-model='carrera'
                                                 v-bind:options='carreras'
                                                 v-bind:allow-empty="false"
                                                 label='nombre'
                                                 placeholder="Seleccione una carrera"
                                                 select-label="Seleccione esta carrera"
                                                 track-by='id'>
                                    </multiselect>
                                    <input class="hide" required=""/>
                                </div>
                            </div>
                            
                            <div class="col-md-10 col-md-offset-0">

                                <div class="btn-group pull-right">
                                    <button class="btn btn-info pull-right btn-sm"
                                            v-on:click.prevent="descagarFoto"
                                            v-bind:disabled='bloq'
                                            href="#" >Descargar</button>

                                </div>
                                <div class="col-xs-12 m-t-xl">
                                    <div>
                                        <p class="pull-right"> <span v-text='info.perAvance'></span>%</p>
                                        <p>Fotos ( <span v-text='info.avance'></span> / <span v-text='info.cantidadTotal'></span>  )</p>
                                    </div>
                                    <div class="progress" style="height: 8px;">
                                        <div class="progress-bar" role="progressbar" v-value="info.perAvance" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>

                            </div>
                        </section>
                    </section>
                </section>
            </div>
        </div>

        <div layout:fragment="js">
            <script th:inline="javascript">
                var modalidadesJson = /*[[${modalidades}]]*/ '';
            </script>

            <div th:substituteby="_layout/includes :: vuejs"/>
            <script th:src="@{/app/fotosCarne/fotosCarne.js}" charset="utf-8"></script>
        </div>
    </body>
</html>
