<html layout:decorator="zlayout/layout">
    <head>
        <title>Calificacion de Postulantes</title>
    <div th:substituteby="zlayout/includes :: styles-dynatable"></div>
    <syle type="text/css">
        .diegoSelect {
        min-width: 300px;
        }
    </syle>
</head>

<body>
    <section  layout:fragment="main">
        <header class="page-header">
            <h2>Programacion de Cursos <span th:text="${cicloAcademico.descripcion}"></span></h2>
        </header>
        <div id="pageGpoSeccion">
            <form id="frmEditGpoSeccion" class="form-horizontal m-t-lg">
                <input v-model="grupoSeccion.id" type="hidden" />
                <section class="panel">

                    <section class="panel-body bg-white b">

                        <div class="form-group">
                            <label for="cboAnexo" class="col-sm-2 control-label">Anexo</label>
                            <div class="col-md-5">
                                <span class="form-control" th:text="|${grupoSeccion.anexoBoletin.codigo} - ${grupoSeccion.anexoBoletin.nombre}|"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="cboCategoria" class="col-sm-2 control-label">Categoria</label>
                            <div class="col-md-5">
                                <span class="form-control" th:text="|${grupoSeccion.anexoBoletin.anexoSuperior.codigo} - ${grupoSeccion.anexoBoletin.anexoSuperior.nombre}|"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="cboCurso" class="col-sm-2 control-label">Curso</label>
                            <div class="col-md-5">
                                <span class="form-control" th:text="|${grupoSeccion.curso.codigo} - ${grupoSeccion.curso.nombre}|"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="col-md-2 control-label">Estructura</label>
                            <div class="col-md-2">
                                <span class="form-control" th:text="${grupoSeccion.curso.codigo}"></span>
                            </div>
                            <div class="col-md-2">
                                <span class="form-control" th:text="${grupoSeccion.curso.tpc}"></span>
                            </div>
                            <div class="col-md-2">
                                <span class="form-control"></span>
                            </div>
                        </div>

                    </section>
                </section>

                <section class="panel">
                    <section class="panel-body">
                        <table class="table table-striped" >
                            <thead> 
                                <tr class=""> 
                                    <th class="col-md-1 text-center">Clave </th>
                                    <th class="col-md-1 text-center">Tipo</th>
                                    <th class="col-md-1 text-center">Aula</th>
                                    <th class="col-md-1 text-center">Grupo</th>
                                    <th class="col-md-1 text-center">Condición</th>
                                    <th class="col-md-1 text-center">Carreras</th>
                                    <th class="col-md-1 text-center">Facultades</th>
                                    <th class="col-md-1 text-center">Vac</th>
                                    <th class="col-md-1 text-center">Mat</th>
                                    <th class="col-md-1 text-center">Docentes</th>
                                    <th class="col-md-1 text-center">Estado</th>
                                    <th class="col-md-1 text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  v-for="(seccion, index) in secciones">
                                    <td>
                                        <a v-on:click="seleccionarSeccion(seccion)" 
                                           style="cursor:pointer;">{{ seccion.seccionCodigo }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ seccion.tipoSeccionValue }}
                                    </td>
                                    <td>
                                        {{ seccion.aula }}
                                    </td>
                                    <td>

                                        <a v-on:click="seleccionarSeccion(seccion)" 
                                           v-if="seccion.grupoHoras==''"
                                           style="cursor:pointer;">
                                            Sin Grupo
                                        </a>

                                        <span v-if="seccion.grupoHoras!=''"> {{ seccion.grupoHoras }} </span>
                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        {{ seccion.vacantes }}
                                    </td>
                                    <td>
                                        {{ seccion.matriculados }}
                                    </td>
                                    <td>
                                        <span v-if="seccion.porcentajeAvance==100">
                                            {{ seccion.cantidadDocentes }}
                                        </span>
                                        <span v-if="seccion.porcentajeAvance!=100" class="label label-danger" >Error</span>
                                    </td>
                                    <td>
                                        <span class="label" v-bind:class="getEstadoClass(seccion.estadoEnumCode)">{{ seccion.estadoEnumValue }}</span>
                                    </td>
                                    <td>
                                        <a  v-if="index == secciones.length - 1 &amp;&amp; secciones.length > 0"
                                            v-on:click="deleteSeccion(seccion)"
                                            class="btn btn-default delete-tipo-evaluacion"><i class="fa fa-times text-danger"></i></a>

                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <a class="btn btn-info btn-sm pull-right"
                           th:if="${grupoSeccion.curso.tipoCursoTEOPRA}"
                           v-on:click="addSeccion"
                           >
                            <i class="fa fa-plus add-seccion" aria-hidden="true"><strong> Agregar Seccion</strong></i>
                        </a>
                    </section>
                    <section class="panel-body" v-if="seccionSeleccionada">
                        <header class="page-header">
                            <h4>Seccion {{seccionSeleccionada.seccionCodigo}}</h4>
                        </header>
                        <table class="table table-striped" >
                            <thead> 
                                <tr > 
                                    <th class="col-md-4 text-center">Nombre</th>
                                    <th class="col-md-1 text-center">Principal</th>
                                    <th class="col-md-1 text-center">%Carga</th>
                                    <th class="col-md-2 text-center">Periodo</th>
                                    <th class="col-md-2 text-center">Situación Laboral</th>
                                    <th class="col-md-1 text-center">Estado</th>
                                    <th class="col-md-1 text-center"></th>
                                </tr>
                                <tr v-for="(docSeccion, index) in docentesSeccion">
                                    <td>

                            <autocomplete-doc v-model="docSeccion.docenteId"
                                              v-bind:rel="docSeccion.personaApeNombres"
                                              v-bind:docseccion="docSeccion.docSeccionId"
                                              v-if="docSeccion.docenteNN">
                            </autocomplete-doc>
                            {{docSeccion.personaApeNombres}}
                            </td>
                            <td>
                                <!--
                                <span class="block" v-if="docSeccion.principal==1">Si</span>
                                <span class="block" v-if="docSeccion.principal==0">No</span>
                                -->
                                <label class="switch">
                                    <input type="checkbox" 
                                           value="1" 
                                           v-model="docSeccion.principal" 
                                           v-bind:disabled="docSeccion.principal==1"
                                           v-on:change="cambiarDocPrincipal(docSeccion)"/>
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                <input v-model="docSeccion.porcentajeCarga"
                                       name="porcentajeCarga"
                                       v-on:blur ="cambiarPorcentajeCarga(docSeccion)"
                                       v-on:keyup.enter="cambiarPorcentajeCarga(docSeccion)"
                                       class="form-control"
                                       data-parsley-group="porcentaje-car"
                                       data-parsley-type="number"
                                       />
                            </td>
                            <td>
                                {{ docSeccion.docSecFechaInicio }}
                            </td>
                            <td>

                            </td>
                            <td>
                                <span class="label" v-bind:class="getEstadoClass(docSeccion.estadoEnumCode)">
                                    {{ docSeccion.estadoEnumVal }}
                                </span>
                            </td>
                            <td>
                                <a v-if="docSeccion.principal == 0"
                                   v-on:click="deleteDocSeccion(docSeccion)"
                                   class="btn btn-default delete-tipo-evaluacion"><i class="fa fa-times text-danger"></i></a>
                            </td>
                            </tr>
                            </thead>

                        </table>
                        <a class="btn btn-info btn-sm pull-right"
                           v-on:click="addDocSeccion"
                           >
                            <i class="fa fa-plus add-seccion" aria-hidden="true"><strong> Agregar Docente</strong></i>
                        </a>
                    </section>
                    <script type="text/javascript" th:src="@{/phobos/modules/vue-modal.js}"></script>
                </section>

            </form>
        </div>
        <div th:substituteby="templates/modal"/>

        <div id="autocomplete-doc">
            <input class="input-s-full" v-bind:rel="rel" type="hidden"  />
        </div>

        <div id="divBuscarCurso" type="text/x-jsrender" class="hide" >
            {{:personaNombre}}  {{:personaPaterno}}  {{:personaMaterno}}
        </div>
    </section>

    <div layout:fragment="js">
        <div th:substituteby="zlayout/includes :: javascript-dynatable"/>
        <script th:inline="javascript">
            var gpoSeccionJson = [[${grupoSeccionJson}]];
        </script>
        <script th:src="@{/app/gposeccion/editarGpoSeccion.js}" charset="utf-8"></script>
    </div>
</body>
</html>