<html layout:decorator="_layout/layout">
    <head>
        <title>Calificacion de Postulantes</title>
    <div th:substituteby="_layout/includes :: styles-dynatable"></div>
    <style type="text/css">
        .buscarDocClass {
            min-width: 300px;
        }
        /* Enter and leave animations can use different */
        /* durations and timing functions.              */
        .slide-fade-enter-active {
            transition: all 1s ease;
        }
        .slide-fade-leave-active {
            transition: all 1.5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
        }
        .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active below version 2.1.8 */ {
            transform: translateX(10px);
            opacity: 0;
        }
        .nav-gposec-gray {
            color: #c8c8c8;
        }
        .nav-gposec-primary {
            color: #0275D8;
            cursor: pointer;
        }
        .avatar-gposecc {
            display: block;
            position: relative;
            border-radius: 50%;
            width: 54px;
            height: 54px;
            overflow: hidden;
            line-height: 54px;
            background-color: #F5B041;
            color: #fff;
            text-align: center;
            font-size: 24px;
            text-indent: 0;
            margin: auto;
            margin-top: 10px;
        }
        .text-curso {
            font-size: 18px;
            color: #0275D8;
        }
    </style>
</head>

<body>
    <section  layout:fragment="main">
        <header class="header b-b padder-lg">
            <h2>Programación de Cursos <span th:text="${cicloAcademico.descripcion}"></span></h2>
            <div class="pull-right m-t-md">
                <a class="btn btn-default"   th:href="${origen}"  >Regresar</a>
            </div>
        </header>
        <div id="pageGpoSeccion">
            <div v-cloak="">

                <section class="wrapper-lg">
                    <form id="frmEditGpoSeccion">
                        <input v-model="grupoSeccion.id" type="hidden" />
                        <section class="panel m-b-xs">
                            <section class="panel-body">
                                <div class="row">
                                    <div class="col-md-1 text-center">
                                        <div class="avatar-gposecc"
                                             v-text='grupoSeccion.codigo2'>234</div>
                                        <a class="label label-primary m-t-xs" v-on:click="openClonar"> Clonar </a>
                                    </div>

                                    <div class="col-md-9">
                                        <div class="row m-b-xs">
                                            <div class="col-md-1 bold">Anexo</div>
                                            <div class="col-md-11">
                                                <span class="block bold" v-text="grupoSeccion.anexoBoletin.codigo + ' - ' + grupoSeccion.anexoBoletin.nombre"></span>
                                                <small class="block" v-text="grupoSeccion.anexoBoletin.anexoSuperior.codigo + ' - ' + grupoSeccion.anexoBoletin.anexoSuperior.nombre"></small>
                                            </div>
                                        </div>

                                        <div class="row m-b-xs">
                                            <div class="col-md-1 text-curso">Curso</div>
                                            <div class="col-md-11">
                                                <span class="block text-curso" v-text="grupoSeccion.curso.codigo + ' - ' + grupoSeccion.curso.nombre"></span>
                                                <span class="block bold" v-text="grupoSeccion.curso.tpc"></span>
                                            </div>
                                        </div>
                                        <!--div class="row">
                                            <div class="col-md-2 bold text-primary">Periodo</div>
                                            <div class="col-md-10">
                                                
                                            </div>
                                        </div-->
                                    </div>

                                    <div class="col-md-2">

                                        <div class="text-right">
                                            <span v-bind:class="classBtnPrev()" 
                                                  v-on:click="prevGpoSecc()">
                                                <span class="fa-stack fa-lg">
                                                    <i v-if="btnNavega.left" class="fa fa-circle fa-stack-2x"></i>
                                                    <i v-if="btnNavega.left" class="fa fa-arrow-left fa-stack-1x fa-inverse"></i>
                                                    <i v-else="" class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                                                </span>

                                            </span>

                                            <span v-bind:class="classBtnNext()" 
                                                  v-on:click="nextGpoSecc()">
                                                <span class="fa-stack fa-lg">
                                                    <i v-if="btnNavega.right" class="fa fa-circle fa-stack-2x"></i>
                                                    <i v-if="btnNavega.right" class="fa fa-arrow-right fa-stack-1x fa-inverse"></i>
                                                    <i v-else="" class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                                                </span>

                                            </span>

                                        </div>
                                        <div class="text-right">
                                            <small class="text-muted m-r">
                                                {{(navega.position+1)}} de 
                                                {{navega.arrayGpoSecciones.length}}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </section>

                        <section class="panel m-b-xs">
                            <section class="panel-body">

                                <table class="table" >
                                    <thead> 
                                        <tr class=""> 
                                            <th class="col-md-1 text-center v-middle">Sección</th>
                                            <th class="col-md-1 text-center v-middle">Aula</th>
                                            <th class="col-md-1 text-center v-middle">Grupo</th>
                                            <th class="col-md-2 text-center v-middle">Restricción modalidad facultad especialidad</th>
                                            <th class="col-md-2 text-center v-middle">Restricción repitencia</th>
                                            <th class="col-md-1 text-center v-middle">Restricción CAPA</th>
                                            <th class="col-md-1 text-center v-middle">Vac</th>
                                            <th class="col-md-1 text-center v-middle">Mat</th>
                                            <th class="col-md-1 text-center v-middle">Docentes</th>
                                            <th class="col-md-1 text-center v-middle">Estado</th>
                                            <th class="text-center">
                                                <input type="checkbox"
                                                       v-model="directEditSecciones"
                                                       v-on:click="directAulaChange($event)"/>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(seccion, index) in secciones" 
                                            v-bind:class="{'active' : (seccionSeleccionada!=null &amp;&amp; seccionSeleccionada.id==seccion.id)}">

                                            <td class="text-center v-middle">
                                                <a v-on:click="seleccionarSeccion(index)" 
                                                   style="cursor:pointer;">{{ seccion.codigo2 }}
                                                </a>
                                                <div>
                                                    {{ seccion.tipoSeccionEvaluacionValue }}
                                                </div>
                                            </td>

                                            <td class="text-center v-middle">

                                                <a v-if="seccion.aula.id=='' &amp;&amp; !directEditSecciones"
                                                   v-on:click="showModalAula(seccion)" 
                                                   style="cursor:pointer;">
                                                    Sin Aula
                                                </a>

                                                <div v-if="seccion.aula.id!='' &amp;&amp; !directEditSecciones">
                                                    <div class="block">
                                                        <a v-on:click="showModalAula(seccion)" 
                                                           style="cursor:pointer;">{{seccion.aula.codigo}}</a>
                                                        &nbsp;
                                                        <a v-on:click="showModalAulaHorario(seccion.aula)"
                                                           style="cursor:pointer;">
                                                            <i class="fa fa-calendar text-success"></i>
                                                        </a>
                                                    </div>

                                                    <div class="block">
                                                        <small v-if="seccion.aula.capacidadAula != ''">
                                                            (Cap. {{ seccion.aula.capacidadAula }})
                                                        </small>
                                                    </div>
                                                </div>

                                                <input v-if="directEditSecciones"
                                                       v-on:blur="directEditAula(seccion,$event)"
                                                       v-on:keyup.enter="directEditAula(seccion,$event)"
                                                       v-bind:value="seccion.aula!=null ? seccion.aula.codigo : ''"
                                                       class="form-control"/>



                                            </td>
                                            <td class="text-center v-middle">

                                                <a v-on:click="showModalGrupos(seccion)" 
                                                   v-if="seccion.grupoHoras.id=='' &amp;&amp; !directEditSecciones"
                                                   style="cursor:pointer;">
                                                    Sin Grupo
                                                </a>

                                                <a v-on:click="showModalGrupos(seccion)" 
                                                   v-if="seccion.grupoHoras.id &amp;&amp; !directEditSecciones"
                                                   style="cursor:pointer;">
                                                    {{ seccion.grupoHoras.codigo }} 
                                                </a>

                                                <input v-if="directEditSecciones"
                                                       v-on:blur="directEditGrupoHor(seccion,$event)"
                                                       v-on:keyup.enter="directEditGrupoHor(seccion,$event)"
                                                       v-bind:value="seccion.grupoHoras.id!=null ? seccion.grupoHoras.codigo : ''"
                                                       v-on:input="upper($event)"
                                                       class="form-control"/>

                                            </td>
                                            <td class="text-center v-middle">
                                                <a v-on:click="showModalRestriccion(seccion)" 
                                                   v-if="!seccion.isTieneRestriccion &amp;&amp; !seccion.isTipoSeccionTCUR"
                                                   style="cursor:pointer;">
                                                    {{SIN_RESTRICCION_TEXT}}
                                                </a>
                                                <div class="text-center"
                                                     v-if="seccion.isTieneRestriccion &amp;&amp; !seccion.isTipoSeccionTCUR">

                                                    <div class="col-md-12">
                                                        <a v-on:click="showModalRestriccion(seccion)" 
                                                           v-if="seccion.isTieneRestriccionCarrera"
                                                           class="pointer">
                                                            Especialidad <span class="badge">{{seccion.restriccionesCarrera.length}}</span>
                                                        </a>
                                                        <a v-on:click="showModalRestriccion(seccion)" 
                                                           v-if="seccion.isTieneRestriccionFacultad"
                                                           class="pointer">
                                                            Facultad <span class="badge">{{seccion.restriccionesFacultad.length}}</span>
                                                        </a>
                                                        <a v-on:click="showModalRestriccion(seccion)"
                                                           v-if="seccion.isTieneRestriccionModalidad"
                                                           class="pointer">
                                                            Modalidad <span class="badge">{{seccion.restriccionesModalidad.length}}</span>
                                                        </a>
                                                    </div>

                                                    <a v-on:click="showModalRestriccion(seccion)" 
                                                       v-if="seccion.isTieneRestriccionCarrera"
                                                       v-for="restCarrera in seccion.restriccionesCarrera"
                                                       style="cursor:pointer;"
                                                       class="m-t-xs label-varios"> 
                                                        <span class="label label-primary m-l-xs">
                                                            {{restCarrera.carrera.codigo}}  
                                                        </span>
                                                    </a>  

                                                    <a v-on:click="showModalRestriccion(seccion)" 
                                                       v-if="seccion.isTieneRestriccionFacultad"
                                                       v-for="restFacultad in seccion.restriccionesFacultad" 
                                                       style="cursor:pointer;"
                                                       class="m-t-xs label-varios"> 
                                                        <span class="label label-primary m-l-xs">
                                                            {{restFacultad.facultad.codigo}} 
                                                        </span>
                                                    </a> 

                                                    <a v-on:click="showModalRestriccion(seccion)" 
                                                       v-if="seccion.isTieneRestriccionModalidad"
                                                       v-for="restModalidad in seccion.restriccionesModalidad" 
                                                       style="cursor:pointer;"
                                                       class="m-t-xs label-varios"> 
                                                        <span class="label label-primary m-l-xs">
                                                            {{restModalidad.modalidadEstudio.codigo}} 
                                                        </span>
                                                    </a> 


                                                </div>
                                            </td>
                                            <td class="text-center v-middle">
                                                <a v-on:click="showModalTipoRepitencia(seccion)" 
                                                   v-if="!seccion.isTieneRestriccionRepitencia  &amp;&amp; !seccion.isTipoSeccionTCUR"
                                                   style="cursor:pointer;">
                                                    {{SIN_RESTRICCION_TEXT}}
                                                </a>

                                                <div class="row">
                                                    <a v-on:click="showModalTipoRepitencia(seccion)" 
                                                       v-if="seccion.isTieneRestriccionRepitencia  &amp;&amp; !seccion.isTipoSeccionTCUR"
                                                       v-for="restRepitencia in seccion.restriccionesRepitencia"
                                                       style="cursor:pointer;"
                                                       class="m-t-xs label-varios"> 
                                                        <span class="label label-primary m-l-xs">
                                                            {{restRepitencia.tipoRepitencia.codigo}}  
                                                        </span>
                                                    </a>  
                                                </div>


                                            </td>
                                            <td class="text-center v-middle">

                                                <div v-if="!seccion.isTipoSeccionTCUR &amp;&amp; seccion.restriccionCapa!='' " 
                                                     v-show="!seccion.editRestriccionCapa &amp;&amp; !directEditSecciones">
                                                    <a v-on:click="seccion.editRestriccionCapa=true" class="pointer"> 
                                                        {{ seccion.restriccionCapa }} 
                                                    </a>
                                                </div>
                                                <div v-if="!seccion.isTipoSeccionTCUR &amp;&amp; seccion.restriccionCapa=='' " 
                                                     v-show="!seccion.editRestriccionCapa &amp;&amp; !directEditSecciones">
                                                    <a v-on:click="seccion.editRestriccionCapa=true" class="pointer"> 
                                                        {{SIN_RESTRICCION_TEXT}}
                                                    </a>
                                                </div>

                                                <input v-if="!seccion.isTipoSeccionTCUR" 
                                                       v-show="seccion.editRestriccionCapa || directEditSecciones" 
                                                       size="5"
                                                       class="form-control"
                                                       v-model="seccion.restriccionCapa"
                                                       v-on:blur="changeRestriccionCapa(seccion,$event)"
                                                       v-on:keyup.enter="changeRestriccionCapa(seccion,$event)">
                                                </input>   
                                            </td>
                                            <td class="text-center v-middle">
                                                <div v-if="seccion.isTipoSeccionTCUR" >
                                                    {{ seccion.vacantes }}
                                                </div>

                                                <div v-if="!seccion.isTipoSeccionTCUR" 
                                                     v-show="!seccion.editVacantes &amp;&amp; !directEditSecciones">
                                                    <a v-on:click="seccion.editVacantes=true" class="pointer"> {{ seccion.vacantes }} </a>
                                                </div>

                                                <input v-if="!seccion.isTipoSeccionTCUR" 
                                                       v-show="seccion.editVacantes || directEditSecciones" 
                                                       size="5"
                                                       class="form-control"
                                                       v-model="seccion.vacantes"
                                                       v-on:blur="changeVacantes(seccion,$event)"
                                                       v-on:keyup.enter="changeVacantes(seccion,$event)">
                                                </input>
                                            </td>
                                            <td class="text-center v-middle">
                                                {{ seccion.matriculados }}
                                            </td>
                                            <td class="text-center v-middle">
                                                <span v-if="seccion.situacionDocente=='COR'">
                                                    {{ seccion.docentesCant }}
                                                </span>
                                                <span v-if="seccion.situacionDocente=='ERR'" class="label label-danger" >
                                                    {{seccion.situacionDocenteEnum.value}}
                                                </span>
                                            </td>
                                            <td class="text-center v-middle">
                                                <span class="label" v-bind:class="getEstadoClass(seccion.estado)">{{ seccion.estadoEnum.value }}</span>
                                            </td>
                                            <td class="v-middle">

                                                <div class="dropdown actions" 
                                                     v-if="index > 0">

                                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-option-vertical"></i></a>
                                                    <ul class="dropdown-menu pull-right" >
                                                        <li role="presentation">
                                                            <a href="#"
                                                               v-on:click="activarSeccion(seccion)"
                                                               v-if="seccion.isEstadoBloqueado || seccion.isEstadoAnulado || seccion.isEstadoCreado">
                                                                Activar
                                                            </a>
                                                            <a href="#"
                                                               v-if="seccion.isEstadoActivo || seccion.isEstadoCreado"
                                                               v-on:click="anularSeccion(seccion)"
                                                               >
                                                                Anular
                                                            </a>
                                                            <a href="#"
                                                               v-if="seccion.isEstadoActivo"
                                                               v-on:click="bloquearSeccion(seccion)"
                                                               >
                                                                Bloquear
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <a class="btn btn-info btn-sm pull-right m-t-xs"
                                   v-if="grupoSeccion.curso.tipoCursoEnum.name == 'TEOPRA' "
                                   v-on:click="addSeccion">
                                    <i class="fa fa-plus add-seccion" aria-hidden="true"></i> <strong> Agregar Sección</strong>
                                </a>

                            </section>
                        </section>

                        <transition name="slide-fade">
                            <section class="panel" v-if="verDocentes">
                                <section class="panel-body">

                                    <header class="page-header m-t-xs m-b-xs">

                                        <a class="btn btn-info btn-sm pull-right m-t-xs" href="#"
                                           v-on:click.prevent="solicitarIncremento()">
                                            Solicitar Incremento
                                        </a>

                                        <h4 class="text-primary">Configuración sección {{seccionSeleccionada.codigo2}}</h4>

                                        <div class="tabbable-line" style="margin-top: 8px;">	
                                            <ul class="nav nav-tabs">
                                                <li v-bind:class="getClassTab('DOCENTES')" v-on:click="verTab('DOCENTES')">
                                                    <a href="#1Conte" data-toggle="tab">Docentes</a>
                                                </li>
                                                <li v-bind:class="getClassTab('AMPLIACIONES')" v-on:click="verTab('AMPLIACIONES')">
                                                    <a href="#2Conte" data-toggle="tab">Ampliación Vacantes</a>
                                                </li>
                                                <li v-bind:class="getClassTab('AULAS')" v-on:click="verTab('AULAS')">
                                                    <a href="#3Conte" data-toggle="tab">Aulas</a>
                                                </li>
                                                <li>
                                                    <a href="#4Conte" data-toggle="tab">Fusiones</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </header>

                                    <div class="tab-content">
                                        <div class="tab-pane" v-bind:class="getClassTab('DOCENTES')" id="1Conte">
                                            <div th:substituteby="academico/gposeccion/includes/docenteSeccionForm"/>
                                        </div>
                                        <div class="tab-pane" v-bind:class="getClassTab('AMPLIACIONES')" id="2Conte">
                                            <div th:substituteby="academico/gposeccion/includes/ampliaVacantesForm"/>
                                        </div>
                                        <div class="tab-pane" v-bind:class="getClassTab('AULAS')" id="3Conte">
                                            <div th:substituteby="academico/gposeccion/includes/aulaSeccionForm"/>
                                        </div>
                                        <div class="tab-pane" id="4Conte">
                                            <div th:substituteby="academico/gposeccion/includes/fusionSeccionForm"/>
                                        </div>
                                    </div>

                                </section>
                            </section>
                        </transition>

                    </form>
                </section>
            </div>

            <modal-vik ref="modalAula"
                       v-bind="aulaModal"
                       v-bind:okaction="saveAula"
                       v-bind:cancelaction="closeAula">
                <div slot="body">
                    <aula-component ref="aulaComponent"></aula-component>
                </div>
            </modal-vik>

            <modal-vik ref="modalAulaHorario"
                       v-bind="aulaHorarioModal"
                       v-bind:showaccept="false">
                <div slot="body">
                    <aula-horario-component></aula-horario-component>
                </div>
            </modal-vik>

            <modal-vik ref="modalGrupo"
                       v-bind="grupoModal"
                       v-bind:okaction="saveGrupo">
                <div slot="body">
                    <grupohorario-component></grupohorario-component>
                </div>
            </modal-vik>

            <modal-vik ref="modalRestriccion"
                       v-bind="restriccionModal"
                       v-bind:okaction="saveRestriccion">
                <div slot="body">
                    <restriccion-component></restriccion-component>
                </div>
            </modal-vik>

            <modal-vik ref="modalTipoRepitencia"
                       v-bind="tipoRepitenciaModal"
                       v-bind:okaction="saveTipoRepRestriccion">
                <div slot="body">
                    <repitencia-component></repitencia-component>
                </div>
            </modal-vik>


            <modal-vik ref="modalClonacion"
                       v-bind="clonacionModal"
                       v-bind:okaction="clonar">
                <div slot="body">
                    <div class="form-group">
                        <label> Cantidad de veces a clonarse </label>
                        <input class="form-control" v-model="vecesClon"/>
                    </div>
                </div>
            </modal-vik>

            <modal-vik ref="modalSolicitarIncremento"
                       v-bind="solicitarIncrementoModal"
                       v-bind:okaction="solicitarIncrementoAceptar">

                <div slot="body">

                    <form class="panel-body" id="formAmpliarVacante"  data-parsley-validate="true">

                        <input type="hidden" name="seccion.id"  v-bind:value="ampliacionVacante.seccion.id" />

                        <!--<input type="hidden" name="id"  v-bind:value="ampliacionVacante.id" />-->

                        <div class="form-group" >
                            <label  class="control-label">Solicitante</label>
                            <p class="capitalize text-primary h5 form-control-static m-t-xs" th:text="${session.SESSION_USUARIO.persona.nombreCompleto}"></p>
                        </div>

                        <div class="form-group" >
                            <label  class="control-label">Oficina</label>
                            <vueselect name="oficina.id"  required="true" v-bind:valor="ampliacionVacante.oficina" >
                                <option></option>
                                <option th:each="item : ${oficinas}"
                                        th:value="${item.id}"
                                        th:text="${item.nombre}"></option>
                            </vueselect>

                        </div>

                        <div class="form-group" >
                            <label  class="control-label">Motivo</label>
                            <textarea class="form-control" maxlength="200" v-model="ampliacionVacante.motivo" required="true" name="motivo" ></textarea>
                        </div>

                        <div class="form-group">
                            <label  class="control-label">Incremento </label>
                            <input class="form-control" required="true" v-model="ampliacionVacante.incremento" name="incremento"/>
                        </div>

                        <div class="col-xs-12">

                            <div class="col-xs-3 text-center">
                                <label>Vacante Actual </label>
                                <input type="hidden" name="vacantesInicio"  v-bind:value="ampliacionVacante.vacantesInicio" />
                                <p class="capitalize text-primary h5" v-text="ampliacionVacante.vacantesInicio"></p>
                            </div>

                            <div class="col-xs-3 text-center">
                                <label>Incremento </label>
                                <p class="capitalize text-primary h5" v-text="ampliacionVacante.incremento"></p>
                            </div>

                            <div class="col-xs-3 text-center">
                                <label>Vacante Final </label>
                                <input type="hidden" name="vacantesFin"  v-bind:value="ampliacionVacante.vacantesFin" />
                                <p class="capitalize text-primary h5"  v-text="ampliacionVacante.vacantesFin"></p>
                            </div>

                            <div class="col-xs-3 text-center">
                                <label>Aula Aforo </label>
                                <p class="capitalize text-primary h5"  v-text="seccionSeleccionada.aula.capacidadAula"></p>
                            </div>

                        </div>

                    </form>


                </div>
            </modal-vik>


            <modal-vik ref="aceptarSolicitudIncremento"
                       v-bind="aceptarSolicitudIncrementoModal"
                       v-bind:okaction="aceptarSolicitarIncrementoSave">

                <div slot="body">

                    <form class="panel-body" id="aceptarFormSolicitarIncremento"  data-parsley-validate="true">
                        <input type="hidden" name="id"  v-bind:value="ampliacionVacante.id" />
                        <p class="h4 m-t-xs m-b-xs">¿Está seguro que aceptar esta ampliación de vacantes?</p>
                    </form>

                </div>
            </modal-vik>

            <modal-vik ref="rechazarSolicitudIncremento"
                       v-bind="rechazarSolicitudIncrementoModal"
                       v-bind:okaction="rechazarSolicitarIncrementoSave">

                <div slot="body">

                    <form class="panel-body" id="formRechazaAmpliacion"  data-parsley-validate="true">

                        <input type="hidden" name="id"  v-bind:value="ampliacionVacante.id" />

                        <div class="form-group" >
                            <label  class="control-label">Indique el motivo del rechazo</label>
                            <textarea class="form-control" maxlength="200" v-model="ampliacionVacante.comentarioRespuesta" required="true" name="comentarioRespuesta" ></textarea>
                        </div>

                    </form>

                </div>
            </modal-vik>

        </div>

        <div th:substituteby="templates/modal"/>

        <th:block th:replace="academico/gposeccion/components/dynatableComponent"/>

        <div th:substituteby="_modules/vue-modal"/>


        <div th:substituteby="academico/gposeccion/components/seccionDetalleComponent"/> 
        <div th:substituteby="academico/gposeccion/components/aulaHorarioComponent"/> 
        <div th:substituteby="academico/gposeccion/components/aulaComponent"/> 
        <div th:substituteby="academico/gposeccion/components/grupoHorarioComponent"/>
        <div th:substituteby="academico/gposeccion/components/restriccionComponent"/>
        <div th:substituteby="academico/gposeccion/components/repitenciaComponent"/>

    </section>

    <div layout:fragment="js">
        <div th:substituteby="_layout/includes :: javascript-dynatable"/>
        <script th:inline="javascript">
            var gpoSeccionJson = /*[[${grupoSeccionJson}]]*/ {};
            var navigationJson = /*[[${navigationJson}]]*/ {};
        </script>
        <div th:substituteby="_layout/includes :: sweetalert"/>
        <script type="text/javascript" th:src="@{/phobos/modules/vue-modal.js}"></script>
        <script th:src="@{/app/gposeccion/dynatableComponents.js}" charset="utf-8"></script>
        <script th:src="@{/app/gposeccion/aulaComponent.js}" charset="utf-8"></script>
        <script th:src="@{/app/gposeccion/aulaHorarioComponent.js}" charset="utf-8"></script>
        <script th:src="@{/app/gposeccion/grupoHorarioComponent.js}" charset="utf-8"></script>
        <script th:src="@{/app/gposeccion/restriccionComponent.js}" charset="utf-8"></script>
        <script th:src="@{/app/gposeccion/repitenciaComponent.js}" charset="utf-8"></script>
        <script th:src="@{/phobos/modules/datePickerComponent.js}" charset="utf-8"></script>
        <script th:src="@{/app/gposeccion/gpoSolicitarIncremento.js}" charset="utf-8"></script>
        <script th:src="@{/phobos/modules/vuelect3.js}" charset="utf-8"></script>
        <script th:src="@{/app/gposeccion/gpoSeccionForm.js}" charset="utf-8"></script>
    </div>
</body>
</html>
