

<modal-vik ref="modalAula"
           v-bind="aulaModal"
           v-bind:okaction="saveAula"
           v-bind:cancelaction="closeAula">
    <div slot="body">
        <aula-component ref="aulaComponent"></aula-component>
    </div>
</modal-vik>

<modal-vik ref="modalAulaHorario"
           v-bind="aulaHorarioModal"
           v-bind:showaccept="false">
    <div slot="body">
        <aula-horario-component></aula-horario-component>
    </div>
</modal-vik>

<modal-vik ref="modalGrupo"
           v-bind="grupoModal"
           v-bind:okaction="saveGrupo">
    <div slot="body">
        <grupohorario-component></grupohorario-component>
    </div>
</modal-vik>

<modal-vik ref="modalRestriccion"
           v-bind="restriccionModal"
           v-bind:okaction="saveRestriccion">
    <div slot="body">
        <restriccion-component></restriccion-component>
    </div>
</modal-vik>

<modal-vik ref="modalTipoRepitencia"
           v-bind="tipoRepitenciaModal"
           v-bind:okaction="saveTipoRepRestriccion">
    <div slot="body">
        <repitencia-component></repitencia-component>
    </div>
</modal-vik>


<modal-vik ref="modalClonacion"
           v-bind="clonacionModal"
           v-bind:okaction="clonar">
    <div slot="body">
        <div class="form-group">
            <label> Cantidad de veces a clonarse </label>
            <input class="form-control" v-model="vecesClon"/>
        </div>
    </div>
</modal-vik>

<modal-vik ref="modalSolicitarIncremento"
           v-bind="solicitarIncrementoModal"
           v-bind:okaction="solicitarIncrementoAceptar">

    <div slot="body">

        <form class="panel-body" id="formAmpliarVacante"  data-parsley-validate="true">

            <input type="hidden" name="seccion.id"  v-bind:value="ampliacionVacante.seccion.id" />

            <!--<input type="hidden" name="id"  v-bind:value="ampliacionVacante.id" />-->

            <div class="form-group" >
                <label  class="control-label">Solicitante</label>
                <p class="capitalize text-primary h5 form-control-static m-t-xs" th:text="${session.SESSION_USUARIO.persona.nombreCompleto}"></p>
            </div>

            <div class="form-group" >
                <label  class="control-label">Oficina</label>
                <vueselect name="oficina.id"  required="true" v-bind:valor="ampliacionVacante.oficina" >
                    <option></option>
                    <option th:each="item : ${oficinas}"
                            th:value="${item.id}"
                            th:text="${item.nombre}"></option>
                </vueselect>

            </div>

            <div class="form-group" >
                <label  class="control-label">Motivo</label>
                <textarea class="form-control" maxlength="200" v-model="ampliacionVacante.motivo" required="true" name="motivo" ></textarea>
            </div>

            <div class="form-group">
                <label  class="control-label">Incremento </label>
                <input class="form-control" required="true" v-model="ampliacionVacante.incremento" name="incremento"/>
            </div>

            <div class="col-xs-12">

                <div class="col-xs-3 text-center">
                    <label>Vacante Actual </label>
                    <input type="hidden" name="vacantesInicio"  v-bind:value="ampliacionVacante.vacantesInicio" />
                    <p class="capitalize text-primary h5" v-text="ampliacionVacante.vacantesInicio"></p>
                </div>

                <div class="col-xs-3 text-center">
                    <label>Incremento </label>
                    <p class="capitalize text-primary h5" v-text="ampliacionVacante.incremento"></p>
                </div>

                <div class="col-xs-3 text-center">
                    <label>Vacante Final </label>
                    <input type="hidden" name="vacantesFin"  v-bind:value="ampliacionVacante.vacantesFin" />
                    <p class="capitalize text-primary h5"  v-text="ampliacionVacante.vacantesFin"></p>
                </div>

                <div class="col-xs-3 text-center">
                    <label>Aula Aforo </label>
                    <p class="capitalize text-primary h5"  v-text="seccionSeleccionada.aula.capacidadAula"></p>
                </div>

            </div>

        </form>


    </div>
</modal-vik>


<modal-vik ref="aceptarSolicitudIncremento"
           v-bind="aceptarSolicitudIncrementoModal"
           v-bind:okaction="aceptarSolicitarIncrementoSave">

    <div slot="body">

        <form class="panel-body" id="aceptarFormSolicitarIncremento"  data-parsley-validate="true">
            <input type="hidden" name="id"  v-bind:value="ampliacionVacante.id" />
            <p class="h4 m-t-xs m-b-xs">¿Está seguro que aceptar esta ampliación de vacantes?</p>
        </form>

    </div>
</modal-vik>

<modal-vik ref="rechazarSolicitudIncremento"
           v-bind="rechazarSolicitudIncrementoModal"
           v-bind:okaction="rechazarSolicitarIncrementoSave">

    <div slot="body">

        <form class="panel-body" id="formRechazaAmpliacion"  data-parsley-validate="true">

            <input type="hidden" name="id"  v-bind:value="ampliacionVacante.id" />

            <div class="form-group" >
                <label  class="control-label">Indique el motivo del rechazo</label>
                <textarea class="form-control" maxlength="200" v-model="ampliacionVacante.comentarioRespuesta" required="true" name="comentarioRespuesta" ></textarea>
            </div>

        </form>

    </div>
</modal-vik>

<modal-vik ref="modalEnviarCambioAulaGrupo"
           v-bind="enviarCambioAulaGrupoModal"
           v-bind:okaction="enviarCambioAulaGrupoAceptar">

    <div slot="body">

        <form class="panel-body" id="formAulaGrupo"  data-parsley-validate="true">



            <div class="row">
                <div class="col-md-6" >
                    <div class="form-group">
                        <label> Solicitante</label>
                        <p class="capitalize text-primary h5 form-control-static m-t-xs" th:text="${session.SESSION_USUARIO.persona.nombreCompleto}"></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label> Oficina </label>
                        <multiselect  v-model="changeAulaGpo.oficina"
                                      v-bind:options="oficinas"
                                      track-by="id"
                                      placeholder="Seccione una oficina"
                                      deselect-label=""
                                      select-label=""
                                      v-bind:limit="15"
                                      v-bind:allow-empty="false"
                                      label="nombre">
                        </multiselect>
                        <input type="text" v-model="changeAulaGpo.oficina.id" required="" class="hide"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Aula Nueva</label>
                        <multiselect  v-model="changeAulaGpo.aulaFin"  
                                      v-on:search-change="asyncFindCambioAulas"
                                      v-bind:options="aulas"
                                      v-bind:internal-search="false"
                                      v-bind:limit="15"
                                      placeholder="Escriba una aula"
                                      track-by="id"
                                      deselect-label=""
                                      select-label=""
                                      label="codigo">
                            <template slot="option" slot-scope="props">
                                <span class="block">Aula: {{props.option.codigo}}</span>
                                <span class="block" v-if="props.option.nombre != '' ">{{props.option.nombre}}</span>
                            </template>
                        </multiselect>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Grupo Nuevo</label>
                        <multiselect  v-model="changeAulaGpo.grupoHorasFin"  
                                      v-on:search-change="asyncFindCambioGrupos"
                                      v-bind:options="grupos"
                                      v-bind:internal-search="false"
                                      v-bind:limit="15"
                                      placeholder="Escriba un grupo"
                                      track-by="id"
                                      deselect-label=""
                                      select-label=""
                                      label="codigo">
                        </multiselect>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label> Motivo</label>
                        <textarea class="form-control" v-model="changeAulaGpo.motivo"
                                  style="resize: none;"
                                  maxlength="200"  
                                  required="true" name="motivo" ></textarea>
                    </div>
                </div>
            </div>


            <div class="tab-pane">
                <section class="block">
                    <label class="control-label">Horario Aula :</label>
                    <div class="table-responsive" >
                        <table class="table table-bordered">

                            <thead  style="width: 100%; display: block;">
                                <tr>
                                    <!--<th style="width: 100px !important;" class="text-center">Hora</th>
                                    <th style="width: 15%" class="text-center"></th>-->
                                </tr>
                            </thead>
                            <tbody style="width: 100%; height: 200px; display: block; overflow-y:auto;">
                                <tr>
                                    <!--
                                    <td class="v-middle">
                                        <span></span>
                                    </td>
                                    <td 
                                        style="width: 15%"> 
                                        <template >
                                            <span >
                                            </span>
                                        </template>
                                        <span class="form-control btn-danger">
                                        </span>
                                    </td>-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <span>Aula Actual : {{seccionSeleccionada.aula.codigo}}</span>
                    </div>

                    <div class="col-md-3">
                        <span>Grupo Actual : {{seccionSeleccionada.grupoHoras.codigo}}</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</modal-vik>

<modal-vik ref="aceptarCambioAulaGrupo"
           v-bind="aceptarCambioAulaGrupoModal"
           v-bind:okaction="aceptarCambioAulaGrupo">

    <div slot="body">

        <form class="panel-body" id="aceptarFormCambioAulaGrupo"  data-parsley-validate="true">
            <input type="hidden" name="id"  v-bind:value="changeAulaGpo.id" />
            <p class="h4 m-t-xs m-b-xs">¿Está seguro en aceptar el cambio de aula grupo?</p>
        </form>

    </div>
</modal-vik>

<modal-vik ref="rechazarCambioAulaGrupo"
           v-bind="rechazarCambioAulaGrupoModal"
           v-bind:okaction="rechazarCambioAulaGrupo">

    <div slot="body">

        <form class="panel-body" id="formRechazaCambioAulaGrupo"  data-parsley-validate="true">

            <input type="hidden" name="id"  v-bind:value="changeAulaGpo.id" />

            <div class="form-group" >
                <label  class="control-label">Indique el motivo del rechazo</label>
                <textarea class="form-control" maxlength="200" v-model="changeAulaGpo.comentarioRespuesta" required="true" name="comentarioRespuesta" ></textarea>
            </div>

        </form>

    </div>
</modal-vik>
