<modal-vik ref="modalRestriccion"
           v-bind="restriccionModal"
           v-bind:footer="false">
    <div slot="body">
        <seccion-det-component v-bind:seccion="seccionSelect"></seccion-det-component>
        <h5 class="text-primary">
            Sección restrigida para 
            <span v-if="tipoRestriccion == 'CARR' "> alumnos de la(s) especialidad(es):</span>
            <span v-if="tipoRestriccion == 'FAC' "> alumnos de la(s) facultad(es):</span>
            <span v-if="tipoRestriccion == 'MOD' "> alumnos de la(s) modalidad(es) de estudio:</span>
        </h5>

        <table class="table table-striped" >
            <tbody>
                <tr v-for="rest in seccionSelect.restriccionesCarrera"
                    v-if="tipoRestriccion == 'CARR' ">
                    <td class="col-md-12 bold">
                        <span v-if="rest.carrera.tipoMAE">Maestría en</span>
                        <span v-else-if="rest.carrera.tipoDOC">Doctorado en</span>
                        <span v-else="">Pregrado - </span>
                        <span>{{rest.carrera.codigo}} - {{rest.carrera.nombre}}</span>
                    </td>
                </tr>

                <tr v-for="rest in seccionSelect.restriccionesFacultad"
                    v-if="tipoRestriccion == 'FAC' ">
                    <td class="col-md-12 bold">
                        <span>{{rest.facultad.codigo}} - {{rest.facultad.nombre}}</span>
                    </td>
                </tr>

                <tr v-for="rest in seccionSelect.restriccionesModalidad"
                    v-if="tipoRestriccion == 'MOD' ">
                    <td class="col-md-12 bold">
                        <span>{{rest.modalidadEstudio.codigo}} - {{rest.modalidadEstudio.nombre}}</span>
                    </td>
                </tr>

                <tr v-for="rest in seccionSelect.restriccionesRepitencia"
                    v-if="tipoRestriccion == 'REP' ">
                    <td class="col-md-12 bold">
                        <span>{{rest.tipoRepitencia.nombre}}</span>
                    </td>
                </tr>

            </tbody>
        </table>

        <br/>
        <br/>
        <br/>
    </div>
</modal-vik>

<modal-vik ref="modalCloneCiclo"
           v-bind="dataCloneCiclo" 
           v-bind:okaction="saveCloneCiclo">
    <div slot="body">

        <form data-parsley-validate="true" class="panel-body">
            <p class="col-xs-12 text-primary h5 m-t-xs" th:text="|Los datos se copiaran al ciclo ${ciclo.descripcion}|"></p>

            <div class="col-xs-12">
                <div class="form-group">
                    <label>Seleccione el ciclo acádemico de origen</label>

                    <vuelect 
                        required="true"
                        v-bind:objetogenerico="ciclo"
                        v-bind:initobject="ciclo"
                        formatselection="descripcion2"
                        formatresult="descripcion2"
                        nameinput="ciclo.id"
                        remoteurl="comun/buscar/allCicloDescendent"
                        v-model="ciclo"
                        ></vuelect>

                </div>
            </div>
        </form>
    </div>
</modal-vik>

<modal-vik ref="modalNuevoGpoSecc"
           v-bind="nuevoGpoSeccModal" 
           v-bind:okaction="saveGpoSecc">
    <div slot="body">

        <form data-parsley-validate="true" id="formNuevoGpoSecc">
            <div>
                <div class="form-group">
                    <label class="bold">Curso</label>
                    <multiselect v-model='newGrupoSeccion.curso'
                                 label='nombre'
                                 placeholder="Seleccione un curso"
                                 deselect-label=""
                                 select-label=""
                                 track-by='id'
                                 v-bind:allow-empty="false"
                                 v-bind:options='cursos'
                                 v-bind:custom-label="labelCurso"
                                 v-bind:loading="isLoadingCursos"
                                 v-on:search-change="searchCursos"
                                 v-on:input="verAnexoSuperior">
                        <template slot="option" slot-scope="props">
                            <div class="block h5 m-t-xs m-b-xs bold" v-text="props.option.nombre"></div>
                            <small class="block">
                                {{props.option.codigo}} <i class="fa fa-bookmark text-primary"></i> {{props.option.tpc}}
                            </small>
                            <small class="block">
                                {{props.option.departamentoAcademico.nombre}}
                            </small>
                        </template>
                    </multiselect>
                    <input type="text" class="hide" required="" v-model="newGrupoSeccion.curso.id"/>
                </div>

                <div v-if="newGrupoSeccion.curso.id" class="form-group">
                    <label class="bold">TCP</label>
                    <p class="form-control-static">
                        <small class="block">
                            {{newGrupoSeccion.curso.codigo}} <i class="fa fa-bookmark text-primary"></i> {{newGrupoSeccion.curso.tpc}}
                        </small>
                        <small class="block">{{newGrupoSeccion.curso.departamentoAcademico.nombre}}</small>
                    </p>
                </div>

                <div class="form-group">
                    <label class="bold">Categoría Anexo Boletín</label>
                    <multiselect v-model='anexoPadreCurso'
                                 v-bind:options='anexosPadres'
                                 v-bind:allow-empty="false"
                                 label='nombre'
                                 placeholder="Seleccione un anexo padre"
                                 deselect-label=""
                                 select-label=""
                                 track-by='id'
                                 v-on:input="verAnexosHijos">
                    </multiselect>
                    <input type="text" class="hide" required="" v-model="anexoPadreCurso.id"/>
                </div>

                <div class="form-group">
                    <label class="bold">Anexo Boletín</label>
                    <multiselect v-model='newGrupoSeccion.anexoBoletin'
                                 v-bind:options='anexosHijos'
                                 v-bind:allow-empty="false"
                                 label='nombre'
                                 placeholder="Seleccione un anexo"
                                 deselect-label=""
                                 select-label=""
                                 track-by='id'>
                    </multiselect>
                    <input type="text" class="hide" required="" v-model="newGrupoSeccion.anexoBoletin.id"/>
                </div>

                <div class="row">
                    <label class="col-md-3 text-left bold">Curso Dirigido</label>
                    <div class="form-group col-md-9">
                        <label class="switch">
                            <input type="checkbox" value="true" v-model="newGrupoSeccion.cursoDirigido"/>
                            <span></span>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="bold">Cantidad</label>
                    <input type="text" class="form-control" v-model="newGrupoSeccion.cantidad" required=""/>
                </div>
            </div>
        </form>
    </div>
</modal-vik>