<html layout:decorator="_layout/layout">
    <head>
        <title>Grupo Sección</title>
    <div th:substituteby="_layout/includes :: styles-dynatable"></div>
    <style>
        .td-vacio {
            padding-right: 4px !important;
            padding-left: 4px !important;
        }
        .bg-row {
            background-color: #f9fafc;
        }
    </style>
</head>

<body>
    <div layout:fragment="main">

        <header class="header b-b padder-lg">

            <div class="pull-right m-t-md">                 
                <div class="btn-group">
                    <a type="button" class="btn btn-success" th:href="@{/academico/anexo/nuevo}" >Nuevo</a>
                </div>
            </div> 
            <h2 th:text="|Programación de horarios ${ciclo.descripcion}|">Grupo Sección</h2>
        </header>
        <section class="wrapper-lg">
            <section class="panel m-b-md">
                <section class="panel-body">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <a href="#" class="view-count text-danger" rel="ingresantes">
                                    <span class="h1 block bold" th:text="${resumen.ingresantes}">23</span>
                                    <small class="block m-b-xs">Ingresantes</small>
                                </a>
                            </div>
                            <div class="col-md-3 text-center">
                                <a href="#" class="view-count text-black" rel="departamentos">
                                    <span class="h1 block bold" th:text="${resumen.departamentos}">23</span>
                                    <small class="block m-b-xs">Departamentos</small>
                                </a>
                            </div>
                            <div class="col-md-3 text-center">
                                <a href="#" class="view-count text-success" rel="postGrados">
                                    <span class="h1 block bold" th:text="${resumen.postGrados}">23</span>
                                    <small class="block m-b-xs">Posgrado</small>
                                </a>
                            </div>
                            <div class="col-md-3 text-center">
                                <a href="#" class="view-count text-warning" rel="actividades">
                                    <span class="h1 block bold" th:text="${resumen.actividades}">23</span>
                                    <small class="block m-b-xs">Actividades Deportivas</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </section>

            <section class="panel">
                <section class="panel-body">

                    <div class="hide m-t-lg" id="headDynatable">
                        <div class="col-md-6">
                            <input type="hidden" class="form-control" placeholder="Seleccione un anexo" id="anexos"/>
                        </div>
                    </div>

                    <table class="table" id="dynaTable">
                        <thead> 
                            <tr> 
                                <th class="col-md-4"></th>
                                <th class="col-md-1 text-center v-middle">Clave</th>
                                <th class="col-md-1 text-center v-middle"><span class="block">Aula</span> <span class="block">Grupo</span></th>
                                <th class="col-md-1 text-center v-middle"><span class="block">Vacantes</span> <span class="block">Matric.</span></th>


                                <th class="td-vacio"></th>
                                <th class="td-vacio"></th>
                                <th class="col-md-3 text-center v-middle">Docente</th>
                                <th class="col-md-1 text-center v-middle">% Carga </th>

                                <th class="col-md-1 text-center v-middle">Restricción</th>
                                <th class="col-md-1 v-middle">Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </section>
            </section>
        </section>
        <div th:substituteby="templates/modal"/>

        <script id="gpoSeccionTemplate" type="text/x-jsrender" class="hide"><div th:substituteby="academico/gposeccion/gpoSeccionTemplate"/></script>
    </div>

    <div layout:fragment="js">
        <div th:substituteby="_layout/includes :: javascript-dynatable"/>
        <script th:src="@{/app/gposeccion/gposeccion.js}" charset="utf-8"></script>
    </div>


</body>
</html>
