


<div class="table-responsive">

    <table class="table" >

        <thead>
            <tr>
                <th style="width: 12.5%" class="text-center">Hora</th>
                <th style="width: 12.5%" class="text-center" th:each="dia : ${dias}" th:text="${dia.nombre}" >
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="hora : ${horas}"  th:inline="text">
                <td class="v-middle">

                    <span style="border-color:#fff;"
                          th:text="${hora.descripcion}"
                          >
                    </span>

                </td>
                <td  th:each="dia : ${dias}" > 
                    <span th:if="${mapDiaHoraGrupo[dia.id+'_'+hora.id]}" 
                          v-on:click="selectGrupoHoraReg"
                          th:text="${mapDiaHoraGrupo[dia.id+'_'+hora.id].codigo}"
                          class="form-control pointer"></span>
                    <a href="#" v-on:click="selectGrupoHoraReg">adad</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>
