<div class="wrapper scrollable">
    <form id="frmPlanCurricular" >
        <!-- class="form-horizontal m-t-lg" -->
        <div class="form-group">
            <label for="cboAnexo" >Anexo</label>

            <select id="cboAnexos" 
                    name="anexoBoletin.id"
                    required="true" 
                    class="form-control select2" >
                <option>Seleccione</option>
                <option  th:each="item : ${anexosHijos}" 
                         th:value="${item.id}" th:text="${item.codigo +' - '+ item.nombre}"></option>
            </select>

        </div>

        <div class="form-group">
            <label for="cboCategoria">Categoria</label>

            <span id="spnCategoria" class="form-control"></span>

        </div>

        <div class="form-group">
            <label for="cboCurso" >Curso</label>
            <div >
                <input id="cboCurso" class="form-control" 
                       name="curso.id"
                       type="text" 
                       required="yes"/>
            </div>
        </div>

        <div class="form-group" >
            <label  class="col-md-3">Estructura</label>
            <div id="codCur" class="col-md-3" >
                <span class="form-control"></span>
            </div>
            <div id="tpcCur" class="col-md-3">
                <span class="form-control"></span>
            </div>
            <div class="col-md-3">
                <span class="form-control"></span>
            </div>
        </div>



    </form>
</div>




<div id="templateCursosProgBody" type="text/x-jsrender" class="hide" >
    <span class="block bold h5 text-success">{{:cursoNombre}}</span>
    <span class="block"><strong>Código:</strong> {{:cursoCodigo}} - <strong>TPC:</strong> {{:cursoTpc}}</span>
    <small class="block"><strong>Dpto. Académico:</strong> {{:departamentoAcademico}}</small>
    <small class="block"><strong>Facultad:</strong> {{:facultadNombre}}</small>
</div>