<template id="vuelect2">
    <input type="text"
           class="form-control"
           data-trigger="change"
           required="true"
           v-bind:name="ciclo.id"
           v-model="ciclo" />
</template>
<script>
Vue.component("vuelect", {
    template: "#vuelect2",
    props: {
        ciclo: {id: null},
        nombre: {type: String, default: ''},
    },
    mounted: function () {
        let vue = this;
        let self = $(vue.$el);
        self.select2(vue.buscar(vue));
    },
    updated: function () {
        let vue = this;
        let self = $(vue.$el);
        self.select2(vue.buscar(vue));
    },
    methods: {
        buscar: function (vue) {
            return {
                minimumInputLength: 2,
                ajax: {
                    url: APP.url("comun/buscar/allCicloDescendent"),
                    dataType: 'json',
                    type: 'post',
                    data: function (term, page) {
                        return {nombre: term, page: page};
                    },
                    results: function (response, page) {
                        return {results: response.data};
                    }
                },
                initSelection: function (element, callback) {
                    if (vue.ciclo.id != null) {
                        callback(vue.ciclo);
                    }
                },
                formatResult: function (info) {
                    return info.descripcion2;
                },
                formatSelection: function (info) {
                    vue.ciclo.descripcion2 = info.descripcion2;
                    vue.ciclo.id = info.id;
                    vue.ciclo.tipo = info.tipo;
                    return info.descripcion2;
                },
                escapeMarkup: function (m) {
                    return m;
                }
            };
        }
    }
});
</script>