<html layout:decorator="_layout/layout">
    <head>
        <title>Configuración</title>
    <div th:substituteby="_layout/includes :: styles-dynatable" th:remove="tag"></div>
</head>
<body >
    <div layout:fragment="main" id="configuracion">
        <header class="header b-b padder-lg">

            <div class="pull-right m-t-md">
                <div class="col-md-2 ">
                    <a class="btn btn-primary" v-on:click="nuevo" href="#" >Nuevo</a>
                </div>
            </div>

            <h2 >Turnos de atención <span v-text="ciclo.descripcion"></span></h2>

            <div  class="tabbable-line">
                <ul class="nav nav-tabs special-tabs" >
                    <li v-for="(tab, index) in lstTabs" v-on:click="carga(tab)" v-bind:class="active(index)">
                        <a href="#" data-toggle="tab"  v-text="tab.tipo" >
                        </a>
                        <span class="fa fa-times padder-right" v-on:click="eliminar"></span>
                    </li>
                </ul>
            </div>
        </header>
        <section class="panel">

            <section class="panel-body">
                <table class="table table-striped col-md-12 special-table" v-if="!flag">
                <thead>
                    <tr>
                        <th>Dias/Horas</th>
                        <th v-for="dia in dias" v-text="dia.dias" class="text-center"></th>
                    </tr>

                </thead>
                <tbody>
                    <tr v-for="hora in horas" >
                        <td class=" text-center v-middle" v-text="hora.hora"></td>
                        <td v-for="turno in hora.turnos" class="col-md-2 ">
                            <div class="m-t m-b">
                                <span class="block">
                                    <small v-text="turno.prioridadInicio" class="circular" ></small>
                                    <small v-text="turno.prioridadFin" class="pull-right circular"></small>
                                </span>
                                <span class="block text-center" >
                                    <a href="#" v-bind:id="turno.id" v-text="turno.alumnos" >
                                    </a>
                                    <i class="fa fa-industry circular editer-icon pull-right" v-on:click="matricular(turno)"  ></i>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            </section>
        </section>


        <!--MODAL INICIO-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <form data-parsley-validate="true" id="formConfig"  method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"> Configuración </h4>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-offset-1 ">
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label">Evento</label>
                                    <div class="col-sm-6">
                                        <select required="true" class="form-control "
                                                v-model="config.eventoCicloAcademico"
                                                v-on:change="tipoEvento()"
                                                >
                                            <option v-for="eventoCiclo in eventos"
                                                    v-text="eventoCiclo.eventoAcademico.nombre"
                                                    v-bind:value="eventoCiclo" />
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label">Fecha Inicio</label>
                                    <div class="col-sm-6">
                                        <date-picker required="true" v-model="config.fechaInicio" lang="es" data-date-format="dd/MM/yyyy" input-class="mx-input"></date-picker>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 control-label">Fecha Fin</label>
                                    <div class="col-sm-6">
                                        <date-picker v-model="config.fechaFin" lang="es" format="dd/MM/yyyy" input-class="mx-input" ></date-picker>
                                    </div>
                                </div>
                                <div class='form-group row'>
                                    <label class="col-sm-3 control-label">Hora Inicio</label>
                                    <div class="col-sm-6">
                                        <div class="input-group bootstrap-timepicker timepicker ">
                                            <input   required="true" id="timeHoraInicio" type="text" class="form-control input-small" placeholder="Ingrese una hora inicio"/>
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label">Turno por día</label>
                                    <div class="col-sm-6">
                                        <input required="true" type="text" class="form-control numeric"
                                               v-model="config.turnosDia" placeholder="Ingrese cantidad de turnos"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label">Tipo</label>
                                    <div class="col-sm-6">
                                        <select required="true" class="form-control "
                                                v-model="config.tipo">
                                            <option v-for="tipo in tipos"  v-text="tipo" v-bind:value="tipo" placeholder="Seleccione un tipo"/>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label">Duración (min)</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="time form-control numeric"  required="true"
                                               v-model="config.duracion" placeholder="Ingrese la duración del turno"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label">Espera (min)</label>
                                    <div class="col-sm-6">
                                        <input required="true" type="text" class="time form-control numeric"
                                               v-model="config.espera" placeholder="Ingrese el tiempo de espera"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label">Alumno</label>
                                    <div class="col-sm-6">
                                        <input required="true" type="text"  class="form-control numeric" v-model="config.alumnos" placeholder="Ingrese cantidad de alumnos"/>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success" v-on:click.prevent="save" >Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--MODAL FIN-->
    </div>
</body>

<div layout:fragment="js">

    <script th:inline="javascript">
        /*<![CDATA[*/
        var eventosJson = [[${eventos.toString() }
        ]]; // ${eventos.toString() }
        var configJson = [[${configuraciones.toString()}
        ]]; // ${eventos.toString() }
        var cicloJson = [[${ciclo.toString()}
        ]]; // ${eventos.toString() }
        var tiposJson = [[${tipoMatricula}
        ]]; // ${eventos.toString() }
        /*]]>*/

    </script>


    <script th:src="@{/app/academico/matricula/matriculaConfiguracion.js}" charset="utf-8"></script>
</div>


</html>
