<template id="modalAulaHorarioComp"> 
    <div> 
        <section class="panel-body" v-if="aula">
            <div class="row">
                <div class="form-group">
                    <label class="col-md-2 control-label">Aula</label>

                    <div class="col-md-4">
                        <span v-if="aula.nombre==''"> {{aula.codigo}}</span>
                        <span v-if="aula.nombre!=''"> {{aula.nombre}}</span>
                    </div>

                    <label class="col-md-2 control-label">Capacidad</label>

                    <div class="col-md-4">
                        <span> {{aula.capacidadAula}} </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-md-2 control-label">Tipo Aula</label>

                    <div class="col-md-4">
                        <span v-if="aula.tipoAula.id != '' "> {{aula.tipoAula.nombre}} </span>
                    </div>
                    <label class="col-md-2 control-label">Tipo Ambiente</label>

                    <div class="col-md-4">
                        <span v-if="aula.tipoAmbienteValue != '' "> {{aula.tipoAmbienteEnum.value}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-md-2 control-label">Ubicación</label>

                    <div class="col-md-4">
                        <span v-if="aula.aulaSuperior.id != '' "> {{aula.aulaSuperior.nombre}}</span>
                    </div>

                    <label class="col-md-2 control-label">Gestionada por</label>

                    <div class="col-md-4">
                        <span v-if="aula.oficinaSupervisora.id != '' "> {{aula.oficinaSupervisora.nombre}} </span>
                    </div>
                </div>
            </div>
        </section>
        <section class="panel-body">
            <div class="" >
                <table class="table table-bordered" v-if="aula!=null">

                    <thead>
                        <tr>
                            <th style="width: 12.5%" class="text-center">Hora</th>
                            <th style="width: 12.5%" class="text-center" 
                                v-for="dia in dias">
                                {{dia.nombre}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="hora in horas">
                            <td class="v-middle">
                                <span class="bold"
                                      >
                                    {{hora.descripcion}}
                                </span>

                            </td>
                            <td  v-for="dia in dias" class="text-center"> 

                                <div v-if="jsonHorarioAula[dia.id+'_'+hora.id]"  class="dropdown notas-cepre">

                                    <a v-on:mouseover="onmousein($event)" v-on:mouseleave="onmouseout($event)" class="dropdown-toggle" href="#" data-toggle="dropdown" >
                                        <strong>{{jsonHorarioAula[dia.id+'_'+hora.id].seccion.codigo2}}</strong>  <b class="caret"></b> 
                                    </a>

                                    <div class="dropdown-menu dropdown-box">
                                        <div class="row m-l-xs m-r-xs">

                                            <span class="disabled block docente-uno">
                                                <strong> {{jsonHorarioAula[dia.id+'_'+hora.id].seccion.grupoSeccion.curso.codigo}}</strong>
                                                {{jsonHorarioAula[dia.id+'_'+hora.id].seccion.grupoSeccion.curso.nombre}}
                                            </span>

                                            <span class="block" style="margin-top:5px;margin-bottom:5px;">

                                                <strong  > Docentes </strong> 
                                                                                                
                                                <ul class="otros-docente">
                                                    <li v-for="(item, index )  in jsonHorarioAula[dia.id+'_'+hora.id].seccion.docenteSeccion" class="prof">
                                                        <p>
                                                            <strong>
                                                                <i  v-if="index==0" class="fa fa-shield" aria-hidden="true"></i> 
                                                                <i  v-else="index==0" class="fa fa-user" aria-hidden="true"></i> 
                                                                {{item.docente.codigo}} 
                                                            </strong> 
                                                            {{item.docente.persona.letraNomPaterno}} 
                                                        </p>
                                                    </li>
                                                    <li v-if="jsonHorarioAula[dia.id+'_'+hora.id].seccion.sizeDocente>2" class="prof"><span>Otros...</span></li>
                                                </ul>
                                               
                                            </span>

                                            <span class="block">
                                                <strong> Sección </strong> {{jsonHorarioAula[dia.id+'_'+hora.id].seccion.codigo2}}
                                            </span>

                                            <span class="block">
                                                <strong> Grupo </strong>  {{jsonHorarioAula[dia.id+'_'+hora.id].seccion.grupoHoras.codigo}}
                                            </span>


                                        </div>
                                    </div>

                                </div>

                                <span v-if="jsonHorarioAula[dia.id+'_'+hora.id]"
                                      class="text-muted block">
                                    {{jsonHorarioAula[dia.id+'_'+hora.id].seccion.grupoHoras.codigo}}
                                </span>
                            </td>
                        </tr>
                        <tr v-if="horas.length == 0">
                            <td v-bind:colspan="1+dias.length" class="text-left">
                                Sin horario.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div> 
</template>
