<template id="modalHorasAdicionalesComponent"> 
    <div>


        <div class="row m-b-xs">
            <div class="col-md-11">
                <span class="block text-curso" v-text="gruposeccion.curso.nombre"></span>
                <span class=" bold" v-text="gruposeccion.curso.codigo" ></span>
                <span class=" bold">
                    <i class="fa fa-bookmark text-primary"></i>
                    <span v-text="gruposeccion.curso.tpc"></span> &nbsp;
                    <span v-if="gruposeccion.estado == 'ACT' " class="label label-success" v-text="gruposeccion.estadoEnum.value"></span>
                    <span v-else="" class="label label-danger" v-text="gruposeccion.estadoEnum.value"></span> &nbsp;
                    <span v-if="gruposeccion.cursoDirigido" class="label label-primary">Curso Dirigido</span>
                </span>
            </div>
        </div>


        <form v-if="seccion.grupoHoras.id" class="panel-body" id="formModalAgregarHorasAdicionales"  data-parsley-validate="true">

            <div class="row">

                <h4 class="text-center text-danger">No Puede Agregar Horas Adicionales</h4>

                <p>No se le esta permitido agregar horas adicionales a una seccion que ya tiene asignado un grupo</p>

            </div>

        </form>
        <form v-else="" class="panel-body form-horizontal" id="formModalAgregarHorasAdicionales"  data-parsley-validate="true">

            <div class="row">

                <div class="form-group">
                    <label class="col-sm-3 control-label bold" for="">Sección</label>
                    <div class="col-sm-7">
                        <p class="form-control-static" v-text="seccion.codigo2">2031</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bold" for="">Horas Semanales</label>
                    <div class="col-sm-7">
                        <p class="form-control-static" v-text="seccion.horasSemanales">2031</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label bold" for="">Horas Adicionales</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control numerico" v-model="seccion.horasAdicionales" />
                    </div>
                </div>


            </div>

        </form>

    </div> 
</template>
