<template id="seccionDetComp">
    <div v-if="seccion"> 
        <div class="row">
            <div class="form-group">
                <label for="docIdentidad" class="col-md-2 control-label">Curso</label>

                <div class="col-md-10">
                    <span> {{seccion.grupoSeccion.curso.codigo}} {{seccion.grupoSeccion.curso.nombre}} </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-md-2 control-label">Dpto. Academicos</label>

                <div class="col-md-10">
                    <span> {{seccion.grupoSeccion.curso.departamentoAcademico.nombre}} </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-md-2 control-label">Clave</label>

                <div class="col-md-4">
                    <span> {{seccion.codigo}}</span>
                </div>

                <label class="col-md-2 control-label">Vacantes</label>

                <div class="col-md-4">
                    <span> {{seccion.vacantes}} </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-md-2 control-label">Aula</label>

                <div class="col-md-4">
                    <span v-if="seccion.aula.id!=null"> {{seccion.aula.codigo}}</span>
                </div>

                <label class="col-md-2 control-label">Horas</label>

                <div class="col-md-4">
                    <span>{{seccion.horasSemanales}}</span>
                </div>
            </div>
        </div>
    </div>
</template>