<html layout:decorator="_layout/layout">
    <head>
        <title>Costo Documento</title>
    </head>
    <body>
        <div layout:fragment="main">
            <div id="main" v-cloak="">

                <header class="header b-b padder-lg">

                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" v-on:click.prevent="nuevo">
                            &nbsp; Nuevo &nbsp; 
                        </button>
                    </div>

                    <h2>Costo Documento</h2>

                </header>

                <costo-documento-form ref="costodocumentoform" />

                <section class="wrapper-lg m-b-xs">

                    <costo-documento-list ref="costodocumentodynatable"/>

                </section>

            </div>

        </div>

        <div layout:fragment="js">

            <script th:inline="javascript">
                /*<![CDATA[*/
                var tipoDocumentoJson = /*[[${tipoDocumento.toString()}]]*/ '';
                var idiomasJson = /*[[${idiomas.toString()}]]*/ '';
                /*]]>*/
            </script>

            <div th:substituteby="_modules/vue-raptor-table"/>
            <div th:substituteby="_modules/vue-modal_v1"/>

            <script>

                Vue.component("multiselect", window.VueMultiselect.default);

                const CostoDocumentoList = httpVueLoader('/app/tramite/costoDocumento/CostoDocumentoList.vue');
                const CostoDocumentoForm = httpVueLoader('/app/tramite/costoDocumento/CostoDocumentoForm.vue');


                Vue.use(Vuex);

                const store = new Vuex.Store({
                    state: {
                        costoDocumento: {}
                    },
                    mutations: {
                        SET_COSTO_DOCUMENTO(state, costoDocumento) {
                            state.costoDocumento = costoDocumento;
                        },
                    },
                    getters: {
                        getCostoDocumento: state => state.costoDocumento,
                    },
                    actions: {
                        setCostoDocumento(context, costoDocumento) {
                            context.commit('SET_COSTO_DOCUMENTO', costoDocumento);
                        },
                    }
                });

                var root = new Vue({
                    el: '#main',
                    store: store,
                    components: {
                        costoDocumentoList: CostoDocumentoList,
                        costoDocumentoForm: CostoDocumentoForm,
                    },
                    methods: {
                        ...Vuex.mapActions(['setCostoDocumento']),
                        nuevo() {
                            this.setCostoDocumento({});
                            this.$refs.costodocumentoform.open();
                        },
                        update() {
                            this.$refs.costodocumentoform.open();
                        },
                        reload() {
                            this.$refs.costodocumentodynatable.reload();
                        }
                    }
                });

            </script>



        </div>

    </body>
</html>