<html layout:decorator="_layout/layout">
    <head>
        <title>Listado de Tutores</title>
        <style>
            span#departs {
                /*                margin-left: 1px;*/
                font-size: x-small;
            }
            .circle-recorrido {
                display: block;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                overflow: hidden;
                margin: 0 auto;
                line-height: 50px;  
                /*                text-align: center;*/
                font-size: 16px;
                /*                margin-left: 49px;*/
                text-indent: 0;
                vertical-align: middle;
                margin-top: 2px;
                margin-bottom: 2px;
            }

            .circle-recorrido.bgr-success {
                background-color: #2ECC71;
                color: #fff;
            }

            .circle-recorrido.bgr-danger {
                background-color: #E74C3C;
                color: #fff;
            }

            .circle-recorrido.bgr-black {
                background-color: #3C4043;
                color: #fff;
            }

            .circle-recorrido.bgr-default {
                background-color: #979595;
                color: #fff;
            }

            .col-md-ver {
                width: 11.666666666%;
                float: left;
            }

        </style>
    </head>

    <body>
        <section layout:fragment="main">

            <div id="consejeriaVUE">
                <div v-cloak="">

                    <header class="header b-b padder-lg">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-primary dropdown-toggle pull-right" data-toggle="dropdown">
                                Acciones &nbsp; <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ><a type="button" class=" btn" v-bind:disabled="btndissabled" title="Primero seleccione una carrera" v-on:click.prevent="nuevoConsejero">Añadir Tutor</a></li>
                                <li><a type="button" class=" btn" v-bind:disabled="btndissabled" v-on:click.prevent="asignarAlummnos" >Asignar tutores aleatoriamente</a></li>
                                <!--                                <li><a type="button" v-on:click.prevent="desasignarAlummnos" >Retirar tutores de alumnos</a></li>-->
                            </ul>
                        </div>
                        <h2>Listado de Tutores <span v-text='ciclo.descripcion'></span></h2>
                    </header>
                    <section class="wrapper-lg">
                        <section class="panel">
                            <section class="panel-body">

                                <raptor-table ref="raptorConsejero" v-bind:afterprocess="loadResumenCarrera">
                                    <div slot="header">
                                        <div class="">
                                            <div class="row">
                                                <div class="col-md-5" >
                                                    <multiselect v-model="carreraSelect" 
                                                                 v-bind:options='carreras'
                                                                 label='nombre'
                                                                 track-by='id'
                                                                 placeholder="Seleccione una carrera"
                                                                 deselect-label=""
                                                                 select-label=""
                                                                 v-bind:allow-empty="false"
                                                                 v-bind:preselect="false"
                                                                 v-on:input="cargaConsejeros">
                                                    </multiselect>
                                                </div>
                                                <div class="col-md-ver text-center" v-bind:class="bgColorClass['Habilitado']">
                                                    <a v-on:click="filtroConsejeros('Habilitado')" class="text-success pointer" >
                                                        <span class="h2 bold" v-text="resumenCarrera.consejerosActivos"></span>
                                                        <small class="block m-b-xxs">Tutores</small>
                                                        <small class="block m-b-xs">Activos</small>
                                                    </a>
                                                </div>
                                                <div class="col-md-ver text-center" v-bind:class="bgColorClass['Inhabilitado']">
                                                    <a v-on:click="filtroConsejeros('Inhabilitado')" class="text-black pointer" >
                                                        <span class="h2 bold" v-text="resumenCarrera.consejerosInactivos"></span>
                                                        <small class="block m-b-xxs">Tutores</small>
                                                        <small class="block m-b-xs">Inactivos</small>
                                                    </a>
                                                </div>
                                                <div class="col-md-ver text-center">
                                                    <div class="text-info" >
                                                        <span class="h2 bold" v-text="resumenCarrera.aconsejadosActivos + resumenCarrera.aconsejadosInactivos"></span>
                                                        <small class="block m-b-xxs">Alumnos</small>
                                                        <small class="block m-b-xs">Con tutor</small>
                                                    </div>
                                                </div>
                                                <div class="col-md-ver text-center">
                                                    <div  class="text-danger" >
                                                        <span class="h2 bold" v-text="resumenCarrera.sinconsejeroActivos + resumenCarrera.sinconsejeroInactivos"></span>
                                                        <small class="block m-b-xxs">Alumnos</small>
                                                        <small class="block m-b-xs">Sin tutor</small>
                                                    </div>
                                                </div>
                                                <div class="col-md-ver text-center">
                                                    <div  class="text-default" >
                                                        <span class="h2 bold" v-text="resumenCarrera.inhabilitados"></span>
                                                        <small class="block m-b-xxs">Alumnos</small>
                                                        <small class="block m-b-xs">Inhabilitados</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <template scope="props" >
                                        <table id="dynaTable" class="table table-striped">
                                            <thead class="panel panel-heading">
                                                <tr>
                                                    <th class="col-md-8 v-middle">Tutor</th>
                                                    <th class="col-md-3 text-center v-middle" colspan="2">Estudiantes</th>
                                                    <th class="col-md-1 v-middle text-center">Estado</th>
                                                    <th class=""></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in props.data">
                                                    <td class="v-middle">

                                                        <a class="block text-primary h4 m-t-xxs m-b-xxs">{{item.colaborador.persona.nombreCompleto}}</a> 
                                                        <!--small class="block">
                                                            <strong>{{item.colaborador.persona.tipoDocumento.simbolo}}:</strong> 
                                                            {{item.colaborador.persona.numeroDocIdentidad}}
                                                        </small-->
                                                        <span class="block" v-if="item.colaborador.persona.emailCompania != '' ">
                                                            <i class="fa fa-envelope text-primary"></i>
                                                            {{item.colaborador.persona.emailCompania}}
                                                        </span>
                                                        <small class="block">
                                                            <strong>Codigo: </strong>
                                                            {{item.docente.codigo}}
                                                        </small> 
                                                        <small class="block">
                                                            <strong>Departamento: </strong>
                                                            {{ item.docente.departamentoAcademico.nombre }}
                                                        </small> 
                                                    </td>

                                                    <td class="v-middle text-center b-r">
                                                        <label>Matriculados</label>
                                                        <div class="v-middle text-center">
                                                            <div v-if="item.alumnosActivos > 0" class=" circle-recorrido bgr-success text-center" v-text="item.alumnosActivos"></div>
                                                            <div v-else="" class=" circle-recorrido bgr-danger text-center" v-text="item.alumnosActivos"></div>
                                                        </div>
                                                    </td>

                                                    <td class="v-middle text-center">
                                                        <label>No matriculados</label>
                                                        <div v-if="item.alumnosInactivos > 0" class="circle-recorrido bgr-black text-center" v-text="item.alumnosInactivos"></div>
                                                        <div v-else="" class="circle-recorrido bgr-default text-center" v-text="item.alumnosInactivos"></div>
                                                    </td>

                                                    <td class="v-middle text-center">
                                                        <small v-if="item.estado == 'ACT' " class="label label-success">Activo</small>
                                                        <span v-else="" class="label label-default">Inactivo</span>
                                                    </td>

                                                    <td class="v-middle">
                                                        <div class="dropdown actions">
                                                            <a class="dropdown-toggle" data-toggle="dropdown">
                                                                <i class="glyphicon glyphicon-cog"></i>
                                                            </a>
                                                            <ul class="dropdown-menu pull-right">
                                                                <li v-if="item.estado == 'ACT'" ><a v-on:click="reporte()">Reporte Alumnos</a></li>
                                                                <li v-if="item.estado == 'ACT'" ><a v-on:click="cambiarEstado(item, 'INA')">Inhabilitar</a></li>
                                                                <li v-else=""><a v-on:click="cambiarEstado(item, 'ACT')">Habilitar</a></li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>         
                                    </template>
                                </raptor-table>

                            </section>
                        </section>
                    </section>
                    <div th:substituteby="consejeria/consejeros/consejerosModal"></div>
                </div>
            </div>
        </section>

        <div layout:fragment="js" th:remove="tag">
            <div th:substituteby="_modules/vue-raptor-table"></div>
            <script th:inline="javascript">
                /*<![CDATA[*/
                var cicloJson = /*[[${ciclo}]]*/ 'json';
                var carrerasJson = /*[[${carreras}]]*/ 'json';
                var rutaModulo = 'consejeria/consejeros';
                /*]]>*/
            </script>
            <div th:substituteby="_modules/vue-modal"/>
            <script th:src="@{/app/consejeria/consejeros/consejeros.js}" charset="utf-8"></script>
        </div>

    </body>
</html>